[2022-07-06 06:27] mitchellkellett opened #1605 "Provider Request: SynergyWholesale"
Can we please get SynergyWholesale added as a provider? They are both a registrar and DNS host.

Their API documentation is available [here](https://synergywholesale.com/wp-content/uploads/2020/12/Synergy-Wholesale-API-Documentation-v3-7.pdf).

[2022-07-09 05:13] #1563 closed

[2022-07-10 20:42] SimenBai opened #1611 "DNS Provider Request: DomainNameShop / DomeneShop"
It would be nice with a DNS provider for DomainNameShop.
They are both a registrar and DNS host but DNS is most interesting for me atleast.

Their API documentation is available at https://api.domeneshop.no/docs/

[2022-07-11 14:20] tlimoncelli opened #1612 "EXOSCALE: SRV records not working"
CC @pierre-emmanuelJ

This was discovered in https://github.com/StackExchange/dnscontrol/pull/1597 but I'm filing a different issue for this bug.

[code]

The error message doesn't mention priority. Maybe the priority is transmitted using the priority field used for MX records?

ProTip: For faster integration tests, just run the tests you want with `go test -v -verbose -provider EXOSCALE -start 27

[2022-07-13 12:06] JamieSlome opened #1617 "Create SECURITY.md"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@sampaguitas) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a se

[2022-07-13 12:41] tlimoncelli commented on #1617
Hi there!

Thanks for contacting us.  I'll look into creating the SECURITY.md file.  It will take a while because... reasons.

In the meanwhile, you can contact me directly via email using my tlimoncelli at stack over flow dot com address.

Thanks!
Tom

[2022-07-13 19:36] tlimoncelli opened #1619 "Decomm OCTODNS provider"
Proposal: Decomm the OctoDNS provider.

It was created to prove that we could accurately convert between OctoDNS's (inferior) format and dnsconfig.js.

Is anyone using it?  Anyone?

Tom

[2022-07-13 20:58] tlimoncelli opened #1620 "CHORE: Replace diff.go:content() with ToDiffable()"
`diff.go:content()` and `models.ToDiffable()` do the same thing.  Only one is needed.

The code in `content()` ends by calling `ToDiffable()` to check that they really are the same. So far, no panics. It's time to remove `content()`

[2022-07-14 10:19] costasd commented on #1568
Hi @tlimoncelli, works on NS1. Both the Integration suite and my tests are successful.

[2022-07-19 09:04] JamieSlome commented on #1617
@tlimoncelli - thanks for your diligence 👍

I will send further details via e-mail now, but just for reference, the report can be found directly here:
https://huntr.dev/bounties/93e9a9fb-a676-4db5-b0b1-cd5c5375503d/

It is currently private and only accessible to maintainers with repository write permissions :)

[2022-07-26 16:28] JBOClara commented on #1235
Using
[code]

I've got `FAILURE! Error 400: "Invalid subfield found in DKIM : \"v=DKIM1"` modifying an OVH TXT record
[code]

[2022-07-26 16:33] JBOClara opened #1640 "OVH: "Invalid subfield found in DKIM" on update"
Using
[code]

I've got `FAILURE! Error 400: "Invalid subfield found in DKIM : \"v=DKIM1"` modifying an OVH TXT record
[code]

Relevant config for this TXT record is:
[code]

related to https://github.com/StackExchange/dnscontrol/pull/1290

[2022-07-26 17:07] tlimoncelli commented on #1640
CC: @masterzen

It's interesting that the error message includes a backslash in the message: `\"v=DKIM1"` as if something got escaped inappropriately.

This may be un-related but... I'd be curious what happens when you follow the instructions in https://stackexchange.github.io/dnscontrol/testing-txt-records.html

Tom

[2022-07-28 05:39] gregdotca opened #1641 "preview and push commands exit when they encounter a Hetzner zone that doesn't exist"
Hello! It's my understanding that the _create-domains_ command is now deprecated, and going forward the _push_ command will create DNS zones for you, however this doesn't seem to work with Hetzner. Also, running the _preview_ command exits as soon as it gets to a Hetzner zone that doesn't exist.

**preview**
[code]
**push**
[code]

Have I misunderstood how this is supposed to work? If so, is there

[2022-07-28 07:50] JBOClara commented on #1640
when I add those test from the Web UI
[code]

[2022-07-28 12:50] tlimoncelli commented on #1640
Thanks for running those tests.  From what I read, I think the test0/1/2/3 test is irrelevant to the DKIM problem.

That said... here's how to do it given that the web UI accepts a zonefile, not a web form like other systems:

[code]

I suspect that if you use the above, the rest of the document will work just fine.

I'll discuss the DKIM string in another comment.

[2022-07-28 12:58] tlimoncelli commented on #1640
As far as DKIM, there are two possibilities.  The error message is right, or it is wrong.

If the error message is correct, then your dkim string is wrong.  Try using a known-valid string from another site, such as "k1._domainkey.stackoverflow.com" or another company.  If it works, then you know the problem is with your string.

If you can't find any string that works, then it is a problem with OV

[2022-07-28 15:47] tlimoncelli commented on #1641
CC @das7pad

Not all providers in DNSControl supports populating domains in the account.  If it doesn't, it errors out as you described.  The user must either create the domain in the account (usually via a web portal) or remove the domain from dnsconfig.js.

However it looks like HETZER supports populating domains in the account.   In Go terms, it "completes the DomainCreator interface" (i.e. has

[2022-07-28 17:19] das7pad commented on #1641
Looking at the preview process in dnscontrol core, it fetches nameservers ahead of checking whether a given zone exists.

https://github.com/StackExchange/dnscontrol/blob/c0450223c2e3eb0a67a42092cc5620bb05ebab8d/commands/previewPush.go#L132-L158

In other words, the HETZNER provider has not had a chance to create the zone before the listing of nameservers started.

We need to flip the order here:

[2022-07-28 18:06] tlimoncelli commented on #1641
Dude, you're awesome!

[2022-07-28 18:53] masterzen commented on #1640
I'm wondering if this would be fixed by the new TXT handling of #1567?
Basically it seems the string is split somehow and that creates issues with imbalanced quotes later on.

@JBOClara would you mind testing with PR #1567?

[2022-07-28 18:54] masterzen commented on #1640
I'll try to do a bit of tests over the week-end, as I remember that long DKIM records used to work with previous dnscontrol version in the past.

[2022-07-28 19:21] das7pad commented on #1641
It turned out to be a big more involved as some providers (including HETZNER) have zone caches that need clearing when creating a domain. -> PR https://github.com/StackExchange/dnscontrol/pull/1642

I've tested the changes for HETZNER. I did not test the ROUTE53 changes and tagged the current maintainer on the PR.

[2022-07-28 22:57] tresni commented on #1641
Happy to take a look!

[2022-08-01 16:01] #1611 closed

[2022-08-01 17:43] tlimoncelli commented on #1641
Fixed with https://github.com/StackExchange/dnscontrol/pull/1642

[2022-08-01 17:43] #1641 closed

[2022-08-01 17:44] tlimoncelli commented on #1565
@costasd I'd like to produce a new release in a few days. Could you check this?

[2022-08-01 17:45] tlimoncelli commented on #1571
This can't be done automatically but I've created https://stackexchange.github.io/dnscontrol/testing-txt-records.html to document how to do it manually.

[2022-08-01 17:45] #1571 closed

[2022-08-01 17:47] costasd commented on #1565
oops. Yup, will have a PR up by tomorrow. Sorry for the delay!

On Mon, 1 Aug 2022, 19:45 Tom Limoncelli, ***@***.***> wrote:

[2022-08-01 17:58] tlimoncelli commented on #1612
Did that change fix it?

[2022-08-01 18:43] #1573 closed

[2022-08-03 01:37] flz opened #1653 "Most recent releases missing from DockerHub"
It looks like no new docker release has been uploaded to [dockerhub](https://hub.docker.com/r/stackexchange/dnscontrol/) in at least 6 months.

[2022-08-03 17:55] #1565 closed

[2022-08-04 08:55] felixrichardt opened #1656 "Provider request: RRPPRoxy (Related to Hexonet Provider)"
Could you please add RRPPRoxy as supported provider - RRPProxy uses nearly the same API since both companies belong togehter. RRPProxy is a sister company of Hexonet.

So I guess there should not be that many differences in the API and one could reuse existing Hexonet provider support (?)

See below the current api docs for RRPPRoxy
https://wiki.rrpproxy.net/api/api-commands/api-command-reference

[2022-08-06 12:33] IzumiSenaSora opened #1660 "[Feature Request] Add HTTPS/SVCB Records"
[Feature Request] Add HTTPS/SVCB Records
[Here](https://ns1.com/blog/ns1-announces-support-for-svcb-and-https-records) Info About This Record Type

[2022-08-06 13:34] tlimoncelli commented on #1660
FYI: The steps to add a new record type are here: https://stackexchange.github.io/dnscontrol/adding-new-rtypes

[2022-08-08 20:10] tlimoncelli opened #1664 "CSCGLOBAL should pre-check, not post-check, status"
CSCGLOBAL doesn't permit another mutation to a zone until the current one has propagated, which usually takes 7 minutes.

Currently the code checks after a mutation, which delays updates for 7 minutes.  It would be better to check before a mutation, so that if you're only doing one update you don't have to wait.

## Post-check (current code)

### Make a change when there is NO pending update

* ma

[2022-08-08 20:12] tlimoncelli commented on #1180
It looks like ALL providers do this.  The GetZones appears in both GetDomainCorrections() and GenerateDomainCorrections().

By fixing this bug, the first phase of dnscontrol (gathering the zone data) will take half as long.

[2022-08-08 20:18] tlimoncelli commented on #1261
Is this still an issue?

[2022-08-09 08:53] pierre-emmanuelJ commented on #1612
Thanks for the patch! Let me test it ASAP, I was in holiday :)

[2022-08-09 09:07] norman-zon opened #1667 "NS1 cannot push since v3.17.0"
Starting with version 3.17 I cannot successfully push records via the NS1 provider:

[code]

Running the same on 3.16.2 it works as excpected.

I skimmed through the[ commits between 3.16.2 and. 3.17.0](https://github.com/StackExchange/dnscontrol/compare/v3.16.2...v3.17.0) but nothing there struck me as an obvious reason.

It also persists with v3.18.0. Maybe @costasd could take a look here?

[2022-08-09 09:12] costasd commented on #1667
Hi Norman, interesting.

Didn't occur to me during testing. I'll see into it today. My guess is some bug with the create zone/get zone code that had some updates recently.

Just so that I can try and reproduce it, what you're doing is that you're trying to just push changes in an existing zone, right?

Thanks,
Costas

[2022-08-09 09:15] norman-zon commented on #1667
Thanks for taking a look!

Exactly. The zone exists and I add a CNAME record.

[2022-08-09 12:36] svenpeter42 opened #1668 "Call for volunteer: INWX maintainer"
While going through my (much too large...) inbox I noticed that I missed quite some emails about INWX in dnscontrol. I still use INWX with dnscontrol but I don't have much time for maintaining it anymore.

I'd be happy if someone else stepped up and took over. I think @patschi might be a good candidate if he agrees.

[2022-08-09 13:48] tlimoncelli commented on #1667
Tip: This might be related to #1528.  It caused some caching issues for other providers, such as  a00572af4a2d5b12f3a8bf387dcce7a35cfea3ee.  HTH

[2022-08-09 14:36] tlimoncelli commented on #1668
Hi @patschi !    Let me tell you a little about the exciting opportunity of being a provider maintainer :-)

Actually, it's quite simple.  I'll tag you on any bugs related to the INWX provider.  About twice a year I make a big change and ask owners to confirm that I haven't broken anything.  The integration test suite is comprehensive and easy to run.

I try to make the changes as easy as possible

[2022-08-09 18:15] costasd commented on #1667
I managed to reproduce it easily and debug it.

So, the root cause is a bug with the ns1-go module we're using for all the low-level API communication. See https://github.com/ns1/ns1-go/issues/163 that I just opened.

The reason behind this showing up only now is that as of #1369/#1528 we're attempting to create zones every time dnscontrol runs - whereas earlier, this could only be triggered throu

[2022-08-10 13:48] tlimoncelli commented on #1342
Resolving

[2022-08-10 13:48] #1342 closed

[2022-08-10 13:51] tlimoncelli commented on #1285
Closing this issue.  The get-certs feature is deprecated and no new features are being added at this time.  The code will be removed from the project after Dec 31, 2022.  Please move to another SSL renewal system.

[2022-08-10 13:51] #1285 closed

[2022-08-10 13:53] tlimoncelli commented on #1258
Since this bug was filed we removed a LOT of the calls to `panic()` in the code.  Can you check if this is still an issue?

[2022-08-10 13:57] #1058 closed

[2022-08-10 13:59] tlimoncelli commented on #1003
I believe this is complete.  Please re-open if not.

[2022-08-10 13:59] #1003 closed

[2022-08-10 14:28] tlimoncelli opened #1674 "Remove ACTIVEDIRECTORY_PS code"

[2022-08-10 14:29] tlimoncelli opened #1675 "Remove convertzone"

[2022-08-10 17:18] patschi commented on #1668
I'm happy to take over as a maintainer for INWX, yes.

The past months have been quite busy for me as well, unfortunately. So as long as the expectation is not being on-call 24/7 to instantly address things, I'm fine :D

[2022-08-10 20:15] cafferata commented on #1653
Hi @tlimoncelli! I started using DNSControl since last week. I've locally everything working (_after the change from my merge request https://github.com/StackExchange/dnscontrol/pull/1661_). Now I wanted our Gitlab CI to do the `dnscontrol push` and so I ran into the same problem as many others:

I'm new to Circle CI, but I'm happy to help tie this loose end. That's why I set up a Circle CI set-up

[2022-08-10 20:33] cafferata commented on #1653
I came across issue https://github.com/StackExchange/dnscontrol/issues/1375, and would like to say that these two are duplicates of each other. What do you think?

[2022-08-10 21:03] tlimoncelli commented on #1653
@cafferata Yes, I think those are duplicates.

[2022-08-10 21:05] tlimoncelli commented on #1653
That would be VERY appreciated!  Yes!

I've used the link to schedule time.  See you then!

[2022-08-11 04:31] cafferata commented on #1653
Great! I'll talk to you later (today)! 👋

[2022-08-11 11:51] tlimoncelli commented on #1668
Thank you, @patschi !  I appreciate it!  (and, no, I assure you its not a 24/7 oncall :-) )

[2022-08-11 11:52] tlimoncelli commented on #1668
oops... closed by mistake.

Could you send a PR with changes to OWNERS and README.md?  That's how we make it official :-)

[2022-08-11 13:00] #1653 closed

[2022-08-11 13:46] cafferata opened #1687 "Docker image - Build version"
@tlimoncelli [commented](https://github.com/StackExchange/dnscontrol/pull/1681#discussion_r943374965)

Make the Docker image build version `DOCKER_IMAGE_VERSION` aware of the [configured version](https://github.com/StackExchange/dnscontrol/blob/master/main.go#L22) in `main.go`.

[code]
*https://github.com/StackExchange/dnscontrol/blob/master/.circleci/config.yml#L21*

[code]
*https://github.com/St

[2022-08-11 13:55] cafferata opened #1689 "Docker image - Multi-arch"
@jauderho [commented](https://github.com/StackExchange/dnscontrol/pull/1681#issuecomment-1211523288)

The Docker image build is multi-arch compatible `DOCKER_IMAGE_PLATFORM`. Which arches works out of the box? What else do we want to add?

[code]
*https://github.com/StackExchange/dnscontrol/blob/master/.circleci/config.yml#L21*

<img width="1280" alt="docker-hub-stackexchange-dnscontrol-multi-arch

[2022-08-11 14:09] cafferata commented on #1689
@avdija [commented](https://github.com/StackExchange/dnscontrol/issues/756#issue-628294321)

[2022-08-11 15:18] tlimoncelli opened #1691 "Providers should know their creds name so they can make better error messages"
Each provider's struct should include a field `.Name` that stores the name of the entry from creds.json so that error messages can refer to it directly.  It should be populated by the system, not the provider.

[2022-08-11 15:18] tlimoncelli commented on #366
I'm going to fix this just for Cloudflare for now.  The general fix is much more difficult, and is discussed in https://github.com/StackExchange/dnscontrol/issues/1691

The error message now looks like this:

[code]

[2022-08-11 15:49] #1619 closed

[2022-08-11 16:49] jauderho commented on #1689
@cafferata These are the platforms/archs that I currently have images for.

See: https://hub.docker.com/r/jauderho/dnscontrol/tags

[2022-08-11 16:51] cafferata commented on #1689
Not all of these where building from Circle CI. But at the moment I've no working Circle CI setup (Suspended account) for testing purposes.

[2022-08-11 17:09] #1675 closed

[2022-08-11 17:10] #366 closed

[2022-08-11 17:14] patschi commented on #1668
PR opened with #1692. But there's nothing to adjust in README.md as far as I can see.

[2022-08-11 17:15] #1674 closed

[2022-08-11 17:17] #1668 closed

[2022-08-11 17:18] #1617 closed

[2022-08-11 19:26] m-ueberall commented on #1258
Sure! Unfortunately, `dnscontrol` is still not able to at least ignore unknown _rtypes_. Using the current release, I ran the `get-zones`, `preview`, `push` subcommands against a test domain I obtained in the meantime (so no need to anonymize):

[code]

[2022-08-11 19:40] #1180 closed

[2022-08-11 19:46] SuperSandro2000 opened #1693 "Mark 3.18.2-dev as a prerelease"
It would be nice if ``3.18.2-dev`` would be marked as a prerelease to not be listed as a possible update for distributions.

[2022-08-11 19:54] tlimoncelli commented on #1693
Hey @cafferata @cdhunt: Advice on how to fix that?

[2022-08-11 19:58] tlimoncelli commented on #1258
Drat.

Ok, now I see where in the code this happens.  Sadly this isn't a small fix.

[2022-08-11 20:13] #1620 closed

[2022-08-11 21:24] #1570 closed

[2022-08-12 08:47] cafferata commented on #1687
Successful [build done](https://app.circleci.com/pipelines/github/cafferata/dnscontrol/37/workflows/ee765780-8c0a-4981-91bf-3701f0e6e51a/jobs/50/parallel-runs/0/steps/0-104) by PR https://github.com/StackExchange/dnscontrol/pull/1694, see the [Docker Hub](https://hub.docker.com/repository/registry-1.docker.io/jcid/stackexchange-dnscontrol/tags?page=1&ordering=last_updated) results here.

[2022-08-12 12:47] #1687 closed

[2022-08-12 12:48] cdhunt commented on #1693
I've removed the release. It shouldn't have been created.

[2022-08-12 12:48] #1693 closed

[2022-08-12 12:56] tlimoncelli commented on #1693
Thanks, @cdhunt !

[2022-08-12 14:47] WhoAmI0501 opened #1695 "Compatibility issues with Go 1.19 (invalid memory address or nil pointer dereference)"
I am experiencing some issues, if I compile dnscontrol with Go 1.19 (to be detailed: golang:alpine and golang:bullseye).

The README states, that dnscontrol is compatible with all Go versions above 1.16, but if I compile it with Go 1.19, I only see the following errors:
[code]
[code]

If I compile dnscontrol with Go 1.18, everything is fine.

[2022-08-12 15:44] WhoAmI0501 commented on #1695
It seems like this was caused by my misconfigured build environment. From the point where i adapted my Dockerfile to the one of this project, my build pipeline produced a running executable and everything was fine.

[2022-08-12 18:39] timkgh opened #1696 "Lots of pre-release notifications for v3.18.2-pre00X"
@cdhunt can we opt out of pre-release notifications and only get notified for releases or is that a GitHub enhancement?

[2022-08-12 18:57] cdhunt commented on #1696
Sorry, almost finished mucking around with the delivery pipeline.

[2022-08-12 20:08] cdhunt commented on #1696
Finished.

[2022-08-12 20:08] #1696 closed

[2022-08-12 20:18] cdhunt commented on #1689
Hi folks, I pushed a big update to the build. It's not everything I'd like, but I think it addresses most of the open requests.

@cafferata thank you for your help with this!

[2022-08-12 20:33] cdhunt commented on #1375
Sorry for the slow response. The docker image does have `dnscontrol` as the `entrypoint`. You should be able to pass arguments as part of the `docker run cmd`. eg `docker run --rm -it -v $PWD:/dns stackexchange/dnscontrol version`  It's not intended to be used as a `build execution` environment.

If you can execute `docker run` from your workflow you should be able to use the image. Otherwise, cou

[2022-08-12 20:34] cdhunt commented on #1287
#1682

[2022-08-12 20:34] #1287 closed

[2022-08-12 20:37] cdhunt commented on #756
Artifacts targeting ARM should be published going forward. This includes Docker, RPM, Deb, and tar.gz archives. I would appreciate any testing you can do.

[2022-08-12 20:38] cdhunt commented on #1689
ref #1682

[2022-08-13 04:08] flz commented on #1653
Looks like the new releases are flowing!

However, running docker build from the checkout seems broken (the Dockerfile is suspiciously empty):

[code]

[2022-08-14 04:12] tlimoncelli opened #1698 "AZUREDNS: Migrate to newer library"
CC: @vatsalyagoel

staticcheck reports:

providers/azuredns/azureDnsProvider.go:12:7: "github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2018-05-01/dns" is deprecated: Please note, this package has been deprecated. A replacement package is available [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/dns/armdns](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/dns/armd

[2022-08-14 04:12] vatsalyagoel commented on #1698
Will have a PR soon.

[2022-08-14 11:19] fm opened #1702 "[Web] Examples no longer expanding"
in the [Language Reference / Javascript DSL](https://stackexchange.github.io/dnscontrol/js) page, examples are no longer expandable

Chrome 104.0.5112.79
<img width="639" alt="Screen Shot 2022-08-14 at 1 17 36 PM" src="https://user-images.githubusercontent.com/3654256/184534299-578f4f4c-fdb4-4c0d-87d5-d7c80d7f4c75.png">

Safari 15.5 (17613.2.7.1.8
<img width="945" alt="Screen Shot 2022-08-14 at 1

[2022-08-14 12:59] cafferata commented on #1653
@flz I have noticed the same. @cdhunt has from PR https://github.com/StackExchange/dnscontrol/pull/1682 refactor the `Dockerfile`. So I guess it's up to him to tell what the idea is behind a local Docker build. Also, I think it's better to create a new issue so that both closed issues don't continue indefinitely.

[2022-08-14 13:07] cafferata commented on #1689
I'll take a look at this next week. If you believe that this issue has been resolved, I will close this issue. 👍

[2022-08-14 13:07] #1689 closed

[2022-08-14 16:52] vatsalyagoel commented on #1698
This issue can be closed @tlimoncelli

[2022-08-14 20:11] jauderho commented on #1653
The Dockerfile as it stands currently expects the binary to be built first outside Docker packaging whereas the previous iteration IIRC built everything within Docker.

My $0.02. Revert to the previous form for Dockerfile and create a separate Dockerfile.local. It really depends on what the intended use of the Dockerfile is.

[2022-08-15 00:04] #1698 closed

[2022-08-15 00:05] tlimoncelli commented on #1702
Fixed in #1703

Thanks for pointing this out!

[2022-08-15 00:06] #1702 closed

[2022-08-15 12:33] cdhunt commented on #1653
You can produce the docker images locally using [goreleaser](https://goreleaser.com/cmd/goreleaser_release/) the same as they are built in CI. Or just drop the version of `dnscontrol` that you want to include in the project root. Does that work for you?

[code]

[2022-08-15 12:51] cdhunt opened #1708 "Push the Docker images to CloudSmith"
Docker Hub rate limits free accounts. CloudSmith does not rate limit because of our (StackExchange) commercial relationship. This may be helpful for those running `dnscontrol` in automation that generates a lot of pull requests.

[2022-08-15 12:56] cdhunt opened #1709 "Improvements to GitHub Release Creations"
Specify more [Release](https://goreleaser.com/customization/release/) settings in the GoReleaser config.

[code]

We should create a draft release so @tlimoncelli can customize the release notes.

[2022-08-15 13:41] cdhunt opened #1710 "Fix GoReleaser 'Provider-specific changes:' regex"
For some reason, that pattern isn't picking up any of the commits with provider strings in them. See [releases/tag/v3.18.2-pre013](https://github.com/StackExchange/dnscontrol/releases/tag/v3.18.2-pre013).

[2022-08-15 14:25] tlimoncelli opened #1711 "CLOUDFLAREAPI: Fix flakey tests"
CC: @tresni

For some reason Cloudflare tests keep failing. It always starts at Test 34 or 39.  When I run the same tests from my workstation they're find. It's just CircleCI

https://app.circleci.com/pipelines/github/StackExchange/dnscontrol/1335/workflows/407541cf-dcf9-416e-8aea-799e1505050d/jobs/10332

[2022-08-15 14:40] tlimoncelli commented on #1711
I have a hunch that we're being rate-limited but the rate limit code in https://github.com/cloudflare/cloudflare-go/blob/master/cloudflare.go#L260 isn't working correctly.

Why would it set `respErr` without checking to see if `err != nil`?

[2022-08-15 21:43] tlimoncelli commented on #1711
Update:

Theory 1: This is a bug in cloudflare-go's retry handling.

I'm discussing this here: https://github.com/cloudflare/cloudflare-go/issues/1041

Theory 2: We're just maxing out the number of retries.

@jacobbednarz suggested that this is a badly phrased error message and we're exceeding the # of permitted retries.  The problem does go away if the number of retries is increased.   That fix i

[2022-08-15 23:48] jacobbednarz commented on #1711
i've updated the error message in cloudflare/cloudflare-go#1043 to make it clearer this is dying due to exhausting the number of retries.

an alternative here is to also space out the requests a little longer to prevent them from all landing within the 5m window. not ideal but possible. hit me up if you need an account rate limit bumped to assist here.

[2022-08-16 13:17] tlimoncelli opened #1720 "New brief format. Should it be the default?"
There is a new output format that is much more brief.  Should it be the default (in which case a `--verbose` flag will get the old format), or should it require a flag (such as `--brief`)?

I currently achieve the "brief" format by piping the output to a filter.

Current format:

[code]

Filtered format:

[code]

In case you were wondering, here is the `filter-preview.sh` shell script:

[code]

Wh

[2022-08-16 17:49] #1711 closed

[2022-08-18 20:50] SimenBai commented on #1720
I think we should I think cafferata alluded to.
I.e. filtered format as standard and either have verbosity levels, or different verbosity commands.

[2022-08-18 21:35] tlimoncelli opened #1722 "Draft release notes should note that they're a draft"
The current release process automatically generates draft release notes which are then edited by a human.  The draft version should warn readers that this is a draft.  Something like:

[code]

OR... is there a way that the release can be marked as preliminary until a person edits it for realz?

CC: @cdhunt

[2022-08-19 15:31] cdhunt commented on #1722
Duplicate of #1709

[2022-08-19 15:31] #1722 closed

[2022-08-19 16:04] #1709 closed

[2022-08-19 21:14] SimenBai opened #1725 "Update Domainnameshop provider"
I received feedback from Domainnameshop how their name should be capitalized properly. Being Domainnameshop and Domeneshop.

[2022-08-20 04:52] #1725 closed

[2022-08-21 00:41] tlimoncelli commented on #1720
Thanks for the feedback (here and elsewhere), folks!  Looks like people are in favor of the new format, with `--verbose` getting the old format.

[2022-08-21 00:59] #1720 closed

[2022-08-21 01:54] IzumiSenaSora commented on #1660
I Have No Idea About Coding 😅

[2022-08-27 04:07] jauderho opened #1730 "Cloudflare: Data export of root domain should use ALIAS not CNAME"
I'm trying to export an existing domain in Cloudflare to be managed by dnscontrol. The extraction command is `dnscontrol get-zone --format=js cloudflare - domain.com`

However, the root domain is exported as

`CNAME('@', 'test.duckdns.org.', CF_PROXY_ON)`

causing dnscontrol to complain when trying to do a preview run. Changing the CNAME to ALIAS fixes this

`ALIAS('@', 'test.duckdns.org.', CF_PRO

[2022-08-28 15:57] tlimoncelli commented on #1730
Ah!  An interesting situation!

Cloudflare’s API treats CNAME and ALIAS record the same.  The code assumes
it’s always a CNAME.

You’ll have to manually edit those records for now. (The goal of the “js”
format Is to be a god first draft, not a perfect re-creation).

That said, I’ll take a look at fixing this in the future.

Tom

On Sat, Aug 27, 2022 at 12:07 AM Jauder Ho ***@***.***> wrote:

--
Se

[2022-08-29 10:00] tuananh opened #1731 "MSDNS: Enable MSDNS to work from Linux host"
I just want to ask is this feature already implemented? Has anyone try this?

[2022-08-29 11:17] tlimoncelli commented on #1731
Hi there!

As far as I know, nobody is working on this.

If someone volunteers, I'd be glad to support them and answer questions.

Here's my suggestions:

1. If PowerShell Core supports `pssession`, then support is already complete. Simply enable the provider for non-Windows systems, verify `pssession` works, and update the docs to explain how to use it.
2. If you want real SSH support, in `powers

[2022-08-29 13:40] tlimoncelli commented on #1730
Every provider handles this differently, therefore it isn't possible to output the right thing for each vendor.  Instead, I'm submitting https://github.com/StackExchange/dnscontrol/pull/1732 which outputs a comment so that people know to manually edit the CNAME.

[2022-08-29 14:18] #1730 closed

[2022-08-29 14:37] tuananh commented on #1731
@tlimoncelli thank you. lemme try it to see if it works.

if not, maybe i can dive into it.

[2022-08-29 16:40] tlimoncelli commented on #1731
If you do dive in, here's a start.  I split out the Windows vs. non-Windows code: https://github.com/StackExchange/dnscontrol/pull/1733

[2022-08-31 12:38] tlimoncelli commented on #1339
The last 2 releases demonstrate that we've fixed this.

Closing issue.  Please re-open if needed.

[2022-08-31 12:38] #1339 closed

[2022-08-31 12:39] #1205 closed

[2022-09-05 10:06] dan-r95 commented on #1695
Can you elaborate on what you configured wrong in your build env?

[2022-09-06 12:20] tlimoncelli commented on #1695
I'm curious about how this happens too.  I stumbled upon this problem but I didn't keep good notes.

[2022-09-06 18:34] tlimoncelli opened #1744 "DEV: Spread integration tests across multiple domains"
Some integration tests take 7 or more minutes. Others run very quickly.  The slow tests delay the development process.

I've tried to optimize the tests as much as possible but certain slow-pokes like AZURE_DNS do all DNS updates one API call at a time, thus none of the things I've tried have made much improvement.

I think the only way to make the integration tests faster for AZURE_DNS, GANDI_V5,

[2022-09-06 19:16] WhoAmI0501 commented on #1695
Before (didnt worked):
[code]

After (worked):
[code]

[2022-09-07 12:42] pierrehenrymuller commented on #31
Any update for the dnssec feature?

In a first implementation, maybe managing a non multi provider case would be a good start?

A simple usage with dnscontrol that generates bind zones or to a single provider and that would manage the generation / rotation of the keys as well as the declaration of the latter to the registry. That would be a good start, wouldn't it?

[2022-09-07 14:31] tlimoncelli commented on #31
@pierrehenrymuller: There's currently no active development on DNSSEC features.  To be totally transparent: it isn't a feature that  my employer needs, therefore it is a feature that will have to come from the community.

Your proposal sounds good to me and I would be glad to coach a volunteer through implementing it.

[2022-09-13 19:53] tresni commented on #1562
This was done in #1697 , can close this issue for cleanup :)

[2022-09-13 19:54] tresni commented on #1667
With #1671 merged should this be closed?

[2022-09-13 20:00] tlimoncelli commented on #1667
I think we're keeping it open until the go library is fixed.  Is it fixed?

[2022-09-14 10:21] Deraen commented on #1562
Oh, sorry, I missed this during my summer vacation.

The integrations tests are passing for me on master, so dependency upgrade and other changes seem OK.

[2022-09-14 11:17] tlimoncelli commented on #1562
Thanks for checking!

[2022-09-14 11:17] #1562 closed

[2022-09-14 18:58] #1612 closed

[2022-09-16 14:07] mdallaire commented on #1497
I just wanted to share my approach to the spfcache.json problem in CI. I run on Gitlab and instead of committing the file to the repo I use the cache functionality to persist the spfcache. The test stage ensure that the dnscontrol.js is valid and also update the spfcache.json file if needed. The cached version is then reused in the deploy stage.

That being said, even though spfcache.json is not a

[2022-09-22 18:12] costasd commented on #1667
Nope, upstream issue is still open. I just pushed a change in the PR that I hope will help to get it moving a bit.

Given that 1) I'm tracking the upstream issue 2) there's a comment pointing to the upstream issue in the provider code, I'm fine for this issue here to be resolved if it confuses people and their searches.

[2022-09-22 19:51] tlimoncelli commented on #1667
Sounds good. I'll close it.

[2022-09-22 19:51] #1667 closed

[2022-09-23 05:43] timkgh opened #1757 "Ignore A record only for dynamic DNS while updating others"
A sub-domain `foo.example.com` has an A record (IPv4 address) set by a _dynamic DNS_ client, static IPv6 (AAAA) managed by dnscontrol and TXT/SPF record also managed by dnscontrol.

Is there a way to tell dnscontrol to not touch the A record but update only the AAAA and TXT records? IGNORE_NAME and IGNORE_TARGET do not seem to do the trick.

[2022-09-23 18:08] timkgh commented on #1757
It seems what's needed here is for `IGNORE_TARGET` to support `A` type records, not just `CNAME`. Are there technical reasons why the current implementation is limited to CNAME?

[2022-09-23 18:23] tlimoncelli commented on #1757
It only supports CNAMEs due to an overabundance of caution.  The `IGNORE*()` code is a bit flakey so we started with just the one RTYPE needed at the time.

I'd gladly accept a PR that expands it to "AAAA" records or all records.

As a temporary work-around, you could use a CNAME that points to a static AAAA record.

Tom

[2022-09-23 18:30] timkgh commented on #1757
I'd like the `A` record to be ignored, that's the one managed by a dynamic DNS client. AAAA, TXT should all be managed by dnscontrol.

[2022-09-23 19:03] tlimoncelli commented on #1757
I stand corrected. I was thinking in reverse :)

[2022-09-29 18:10] cafferata opened #1760 "CI/CD examples"
What do you think of the idea of including CI/CD sample configurations in the DNSControl https://github.com/StackExchange/dnscontrol/labels/Category%3A%20Documentation? I've been thinking of extracting our Gitlab CI setup and bringing it back to the DNSControl documentation so it might help other developers along. I hope this will increase the developer experience.

In addition, I would like to be

[2022-09-29 18:15] cafferata commented on #1592
I could live with the idea that we can only specify a single string. In practice I have never encountered the need to specify the split point of the string myself. I've also never experienced any problems with a TXT not being successfully validated/processed by a third party.

[2022-09-29 18:42] cafferata commented on #1497
From the first moment I read the [documentation](https://stackexchange.github.io/dnscontrol/spf-optimizer#notes-about-the-spfcachejson) I asked myself, is this a real-world problem that we have never experienced? Then I thought, okay fine, let's apply this method. As far as I'm concerned, the removal of the spf cache would not cause any problems for us.

[2022-09-29 19:07] tlimoncelli commented on #1760
I would love to include more examples!

I'd also like to link to videos of people showing what their CI/CD system looks like in action.

Tom

[2022-10-02 19:07] cafferata commented on #1760
I just finished a first draft. I'm curious what you think.

[2022-10-04 18:40] kmutahar commented on #1295
Hey, @hamptonmoore have you had a chance for this PR. I could help if you point be in the right direction since this will be the first time I contribute to this project

[2022-10-05 21:20] viharm commented on #1376
This seems like an exciting project, which I'm looking forward to learning how to configure. I'm trying to deploy this, but it appears that this problem exists in container tags v3.18.1 to v3.20.0.

The last version without this issue is v3.13.0 - over eight months & four versions old.

Is there an ETA on resolving this issue? I'm afraid I don't have the bandwidth, else I would have helped :-(

[2022-10-05 22:55] cdhunt commented on #1376
Which problem specifically, @viharm?

[2022-10-06 07:58] saz commented on #1376
@cdhunt @viharm Just guessing, but I think it's the wrong docker usage example in "Getting Started" (see https://github.com/StackExchange/dnscontrol/pull/1767 for a fix)

[2022-10-06 08:58] viharm commented on #1376
I get …
[code]

[2022-10-06 10:19] saz commented on #1376
@viharm just remove `dnscontrol` from the docker command:
`docker run --rm -it -v $(pwd)/dnsconfig.js:/dns/dnsconfig.js -v $(pwd)/creds.json:/dns/creds.json stackexchange/dnscontrol preview`

[2022-10-07 06:10] #1760 closed

[2022-10-08 05:33] androw opened #1769 "VULTR: cannot unmarshal number into Go struct field Account.balance of type string"
VULTR provider doesn't seem to work anymore.

[code]

From what I understand the issue is more in the underliying govultr dependency.

I've opened PR GH-1768 as a move to the v2 API and this seems to fix the problem.

[2022-10-22 03:09] Iodun opened #1771 "Common IPv6 variables?"
On the examples doc it shows to define common IP addresses like this:
`var addrA = IP('1.2.3.4')`

I spent over half an hour looking around trying to find an example showing proper use of IPv6 addresses, but couldn't find anything.
What is the best solution for variables containing IPv6 addresses?

[2022-10-24 09:46] IzumiSenaSora commented on #1771
[code]

[2022-10-24 09:48] IzumiSenaSora commented on #1660
@tlimoncelli any news? About this request!

[2022-10-24 17:38] tlimoncelli commented on #1660
Hi Izumi,

dnscontrol is a community-driven open source project.  That means new features are added by the community; not the maintainer.

I have tagged this request "Needs volunteer" and emailed the dnscontrol-discuss email list asking for a volunteer.

Which DNS provider do you use?

Tom

[2022-10-24 17:41] tlimoncelli commented on #1771
@IzumiSenaSora is correct.  For an IPv6 address you can simply use the string as he demonstrated.

The IP() function is only needed if you plan on doing math on the IP address, which is less likely in IPv6.

[2022-10-24 23:52] IzumiSenaSora commented on #1660
Cloudflare as a Main
deSEC as a Backup

Both support HTTPS/SVCB Record!

[2022-10-25 00:21] tlimoncelli commented on #1660
CC @tresni and @D3luxee

[2022-10-27 18:37] Iodun commented on #1771
Thanks for your replies.
Wouldn't it make sense to have an equivalent IPv6 functionality for coherence reasons?
Or maybe a short explanation in the documentation why there is no IPv6 version of that?
I wonder if I am the only one who got confused by the lack of that.

[2022-10-27 19:17] tlimoncelli commented on #1771
Yes, the lack of symmetry is non-optimal.

Ideally IPv4 and IPv6 addresses would not even require a IP() function or even quotes!  The language should understand IP addresses as a first-class construct.   Sadly we are using a Javascript parser instead of writing our own custom parser so we have to accept what exists.

Your point is well taken.  I think there are 2 solutions here:

1. Update the do

[2022-10-27 19:27] tlimoncelli commented on #1771
PR is https://github.com/StackExchange/dnscontrol/pull/1775

Feedback welcome!

[2022-10-27 20:01] cafferata opened #1777 "DOCS: Javascript DSL table of contents (TOC)"
I have the desire to have an overview at a glance of the Javascript DSL. For me it would be enough to have table of contents (TOC) at the top of the page. What do you think of this idea? I looked into how this could be realized, and I ended up with `js.md` in combination with a derivative of `funcList.md`. However, I have no idea how to (local) render the output. Can you tell more about this? Perh

[2022-10-27 20:21] tlimoncelli commented on #1777
Yeah, that would be a big improvement!  Good idea!

The README.md file has instructions on how to preview docs changes using Docker.

Would it be possible to generate the TOC automatically?

Tom

[2022-10-28 08:05] cafferata commented on #1777
Yes, that's was also my idea. See PR https://github.com/StackExchange/dnscontrol/pull/1778 for the results.

Wow! I didn't found it/look over there because it's in the `Installation` > `Docker` section. I would suggest to move this part to [Developer Info](https://stackexchange.github.io/dnscontrol/#:~:text=Developer%20Info) (separated issue). There are two ways of 'testing' the documentation outp

[2022-10-28 15:27] #1777 closed

[2022-10-28 17:26] cafferata opened #1779 "DOCS: Developer info - Documentation generation"
Wow! I didn't found it/look over there because it's in the `Installation` > `Docker` section. I would suggest to move this part to [Developer Info](https://stackexchange.github.io/dnscontrol/#:~:text=Developer%20Info). There are two ways of 'testing' the documentation output.

1. https://github.com/StackExchange/dnscontrol#via-docker
2. https://github.com/StackExchange/dnscontrol/blob/7ba051d/docs

[2022-10-28 20:37] cafferata commented on #1779
Hi @tlimoncelli! I saw your PR https://github.com/StackExchange/dnscontrol/pull/1780 with an good first start of the [documentation page](https://stackexchange.github.io/dnscontrol/documentation) 👏  . As a result of this elaboration, I wondered a few things:
- Why are there two ways communicated for rendering the Jekyll documentation?
    - https://github.com/StackExchange/dnscontrol#via-docker

[2022-10-29 05:30] rmbolger opened #1782 "Feature request: Parsable provider capabilities from CLI?"
I'm working on a hobby project that interfaces with DNSControl and I've reached a point where I either need to hard code (and maintain) each provider's capabilities or be able to query them on demand. Would anyone be interested in adding a utility CLI command like `provider-capabilities` that would output JSON (or whatever) containing all of the provider capabilities like the generated capability

[2022-10-29 06:16] cafferata commented on #1782
Hi @rmbolger! 👋 Could you tell me more about your hobby project? May be influenced by the technical choice. I don't know if @tlimoncelli is open for an PR with this functionality, however I can make this knowledge available from other angles. I'm curious.

[2022-10-29 06:30] rmbolger commented on #1782
Without trying to be too cryptic, it's sort of like a front-end for DNSControl. It takes some source zone data and credentials for a supported provider and tries to automatically translate it into DNSControl's `dnsconfig.js` format to then be pushed up to the provider. But rather than just letting DNSControl error if it encounters a record type the provider doesn't support, I want my tool to skip

[2022-10-29 06:33] rmbolger commented on #1782
In reading this out loud to myself, I also realize that another way to make this work would be if DNSControl had an option to warn instead of error on unsupported domain modifiers for a provider. But that's probably a more significant change.

[2022-10-30 12:40] cafferata opened #1792 "DOCS: creds-json - Double hyphen"
Within the [creds-json](https://stackexchange.github.io/dnscontrol/creds-json.html) `hyphen` is included twice. Which of these two is correct according to your @tlimoncelli?

### hyphen

Message: ERROR: creds.json entry ... has invalid ... value ...

### hyphen

[2022-10-30 18:09] tlimoncelli commented on #1782
I'm open to adding a way to output the capabilities to a YAML or JSON file.  Seems pretty reasonable thing to have.

Having it be a warning instead of an error is may be difficult to implement.  There's no pseudo-record for "placeholder for an unimplemented type".

[2022-11-02 16:39] timkgh commented on #1757
@tlimoncelli  🙏 any chance we could prioritize improving this situation? it's important for those of us dealing with dynamic IP addresses. 🙏

[2022-11-02 19:52] tlimoncelli commented on #1757
Hi @timkgh .  Sadly I won't have time to work on that kind of feature.  My time is booked up with other projects for many months.   This is a community-driven project.  By that I mean that new features come from the community.  I'd be glad to coach a volunteer.

I had another idea for a workaround:  Have DNSControl ignore all records at that label.  Use the native system for maintaining the A, TXT

[2022-11-02 21:03] timkgh commented on #1757
By native I assume just set the records straight up in the Cloudflare UI or whatever the DNS provider is?

Yet another idea is to wrap `dnscontrol` in a script that first fetches the current value for the `A` records and puts it in the `dnsconfig.js` before it calls `dnscontrol` to apply the changes, in effect making it a nop. There's a slight chance of a race though.

[2022-11-02 21:13] tlimoncelli commented on #1757
Yes, exactly.

[2022-11-04 18:27] tlimoncelli commented on #1792
Yes, the new wording is better.  Good point!

[2022-11-04 19:43] tlimoncelli commented on #1771
PR merged. Closing issue.

[2022-11-04 19:43] #1771 closed

[2022-11-04 19:44] tlimoncelli commented on #1769
https://github.com/StackExchange/dnscontrol/pull/1768 is merged. Does that mean we can close this issue?

CC @pgaskin

[2022-11-04 20:17] tlimoncelli commented on #1757
I was thinking about this more.  What you need is a change to `IGNORE_NAME()`, not `IGNORE_TARGET()`.

This will get an error because we are ignoring "foo" and updating "foo":

[code]

The error will look something like:

[code]

Either that shouldn't be an error (which could be unsafe) or `IGNORE_NAME()` should accept an optional parameter that lets you specify which record types should be ignore

[2022-11-04 20:30] tlimoncelli commented on #1757
Note to self: The current diff mechanism is made more complex by the `IGNORE*()` functions.  We could simplify this with a different algorithm:

1. There is a point where we have the "existing" and "desired" records. Existing is what records were downloaded via the API.  Desired is what records were specified in the dnsconfig.js file.
2. Query "existing" list for records that match all the `IGNORE

[2022-11-04 21:34] timkgh commented on #1757
Would the fix for `IGNORE_TARGET` be as easy as relaxing this check to allow `A` records?
https://github.com/StackExchange/dnscontrol/blob/ccb582b2781a36dcf5698c61da30ab1db2007bca/pkg/diff/diff.go#L367

[2022-11-04 21:55] #1769 closed

[2022-11-05 11:43] tlimoncelli commented on #1757
Yes.  (and updating the integration tests)

[2022-11-05 22:17] timkgh commented on #1757
Ah I see. I finally realized IGNORE_TARGET is not what I want, I misunderstood what it did, it would have to match by the existing record IP address. It's IGNORE_NAME as you correctly pointed out.

[2022-11-06 02:34] bits01 commented on #1757
@tlimoncelli Volunteering PR #1808, for dynamic DNS `A` record support.

[2022-11-06 16:31] bits01 opened #1810 "Linter issue: errorsas"
https://github.com/StackExchange/dnscontrol/blob/1010138fb6c8e7e456763ef4ebf4bc9cc5174578/providers/ns1/ns1Provider.go#L65

[code]

[2022-11-06 16:34] bits01 commented on #1810
It appears we need to pick up gopkg.in/ns1/ns1-go.v2 v2.7.0
https://github.com/ns1/ns1-go/issues/163#issuecomment-1292495230

[2022-11-06 20:29] bits01 commented on #1695
@tlimoncelli This is still a problem on Ubuntu 20.04 with go version go1.19.3 linux/amd64

[2022-11-06 20:47] cafferata commented on #1779
Closed by https://github.com/StackExchange/dnscontrol/pull/1809

[2022-11-06 20:48] #1779 closed

[2022-11-06 20:48] cafferata commented on #1792
Close by https://github.com/StackExchange/dnscontrol/pull/1807

[2022-11-06 20:48] #1792 closed

[2022-11-07 14:53] bits01 opened #1812 "Plain "go build" on linux/amd64 makes an executable that crashes, but "go build -ldflags='-s -w'" works"
Ubuntu 20.04 with go version go1.19.3 linux/amd64

If I just build from master with `go build` the resulting executable crashes with the same stack trace as in #1695

[code]

Building with `go build -ldflags='-s -w'` results in a usable executable.

Also see this comment: https://github.com/StackExchange/dnscontrol/issues/1695#issuecomment-1249586848

[2022-11-07 14:56] tlimoncelli commented on #1810
CC @costasd

[2022-11-07 15:08] costasd commented on #1810
yup saw it couple days ago, it's new in golang 1.19
[code]

Trying to find some time to test v2.7.0 properly - which will solve this as well by removing this errors.As code.

[2022-11-07 16:27] #1757 closed

[2022-11-07 16:51] timkgh commented on #1757
Awesome work @bits01 😍

@tlimoncelli how often do you release new versions?

[2022-11-07 17:11] tlimoncelli commented on #1757
Releases aren't on a specific schedule.  Would you be willing to build from master to test it out before I publish the release?

[2022-11-07 17:15] timkgh commented on #1757
Just tried it on macOS and Cloudflare and it does exactly what I need 👍

[2022-11-07 17:39] tlimoncelli commented on #1757
great!  I'll try to do an official release this week.

[2022-11-07 20:20] tlimoncelli commented on #1695
Re-opening this ticket. I thought this was Debian-specific.  It turns out to be a problem on all Linux systems and FreeBSD as well.

[2022-11-09 19:54] #1812 closed

[2022-11-09 19:54] #1695 closed

[2022-11-10 13:57] tlimoncelli opened #1815 "VET: vultr uses unkeyed fields"
When using go 1.19, "go vet" reports:

[code]

Could you please take a moment to fix this?  Thanks!

CC  @pgaskin

[2022-11-11 13:37] pgaskin commented on #1815
Will do.

[2022-11-14 18:39] tlimoncelli commented on #1815
FYI: Russ Cox's keynote at Gophercon explained why `go vet` reports this error. I found it very interesting. https://www.youtube.com/watch?v=v24wrd3RwGo

[2022-11-15 17:57] #1815 closed

[2022-11-26 16:36] #1295 closed

[2022-11-26 17:34] tlimoncelli opened #1823 "Tech Debt that keeps Tom up at night"
There are a number of non-functional tech-debt projects I'd like to do or find someone to do.

# Make IGNORE*/PURGE/NO_PURGE more reliable: (DONE!!!)

* Category: Fix brittle features
* Priority: high

Problem: IGNORE and PURGE are brittle and don't work right in all
      situations.

Proposal: I have ideas that would make it cleaner, easier to work with/debug, and easier for provider-authors to

[2022-11-27 14:02] tlimoncelli commented on #756
Closing this.  It's been done for a while.

[2022-11-27 14:02] #756 closed

[2022-11-27 19:10] patschi commented on #1091
This issue has been getting more serious it looks. When pushing changes the output is:
[code]

But it doesn't push any changes and skips to the next domain completely. Because there's a `continue;` if any error occurs:
https://github.com/StackExchange/dnscontrol/blob/8bb63be8f5ed996a7ae0a21091954fcab996621b/commands/previewPush.go#L156-L159

I'm currently trying to understand where this comes from

[2022-11-27 19:25] patschi commented on #1091
I might have found the relevant parts as svenpeter42 mentioned earlier.

As per documentation it returns `Count` as `int`:
https://www.inwx.com/en/help/apidoc/f/ch02s08.html#domain.list

Therefore the `goinwx` structure also uses `int` obviously:
https://github.com/nrdcg/goinwx/blob/0507edb5934746bf334b8c2f109c0cf47b4a9601/domain.go#L321-L322

However the API looks like returning a `string` instea

[2022-11-28 16:01] #714 closed

[2022-11-29 03:52] j-f1 opened #1825 "[Netlify] Records are missing trailing dot"
I was super excited to see @SphericalKat added support for Netlify!

I tried setting up my DNS config from my existing Netlify setup (using `dnscontrol get-zones --format=js netlify - mydomain.com` with the version of `dnscontrol` on the `master` branch). However, the records it generates are missing the trailing `.`, resulting in a bunch of errors when I tried to run `dnscontrol preview`.
I manua

[2022-11-29 04:32] SphericalKat commented on #1825
Thanks for your report @j-f1. I'm looking into why this is happening.

[2022-11-29 06:10] tlimoncelli commented on #1825
FYI:

I'm 90% sure this means the code just needs to add the missing dot (perhaps only in certain situations).  However, if it isn't that, take a look at this for a weird AWS bug: https://github.com/StackExchange/dnscontrol/blob/master/providers/route53/route53Provider.go#L501

[2022-11-29 12:35] j-f1 commented on #1825
To be clear, this is happening in the values of e.g. CNAME records. `get-zones` pulled in the record `CNAME('feeds', 'cname.vercel-dns.com')`, which looks like this in the web console:

<img width="268" alt="Screenshot_2022-11-29 07 34 17" src="https://user-images.githubusercontent.com/25517624/204530484-efed163d-a7b6-4647-8add-38197989b536.png">

[2022-11-29 12:40] SphericalKat commented on #1825
Hm, since the trailing dot is optional, would it be necessary to add it in the provider? I think the current behavior seems ideal if netlify "does the right thing" behind the scenes.

[2022-11-29 13:23] SphericalKat commented on #1825
Makes sense. I'll implement this; sorry about the oversight!

[2022-11-29 20:17] j-f1 opened #1829 "Docs: Document NAPTR"
This record type is supported by several providers, as well as DNSControl itself, but there is no documentation of what it is or what parameters can be passed to `NAPTR()`.

[2022-11-29 22:25] tlimoncelli commented on #1829
I don't think the people that wrote the RFC knew what the parameters are supposed to be :-)

j/k

[code]

Yes, this needs to be documented.

[2022-11-29 22:43] tlimoncelli commented on #1823
@onlyhavecans Thanks!  (I've updated this with bugids and draft PRs)

[2022-11-30 14:23] #1825 closed