[2021-03-04 11:53] donestefan commented on #1077
Sorry, but I'm not a programmer. I do some simple scripting but have no experience with golang.

[2021-03-05 00:17] tlimoncelli commented on #1058
Dumb question but... Is this needed when purchasing a domain?  create-domains doens't purchase the domain for other providers. Does it for HEXONET?

[2021-03-05 01:10] tlimoncelli opened #1079 "SOFTLAYER provider is unmaintained"
SOFTLAYER has no maintainer. If you are interested in volunteering to maintain it, post a comment!  Will train.

[2021-03-05 10:07] papakai commented on #1058
Yes, looks like that. One point I already addressed in the past to you guys: "create-domains" sounds like a domain being registered. So is this then just about creating a DNSZone? (I guess yes)

[2021-03-05 12:57] tlimoncelli commented on #1058
Yup.  It's just about creating a DNSZone.

Yes, "create-dnszones" would be a better name.  I will clarify in the docs.  Maybe I should poll other providers to see what it is called there.

[2021-03-05 13:04] papakai commented on #1058
ok, thanks. I'll dive into review as far as possible to get "create-domains" patched.

[2021-03-05 17:55] liljenstolpe commented on #1058
Awesome - thx!

On Fri, Mar 5, 2021 at 5:04 AM Kai Schwarz <notifications@github.com> wrote:

[2021-03-06 00:18] duncanmcclean opened #1081 "CNAMEs not allowed for bare domain?"
Hi there,

I found out about DNSControl a couple of hours ago from an article I found on Twitter. I've spent the last couple of hours playing around and setting up a domain with it. So far I'm liking it.

However, for a couple of my domains, which are simply just landing pages, I have them pointing to Netlify, which tells me to point my domain to `my-site-whatever.netlify.app` using a CNAME record

[2021-03-06 00:29] duncanmcclean commented on #1081
For context, here is what my domain record looks like:

[code]

The issue I'm getting is `teachertoparent.co.uk’s server IP address could not be found.`. Let me know if this is something I've done or maybe even something on Netlify's end?

(sorry for the noob issue report)

[2021-03-06 00:31] duncanmcclean commented on #1081
Nevermind, looks fine if I share it somewhere, must be my dns cache. Sorry!

[2021-03-06 00:31] #1081 closed

[2021-03-07 16:47] tlimoncelli opened #1082 "Clarify that create-domains does not buy them"

[2021-03-07 18:45] tlimoncelli commented on #1073
Fixed by 56766f93a9f7a55af2a1437ebb08cd33ebb761aa

[2021-03-07 18:45] #1073 closed

[2021-03-07 19:30] tlimoncelli commented on #1052
Updating docs too: https://github.com/StackExchange/dnscontrol/pull/1083

[2021-03-07 19:34] #1052 closed

[2021-03-07 19:37] tlimoncelli commented on #860
The new way to handle TXT records is now in `master`.  Is this still a problem?

[2021-03-07 19:46] #974 closed

[2021-03-07 20:02] tlimoncelli commented on #992
With the recent changes to TXT records, I've made DKIM a no-op.  #1084 has been merged into `master`.  Please take a look.

[2021-03-07 20:03] tlimoncelli commented on #996
Please try running an integration test and see if it works as expected.

[2021-03-07 20:04] tlimoncelli commented on #1003
A number of changes to the TXT code have been merged to `master`.  I hope that fixed everything.

Please try running the integration tests and let me know if this work.

[2021-03-07 20:06] tlimoncelli commented on #1038
Changes related to this have been merged into `master`.  Can you try again to see if you can still reproduce the problem?

[2021-03-07 20:09] tlimoncelli commented on #1056
Oh, dang.  Yes, [release v3.5.0](https://github.com/StackExchange/dnscontrol/releases/tag/v3.5.0) broke people.  My apologies for forgetting that In my defense, it should have only broken providers that were only working by accident of the fact that they take long TXT records and break them up internally. (not an excuse, just an explanation)

Moving right along...

Hopefully #1063 unbroke the brea

[2021-03-07 20:14] #1059 closed

[2021-03-07 20:14] #1060 closed

[2021-03-07 20:28] #1082 closed

[2021-03-08 10:52] papakai commented on #1058
Just had an initial check of our code base, looks like I've been partially wrong. "create-domains" cares about creating a DNSZone, not about registering a domain in real. so far so good. I've just forgotten that I rewrote exactly that part in that direction before initial launch - I had a lot trouble to understand "create-domains" correctly.

Creating DNSZones, does not require such additional fie

[2021-03-08 11:02] papakai commented on #1058
@liljenstolpe Can you provide the exact domain name related to that .us issue.

[2021-03-08 15:05] juliusrickert commented on #1056
It works (with Cloudflare).

On the Docker image tags: could we introduce tags like `3`, `3.7`, and `3.7.0` for the current stable version?

[2021-03-08 15:22] tlimoncelli commented on #1056
Great!

Sure!  Can you send a PR?   (ngl... I'm no docker expert)

Tom

[2021-03-08 15:38] juliusrickert commented on #1056
Sure! I tried to figure out how you are building and uploading your images to Docker Hub, but I could not.

Is it Docker Hub building and publishing the images?

[2021-03-08 20:38] tlimoncelli commented on #1022
Hey there!

I'm testing DMARC_BUILIDER on Stack Overflow's dnsconfig.js and it works great!  I'm going to consider this issue closed.

Thanks for the great macro!

Tom

[2021-03-08 20:38] #1022 closed

[2021-03-09 22:00] xbra commented on #996
Hi @tlimoncelli, unfortunately the escaping of strings is done wrong and pushing TXT records fails. In preview mode it tries to
`MODIFY TXT _dmarc.***: ("\"v=DMARC1; […] fo=1\"" ttl=3600) -> ("v=DMARC1; […] fo=1" ttl=3600)`
Which later fails with
`FAILURE! failed create rrset (deSEC): http status 400 400 Bad Request, the api does not provide more information`

[2021-03-10 10:27] ad8-bdl opened #1089 "IGNORE_NAME, IGNORE_TARGET not working within D_EXTEND"
Summary: I think IGNORE_NAME, IGNORE_TARGET need additional documentation noting they do not work as might be expected within a D_EXTEND - they do not account for the D_EXTEND subdomain. Alternately the implementation needs to be fixed to recognise the D_EXTEND subdomain but I'm not sure there's a clean way to do that.

Details: So I'd like to IGNORE_NAME some targets within a subdomain (my real u

[2021-03-10 16:18] tlimoncelli commented on #1056
I honestly don't know.

[2021-03-10 17:55] tlimoncelli opened #1090 "Explain how to build docs outside of GHA"
Document that this command builds the docs outside of GHA:

    docker run --rm -it --volume="$PWD:/srv/jekyll" --volume="$PWD/vendor/bundle:/usr/local/bundle" --env JEKYLL_ENV=production jekyll/jekyll:3.8 jekyll build -V

[2021-03-10 19:30] jauderho commented on #1056
I've been building Docker images for dnscontrol and would appreciate it if others can test it out. It's available on both Docker Hub and GitHub.

Not in front of the computer right now. Will post links later.

[2021-03-11 10:46] MarcSN311 opened #1091 "inwx - URL Type"
Hi!
INWX supports a URL Type, which is basically a Header Redirect. When you have a URTL Type entry configured and try to do `dnscontrol get-zones` or `dnscontrol preview` it throws the following error:

[code]

[2021-03-11 13:46] juliusrickert opened #1092 "D_EXTEND using subdomains behaves incorrectly with IDNs"
I will get straight to the root cause: Otto's `String.substr()` method behaves incorrectly when used with multi-byte unicode characters, as described in [this issue](https://github.com/robertkrimen/otto/issues/399).

This causes missing characters at the end of the subdomain when used with IDNs.

Expected behaviour:
[code]

Otto's behaviour:
[code]

This impacts [subdomains with multi-byte charact

[2021-03-11 18:00] tlimoncelli commented on #1092
I think this PR fixes that: https://github.com/robertkrimen/otto/pull/361/files

[2021-03-11 18:02] wararjey commented on #860
I recentrly registered a few domains (no .ro domain though) and did experience any problems with switching on DNSSEC.
TXT autosplit seems to work fine, when used according to the reference. Version currently used is 3.7.0.

[2021-03-11 21:23] tlimoncelli commented on #455
Proposal:

- A generic HTTP redirect function called `REDIRECT()` that providers can opt into via Capabilities.
- `REDIRECT()` provides a restricted set of features that can be expected on all providers that opt-in.
- It should default to 302 (temporary), with a `REDIRECT(from, to, OPT_PERMANENT)` for 301 (Suggestions on a better name?)
- Providers should implement a fully-featured redirect named

[2021-03-11 22:28] juliusrickert commented on #1092
Open since 1.5 years. I have asked the maintainer to take a look at this.

[2021-03-14 10:03] riku22 commented on #1038
Hello.

I ran an integration test.
However, I don't know if I can report it here, but it seems that there is a problem with the long string TXT record.
Note that adding a PTR record has failed because it is not supported in the zone used for testing.

[code]

[2021-03-14 18:07] tlimoncelli commented on #1038
Are long and/or multiple TXT strings supported?

As far as the PTR records, we please mark those tests with `not()` so they are skipped. Include a comment why.

[2021-03-14 18:09] tlimoncelli commented on #992
Obsolete

[2021-03-14 18:09] #992 closed

[2021-03-14 20:26] tlimoncelli commented on #996
Does something like this help?  (I don't have an account on deSEC so this is just a guess)

https://github.com/StackExchange/dnscontrol/pull/1095

[2021-03-14 22:41] riku22 commented on #1038
Yes, long TXT strings are supported.
What are Multiple TXT strings?
Is it something like `["one", "two", "three"]`?
What kind of record do you expect to be created in this case?

[2021-03-15 10:38] xbra commented on #996
@tlimoncelli – sorry, it’s not working. I never wanted to dive that deep into Go and dnscontrol, but in order to read the error (that is according to @peterthomassen always included in the response body) I cleaned `protocol.go`:

[code]

This gives the error message: `[{"non_field_errors":["Data for TXT records must be given using quotation marks."]},{"non_field_errors":["Data for TXT records must

[2021-03-17 11:29] tlimoncelli commented on #19
Or perhaps check for errors that indicate DNS updates didn't happen due to lack of permission.

[2021-03-21 18:08] pragmaton commented on #1038
Hi guys! Sorry I was a bit busy and have not seen this ticket.
As I understand Cloudns allow long strings, but not allow multiple TXT records with same name.

I just  made PR https://github.com/StackExchange/dnscontrol/pull/1098 plz take a look

[2021-03-21 18:44] tlimoncelli commented on #1038
@jamaltebi I've merged @pragmaton 's PR into master.  Can you verify that this fixes the issue you reported?

[2021-03-22 09:29] riku22 commented on #1038
Hello.

I think this issue has been fixed.
Thank you very much.

[2021-03-22 12:48] #1038 closed

[2021-03-22 13:47] #1078 closed

[2021-03-24 14:08] split-and-join opened #1104 "pssession isn't working with msdns provider"
Executing the following locally on a DNS server returns all records..
`dnscontrol get-zones --format=js msdns MSDNS <domainName>`

When creds.json is setup it prints the INFO message, but does not throw any errors, and prints a default domain record with no addresses.

I am running these versions:
dnscontrol v3.7.0-dev
go version go1.16.2 windows/amd64
Windows Server 2016

[2021-03-24 18:34] tlimoncelli commented on #1104
Hi there!

Yes, pssession doesn't work.  I need to remove it from the documentation until it is ready.

Can you use the "dnsserver" option instead?

Tom

[2021-03-24 18:47] split-and-join commented on #1104
I was able to use the dnsserver option remotely. I had both defined in the `creds.json` and believe it defaulted to pssession.

I am relatively new to golang, but wouldn't mind taking a look at why this is failing. If you have any points in the code where you think it might be failing I can give it a try.

[2021-03-24 20:31] tlimoncelli commented on #1104
The good news is that I found a bug... the pssession variable wasn't being stored anywhere.  I fixed that in https://github.com/StackExchange/dnscontrol/pull/1105

The bad news is that my test environment for Windows only has 1 machine.

If you want to try https://github.com/StackExchange/dnscontrol/pull/1105 to see if it fixes things, that'd be awesome.  The code that deals with this is all in `d

[2021-03-25 20:11] net47 opened #1106 "IGNORE_NAME with root record"
I can use IGNORE_NAME to successfully ignore any subdomain, which is fine. But how can I ignore the root record ("@")?

`IGNORE_NAME(''),` is not working, the root record gets deleted:

[code]

[2021-03-25 20:16] tlimoncelli commented on #1106
Interesting bug!  Does `IGNORE_NAME('@')` work?

[2021-03-25 20:18] net47 commented on #1106
Nope, error:

[code]

[2021-03-26 00:49] split-and-join commented on #1104
I tried to execute the new branch, and that doesn't seem to solve the problem..

I was debugging the code and everything looked right until I got to line 41 of [session.go](https://github.com/bhendo/go-powershell/blob/219e7fb4e41e15c1a8f68c7f082c4c6df96d6362/middleware/session.go#L41)

[code]
I realize that is not your project, but it seems like there is some underlying issue going on with that mo

[2021-03-26 17:19] tlimoncelli commented on #1104
Interesting!

If you think it is a bug in powershell and/or the module, could you make a repo case?   I know a few powershell MVPs that might be able to help out.

[2021-03-26 19:12] tlimoncelli commented on #1104
I wonder if this helps: https://stackoverflow.com/questions/50809752/golang-invoking-powershell-exe-always-returns-ascii-characters

I wonder if we should switch to something like https://github.com/KnicKnic/go-powershell (sadly I think it requires cgo, which I'd rather avoid).

[2021-03-26 20:26] split-and-join commented on #1104
Looks like the bhendo/go-powershell repo isn't actively maintained, and they won't fix.

I was looking at the KnicKnic repo, and didn't see where they are using cgo. I saw a c dll they were loading from https://github.com/KnicKnic/native-powershell, but did not sure if that is the same.

[2021-03-27 12:58] tlimoncelli commented on #1104
I may have misspoke.  I saw the c dll and assumed they were using cgo.

[2021-03-28 17:59] tlimoncelli commented on #1089
For now I'm going to document that `IGNORE_*` doesn't work with `D_EXTEND()` (see https://github.com/StackExchange/dnscontrol/pull/1108).

However, I'm keeping this issue open because this needs to be fixed.

To make `IGNORE_*` more stable and trustable, we need to vastly improve our integration testing of them.

[2021-03-28 18:31] tlimoncelli commented on #996
I've put your changes into a PR: https://github.com/StackExchange/dnscontrol/pull/1109

If someone would like to improve this, I suggest you start by copying the code from `providers/hexonet/records.go` (`encodeTxt` and `decodeTxt`) as it seems to be similar to what is needed.

[2021-03-30 12:57] jmpenalosa opened #1114 "Unable to create records in Route53 - "limit of 1000 exceeded""
Hi,

I got a strange error when adding zones to Route53 using DNSControl.

`FAILURE! InvalidChangeBatch: [Number of records limit of 1000 exceeded.]
        status code: 400, request id: 2c25e708-a75d-4391-b56d-66c286545e29`

I know I only have 780 records, so I am unable to make sense of this error.

I used the same script, same records in Google Cloud DNS and I did not get this issue.

I just ne

[2021-03-30 13:49] split-and-join commented on #1104
Okay, so did some more digging and found that when using the pssession the results were being saved to the remote computer instead of the local system where dnscontrol is running. Here is the powershell it is executing.

[code]

Believe this impacts the diff operation for seeing what records need to be added/removed, as well as the initial get-zones issue I was having. Not sure if there is a bette

[2021-03-30 14:21] tlimoncelli commented on #1104
The redirect looks very promising!  Yes, the remote machine saving data locally would certainly explain the behavior.

Busy day today but I'll try this soon!

[2021-03-30 14:40] split-and-join commented on #1104
Take your time! Appreciate the work you are doing on this project.

[2021-03-31 01:33] jmpenalosa commented on #1114
Hi @tlimoncelli

Thanks for the tips.

I will try to do the segregated deployment. See if this helps complete the task at hand.

I will try to do it as standalone for now, not using the GCP Cloud Build/Repo Triggers that I currently have in place on GCP.

Will post results here as soon as possible.

[2021-04-02 14:25] tlimoncelli commented on #1114
Hope it was successful!

[2021-04-02 20:44] x70b1 opened #1116 "Feature request: execute creds.json if it is executable"
At the moment I think its a bit hard to secure the credentials in `creds.json` as it is required to have a plaintext file.
I have seen the blackbox hint.

Ansible offers a way to run a script to retrieve the required secrets.
Example: `vault_password_file=pass.sh` in ansible.cfg
pass.sh can now contain the vault password, or runs if it is executable. This makes it easy to integrate different solut

[2021-04-03 11:58] net47 commented on #1106
@tlimoncelli any hints how to work-around or resolve this issue? Many thanks!

[2021-04-03 13:40] tlimoncelli commented on #1106
I can reproduce the problem in PR https://github.com/StackExchange/dnscontrol/pull/1118

[code]

You might be able to track it down from there.

Tom

[2021-04-05 15:02] tlimoncelli commented on #1116
That's an interesting idea!

I understand the value of having a script that executes instead of reading the file.   Many open source projects use different techniques. What do you think of these?

1. The execute bit:
    * `chmod a+x pass.sh ; dnscontrol push --creds=pass.sh`
2. Prefix with "!":
    * `dnscontrol push --creds=!pass.sh`
3. Use a flag to indicate that creds are executable:
    * `dn

[2021-04-05 15:33] x70b1 commented on #1116
Thanks for that response! I use `dnscontrol` on linux only.

I would say: All 4 ideas are solutions for the existing problem/idea.

1. Would be cool as the implementation on linux should be very easy, no bigger changes. We only have to check the file. But I have no idea ho wo solve this on windows systems.
2. Would be cool, as it is a configurable way.
3. I would be against idea as it introduces a

[2021-04-05 16:03] tmkis2 commented on #996
in providers/desec/convert.go remove the unused "strings" from the import in line 7 then this will work exceptionally fine with desec as provider.

[2021-04-05 17:36] jmpenalosa commented on #1114
Hi @tlimoncelli

It did work. Tried it just now. Apologies it took me a while, I was caught up with something else.

Thanks for your kind help!

[2021-04-08 16:28] tmkis2 commented on #996
This is the last thing that is bugging me with the desec provider.

This was fixed easily and is already mentioned below in a PR

Any idea how to fix the "\" problem with TXT record checks?

[2021-04-10 14:26] tlimoncelli commented on #1092
I think this isn't going to be fixed unless someone forks the otto project and starts applying the various PRs that have been submitted.  Sadly that's not something I can do.

[2021-04-11 13:06] tlimoncelli commented on #1106
Hi!

I figured out what was happening.  The problem wasn't what I expected.  I expected there to be a logic error when comparing "@" and "example.com".   However, that wasn't the issue.  In fact, everything is normalized to "@" properly before comparison.

The problem is that some providers insert NS/SOA records at the apex.  The IGNORE_NAME feature prevents users from accidentally using DnsContro

[2021-04-11 18:33] net47 commented on #1106
Maybe I'm doing something wrong, but I just build the Docker container using your branch and executed a `dnscontrol preview`, but I'm still getting errors.

[code]

My `dnsconfig.js` looks like this:

[code]

Using `IGNORE_NAME('')` deletes the root entry.

[2021-04-12 15:04] tlimoncelli commented on #1106
The error message mentions `@ TXT`... are there any TXT records being inserted in dnsconfig.js or by the provider?

[2021-04-12 16:00] net47 commented on #1106
This is my full dnsconfig.js:

[code]

[2021-04-12 18:10] tlimoncelli commented on #1106
Ah, I see the problem!

`IGNORE_NAME('@'),` means "I promise not to touch `tremmel.xyz` so that something else can have total control.

`TXT('@', 'v=spf1 include:_spf.google.com ~all')` adds something to `tremmel.xyz`, which violates the previous promise.

Possible work-around:  use the other DNS system to add those TXT records

[2021-04-12 18:17] net47 commented on #1106
Ok, now I also see it. `IGNORE_NAME` doesn‘t only ignores the A record but the complete name. Is it somehow possible to specify the record type when using `IGNORE_NAME`?

[2021-04-12 19:13] tlimoncelli commented on #1106
Not currently.

How would you feel about a flag like this?

        TXT('@', 'text string', { ignore_name_disable_safety_check: "true" } )),

[2021-04-12 19:35] tlimoncelli commented on #1106
I've done an initial implementation. Try this:

[code]

[2021-04-12 21:05] tlimoncelli commented on #996
It looks like the first and last quote aren't handled right.   In it might be providers/desec/protocol.go's upsertRR function not encoding things right, or providers/desec/convert.go near line 64 where it converts the record.

[2021-04-12 21:24] tlimoncelli commented on #1116
Thanks to @jpbede and https://github.com/StackExchange/dnscontrol/pull/1119, now you can either prefix the name with `!` or set the executable bit!

Test it out and let us know how it works for ya!

Re-open this ticket if you have any problems.

[2021-04-12 21:24] #1116 closed

[2021-04-12 21:43] x70b1 commented on #1116
@tlimoncelli I checked the executable bit. It works perfekt!

@jpbede Thanks for working on it!

[2021-04-13 06:23] net47 commented on #1106
Zero corrections and errors, looks good! Thanks a lot!

[2021-04-13 10:07] maxbraeutigam opened #1121 "Hostingde provider overrides TTL of NS records"
Hi @membero and @juliusrickert,
Thanks a lot for writing the `hostingde` provider! If I am using the `hostingde` provider, it overrides the TTL of the NS records to 300s although I am explicitly setting the `DefaultTTL` to something different.

[code]

Configuration looks like

[code]
Any help is highly appreciated.
Cheers,
Max

[2021-04-13 11:50] juliusrickert commented on #1121
Hey @maxbraeutigam,

you can use `NAMESERVER_TTL` to set the default TTL for nameservers.

But I do not know whether `DefaultTTL` should or should not apply to nameservers.
That is something @tlimoncelli will be able to tell you.

[2021-04-13 12:21] maxbraeutigam commented on #1121
Hi @juliusrickert, thank you very much. Indeed, it’s working. I am very sorry for the confusion. The name `DefaultTTL` was a bit misleading here. [`NAMESERVER_TTL` solves the problem.](https://stackexchange.github.io/dnscontrol/js#NAMESERVER_TTL)

[2021-04-13 12:21] #1121 closed

[2021-04-13 13:00] #1114 closed

[2021-04-13 13:01] tlimoncelli commented on #1106
I've merged the change into master.  It will be in the next release.

[2021-04-13 13:01] #1106 closed

[2021-04-13 15:28] cmsmith7 opened #1122 "Route 53: throttling: status code 400"
Hi, we have been using dnscontrol for almost a year to manage 5400+ domains and think this tool is seriously awesome so it pains me to raise an issue we have suddenly started experiencing on a daily basis.  We manage these domains via a github repo and a set of github actions, we filter for the files changed in PR's/merges to main as to only update those hosted zones to limit api calls and also up

[2021-04-13 16:02] tlimoncelli commented on #1122
5400 domains? That may be a new record!  I'm glad you find dnscontrol useful!

The Route53 provider has some rate-limiting code in it.  I didn't write it, so I'm not super familiar with it. That said, if it isn't working for you, that's a bug.

Can you help me reproduce the problem?

I'm surprised that AWS has a 5 api call per second limit.   Are you sure that isn't configurable?  Can you check wi

[2021-04-14 12:56] cmsmith7 commented on #1122
Many thanks for your quick response, unfortunately there is no way to consistently reproduce it just suddenly happens but has just been happening more often. We have AWS premier support and they have come back stating that it is a hard limit and cannot be changed (this is not the case, they just really do not like doing it as they say modifying this limit potentially unbalances their platform and

[2021-04-14 14:41] tlimoncelli commented on #1122
More questions:

1. Does the problem happen only in certain steps?
2. Does the problem happen if you just run `dnscontrol push`?  (Side note: I'm personally curious how long a full run takes vs. your optimized version if you can share that.)
3. Does the "zone preview" step run dnscontrol once for each domain or does it list multiple domains
   - `dnscontrol preview --domains foo.com ; dnscontrol p

[2021-04-15 09:03] cmsmith7 commented on #1122
Absolutely ..

1. Yes the preview and push steps.
2. I don't tend to use dnscontrol from CLI much now apart from when testing new versions of the binary, the build stage of this job when converting/importing bind zone files and testing the github actions so haven't experienced it when running manually.  Sorry by full run do you mean push all zones at once (we never do this - due to the amount of z

[2021-04-15 13:35] tlimoncelli commented on #1122
I'm unable to reproduce this.  Anything you can do to help create a reproduction case would be helpful.

Some random thoughts:

**Is this a problem with dnscontrol or the way dnscontrol is being called?**

To separate out those two possibilities, could you generate one big dnsconfig.js with all 5400+ domains and run "dnscontrol preview"?  If that doesn't get throttled, that would tell us something

[2021-04-16 17:59] tlimoncelli opened #1124 "DS tests fail for GANDI_V5"
DS tests for GANDI_V5 fail because the provider validates the data and our test data is just random strings, not real hashes.

Can someone that understands DS records better than me make better test data?

This is currently test 30 & 31 a.k.a. testgroup `"DS"` and `"DS (children only)"`.

CC @philpennock @kochie @jamaltebi

[2021-04-16 18:00] tlimoncelli opened #1125 "Change module upgrade process to use go-mod-upgrade"
`https://github.com/oligot/go-mod-upgrade`

[2021-04-16 18:23] rbelnap opened #1126 "all providers are initialized, even when specifying only one via --providers"
I may be misunderstanding something here, but I would expect when specifying `--providers` only those providers are initialized.  This is relevant to me because I have situations where I create zone files with the bind provider, but this fails if I add the cloudflare provider without valid credentials. (I don't want to distribute cloudflare credentials when only dealing with bind)  Oddly, the name

[2021-04-16 18:53] philpennock commented on #1124
Use something like:

[code]

That's a real value which is old (replaced with new data in May of last year) so is safe and should validate.

The first number is a uint16 which is a key tag, used to identify which key is being hashed, allowing for multiple keys.  Then there's an algorithm, a digest type, (both uint8), and finally the digest.  The algorithm matches the key in the child zone which is

[2021-04-16 18:54] tlimoncelli commented on #1126
In general the system shouldn't talk to a provider's API unless absolutely required. For example, each provider runs an initialization process that reads credentials but shouldn't try to use them until first use.

I looked at the `run()` function in `commands/previewPush.go` and I think I see the problem.  The system needs to talk with CloudFlare to discover the nameservers of the domain.

You cou

[2021-04-16 19:00] tlimoncelli commented on #1124
Thanks, Phil!  I'll give that a try.

Do you have an example record for other hash-types too?  Particularly type 4?  I'm getting an error with:

`ds("child", 65535, 1, 4, "38b060a751ac96384cd9327eb1b1e36a21fdb71114be07434c0cc7bf63f6e1da274edebfe76f65fbd51ad2f14898b95b")),`

[2021-04-16 19:04] philpennock commented on #1124
Support for anything other than SHA-256 (and legacy support for SHA-1) is going to be limited.  A lot of providers have sanity-checks and you can only use the numbers they currently support, which is a problem when they lag behind.  Per the IANA page, SHA-384 is Optional.

Honestly for regression tests I'd stick to checking digest type `2` and limit use of the others to reporting tools rather than

[2021-04-17 14:43] tlimoncelli commented on #1122
FYI:

I made an attempt to reproduce this and sadly couldn't.

I tried running many "previews" at the same time. My hope was that they would throttle.  I realize that in your environment they aren't run in parallel, but I thought I'd try to make the test as difficult as possible.

I ran a number of "dnscontrol preview" in parallel and I didn't see this error.

I put a list of domains that are on R

[2021-04-17 14:48] tlimoncelli commented on #1124
Ah!  That's what I needed to know.  That you!  Again you prove to be awesome, Phil!

Notes...

For most records with multiple fields, there are tests that change one field at a time.  This has caught bugs in both the global update algorithm and in the provider-specific code.

In the case of DS, this might not be completely possible since changing the type also requires changes the key.  Thus, ther

[2021-04-19 00:30] rbelnap commented on #1126
The use case is the one I described in https://github.com/StackExchange/dnscontrol/pull/918#issuecomment-718075597 Essentially, we run a local forwarding resolver on our hosts that also uses zone files generated from the dnscontrol bind provider to resolve internal records.  Those same records are managed publicly by namecheap, and now cloudflare.

Passing in the 0 looks to work as expected, thank

[2021-04-19 01:46] tlimoncelli commented on #1126
The number means "query the registrar to see who the nameservers are, but only use the first n of them".  If the number is >0, then the nameservers are sorted and the first n are used.  Stack Overflow uses this to take 2 from each of its provider's nameservers.

[2021-04-19 14:52] philpennock commented on #1124
Minor note: RFC 4034 is the original spec, since updated.  Anything like "only this algorithm" is subject to change; the IANA links I provided above are the canonical reference to current algorithms and status ("MANDATORY" vs "OPTIONAL").
So in the comments, I'd reference that rather than perpetually claim that only SHA1 is valid (while still providing SHA2/256 testdata).

[2021-04-19 16:46] rbelnap commented on #1126
ok, good to know! It looks like the namecheap provider hardcodes the default nameservers, so I never ran into this before.

[2021-04-19 16:46] #1126 closed

[2021-04-21 20:34] DrewTurner opened #1128 "R53_ALIAS to Cloudfront Distribution - InvalidChangeBatch"
DNSControl-Linux version 3.8.0

When adding an A record for R53_ALIAS to a cloudfront distribution like so:

`R53_ALIAS('@', 'A', '38d2dc74ceaa.cloudfront.net', R53_ZONE('Z2FDTNDATAQYW2'))`

I receive the following error:
[code]
The docs indicate I need the cloudfront distribution to include the alternate domain name that matches the record and that is present.

Do I have the syntax of that R53 al

[2021-04-21 20:55] tlimoncelli commented on #1128
CC: @masterzen @maclennann

[2021-04-21 20:57] tlimoncelli commented on #1128
Should there be a `.` at the end of `'38d2dc74ceaa.cloudfront.net.'`  ?

I ask because when I look at the error message (and insert line breaks to make it easier to examine) I see one is missing:

[code]

[2021-04-21 21:00] tlimoncelli commented on #1128
Note to self: If adding the `.` fixes this, we should update `docs/_functions/domain/R53_ALIAS.md`'s examples (which don't have trailing dots) and document that this error sometimes means there is a missing dot.

[2021-04-22 10:33] flymia opened #1129 "SOA in DnsProvider not visible in generated zonefiles"
Hi!

when trying to generate zonefiles for Bind, the SOA settings, that I make in the NewDnsProvider function are not written to the generated zonefiles.

My dnsconfig.js looks like this:

[code]

Now in the example-zone I have the following contents in the top:
[code]
However, when I do a dnscontrol push and look at the generated zone files, the SOA still says:

[code]
Do you have an idea what I

[2021-04-22 14:28] tlimoncelli commented on #1129
The short answer is: Edit the zone file.

The long answer is...

SOA records are a bit weird in DNSControl.   Most providers auto-generate SOA records which can't be modified.  BIND is unique in that it requires users to manage the SOA records.  BIND's SOA support is kind of a hack.  It leaves the SOA record alone, with 2 exceptions:

1. The serial number: If something in the zone changes, the ser

[2021-04-22 15:07] DrewTurner commented on #1128
@tlimoncelli - Tom thank you for your quick feedback.  Adding the . as the standard for these does indeed fix the issue.

[2021-04-22 15:07] #1128 closed

[2021-04-22 16:35] tlimoncelli opened #1131 "SOA should be like any other record"
There should be a `SOA()` function and possibly a `SOA_BUILDER()` too.

See https://github.com/StackExchange/dnscontrol/pull/1115

[2021-04-22 19:28] tlimoncelli commented on #1090
Fixed by https://github.com/StackExchange/dnscontrol/pull/1133

[2021-04-22 19:28] #1090 closed

[2021-04-22 19:36] tlimoncelli commented on #1124
Updated comments in https://github.com/StackExchange/dnscontrol/pull/1134

[2021-04-22 19:36] #1124 closed

[2021-04-22 19:45] tlimoncelli commented on #1125
Fixed as part of https://github.com/StackExchange/dnscontrol/pull/1135

[2021-04-22 20:07] #1125 closed

[2021-04-23 06:43] jpbede opened #1137 "PowerDNS: credentials for integration test"
@tlimoncelli is there a way to send you credentials for the integration test of PowerDNS.
I've setup a stage PowerDNS server for the integration tests which i already use in my fork.

[2021-04-23 13:37] tlimoncelli commented on #1137
Sure!  Use https://transfer.secretoverflow.com/u/tlimoncelli to securely send me anything.

[2021-04-23 16:47] jpbede commented on #1137
Thanks 👍

[2021-04-23 16:47] #1137 closed

[2021-04-27 11:07] cmsmith7 commented on #1122
Hi .. I am so happy to report back that dnscontrol was not the cause of this issue so I can happily retract my first line of my initial post, I suspected due to the extensive testing/discussions and all things taken into account i.e intermittency, updates of a single address that there was something else running in the account, so we reached out to AWS to delve deeper who in turn reached out to th

[2021-04-27 11:07] #1122 closed

[2021-04-27 13:40] tlimoncelli commented on #1122
I'm super glad this story has a happy ending!  Best of luck in the future!

[2021-04-29 17:41] kurthockenbury opened #1139 "Long TXT not working with NS1"
Similar to #996 and #1003, I would like to see long TXT support for NS1. Testing the API with curl, and later confirmed when talking with NS1 over Zoom today, NS1 falls into the group of providers that accept TXT records >255 characters and autosplit them on their end.

[2021-04-29 19:15] tlimoncelli commented on #1139
Sadly the maintainer of the NS1 provider is no longer with the project.

I'd be glad to walk you through fixing this.  The code for TXT record handling was recently rewritten and is much cleaner than before.

[2021-04-30 13:26] split-and-join commented on #1104
@tlimoncelli I cobbled together this branch with a few changes.. It is mostly working, but I believe that the PSRemote values that are returned aren't being typed correctly.

https://github.com/StackExchange/dnscontrol/compare/master...split-and-join:update-msdns-pssession

[2021-04-30 17:04] kurthockenbury commented on #1139
I may be stepping in over my head, but I can try. I have never coded in golang before. I have followed the instructions, used "go get" and was able to build 3.8.1-dev, so I suppose I am ready to take my first bite of the elephant.

[2021-04-30 19:46] split-and-join commented on #1104
I actually think I got it to work for remote and local sessions on my current branch. These are the different cases I have tried

- Using only dnsserver in creds.json
- Using only pssession in creds.json
- Using pssession, psusername, pspassword in creds.json

And they all do the expected of returning output.

[2021-04-30 21:06] tlimoncelli commented on #1104
Wow!  I'm really excited about this!  I'll have time to look at this over the weekend.

Question for ya:  How's the performance?   I seem to recall it was the Json conversion at the end that was slow when I did this, but I also think I was having some kind of system problem at the time.

[2021-05-01 09:45] sharat87 opened #1142 "Support ALIAS records for Namecheap"
Version: `dnscontrol v3.8.1-dev`

When I have the following `dnsconfig.js`:

[code]

I get the following error:

[code]

However, I am able to configure ALIAS records on Namecheap from the web UI like this:

![Screenshot 2021-05-01 at 15 13 06](https://user-images.githubusercontent.com/120119/116778491-d37a8780-aa8f-11eb-813c-afb88f7c9066.png)

I'd be interested in contributing, if this is not jus

[2021-05-02 15:24] tlimoncelli commented on #1142
Hi there!

Yes!  PRs are always welcome!

If the web UI supports ALIAS, it should be easy to add to DNSControl.

My advice is to read the article called "Step-by-Step Guide: Adding new DNS rtypes: How to add a new DNS record type" which is on http://dnscontrol.org/   The article assumes you are starting from scratch. However since ALIAS already exists for other providers, most of that work is alre

[2021-05-02 15:28] tlimoncelli commented on #1104
Cool cool.  A little slower is to be expected. The problem I had must have been something different.

Thanks for the PR!    I'm glad this feature now works!

[2021-05-03 00:20] split-and-join commented on #1104
Sweet Deal! Happy to contribute! Will look at maybe testing cross platform powershell for this resource next.

[2021-05-03 00:20] #1104 closed

[2021-05-04 13:00] split-and-join commented on #1010
@areynolds77 the provider was recently updated for pssessions in PR #1140

[2021-05-04 13:12] tlimoncelli commented on #1010
@areynolds77: We just merged PR #1140 which should fix this.  Could you give it a try?

[2021-05-06 16:10] tlimoncelli opened #1146 "SOA needs integration tests"

[2021-05-07 18:58] tlimoncelli opened #1148 "PowerDNS occasionally fails"
CC: @jpbede

An integration test that removes a CNAME and puts an A record in its place frequently fails.

https://github.com/StackExchange/dnscontrol/runs/2530119113?check_suite_focus=true

[code]

[2021-05-07 19:12] jpbede commented on #1148
Thanks for the heads up. Will check this

[2021-05-08 13:51] sharat87 commented on #1142
Thank you for the details @tlimoncelli, turns out the change I need to make is unbelievably small. Kudos to such well-organized implementation that enabling this took such little change.

[2021-05-09 08:14] jpbede commented on #1148
I've check this. It seems to me to be a weird timing problem.

It seems that PowerDNS has accepted the change, replied with a HTTP 200 but the storage engine hasn't done the change yet. Then the next test case gets the records without the prev. created ones. Which then fails, as the prev. record needs to be removed first.

I can't reproduce this running the test locally but when running them on my

[2021-05-09 11:05] costasd opened #1151 "Please enable CAA support in NS1"
Hi,

NS1's rest client has CAA support already, so in order to enable CAA record handling in for ns1, seems that we just need to enable the capability and add support for handling the records in dnscontrol's provider.

I've created PR #1150 to that extent. Tested addition/deletion/modification with a private domain I've got under NS1's management, not sure if there's some testsuite I should add su

[2021-05-10 12:51] tlimoncelli commented on #1148
Yeah, that test finds bugs with many providers.  Often it is like your situation... a "eventual consistency" database gets confused.

At least it isn't a situation like with one provider where the code had to change to a different API call, which required refactoring a lot of DNSControl code!

Some ideas:
* If the error is detected, retry a few times before giving up with an error.
* Re-order the

[2021-05-10 12:52] #1142 closed

[2021-05-10 12:53] tlimoncelli commented on #1142
Merged. Thank you for taking the time to look into this and produce the PR!

[2021-05-10 13:12] jpbede commented on #1148
Oh i'm damn stupid 🙈  I totally forgotten that Go doesn't keep the sorting of a `map`. Not the first time i forgot this.

I'm sorting the delete corrections in the function `ChangedGroupsDeleteFirst` to the beginning but this doesn't mean that they are kept like this. So it can be likely that the delete may occur after a create correction.

I'm going to create a fix for this.

[2021-05-10 14:18] #1148 closed

[2021-05-13 09:55] koenrh opened #1155 "Delete tag 'v999.0.0' from 'stackexchange/dnscontrol' Docker Hub repository"
Hey folks! Would it be possible to get the tag [`v999.0.0`](https://hub.docker.com/layers/stackexchange/dnscontrol/v999.0.0/images/sha256-d94bacace7a25256fc08386f636b204bc16eeecef059f04ebab64769babd2f42?context=explore) deleted from the '[stackexchange/dnscontrol](https://hub.docker.com/r/stackexchange/dnscontrol/)' Docker Hub repository? It is messing with some tools like GitHub's Dependabot for

[2021-05-13 12:59] tlimoncelli commented on #1155
I've deleted v999.0.0 and v777 and a few other tags that looked like tests or mistakes.

[2021-05-13 22:36] tresni commented on #989
I originally did something similar, I changed away from it when I decided I wasn't going to require that all addresses be present (e.g. for an IPv4 or IPv6 only host), but still wanted it to auto-generate the PTR record.  Once I did that it got complicated.

[2021-05-14 08:57] costasd commented on #1151
Support merged.

[2021-05-14 08:57] #1151 closed

[2021-05-18 22:00] tlimoncelli commented on #989
My plan is to create a page in the documentation with "cool macros you might want to copy" or something like that.

Do either of you populate the metadata with Ethernet MAC addresses and use that info to generate ISC DHCP configurations?  I've heard people mention that but I haven't see it done yet.

[2021-05-20 21:22] tlimoncelli commented on #1044
Microsoft was helpful (Premier support ticket # 2104120040006916) and gave this work-around:

The bad news is that the powershell module does not support adding NAPTR records.
The good news is that there is a work-around using `dnscmd`:

[code]

Here is a working example:

[code]

[2021-05-21 03:07] tresni commented on #989
I do not as we don't really use DHCP today.  Should be relatively easy since the macro already allows passing parameters beyond the hostname/ip and those extra arguments are passed to A/AAAA records (but not PTR, that may have been an oversight.)

[2021-05-21 15:21] tlimoncelli commented on #1155
Closing (done). Please re-open if it is closed in error.

[2021-05-21 15:21] #1155 closed

[2021-05-21 15:22] tlimoncelli commented on #1146
Fixed in 24083d3f7

[2021-05-21 15:22] #1146 closed

[2021-05-21 15:23] tlimoncelli commented on #1131
Fixed by https://github.com/StackExchange/dnscontrol/pull/1115

[2021-05-21 15:23] #1131 closed

[2021-05-21 15:37] tlimoncelli commented on #1129
With the SOA record handling being rewritten plus dff983131a44f34fa7c56706f5088658fff2205a I'm confident this issue is resolved.  Please feel free to re-open this issue if needed.

[2021-05-21 15:37] #1129 closed

[2021-05-21 15:38] tlimoncelli commented on #1091
CC @svenpeter42

[2021-05-21 15:40] tlimoncelli commented on #1048
Did anyone respond to you directly?

PowerDNS support was contributed recently.  I hope that helps!

[2021-05-21 15:41] tlimoncelli commented on #1010
Friendly ping?

[2021-05-21 15:55] tbarrett-encirca commented on #1048
Hi Tim,

No one responded.

Thanks

Tom

On Fri, May 21, 2021, 11:41 AM Tom Limoncelli ***@***.***>
wrote:

[2021-05-21 20:45] kurthockenbury commented on #1139
I was going to take a crack at this, but work has now decided on Cloudflare DNS (since we were paying for Cloudflare anyway), so this has dropped off my priority list.

[2021-05-22 07:09] svenpeter42 commented on #1091
sure, i'll take a look and fix it.

[2021-05-27 10:55] jpbede opened #1163 "Automatic code review for PR"
I'm using more and more [Codacy](https://www.codacy.com/) in my projects for automatic code review. An example: https://app.codacy.com/gh/jpbede/loki-auth-proxy/dashboard.

Maybe this is something you may consider for pull requests, this would enhance your workflow @tlimoncelli as it may catch some of your code style suggestions.

I'm happy to help there.

[2021-05-27 11:48] tlimoncelli commented on #1163
I'll try anything once! :-)

[2021-05-27 20:49] svenpeter42 commented on #1091
Alright, this is a combination of two things

- The INWX API returns 301 as a string even though its documentation claims it should always be an integer. I'll contact INWX support about this issue since it should likely be fixed on their side
- The INWX provider right now has no support for the special record type URL. I'm in-between jobs right now but will add that support once things have settle

[2021-05-28 14:03] x70b1 opened #1164 "feature request: add SOA management for other providers"
`dnscontrol` is now able to manage SOA records in BIND zone files (#1115).

I would love to see this feature also for other providers.
SOA management is probably not necessary at the most providers as they work via an API which takes care of it.

I work with the `axfrddns`provider and a SOA management would be very cool there.
SOA's could be handled via other tools too, but the feature that `dnsco

[2021-05-30 18:05] tlimoncelli commented on #1164
CC @hnrgrgr

[2021-06-02 21:33] wfu-linuxadmin opened #1168 "update RPM package information in future releases"
For the RPM packages created with each release, the package info such as URL & summary are filled in with generic template information instead of real information.

[code]

As you build new releases, would you consider filling in at least the URL field with https://stackexchange.github.io/dnscontrol/  instead of the invalid example.com URL?

[2021-06-02 21:45] tlimoncelli commented on #1168
Hi there!

We'd be glad to fix this.   I'll get to this in the next week or so.

Note to self: `dnscontrol/.github/workflows/release.yml`

Tom

[2021-06-02 21:46] tlimoncelli commented on #1168
CC @atma-stackoverflow

[2021-06-03 14:40] peterthomassen commented on #31
When several DNS providers share the operational responsibility for a zone, they need to serve each other's DNSKEY records, otherwise resolvers may end up with broken validation paths. (Example: Resolver queries an A record which is signed with provider A's key, but when fetching the key, the resolver talks to provider B. This is permissible. If provider B now only servers their key, validation wi

[2021-06-10 15:38] #1168 closed

[2021-06-12 13:32] rugk opened #1175 "Dynamic dns support?"
Do you have support for dyndns?

You e.g. support deSEC, but only their managed domains, do you?
As such, the IP update URL is unused, is not it? https://desec.readthedocs.io/en/latest/dyndns/update-api.html

[2021-06-13 08:21] jpbede commented on #1163
Since CodeQL comes with PR #1172, i close this issue

[2021-06-13 08:21] #1163 closed

[2021-06-20 09:59] IzumiSenaSora opened #1176 "EU.ORG Registrar Support"
EU.ORG provide free subdomain registration to users or non-profit organizations who cannot afford the fees demanded by some NICs.

[2021-06-20 13:17] IzumiSena commented on #996
Aha! So it was DNSControl Issue! I though its was deSEC API issue! BTW waiting to for fix! Thank You!

[2021-06-20 16:02] tmkis2 opened #1177 "deSEC Provider and Pagination"
Using deSEC will stop working as soon as you reach the 500 domain limit there. Pagination is required to get the whole domain list. @peterthomassen mentioned that the validity of a domain should be checked without getting the whole domain list.
In EnsureDomainExists() the whole domainlist is fetched and then checked against the domain name. Right solution would be to append the domainname to the e

[2021-06-20 20:16] tlimoncelli commented on #1177
I don't have a deSEC account, so @D3luxee will have to fix this.

[2021-06-22 11:41] D3luxee commented on #1177
I will take a look at it in July, but do you really have over 500 domains or is this a theoretical issue? :D
I'm just curious.

[2021-06-22 11:47] tmkis2 commented on #1177
I have 499 at deSEC at the moment because I rely heavily on dnscontrol to manage them. My other domains at (mostly at hosting.de) should be transferred over to deSEC which makes a total of ~850 Domains. :)

[2021-06-23 19:04] TorvusBog opened #1178 "Google Domains (dynamic DNS)"
Is there any support for this (creds.json)?

I didn't found any documentation associated and it will be awesome for my projects.

Thanks a lot!

[2021-06-23 21:19] tlimoncelli commented on #1044
Decoding the JSON file has:

Error getting corrections: msdns/convert.go:nativeToRecord rtype="NAPTR" unknown: props=map[Data:01000A000155074532552B7369701B215E282E2A2924217369703A5C314031302E3136382E322E31302100] and map[]

[2021-06-23 21:32] tlimoncelli commented on #1178
The [Google DNS provider](https://stackexchange.github.io/dnscontrol/providers/gcloud) doesn't support the Dynamic DNS feature at this time.

Sadly this isn't a feature we use, so I wouldn't know how to go about adding it.  I'd be glad to walk you through adding it yourself.   There's a tutorial called [Creating new DNS Resource Types](https://stackexchange.github.io/dnscontrol/adding-new-rtypes)

[2021-06-23 22:10] tlimoncelli commented on #1044
The tlim_naptr branch is working on a decoder for the big NAPTR hex string.

[2021-06-23 22:23] tlimoncelli opened #1180 "MSDNS zones are being downloaded twice"
While debugging something else we saw this happen.  Needs more discovery.

[2021-06-29 15:40] PartTimeDataScientist commented on #996
Any chance that someone looks into this issue in the forseeable future? This seems to be **very** close to a fix but like with NS1 the listed "maintainer" @D3luxee does not seem to maintain the implementation any longer. At least he didn't participate in the discussion on this issue which is now >6 months old. (And this is not to be understood as accusation but more an observation!)

Not being abl

[2021-06-29 18:25] tlimoncelli commented on #996
Sadly the community-supported providers need the support of the community to survive.  As the maintainer of DNSControl, I can't take on the responsibility of maintaining them.  However this doesn't mean the owner of a provider should fix every bug.  Everyone can step up.  The code is very easy to read and we have a test suite that makes it easy to be sure you haven't broken anything.  We have a nu

[2021-07-02 10:43] kotnik opened #1195 "Commented out NAMESERVER() applied in ROUTE53"
I am probably doing something wrong, or this is related to #741.

Fresh Route53 zone, ` dnscontrol get-zones` gave following `dnscontrol.js`:

[code]

Even though `NAMESERVER()` ones are commented out, `dnscontrol push` does:

[code]

How is this possible?

[2021-07-02 13:18] tlimoncelli commented on #1195
Ah, this is a great question!

The change is to the TTL (from 172800 to 300).  However, you may be asking why is it changing something that is commented out?

2 things are happening here:

First, `DnsProvider(awsr53)` actually means two things:
  - DNS updates should be sent to awsr53, and
  - Ask awsr53 what my NS records should be, and act as if there are NAMESERVER() statements for them.  You c

[2021-07-03 15:27] D3luxee commented on #996
I will take a look into this in the next days, i was very busy over the last months and had no time left. Now i got vaccation and can afford to spend some time on this.

[2021-07-05 14:06] kotnik commented on #1195
Thank you for complete explanation, it really helped me to understand what is going on here.

[2021-07-05 14:06] #1195 closed

[2021-07-07 14:51] D3luxee commented on #1177
I started to work on this and already implemented the token validation using the /auth/account api endpoint.

I've also change the EnsureDomainExists() function to validate each individual domain instead of fetching the whole list.
This means that dnscontrol will do one api call for each domain configured when ever you run `dnscontrol create-domains`, in your case this will be ~850 api calls which

[2021-07-07 15:12] tmkis2 commented on #1177
Thank you very much @D3luxee - great to hear about the progress. Because of the rate limits I already splitted domains in separate directories for all domains starting with 0-9, a, b, .... so there are only a few of them in each dnsconfig.js - using require for shared variables and credentials works fine for me.

[2021-07-07 18:47] D3luxee commented on #996
I think its working now the provider can create, update and delete long / multistring txt records now.
Please build and test the long_txt branch here: https://github.com/D3luxee/dnscontrol/tree/long_txt

[2021-07-07 18:48] D3luxee commented on #1177
Can you build and test the long_txt branch over here: https://github.com/D3luxee/dnscontrol/tree/long_txt

[2021-07-07 19:13] tmkis2 commented on #1177
I did. Create domain worked great but after dnscontrol push I get:

`~/dns/domains/0-9# dnscontrol push
failed fetching domain list (deSEC): Pagination required. You can query up to 500 items at a time (501 total). Please use the `first` page link (see Link header).`

[2021-07-07 19:24] tlimoncelli commented on #1177
Would it be possible to handle rate limits here the same way they are handled in `protocol.go`?   It would be excellent if people didn't have to split their config files.

In `protocol.go` this provider handles rate limits in a very clean way.  If `resp.StatusCode == 429` we know we've hit a rate limit. The code sleeps for 500ms and tries again.  `429` guarantees that the exact same request can be

[2021-07-07 20:42] tlimoncelli opened #1205 "Providers should lazy-authenticate"
Some providers don't authenticate until needed. Others authenticate on initialization (newPROVIDER()).

Neither is better.  Users appreciate early authentication because it validates the credentials early, giving feedback right away if they have invalid creds.    However by doing it that way, many providers authenticate once for each domain, which is slow and wasteful.

What would be better is if

[2021-07-08 08:49] peterthomassen commented on #1177
When a request is throttled, the response will contain a `Retry-After` header stating the number of seconds after which the next request will be allowed. (This is currently not documented, but I'll add it to https://desec.readthedocs.io/en/latest/rate-limits.html later.)

So the preferred time to sleep would be the value of the `Retry-After` header, possible with 500ms subtracted (that may give yo

[2021-07-08 08:55] D3luxee commented on #1177
Thanks for this information, i think this should be easy to implement.

[2021-07-08 08:57] peterthomassen commented on #1177
I just checked, and the number given by the header is converted from float to int, so it is already the case that 500ms are subtracted (on average). The best sleeping duration would thus simply be the header's value.

[2021-07-08 09:02] D3luxee commented on #1177
Are you sure that you build the correct branch? The error message you quoted is part of the old code(master branch) not the new one (long_txt).
The error you sent was in the fetchDomainList function which does not exist anymore.

[2021-07-08 09:03] D3luxee commented on #1177
Are you sure that you build the correct branch? The error message you quoted is part of the old code(master branch) not the new one (long_txt).
The error you sent was in the fetchDomainList function which does not exist anymore.

[2021-07-08 09:25] D3luxee commented on #1177
I've implemented this and its working perfectly, this is now part of the PR: #1204

[2021-07-08 09:54] tmkis2 commented on #1177
my fault! Sorry - it works as expected! Great work! 👍

[2021-07-08 09:55] D3luxee commented on #1177
Great, thats good to hear!

[2021-07-08 14:06] #996 closed

[2021-07-08 14:40] D3luxee commented on #1177
@tlimoncelli this issue was also resolved with #1204 and can be closed.

[2021-07-08 14:58] peterthomassen commented on #1177
Thinking about it: if you have 2000 domains and query each one's existence individually, you will run into the daily rate limit. I'd thus say this issue should remain open until a better solution is found.

[2021-07-08 19:50] tlimoncelli commented on #1177
@peterthomassen Good point.  Maybe it would be better for the first instance to download the complete list and store it for future instances to use as a reference.

[2021-07-09 08:50] D3luxee commented on #1177
@peterthomassen is there any documentation regarding pagination on the domain list?
I could only find pagination for the rrsets https://desec.readthedocs.io/en/latest/dns/rrsets.html?highlight=pagination#pagination

[2021-07-09 09:33] peterthomassen commented on #1177
Pagination for domains works the same way as for RRsets, so the docs [just reference it](https://desec.readthedocs.io/en/latest/dns/domains.html#listing-domains):

There is an example implementation [here (Python)](https://github.com/desec-io/desec-tools/blob/master/fetch_zone.py#L30).

[2021-07-10 19:19] stephenrob commented on #456
@tlimoncelli you got any suggestions for where to start implementing this using `D()` Would be useful for a couple of places I use dnscontrol so happy to take a go at implementing this but would need some pointers on where to start.

[2021-07-10 19:21] bybtiz-nedfic-1jigfA commented on #456
I’ve not got a clue is my ex wife hacking me

Sent from my iPhone

[2021-07-10 22:13] D3luxee commented on #1177
@tmkis2 could you build and test the desec_pagination branch: https://github.com/D3luxee/dnscontrol/tree/desec_pagination
In theory this should work but i couldn't test it with my 3 domains :D

Please run dnscontrol with "-v" and send me its output if there are any errors
`dnscontrol -v preview` should be sufficient for the test

[2021-07-11 05:50] tmkis2 commented on #1177
Seems to work great. 👍

[code]

[2021-07-11 12:49] D3luxee commented on #1177
Thats great, i will implement this pagination for the rrsets aswell.

[2021-07-15 03:55] IzumiSena opened #1210 "Release a new build please!"
deSEC TXT issue is fixed! So can you guys release a new build please?
I know i can build it with GO! But i manage my domain via git! And i don't know how to do update DNSControl git package!
So can you guys release a new build please!

[2021-07-15 13:09] problame opened #1211 "deSEC: quoting with TXT records"
Using the `TXT` modifier currently requires double-quoting, which is unintuitive and detrimental to the portability of the `dnsconfig.js` to other providers.

---

As a user, I expect to be able to write the following `TXT` modifier:

[code]

However, this results in the following `dnscontrol` error:

[code]

After a bunch of head-scratching, I found https://desec.readthedocs.io/en/latest/dns/rrse

[2021-07-15 16:21] D3luxee commented on #1211
Hi @problame ,
which version did you use?
I've recently made alot of changes to the desec provider which are only part of the master branch.
This double quoting shoud already be fixed i guess.

[2021-07-15 16:31] problame commented on #1211
I ran `go get github.com/StackExchange/dnscontrol/v3` today.

[code]

[2021-07-15 16:38] problame commented on #1211
I just tried your commit

[code]

Seems to work :pray:

[2021-07-20 09:57] D3luxee commented on #1210
There is still a open PR #1208 which should be merged before the next release.

[2021-07-21 15:50] tlimoncelli commented on #1164
I'm renaming this to be specific to AXFRDDNS.  Since each provider is maintained separately, anyone that wants SOA management should request it separatrely.

You might want to try adding support yourself.  Just enable the capability and run the test suite. It might "just work". If not, fixing it should be relatively easy. This would be a good starter project if you are just learning Go.

[2021-07-22 09:10] #1210 closed

[2021-07-22 15:00] wararjey opened #1218 "inwx: domain entries for apex stopped working"
I recently got a new domain and discovered that my dnscontrol setups stopped working. Here are a few examples:
[code]
dnscontrol check says everything fine
dnscontrol preview says everthing is fine
for unchanged data for existing domains, dnscontrol push is fine
for new domains, all the entries with the "@" key give me errors like this one

[code]
I guess there has been a change to the inwx api, s

[2021-07-22 15:15] tlimoncelli commented on #1218
CC @svenpeter42

[2021-07-25 08:38] blackshadev commented on #1211
@tlimoncelli Can you close this one? The last status indicates this is resolved.

[2021-07-25 15:32] svenpeter42 commented on #1218
It looks like INWX has decided that they no longer accept "@" but want an empty string instead.

[2021-07-25 15:51] #1218 closed

[2021-07-25 15:53] #785 closed

[2021-07-25 15:54] tlimoncelli commented on #1211
Thanks!

[2021-07-25 15:54] #1211 closed

[2021-07-27 14:18] kotnik commented on #719
Sorry for bumping up, but I have the same issue using `dnscontrol v3.11.0 ("6fc3534aa3b74bdb4b7fb7092068abc26e4753e1[dirty]") built 25 Jul 21 16:06 UTC`.

I used `dnscontrol get-zones` to import existing AWS Route53 hosted zone with bunch of records, and I had to manually add a dot to each CNAME/MX that didn't have it. And that's fine.

But every `dnscontrol push` tells me:

[code]

And it doesn't

[2021-07-27 15:42] tlimoncelli commented on #719
Hi @kotnik !

I'd be glad to help.   I tried to repro your situation and couldn't.  Could you help me reproduce the problem in my environment?

Here's what I did:

1.  I added these records to a domain that is on Route53:

[code]

I pushed these into the domain with `dnscontrol preview --domains stackoverflowsolutions.com` then `dnscontrol push --domains stackoverflowsolutions.com`

2. I downloade

[2021-07-28 14:09] kotnik commented on #719
Hello Tom.

I decided to try to replicate this too, so I create an empty zone in AWS Route53 and test it myself too. Here's the whole repo I used for testing: https://github.com/kotnik/testdomain.com

In short, you were right, changes are applied, but one by one! Take a look at the end of my [shell history](https://github.com/kotnik/testdomain.com/blob/master/history.sh). Since the DNS zone I orig

[2021-08-02 09:25] kotnik commented on #719
Found out that the issue is already documented: https://github.com/StackExchange/dnscontrol/pull/901/files

[2021-08-02 09:25] kotnik commented on #719
I found out this issue is already documented: https://github.com/StackExchange/dnscontrol/pull/901

[2021-08-10 12:13] wolfedale commented on #183
I'm looking for a similar option but I would like to specify record type. Is it possible? I'm trying to use `NO_PURGE` and `IGNORE_NAME('')` but those are not doing what I'm expecting. My problem is that I want to specify some records by dnsControl, and I don't want to touch (add,modify,delete) all the others which are not in the dnsControl.

I'm experimenting with those two but I'm always getting

[2021-08-10 12:30] tlimoncelli commented on #183
Not at this time.  PRs accepted.

Please start a new issue if you want to discuss this particular situation.

[2021-08-10 12:30] wolfedale opened #1233 "IGNORE all records that are not in the dnsControl config"
Is it possible to manage only records which are specified in the dnsControl? I have a case where I have some records added from another place/tool and I don't want to modify or delete them by dnsControl.

I already checked `NO_PURGE` and `IGNORE_NAME` but looks like those are not working:

`----- Getting nameservers from: gcloud ----- DNS Provider: gcloud... 1 correction #1: CREATE A foo.example.c

[2021-08-10 12:54] tlimoncelli commented on #1233
The short answer: If you want DNSControl to ignore the NS records, use the "NONE" Registrar.

[code]

Longer answer:

In your example DNScontrol is trying to change the TTL of those records.  It seems to me that you have two systems that are disagreeing on what the TTL should be.   I don't think you want the TTL to change back and forth as dnscontrol and the other system battle each other.  I thin

[2021-08-10 12:54] tlimoncelli commented on #1233
I'm adding this example to the docs: https://github.com/StackExchange/dnscontrol/pull/1234

See more examples here: https://stackexchange.github.io/dnscontrol/nameservers

[2021-08-10 13:05] wolfedale commented on #1233
Sorry, I think I wasn't clear enough. My problem is not only with NS servers, it's about all the other records types.

For example, this is my config:

`
var REG_NONE = NewRegistrar('none', 'NONE');
var GCLOUD = NewDnsProvider("gcloud", "GCLOUD");

D("example.com", REG_NONE, DnsProvider(GCLOUD),
    A("bar","8.8.6.6", TTL('60')),
    TXT("bar","BAR", TTL('60'))
);
`

and I also created 2 additiona

[2021-08-10 13:09] wolfedale commented on #1233
I think `MY_PURGE` is doing a job. At least I just added it and looks like dnsControl is not touching those `foo` records anymore. I think it didn't worked before because I tested it with `NS` records.

[2021-08-10 13:12] wolfedale commented on #1233
Yes, it's working. Thanks for your help with the NS records. Looks like `NO_PURGE` is what I was looking for :-)

[2021-08-10 13:12] #1233 closed

[2021-08-11 20:18] patschi commented on #860
I think the core issue here is solved/clarified, so it might be closed I think, @tlimoncelli.

[2021-08-11 22:59] patschi opened #1235 "OVH: "Invalid subfield found in DKIM" on correction"
After updating dnscontrol from 3.3.0 to commit 6fc3534aa3b74bdb4b7fb7092068abc26e4753e1 (basically 3.11, reason: due to INWX fix) doing any corrections on OVH-owned domains fail with:

[code]

Relevant config for this TXT record is:
[code]

I'm not sure if that's related to the reworked TXT logic in [v3.8.0](https://github.com/StackExchange/dnscontrol/releases/tag/v3.8.0), as it passed the tests w

[2021-08-11 23:14] tlimoncelli commented on #1235
Does [DMARC_BUILDER()](https://stackexchange.github.io/dnscontrol/js#dmarc-builder) generate the same string?

[2021-08-11 23:21] patschi commented on #1235
That's for DMARC, not for DKIM (what's causing the error above), so unfortunately won't help. Noteworthy is, that INWX works just great with the exact same record, and also the record hasn't changed in the config.

(But indeed a good idea switching over to the DMARC_BUILDER for my DMARC entries, thanks for the note!)

[2021-08-11 23:22] tlimoncelli commented on #860
Glad it's working better!

If you do find special issues related to .ro domains, please add them to the docs (https://stackexchange.github.io/dnscontrol/providers/inwx)

Tom

[2021-08-11 23:23] #860 closed

[2021-08-11 23:27] tlimoncelli commented on #1235
Oops! I conflated the two :-(   Thanks for the correction.  (There used to be a DKIM() function but now TXT() does splitting and DKIM() is just a no-op.

[2021-08-13 20:45] patschi commented on #1218
Thanks Montgomery for your very fast reply to my ticket and in this GitHub issue here!

@tlimoncelli @svenpeter42 I think it might be worth reverting the commit to stick with the `@`? `@` is very common practice and is working again, so I think it might make sense.

[2021-08-13 22:29] patschi commented on #1235
No worries!

The OVH API really acts strange...

When using as TXT record:
[code]
The error is:
[code]

[2021-08-14 12:20] svenpeter42 commented on #1218
Yeah, agreed. We should be able to just revert this commit now.

[2021-08-14 18:42] tlimoncelli commented on #1218
Sure!  Submit a revert PR. (I defer to your expertise. I'm fine either way.)

[2021-08-14 19:45] tlimoncelli commented on #1066
Done.

[2021-08-14 19:45] #1066 closed

[2021-08-14 19:46] tlimoncelli commented on #1044
No active requests for this feature exist at this time.

[2021-08-14 19:46] #1044 closed

[2021-08-22 18:09] fleaz opened #1240 "vultr: TXT Records are not working"
Hey,

after migrating my mail server recently I had to update my DKIM keys after a long time and discovered that changing/creating TXT records at Vultr is broken and results in a `FAILURE! Unable to add record: Record data must be enclosed in quotes` error when running `dnscontrol deploy` (check and preview both work fine).

I started going back one release after another and rerun my pipeline and

[2021-08-22 21:04] tlimoncelli commented on #1240
The fix will be in the next release.  If you build from master that has the fix in it.

[2021-08-23 08:24] fleaz commented on #1240
Just tested the latest code and I can confirm it works like a charm. Thanks! :)

[2021-08-23 08:24] #1240 closed

[2021-08-29 23:38] tlimoncelli commented on #1218
FYI: I'm reverting the change as suggested.

Also FYI: The DNSControl integration tests are 51% to test the project and 49% to alert us when SaaS providers change their API in unexpected and often unintentional ways.  If INWX needs a test framework to detect API changes and prevent regressions, please consider using our framework or stealing the good parts.  Our automated tests run weekly and that

[2021-09-02 23:41] x70b1 commented on #1164
I looked for multiple hours in this topic.
When I opened this issue my idea was "AXFR works nice and I dont have to care about the serial, the server will do this for me. It would be cool to manage the SOA values in the same way".

The problem is that dnscontrol needs to care about the serial as soon as we touch the SOA. Changing SOA settings like the mail contact without changing the serial would

[2021-09-03 14:09] tlimoncelli commented on #1164
@hnrgrgr maintains this provider.  Hopefully he can provide some feedback or suggestions.

I'd be glad to help with questions about the code and/or golang.  We could even do a video conference / screen share.

[2021-09-07 08:39] IzumiSena opened #1251 "DNS Provider: 1984Hosting Support"
https://www.1984hosting.com/
Provide FreeDNS Hosting!
And It Support API too! So i think DNSControl should add 1984Hosting Support Too! If Possible!
Thanks

[2021-09-07 13:38] tlimoncelli commented on #1251
Hi there!

Sounds like a great DNS service.  Have you considered writing the provider yourself?   We try to make it as easy as possible  A number of people wrote theirs as their first Golang project.   More details here: https://stackexchange.github.io/dnscontrol/writing-providers

[2021-09-13 06:34] m-ueberall opened #1255 "feature request: Please provide aarch64/arm64 builds for future releases as well"
It would be nice to be able to directly download an `*_arm64.deb` package.

[2021-09-13 12:19] tlimoncelli commented on #1255
Sounds good!

I don't have access to a arm64 deb machine.  Would you consider writing a PR to implement this?

[2021-09-14 11:26] supaflyster opened #1256 "Missing image for 3.12 on docker hub"
Hi,

Can you please push 3.12 image to the docker hub? 3.11 is still latest there.

Thank you!

[2021-09-14 15:04] m-ueberall opened #1257 "feature request: Gracefully handle unknown rtypes in conjunction with `get-zones` sub-command"
The `get-zones` sub-command should at least get a `--dont-panic` option to "ignore" unimplemented rtypes (if possible, the output should contain a warning/comment in this regard if the selected output format supports this):

[code]

_(There's hope that missing rtypes like `OPENPGPKEY`, `SMIMEA` will get added eventually, but the forementioned option/changed behaviour should work in the generic cas

[2021-09-14 15:38] tlimoncelli commented on #1257
Please include the complete stack-trace.

Yeah, I could see how this would make adopting DnsControl difficult.  Sadly the way we've implemented DNS RR types makes this a bit difficult. It might be easier to work around it, or just implement those records.

If someone is using get-zones to built their initial dnsconfig.js file, they're going to have to delete those records eventually (since they ar

[2021-09-14 16:09] m-ueberall opened #1258 "feature request: Add policies/options to deal with unknown rtypes for sub-commands `preview`, `push`"
(This is _somewhat_ related to/dependent on issue #1257, but requires additional modifications.)
When identifying changes to be made, `dnscontrol` should be able to deal with unknown rtypes instead of simply panicking–either by _ignoring_ or _deleting_ the latter as a result of the selected operation if (supported by the provider in question and) explicitly requested by the user:
[code]

[2021-09-14 16:18] m-ueberall commented on #1257
Done (obtained from a different run, though.)

Yes, I was hoping for a different option (see issue #1258) in order to use `dnscontrol` without having to implement all missing rtypes first which IMHO requires _much more_ work.

[2021-09-16 15:16] m-ueberall commented on #1255
I've submitted PR #1259.
(TBH, I have _absolutely no idea_ how to add additional labels to `strategy.matrix` in conjunction with [`runs-on`](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on) in order to adapt to individual environments with different sets of registered runners—for testing purposes, I only registered two local ones—but maybe it works

[2021-09-17 16:49] m-ueberall commented on #1255
Given that it's likely overkill to use multiple, native runners for a Go binary (that is, unless you intend to run integration tests in native environments), I've submitted PR #1260.

[2021-09-23 13:50] biodrone opened #1261 "Route 53 Named Profiles Fails on >3.8.0 without creds.json"
If running on version >3.8.0, any operation that uses creds seems to _require_ a creds.json file, whereas 3.8.0 works fine without one. This isn't made clear in the Route 53 documentation around [named profiles](https://stackexchange.github.io/dnscontrol/providers/route53), it seems like just exporting the relevant environment variables is enough.

Will submit a PR shortly with proposed clarificat

[2021-09-24 16:15] tlimoncelli commented on #1261
I'm re-opening this because it is a regression.  I'm not  in a position to be so lucky as not needing a creds.json file, but it sounds very nice to just have dnscontrol just use the creds that your AWS cli tool uses.

I don't know much about how AWS creds work but do you think you could find what changed in 3.8.0 and propose a fix?

[2021-09-24 17:12] biodrone commented on #1261
Sure can, I'll have a look shortly!

[2021-09-25 10:01] df-a opened #1263 "CloudNS API "The NS record needs to be pointed to a hostname that has an A or an AAAA record" Error"
I keep getting this error whenever I try to update cloudns nameservers

As part of the push, I also update and add whichever A and AAAA records to the appropriate IPs and URLs as required. But DNSControl keeps telling me that "The NS record needs to be pointed to a hostname that has an A or an AAAA record" despite these also being pushed in the same operation (as needed). This workflow functioned

[2021-09-26 13:58] tlimoncelli commented on #1263
CC @pragmaton (owner of the CLOUDNS provider)

P.S. I haven't used that provider but it sounds like there may be an ordering issue.  Often the A/AAAA records need to exist before they can be mentioned in an NS.  Can you try doing this in two steps? (1) add the A/AAA records, [wait for (1) to propagate],  (2) change the NS record.

[2021-09-27 14:46] tlimoncelli commented on #1002
FYI: There is activity on https://github.com/robertkrimen/otto/pull/361

[2021-09-27 22:51] buraktamturk opened #1264 "Hexonet with TXT (DKIM) records: ERROR: strings >255 octets"
Long TXT records were supported by the old version of dnscontrol tool with Hexonet provider.
After an upgrade to the latest version, I am having this issue

[code]

A quick lookup for the provider code shows that it calls TxtNoMultipleStrings - however not TxtNoLongStrings. But this call (TxtNoMultipleStrings) seems also checks for TxtNoLongStrings. Is it intentional?

https://github.com/StackExch

[2021-09-29 16:01] tlimoncelli commented on #1264
The name TxtNoMultipleStrings is non-optimal.

Hey, Kai, what is/isn't supported in Hexonet TXT records?  When I simply remove the TxtNoMultipleStrings tests fail.

CC: @papakai

Tom

[2021-09-30 10:39] papakai commented on #1264
@tlimoncelli yes, or API is supporting Multi-Line TXT RR. The easiest way is to just concatenate everything together without space. Even though I expect both below ways to be supported, the later one I consider as best and uncomplicated way. We're accepting 4096 chars length (that's at least something I found documented), but could be even more.

For example:
IN TXT "v=spf1 .... first" "second str

[2021-10-01 01:57] buraktamturk commented on #1264
I am not too familiar with Golang.

Does SetTargetTXT function split the input into arrays by 255 octets? Or does the input get splitted on somewhere else (apart from the provider)? If not the comment above the function is very misleading.

https://github.com/StackExchange/dnscontrol/blob/master/models/t_txt.go#L45-L72

I would love to submit a PR for this issue, so far I think encodeTxt function

[2021-10-01 04:04] tlimoncelli commented on #1264
No worries.  That bit of code is a bit wonky (I'm waiting for Go to have Generics before I clean it up).

SetTargetTXT does not split text.  That's done by calling txtutil.SplitSingleLongTxt().  I don't see that called in this provider (which is expected).
[code]

If you want to call it, call it immediately after `models.PostProcessRecords()` (See where it is called in other providers.)

From what

[2021-10-01 20:20] fdcastel opened #1275 "CLOUDFLAREAPI: Remove AccountName"
I'm in favor of removing `AccountName` from Cloudflare configuration.

To the best of my understanding, this is not being used anywhere in this provider. Except in (unnecessary) validation checks.

@tresni: In light of your (excellent) recent changes, could you give us your opinion about this matter? Do you see any need to keep it?

CC @tlimoncelli

[2021-10-01 23:26] tresni commented on #1275
The only place it's used is in the [`createZone` call](https://github.com/StackExchange/dnscontrol/blob/d8941a04bc8804d68279270f0fe89a56b059114c/providers/cloudflare/rest.go#L59) and is unused according to the [API documentation](https://api.cloudflare.com/#zone-create-zone).  I'm in favor of deprecating/removing it.  We should continue to allow AccountID to be set, but we don't need AccountName a

[2021-10-01 23:41] fdcastel commented on #1275
Yeah. Fully agreed.

[2021-10-02 01:34] tlimoncelli commented on #1275
How about a default value like not-required@example.com ?

[2021-10-02 03:07] tresni commented on #1275
@tlimoncelli there's no reason to use the account email at all from what I can find.  We are literally passing something that the API is just going to ignore (or eventually it could choose to error it out.)  I think it's better to remove its use since it's backwards compatible and doesn't break anything.

[2021-10-03 19:26] tlimoncelli commented on #1275
Agreed!  Remove account name.  The less configuration the better!

[2021-10-03 19:46] tresni commented on #1275
PR incoming.  Did a little bit of related cleanup while I was in there.

[2021-10-03 20:40] #1275 closed

[2021-10-04 17:35] #1264 closed

[2021-10-04 19:27] jauderho opened #1284 "Provider request: coredns"
Opening this as a request to gauge the level of interest in having dnscontrol being able to speak to coredns.  https://coredns.io/

[2021-10-06 19:29] itelmenko opened #1285 "Feature request: preferred-chain option for get-certs"
For resolving the big problem from LetsEcrypt https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

please add option  preferred-chain for get-certs like certbot has.

It need be run with  --preferred-chain ISRG Root X1 for resolving the problem.

Thanks

[2021-10-06 20:53] tlimoncelli commented on #1285
Sadly the person that wrote the get-certs command is no longer with the project, and we don't have much expertise remaining.  This feature will have to come from the community.

[2021-10-09 12:59] cdhunt opened #1287 "Migrate build to CircleCI"
We plan to migrate the build to CircleCI from GitHub Actions to get some more CI features and align with internal build tooling.

- [ ] Copy/Recreate Secrets
- [ ] Port Build and Test logic
- [ ] Configure GitHub Checks
- [ ] Make check on CircleCI mandatory and disable GitHub Actions workflow

[2021-10-12 21:55] patschi commented on #1235
Some further observations...

Here we do normalize the DNS records we receive from the OVH provider:
https://github.com/StackExchange/dnscontrol/blob/ce6006cce7b6877bc56dfb6c9df969e47e7cbb86/providers/ovh/ovhProvider.go#L120-L131

To do the automated splitting with the provider, what OVH does not need, we use the function `txtutil.SplitSingleLongTxt(dc.Records)` here.

When I use dnscontrol withou

[2021-10-16 16:45] #1235 closed

[2021-10-29 17:50] Daniel15 opened #1295 "Provider request: Porkbun"
Could you please add support for Porkbun's DNS system? They're a great registrar and I use them for most of my domains. I don't use their DNS any more, but mainly because it's difficult to manage, and I'd switch back if I had something like dnscontrol to handle it for me.

Developer API documentation is here: https://porkbun.com/api/json/v3/documentation
End-user documentation is here: https://kb.

[2021-10-29 18:37] tlimoncelli commented on #1295
Thank you for requesting this provider!

I've tagged this issue as a provider-request.  It will (soon) be listed as a "requested provider" on the provider list web page: https://stackexchange.github.io/dnscontrol/provider-list

If someone would like to volunteer to implement this, please reply to this issue and add the tag `has-pr`.

We encourage you to try adding this provider yourself.  We've tr

[2021-10-29 20:51] jauderho commented on #1284
@TomOnTime Please label accordingly when you get a chance. Thanks.

[2021-11-01 04:28] riku22 commented on #1263
I have confirmed that the same problem occurs here.
It seems that ClouDNS does not require a trailing period only for editing NS records.
Therefore, you need to modify the part that changes the record.
I haven't used Golang much, so I don't have a very good idea, but I'll do some more research.

[2021-11-02 12:36] juliusrickert commented on #1092
@tlimoncelli See #1302.

[2021-11-04 15:52] #1092 closed

[2021-11-16 18:23] jlelse commented on #1256
Looks like the images get build by Docker because there's this side box that links to this repo.

[2021-11-18 03:52] Ry3nlNaToR opened #1305 "Oracle provider code leaves trailing dot on nameserver"
Hi, I current using Cloudflare but moving a few domain to Oracle the issue am having is getting this error provider code leaves trailing dot on nameserver.

[2021-11-18 14:31] tlimoncelli commented on #1305
Thanks for investigating this!

[2021-11-18 16:08] #1305 closed

[2021-11-23 12:48] norman-zon commented on #1139
@tlimoncelli, I was looking into making the NS1 provider work with long TXT records, but found the `TxtNoMultipleStrings` function not to be suitable, as it [also checks for string length](https://github.com/StackExchange/dnscontrol/blob/3405757271b66c7e679b78af74810bedd3e7b50b/pkg/recordaudit/txt.go#L100).
NS1 does not support multiple strings, but supports any length of string, as long as it is

[2021-11-23 14:23] tlimoncelli commented on #1139
Hi there!  Thanks for looking into this!

I would love to see this added to `pkg/recordaudit/txt.go`.  I think a few providers will benefit. (In fact, I think some have it in their own `auditrecords.go` file).  `providers/cloudns/auditrecords.go`

In hindsight, each function in txt.go should test exactly one thing. I think `TxtNoMultipleStrings` is the one that tests 2 attributes.

[2021-11-30 16:54] tlimoncelli commented on #1139
Fixed and shipped!

[2021-11-30 16:54] #1139 closed

[2021-11-30 22:55] tlimoncelli opened #1311 "ORACLE: stackcheck errors"
Running staticcheck finds some issues with the Oracle provider:

[code]

CC @kallsyms

[2021-11-30 22:57] tlimoncelli opened #1312 "NETCUP: staticcheck issues"
I'm moving from go-lint to staticcheck (https://staticcheck.io/).  It finds some issues that I think are worth fixing.

[code]

CC @kordianbruck

[2021-11-30 22:58] tlimoncelli opened #1313 "DNSMADEASY: staticcheck errors"
I'm moving from go-lint to staticcheck (https://staticcheck.io/). It finds some issues that I think are worth fixing.

[code]

[2021-11-30 22:58] tlimoncelli commented on #1313
CC @vojtad

[2021-11-30 23:02] tlimoncelli opened #1314 "CSCGLOBAL: staticcheck issues"
I'm moving from go-lint to staticcheck (https://staticcheck.io/). It finds some issues that I think are worth fixing.

[code]

Also, I noticed that this provider isn't mentioned in `OWNERS`.    Could you please review the checklists in `docs/writing-providers.md` (especially step 8) and make sure this provider is listed appropriately?

Thanks!

CC @mikenz

[2021-12-06 17:45] #1313 closed

[2021-12-07 21:29] #908 closed

[2021-12-08 13:07] arnoschoon opened #1323 "Provider request: AutoDNS"
Hi,

we're using AutoDNS (a platform from InterNetX) to manage most of our DNS zones.

They offer a full-fledged API (https://github.com/InterNetX/domainrobot-api) and since we're on the verge of migrating zones from other systems I'd like to take the opportunity to put DNSControl in the middle.

I'd like to take a stab at the initial implementation of zone management. I've started out with readin

[2021-12-08 13:13] tlimoncelli commented on #1323
Sounds great!  Let me know if you have any questions.  I'd be glad to assist!

[2021-12-08 16:44] truthdoug opened #1326 "Provide a way to alert on changes"
**The problem I'm trying to solve:** We're using dnscontrol to manage our DNS (hosted via AWS Route53). Some staff have access to Route53 via web console and _occasionally_ make changes directly there rather than using dnscontrol. I want to know when this happens.

**Possible solutions** (not mutually exclusive):
* Change the exit status of `dnscontrol preview` based on whether or not there are pe

[2021-12-08 17:38] tlimoncelli commented on #1326
Yup!  Seen that before!   I think we have just the thing for ya!

    dnscontrol preview --expect-no-changes

You can run that periodically and alert on error.  I wouldn't recommend running it in a tight loop as you may trigger your provider's rate limit.

Tom

[2021-12-08 18:24] truthdoug commented on #1326
Oh, that's great! That'll work!

[2021-12-08 18:24] #1326 closed

[2021-12-09 19:06] arnoschoon commented on #1323
Hi @tlimoncelli,

With https://github.com/arnoschoon/dnscontrol/commit/d44997a7f558690b57eab540acca907290cc95e2 I've tried to implement a basic provider that is capable of notifying me of changes that are going to happen.

I'll continue with the actual updating tomorrow, but working on this already raised a question. Should new provider be tested extensively in regards to their behavior when it co

[2021-12-09 22:12] tlimoncelli commented on #1323
I looked at the code and things are looking good so far!

TXT records: Fix the edge cases later.  Each provider should have a file called auditrecords.go which detects TXT records that the provider doesn't support.  Look at the other providers for examples.  (I need to add this info to the documentation).  Start by being the most restrictive and work from there.

The integration tests (`go test -v

[2021-12-11 17:19] luckydonald opened #1327 "Access environment variables in dnsconfig.js"
Basically I want to keep the actual IP addresses in environment variables.
But I couldn't find a way how to read them.

I tried the following, hoping to somehow tap into the same magic `creds.json` is using:

#### 1. just use them:
[code]

#### 2. as variable
[code]

#### 3. using an config file
`environment.json`:
[code]
[code]

#### 4. using Nodejs' `process.env` object
[code]

[2021-12-12 06:11] andymac4182 commented on #1256
@tlimoncelli Would be great when you do your docker builds if you could also support gallery.ecr.aws to help reduce issues with hub.docker.com.

[2021-12-13 15:35] tlimoncelli commented on #1327
I'd suggest setting values via the command line as documented here: https://stackexchange.github.io/dnscontrol/cli-variables

NOTE: I'm about to submit a PR with improved documentation.

[2021-12-13 18:23] tlimoncelli commented on #1327
I'd love your feedback on my PR with better documentation (https://github.com/StackExchange/dnscontrol/pull/1328).

Here's the raw file: [view as displayed](https://github.com/StackExchange/dnscontrol/blob/27776d7de585818d4d4832948ecd9b0183ecc3c0/docs/cli-variables.md)

[2021-12-14 11:28] perrfect commented on #585
Hello. No i didn't find the solution(

[2021-12-14 15:22] tlimoncelli opened #1330 "AKAMAIEDGEDNS: Fix staticcheck errors"
CC @svernick

I'm moving from go-lint to staticcheck (https://staticcheck.io/). It finds some issues that I think are worth fixing.

Docs on how to install staticcheck are here: https://staticcheck.io/docs/getting-started/
The command line that produced these errors was: `staticcheck ./...`

The warnings/errors related to this provider are:

[code]

[2021-12-14 15:24] tlimoncelli opened #1331 "GCLOUD: Fix staticcheck errors"
I'm moving from go-lint to staticcheck (https://staticcheck.io/). It finds some issues that I think are worth fixing.

Docs on how to install staticcheck are here: https://staticcheck.io/docs/getting-started/
The command line that produced these errors was: `staticcheck ./...`

The warnings/errors related to this provider are:

[code]

[2021-12-14 15:25] tlimoncelli opened #1332 "HEXONET: Fix staticcheck errors"
I'm moving from go-lint to staticcheck (https://staticcheck.io/). It finds some issues that I think are worth fixing.

Docs on how to install staticcheck are here: https://staticcheck.io/docs/getting-started/
The command line that produced these errors was: `staticcheck ./...`

The warnings/errors related to this provider are:

[code]

[2021-12-14 15:26] tlimoncelli opened #1333 "OCTODNS: Fix staticcheck errors"
I'm moving from go-lint to staticcheck (https://staticcheck.io/). It finds some issues that I think are worth fixing.

Docs on how to install staticcheck are here: https://staticcheck.io/docs/getting-started/
The command line that produced these errors was: `staticcheck ./...`

The warnings/errors related to this provider are:

[code]

[2021-12-14 15:27] tlimoncelli opened #1334 "ORACLE: Fix staticcheck errors"
CC @kallsyms

I'm moving from go-lint to staticcheck (https://staticcheck.io/). It finds some issues that I think are worth fixing.

Docs on how to install staticcheck are here: https://staticcheck.io/docs/getting-started/
The command line that produced these errors was: `staticcheck ./...`

The warnings/errors related to this provider are:

[code]

[2021-12-14 15:28] tlimoncelli opened #1335 "TRANSIP: Fix staticcheck errors"
CC @blackshadev

I'm moving from go-lint to staticcheck (https://staticcheck.io/). It finds some issues that I think are worth fixing.

Docs on how to install staticcheck are here: https://staticcheck.io/docs/getting-started/
The command line that produced these errors was: `staticcheck ./...`

The warnings/errors related to this provider are:

[code]

[2021-12-14 17:24] tlimoncelli commented on #1331
I could use some help here. The change isn't a simple subtitution.

[2021-12-14 20:47] #1335 closed

[2021-12-14 20:48] tlimoncelli commented on #1335
We've all done something similar! :)

[2021-12-15 20:30] arnoschoon commented on #1323
Hi @tlimoncelli ,

thanks for your feedback, I'm trying to fix all of your remarks in my code, so maybe a few commits will pop up.

In the meantime I was wondering how I could implement `create-domains` and if that is a DNS provider or registrar thing. I'd like this tool to create the new zones in AutoDNS (they are converted to DJS from BIND), in total little over 300 domains should be created.

[2021-12-15 20:43] 0xErnie opened #1338 "OVH: This service does not exist"
I am about to migrate a domain to OVH and want to put the configuration to code.

I created a new zone via the webinterface and can create new entries via the API, but not with dnscontrol:

I am new to this tool and used to get more information easily with tools like ansible or terraform, but dnscontrol seems to be a bit clandestine, even with `-v.`

[code]

Regarding _Since OVH doesn’t allow to h

[2021-12-15 20:53] arnoschoon commented on #1323
I think we should use https://github.com/StackExchange/dnscontrol/pull/1336 for an initial implementation of the provider (I'll focus on fixing any remarks) and add a possible additional feature like `create-domains` in a separate issue/PR.

[2021-12-15 23:52] tlimoncelli commented on #1323
The `create-domains` command just populates a domain in a DNS provider that requires that step, such as ROUTE53.  It isn't for purchasing domains. (the name could be better)

If you need to convert many zones, look at "dnscontrol get-zones" which can read BIND files and output dnsconfig.js-style files.

[2021-12-15 23:54] tlimoncelli commented on #1338
CC @masterzen

[2021-12-16 08:36] arnoschoon commented on #1323
That's what I'm looking for, the domains are already purchased but their respective zones miss.

What methods do I need to implement to support creation of zones in my provider?

[2021-12-16 12:33] tlimoncelli commented on #1323
Oh good!

Complete the `DomainCreator interface` in `providers.go`.  That should be all!

[2021-12-16 12:55] masterzen commented on #1338
Hi @0xErnie,

Thanks for your report !

I believe the issue comes from the fact that we fetch the nameservers from OVH. Since the domain hasn't been transferred yet to OVH, OVH API tells us that there's no nameservers associated and returns a 404 which we interpret as an error instead of an absence of NS.
I have no idea what would happend to dnscontrol if `GetNameServers` returns an empty array, b

[2021-12-18 08:44] SuperSandro2000 opened #1339 "Use old changelog style again"
The changelog for version 3.13.0 and below where nice and short and you knew with one look if there are breaking changes and what else happened. The changelog for 3.13.1 is basically the git log which contains a lot of noise which is very insignificant for the average person. I would appreciate if the short writeups would come back.

[2021-12-18 15:56] masterzen commented on #1338
I've looked to this issue and indeed @0xErnie OVH does now support zones without registering a domain.
I've pushed a PR to fix the issue in the OVH provider, can you please check it fixes your issue?

Thanks !

[2021-12-18 22:44] tlimoncelli commented on #1339
Yes, I noticed that too.  In 1.13.1 we tried an automated changelog creator.

@cdhunt: Can you recommend what to do to balance automated changelogs but with the human editing?

[2021-12-19 17:56] cdhunt commented on #1339
I have a few ideas. Can you describe an ideal feature list for the release notes?

The commit history is obviously too messy and looking through the PRs the titles are partially consistent, but not reliable enough for automated notes.

Keeping a CHANGELOG file in the repo would be an option to allow the contributors to help curate the notes and just not attempt to automate it.

[2021-12-19 23:00] SuperSandro2000 commented on #1339
Like it was before it was fine.

[2021-12-19 23:43] andreaso opened #1342 "Wrong version number in 3.13.1 dnscontrol-Linux download"
Looks like the version number is a bit off for the _dnscontrol-Linux_ binary?

[code]

The binary included in the tarball on the other hand does show the expected version number.

[code]

[2021-12-20 13:40] tlimoncelli commented on #1342
CC @cdhunt

[2021-12-20 16:09] tlimoncelli commented on #1342
Good catch!  We'll look into it.

@cdhunt FYI: The current way the version number is updated is by manually running `bin/make-release.sh` with the new version number. (See `docs/release-engineering.md`)

[2021-12-20 16:13] tlimoncelli opened #1344 "DOCS: README should mention dnscontrol-action"
@koenrh has encapsulated the a GitOps workflow for dnscontrol PRs as a Github Actions module:

       https://github.com/koenrh/dnscontrol-action

We should mention it in the README.  (If that's ok with you, @koenrh)

[2021-12-20 16:20] #1338 closed

[2021-12-20 16:36] koenrh commented on #1344
@tlimoncelli Makes sense!

How do you feel about transferring the repository to the StackExchange GitHub organization? As @firefishy suggested here: https://github.com/koenrh/dnscontrol-action/issues/48#issuecomment-841871481 Happy to maintain it and add some documentation.

[2021-12-20 16:49] tlimoncelli commented on #1344
I'd rather keep it separate and just link to it in the README.

[2021-12-21 07:58] 0xErnie commented on #1338
Thank you @masterzen, this has resolved my issue 🥳  !

[2021-12-21 13:57] cdhunt commented on #1342
@andreaso Do you use usually download the raw binary or the package version?

[2021-12-21 15:31] andreaso commented on #1342
Yepp, up until now I've been grabbing the raw binary, even if I'll be equally happy to have my Ansible setup download and extract the tarball.

deb/rpm packages don't feel that useful (to me) in the case of standalone go binaries.

[2021-12-23 13:43] avdija commented on #1342
looks like if you fetch https://github.com/StackExchange/dnscontrol/archive/refs/heads/master.zip and compile it version will stay dnscontrol v3.13.0 ("") built 18 Dec 21 11:54 UTC

[2021-12-24 07:33] ad8-bdl opened #1348 "SPF optimiser causes check/print-ir to depend on DNS"
(a sibling problem to #1071, I believe)

`check` / `print-ir` should not depend on external things such as DNS.

Using the SPF Optimizer causes the `check` / `print-ir` commands to execute DNS lookups which in and of itself is not great; worse is that failed DNS lookups raise incorrect validation errors.

For example, where the _current_ SPF record for the domain includes an invalid name `mailsend

[2021-12-24 14:28] tlimoncelli commented on #1348
Good point that check / print-ir should not depend on DNS.

The spf optimizer uses DNS but fails quickly to using `spfcache.json` if DNS is down.  Maybe for check/print-ir it should just use the file.

[2021-12-26 18:09] tlimoncelli opened #1349 "EASYNAME: Fix filename"
CC @tresni

Sorry for not catching this during the PR review:

Filename: `dnscontrol/providers/easyname/provider.go`
Should be: `dnscontrol/providers/easyname/easynameProvider.go`

[2021-12-30 10:33] IzumiSena opened #1352 "CF_UNIVERSALSSL_OFF Not working!"
[code]

Can anyone help me? .... I can change proxy on/off but can't change universalssl on/off help please!
DNSControl Version: 3:13:1

[2021-12-31 00:35] tlimoncelli commented on #1352
These constants are already defined for you: (see helpers.js in the source code)

[code]

Does it work if you remove the `var CF_UNI....` lines in your example?

[2021-12-31 01:51] IzumiSena commented on #1352
No! Its not working!... I just tried!
I removed `var CF_UNI....` lines but nothing happening!

[2022-01-02 17:39] tlimoncelli commented on #1352
@IzumiSena Would you look at https://github.com/StackExchange/dnscontrol/pull/1358 please?

[2022-01-02 18:04] hamptonmoore opened #1359 "Can't CNAME rfc2317 style rDNS"
I wish to sub-delegate my .arpa to someone using rfc2317. The issue is `CNAME('190', '190.176/28.215.167.104.in-addr.arpa.')` throws the error

[code]
during preview. There seems to be a regex or check somewhere which believe slashes are not valid in CNAME records, but according to RFC2317 they should be. It should b e noted this RFC isn't outdated as it's been assigned BCP20 showing it is and sho

[2022-01-02 18:29] IzumiSena commented on #1352
Looks good!...

[2022-01-03 15:02] #1352 closed

[2022-01-04 01:18] hamptonmoore commented on #1359
Fixed

[2022-01-04 01:18] #1359 closed

[2022-01-04 11:41] hamptonmoore commented on #1295
Has anyone started work on this? I don't see a draft PR, but the site says it's in-progress? Otherwise, I'll start this

[2022-01-04 16:48] m-ueberall opened #1362 "NETCUP: Parsed `CNAME`, `TLSA` entries cannot be used w/ other providers"
When trying to push `CNAME`, `TLSA` entries in `js` format to another provider (tested w/ `DESEC`), the following cause problems:

[code]
_Here, unless there is a unified placeholder for the domain name, the latter should be included in verbatim._

[code]
_Here, the correct values for parameters 2–4 should be stripped from parameter 5._

[2022-01-04 18:35] tlimoncelli commented on #1362
Hi there!

I'm not exactly sure I understand the problem.  Here are my questions:

1.  Which providers are involved?   Is it working for NETCUP but not when you move to deSEC?
2. I'm unclear what `'\@.'` means in the CNAME.  Usually one uses `'@'` as a substitute for the apex domain, but that should be a 1-character string.  I'm not sure what you're trying to achieve by adding `\` and `.` to the s

[2022-01-04 20:38] shawnz88 opened #1363 "Domain Registrar support for Network Solutions"
We have a list of domains from Network Solutions that we would like to manage with DNSControl. But the registrar is not currently supported. Any suggestions on how to add support for a new registrar?

[2022-01-04 20:53] tlimoncelli commented on #1363
Hi there!

There's a step-by-step guide for adding new providers: https://stackexchange.github.io/dnscontrol/writing-providers

I'd be glad to coach you through the process if you have any questions.

Please note that if you contribute a provider, you are responsible for responding to bug reports and PR related to it.

Best,
Tom

[2022-01-04 23:30] m-ueberall commented on #1362
The involved providers are _NETCUP_ (here, used in conjunction with `dnscontrol get-zones --format js netcup NETCUP example.org >dnsconfig.js`) and  – after modifying the registrar/provider references – _deSEC_ (here, used in conjunction with `dnscontrol preview|push`). I currently don't have a _test_ domain registered with Netcup, so I can only run `dnscontrol preview` against the original `js` d

[2022-01-05 01:35] tlimoncelli commented on #1362
Ah!  This sounds like a bug in dnscontrol's JS generator.   It should never generate a string like `\@.` since it isn't valid.

Could you help me reproduce the problem locally?

P.S. In my defense, "-forma js" is intended to be “a decent first draft”, only requiring minimal editing.

[2022-01-05 02:55] hamptonmoore commented on #1295
Sure, I'll do this one once my Packetframe PR is accepted so that I good base to build off. From what I can tell the architecture and API of Porkbun is actually fairly similar to Packetframe and shouldn't require *too* much work once I have the structs in place

[2022-01-05 13:08] m-ueberall commented on #1362
Sure! Unfortunately, Netcup does not support read-only tokens, so by company policy, I'm unable to provide you with one–even using a token as non-shared secret in a controlled Drone environment would be a no-go. However, I can manually run a number of tests and forward you logs/outputs if needed.

I also reran the `get-zones` command against the `desec` provider (after correcting all `CNAME`, `TLS

[2022-01-05 14:10] tlimoncelli commented on #1362
Yes, it can be difficult to make a repo case when there's an API involved.

I noticed that the code in `providers/netcup/types.go` manipulates `\` and `.` in the target.  I think we should focus there.

Let's see if this helps: I added some temporary Printf's in https://github.com/StackExchange/dnscontrol/pull/1365.  Could you compile from that branch and run `get-zones`?  Hopefully that will give

[2022-01-05 14:19] shawnz88 commented on #1363
@tlimoncelli Our domains are registered with Network Solutions, which is not in the following supported list. Are the steps to add a new registrar the same as the steps to add a provider?

Currently supported Domain Registrars:
AWS Route 53
CSC Global
DNSOVERHTTPS
easyname
Gandi
HEXONET
hosting.de
Internet.bs
INWX
Name.com
Namecheap
OVH
OpenSRS

[2022-01-05 14:27] hamptonmoore commented on #1363
@shawnz88 do you intend to register with Network Solutions using DNSControl or just manage the DNS zones?

[2022-01-05 15:47] shawnz88 commented on #1363
@hamptonmoore  @tlimoncelli  My use case is to migrate DNS zones from AWS Route 53 to DNSControl and then move them to Azure DNS and manage them in Azure DNS with DNSControl afterwards. All existing domains are registered with Network Solutions.

Route 53 and Azure DNS are supported providers so I am good there. My only concern is that Network Solutions is not supported registrar and I am wonderin

[2022-01-05 17:01] tlimoncelli commented on #1363
That's not a problem.... it just creates some manual work any time you need to change the delegation.

At Stackoverflow we have a number of domains like that (there are some TLDs that are only offered by obscure companies who tend to not have an API).  For those, we just declare:

[code]

Then later in `dnsconfig.js` we declare a domain like:

[code]

Now the domain works but any changes to the de

[2022-01-05 17:01] tlimoncelli opened #1367 "DOCS: Add tips for REG_THIRDPARTY"
Based on this: https://github.com/StackExchange/dnscontrol/issues/1363

[2022-01-05 17:18] m-ueberall commented on #1362
Are the following excerpts of two records enough? (The entire log is larger than 33 kB – I can send it to your e-mail address associated with the below commit without anonymization if needed.)

[code]

[2022-01-05 18:40] tlimoncelli commented on #1362
Thanks!

@kordianbruck: Does that give you enough info to fix the issue?  It looks like that function needs to special-case "@".  As the owner of this provider, I should hand this over to you.

[2022-01-05 19:01] shawnz88 commented on #1363
@tlimoncelli  Thanks for the info. I am closing the issue.

[2022-01-05 19:01] #1363 closed

[2022-01-05 20:52] kordianbruck commented on #1362
Yeah, I can wrangle with this on the weekend. Thanks for locating it - I can probably reproduce it with one of my domains then.

[2022-01-06 09:33] D3luxee commented on #1362
@tlimoncelli you mentioned me but if i get it correct the issue is in the netcup provider and not in the desec provider.
So i have nothing to do. Correct?

[2022-01-06 11:54] tlimoncelli commented on #1362
@D3luxee Yup!  You're off the hook!  Thanks for checking in!

[2022-01-06 22:51] tlimoncelli opened #1369 "Eliminate the need for create-zones: Create the zones dynamically"
"dnscontrol push" should automatically add the zone to your account.  There should be no need for a "create-zones" command.

The `dnscontrol create-zones` subcommand was created when DNSControl was new and we weren't sure how we wanted it to work.

This is a breaking change and should be hidden behind a flag that is initially default-off, but will be default-on at the next major release.

[2022-01-10 10:19] nomeata opened #1370 "Hetzner: dnscontrol create-domains does not work if no zones are present yet"
Just about to start using `dnscontrol`, and it seems that the Hetzner DNS support does not support creating zones there?
[code]

Unless I am doing something wrong, and this is really not supported, maybe the tool could give a help suitable error message?

Ping @das7pad.

[2022-01-10 10:52] nomeata commented on #1370
Ah, it works after I have created a fist domain in the DNS console.

[2022-01-10 16:02] tlimoncelli commented on #1370
CC @das7pad

Interesting!  Do you think there's a bug in dnscontrol that makes create-domains not work unless there are pre-existing domains?  At a minimum we should update `docs/_providers/hetzner.md` to have a warning and a workaround.  At best, we should fix the code.

[2022-01-10 16:15] nomeata commented on #1370
That's my observation: it failed until I manually added one domain. I didn't debug, but maybe the code path that lists existing domains fails (404) if the list is empty, and then dnscontrol falls over.

[2022-01-10 20:46] das7pad commented on #1370
Thanks for the ping. Based on their API documentation at https://dns.hetzner.com/api-docs/#operation/GetZones, a 404 is not to be expected when listing zones.
I've opened https://github.com/StackExchange/dnscontrol/pull/1371 with a workaround while I get in contact with their support.

[2022-01-10 21:08] #1370 closed

[2022-01-10 21:18] tlimoncelli commented on #1370
Thanks!  I appreciate the fast response!

[2022-01-11 07:56] norman-zon commented on #1256
I see the builds were moved to CircleCI. But no new docker images, or have they moved to another registry than dockerhub?

[2022-01-11 13:51] tlimoncelli commented on #1256
CC @cdhunt

[2022-01-11 14:00] jlelse commented on #1256
What about using another container image registry like the GitHub one?

[2022-01-11 14:37] cdhunt commented on #1256
Definitely a possibility. Though Hub is still the go-to place to find images.

[2022-01-13 13:23] cdhunt commented on #1256
Good news. I was able to get into Docker Hub. Give me a few days and hopefully you'll see new versions up there.

[2022-01-13 19:14] tlimoncelli opened #1372 "DNSControl permits different TTLs within a resource recordset."
For a given DNS label, all the records of the same type need to have the same TTL. (i.e. all the TXT records on foo.bar.com need to have the same TTL.

This isn't enforced by all providers, and DNScontrol doesn't check for out of alignment TTLs.  This confuses providers.

For example:  With the following TXT records, the provider will set the TTL for `TXT'bar.example.com` to be 300, then 9999, the

[2022-01-21 07:05] saurabhguptag commented on #1079
I will take it up. I have access to SoftLayer DNS... If any issue comes up you can ping me

[2022-01-21 19:33] tlimoncelli commented on #1079
That would be awesome!  Thank you for stepping up!

Generally this provider is pretty stable.  What I ask is:

1. If their API changes/breaks, submit a PR to fix it.
2. If people ask questions specific to the provider, I'll ping you to answer it.
3. Maybe once a year or less I make a global change and ask each maintainer to confirm I didn't break their provider.
4. If the provider depends on an ex

[2022-01-23 02:07] timkgh opened #1374 "Fails on Cloudflare CAA record"
I can push a CAA record to Cloudflare, but then when I preview again I get an error:

[code]

Record in `dnsconfig.js`:
`CAA('@', 'issue', 'letsencrypt.org; validationmethods=dns-01; accounturi=https://acme-v02.api.letsencrypt.org/acme/acct/1234'),`

[2022-01-23 19:09] timkgh commented on #1374
It appears the spaces in the 3rd value are causing the error. If I remove the spaces, it works. But still a bug that should probably be fixed in dnscontrol.

[2022-01-23 20:26] cdhunt commented on #1256
I'm still working to get the workflow to where I like it, but new images are being published.

https://hub.docker.com/r/stackexchange/dnscontrol/tags

We're also mirroring the artifacts at https://cloudsmith.io/~stackoverflow/repos/dnscontrol/packages/

[2022-01-24 13:13] djbe opened #1375 "Latest Docker image seems broken"
Getting this error when using the latest docker image:

This issue wasn't present 3 days ago, when the latest tag was v3.11.0 (from 6 months ago). The issue happens during "setup" of CI.

Extra info:
- using bitbucket pipelines
- invoking `dnscontrol preview` and `dnscontrol push`

[2022-01-24 15:49] jmpenalosa opened #1376 "Errors in New Docker Image "No help topic for""
This has been working for me for well over a year until today.

Here's a snippet of the GCP Cloud Build step I have:
[code]

[code]

I tried to change it to:
[code]

I got the same error:
[code]

Please advise if there is something I am doing wrong with the new Docker Image.

[2022-01-24 16:15] jmpenalosa commented on #1376
UPDATE:
I reverted to last known good version and it worked. It would be good to know what happened with the new image when information is available.

[code]

[2022-01-24 17:54] tlimoncelli commented on #1376
Issues with the docker builds is a known issue.  I would stick with the last known good image until we have time to fix this.

CC: @cdhunt

[2022-01-24 21:12] tlimoncelli commented on #1374
I can't believe I found a solution so quickly.  I was going to leave this for later but it looks like that PR should be sufficient.  I have one more (unrelated) thing on my todo list before I merge that.

[2022-01-24 22:27] tlimoncelli opened #1378 "Spurious error "DUPLICATE E_RECORD FOUND" blocks Integration testing and push"
Occasionally a domain gets full of records that confuse dnscontrol.  Integration tests and "dnscontrol push" fail with the following error:

[code]

The work-around is to manually remove all records from the zone and try again.

[2022-01-25 14:57] #1374 closed

[2022-01-26 15:56] mdallaire opened #1381 "[Feature] DMARC dynamic external reporting"
I am currently using the DMARC_BUILDER with my domains and it is working great. I think a great addition to it would be a DMARC_REPORT(?) builder.

When reporting to a different domain than the one of the DMARC record, an entry needs to be made under the destination domain to explicitly allow reception of DMARC reports for the domain. More details [here ](https://datatracker.ietf.org/doc/html/rfc7

[2022-01-27 13:37] mickaelalibert commented on #1376
Their was a change in the last commit of the Dockerfile that modified how the image works. Now, the execution of dnscontrol is done in the ENTRYPOINT instead of the CMD of the container, which means that what was previously replaced by your `args` isn't anymore :

- with CMD : dnscontrol you execute : /usr/local/bin/dnscontrol create-domains
- with ENTRYPOINT : /dnscontrol you execute : /dnscontro

[2022-02-02 17:08] tlimoncelli commented on #1363
I just updated https://stackexchange.github.io/dnscontrol/nameservers to be more clear about this situation. Enjoy!

[2022-02-03 05:43] aglasson commented on #1376
Argg... Wish I'd checked the issues before I spent an hour and a half troubleshooting this. I thought it was an Azure DevOps issue.
I've not pegged to tag `v3.11.0` instead of letting it use latest.

How or why did a broken change even get to master without being identified and fixed or reverted? Better question, its been 10~ days? Why hasn't it been reverted? Just leave it in an entirely broken s

[2022-02-03 20:50] tlimoncelli commented on #1376
I'm sorry that the docker image is having problems.

The process that creates it was not created by us and we can't support it.  Our plans is to adopt a new/different CI/CD tool and fix it at that time.

If you could help us by submitting a PR that would fix this it would be greatly appreciated.

[2022-02-03 21:18] cdhunt commented on #1376
Sorry, the prerelease image shouldn't have received the `latest` tag.

[2022-02-04 06:45] vinoth2710 opened #1394 "Support for different types of ALIAS records when using multiple providers."
I'm trying to do point an ALIAS record to ELB load balancer in both R53 and DNSimple
[code]
However I get,
[code]
(or)

[code]

If I declare example.com for each provider separately I get
`executing dnsconfig.js: example.com is declared more than once`

I can understand why I'm getting this, but is there a way around(something like conditional records)?

We are trying to make both R53's and DNSimp

[2022-02-04 07:43] norman-zon opened #1395 "FEAT: Add detailed exit codes"
dnscontrol always returns 0, when it runs successfully. But having detailed exit codes to determine, for example, if corrections are necessary would be a great benefit for CI jobs.

Terraform does it the [same way](https://www.terraform.io/cli/commands/plan#detailed-exitcode).

[2022-02-04 12:04] tlimoncelli commented on #1394
Dnscontrol is designed to create one generic zone that can be pushed to each provider. Therefore a zone can only be pushed to 2 providers if both support all the same records.  Changing this would be a big overhaul.

I can offer 3 suggestions:

1. Use conditionals.

There are conditionals but you'd have to run dnscontrol twice, once for each provider.  That's a level of complexity that I don't rec

[2022-02-04 12:52] vinoth2710 commented on #1394
Hey, thanks for the detailed response, I would have a look at the metrics for sure. I tried Split Horizon DNS, it seemed to work pretty well.
[code]
Is this a possible solution for my case?

[2022-02-04 15:31] tlimoncelli commented on #1394
Oh yeah!   That isn't what I imagined the split-horizon feature would be used for but it should work just fine.  That's very creative!

You'll need to maintain all the other records exactly the same in both places.

[2022-02-04 15:40] juliusrickert commented on #1381
Great! Love to hear that.

I don't want to discourage you, but, from my point of view, this doesn't add a lot of value, compared to the complexity of implementation.
You'd have to account for people receiving DMARC reports on a subdomain that's not a zone on its own, as an org-domain lookup is not part of the verification process for external domain, for example.

Take `facebook.com.` and their DM

[2022-02-04 15:44] juliusrickert commented on #1375
It appears to me that your Bitbucket pipeline is manually setting the entrypoint to a shell. The `dnscontrol` image is shipping without a shell and [uses the Go binary as the entrypoint](https://github.com/StackExchange/dnscontrol/blob/98a951885eb67ce6d8aaefdb31ec5c11c04a7dbf/Dockerfile#L2).

But this is just me speculating without knowing anything about Bickbucket pipelines.

[2022-02-04 15:47] juliusrickert commented on #1372
Clarified in [RFC 2181 Section 5.2](https://datatracker.ietf.org/doc/html/rfc2181#section-5.2).

[2022-02-04 15:50] juliusrickert commented on #1369
… and `dnscontrol preview` should show to-be-created zones.

I think this should be considered a breaking change :D

[2022-02-04 15:56] tlimoncelli commented on #1395
The `preview` and `push` subcommands have:

[code]

Is that sufficient?

[2022-02-04 16:55] djbe commented on #1375
To clarify, this is even before the pipeline starts running (it hasn't even checked out the repo or anything).

The config looks something like this:
[code]

I don't expect you to know anything about bitbucket pipelines, but from what I can gather it's just your typical CI thing of using a docker image as a runner 🤷 I've tried checking the docs:
- [This doc](https://support.atlassian.com/bitbucket

[2022-02-04 17:00] djbe commented on #1375
A found a potential solution:
https://stackoverflow.com/questions/54820846/starting-container-process-caused-exec-bin-sh-stat-bin-sh-no-such-file

Not sure if I understand it correctly though. Is it saying that a `scratch` image cannot have an `ENTRYPOINT` like that?

[2022-02-04 17:02] tlimoncelli commented on #1372
Alternatively.... we include this globally, not just on a per-provider basis.  Initially it could be a warning but then would be an error.

[2022-02-04 17:27] djbe commented on #1375
Hmmm seems like the images based on `scratch` have been removed from docker hub?
- The highest versioned one right now is v3.11.0. Versions 3.12 and later are no longer there.
- At some point the 3.13 RC images were on docker hub, that's when I created this issue.
- The `latest` "tag" now points back to 3.11

[2022-02-04 18:05] juliusrickert commented on #1372
Sounds good. Have to do justice to being an opinionated project somehow :D

But this would be a breaking change too.

[2022-02-04 18:24] tlimoncelli commented on #1372
Yes, that would be a breaking change.  I'd make it a warning now so that we can make it an error the next time we bump the major revision number.  No need to bump the major rev just for this.

[2022-02-04 19:16] djbe commented on #1375
If it helps any, I used github actions to build docker images, you can find the config here.
https://github.com/SwiftGen/swift-docker/blob/main/.github/workflows/docker-image-ci.yml

[2022-02-04 20:10] jauderho commented on #1375
@juliusrickert Docker may have removed building but AFAIK, you can still push to Docker Hub after building elsewhere. For example, I've been publishing dnscontrol images for a while now at https://hub.docker.com/r/jauderho/dnscontrol/

- Dockerfile - https://github.com/jauderho/dockerfiles/blob/main/dnscontrol/Dockerfile
- GHA workflow - https://github.com/jauderho/dockerfiles/blob/main/.github/wo

[2022-02-04 20:18] juliusrickert commented on #1375
@jauderho Sure. But DNSControl relied on that for building the images.

[2022-02-04 20:24] jauderho commented on #1375
Nvm, I forgot that @tlimoncelli had indicated that they were moving to CircleCI. But I don't see why CircleCI can't push to Docker Hub.

[2022-02-04 20:28] juliusrickert commented on #1375
It can for sure. But it's not set up yet.

[2022-02-04 20:44] mdallaire commented on #1381
That is exactly the reason why opened this feature request. I have to admit I did not give it a ton of thought on the "how" and "is it worth the effort" and unfortunately I have close to zero coding knowledge to make this happen.

I have close to 60 domains for which I have DMARC entries that report to a different domain also managed in dnscontrol. Right now I only have 3 using the DMARC BUILDER b

[2022-02-05 14:48] tlimoncelli opened #1400 "Deprecate "get-certs" (Let's Encrypt) support"
We are considering removing this feature in the future.

Why:

* The "get-certs" command (renews certs via Let's Encrypt) has no maintainer.  If it breaks, we can't really support it.
* There are other projects that do a better job.

Post your thoughts in the comments.

[2022-02-07 08:39] IzumiSenaSora commented on #1400
Its really a good feature!... We can manage all domain related things like (manage dns + certificate) in one place!... Please for now don't remove it!.... Unless it breaks!

[2022-02-07 11:22] juliusrickert opened #1401 "hosting.de provider does not properly update nameservers"
While implementing setting default nameservers via the `providermeta` argument passed to `NewDnsProvider`, I found a bug in my implementation of the hosting.de provider.

In essence, as far as I can tell now, it never applies nameserver changes unless the `NAMESERVER` function is being called, because the nameservers present in the zone are being used instead of the default nameservers.

[2022-02-07 11:28] costasd commented on #873
Hi @tlimoncelli!

Read the item about NS1 getting dropped in the latest release notes.

Having done a couple contributions to ns1 already and being a ns1 user with no plans to move out, I'd be happy to help keeping it up to shape.

best,
Costas

[2022-02-07 12:44] juliusrickert commented on #1400
I didn't even know this feature existed.
What were the motivations behind including this functionality into DNSControl?

I think this should not be the concern of DNSControl. For me, DNSControl is an application that is intended to be primarily run in CI. Thus, I don't see how issuing certificates would be beneficial. This is a concern of a load balancer or any other public-facing server.

There a

[2022-02-07 13:50] tlimoncelli commented on #1400
Removing it when it breaks sounds like a terrible idea.  People would be stranded.  We'd rather give people advanced warning so they can remove it on their schedule. (Which is why we're starting the discussion now.)

[2022-02-07 13:53] tlimoncelli commented on #1400
The motivation was:  Let's Encrypt DNS01 requires the ability to talk to your DNS Provider, and dnscontrol already does that, it seems like a good match.

[2022-02-07 15:08] juliusrickert opened #1402 "DNS over HTTPS (DoH) provider not checking delegation"
The DNS over HTTPS (DoH) provider is solely a _registrar_ provider, intended to check whether the nameservers at the registrar are matching those of the zone.

But instead, it checks the _zone's_ `NS` records, so it does not check whether the _delegation_ is correct.

#### Example (from my list of weird DNS setups :D)

[code]

##### dnsconfig.js

[code]

##### Result

[code]

##### Expected

[code

[2022-02-07 15:33] IzumiSenaSora commented on #1400
Oh Sorry i'm not giving any idea!... i'm just saying if no one step forward to maintain it!... Then maybe removing it is only option!
BTW I'm bad in English

[2022-02-07 15:42] IzumiSenaSora commented on #1400
It's useful! At least in Private ORG's
Cause self sign cert need extra step to Add root cert manually in every browser!... But if we just generate lets encrypt cert which every browser/phone supports already!... So accessing private websites via VPN to work remotely this feature needed!... We can generate lets encrypt cert via dns verification instead of certbot like function which need http verif

[2022-02-07 19:18] costasd commented on #873
Sounds good, PR #1403 open!

Thanks!

[2022-02-07 19:54] cdhunt commented on #1376
The incorrectly built image tags have been removed.

[2022-02-07 19:54] #1376 closed

[2022-02-07 20:05] cdhunt commented on #1256
I've published [v3.14.0](https://hub.docker.com/r/stackexchange/dnscontrol/tags) as `latest` and also 3.12 and 3.13 to be complete.

[2022-02-07 20:13] #873 closed

[2022-02-07 20:22] tlimoncelli commented on #1402
CC @mikenz

[2022-02-07 20:34] tlimoncelli commented on #1079
Friendly ping @saurabhguptag

[2022-02-08 08:31] norman-zon commented on #1395
Absolutely! Sorry I didn't find the option myself and had to ask.
Keep up the great work!

[2022-02-08 08:31] #1395 closed

[2022-02-10 19:12] costasd opened #1406 "NS1: remove strings.Split(fmt.Sprintf(), " ") invocations"
In `buildRecord()`, we use the following trick a lot to create an array of strings, which is what the ns1 api client is expecting for rdata.
[code]
Effectively it joins and casts attributes into a single string and then splits it by space to get the array. Unfortunately this is guaranteed to break if an attribute contains spaces, such as in #1404.

Fix that by replacing this trick with something t

[2022-02-10 19:13] costasd opened #1407 "NS1: add NAPTR support"
Supported by NS1 and rather easy to implement, let's add them.

[2022-02-10 19:14] costasd commented on #1407
Support in #1405

[2022-02-11 11:30] costasd commented on #1406
Or... as @tlimoncelli suggested, `strconv.Itoa` where supported.

[2022-02-11 17:05] #1407 closed

[2022-02-14 22:22] kipit commented on #1256
@cdhunt Thank you for publishing new images on Docker Hub.

If [Cloudsmith](https://cloudsmith.io/~stackoverflow/repos/dnscontrol/packages/) is another source of truth to your artefacts, can we add mention to it on some documentation? Maybe in the `README.md` [near those sections](https://github.com/StackExchange/dnscontrol/blob/886dbf6d0070ea7efc37e8235bb9bae50a1f0b61/README.md?plain=1#L156-L177)

[2022-02-15 15:01] cdhunt commented on #1256
We may switch to Cloudsmith as the official registry and update the README on Docker Hub. CloudSmith has a very generous OSS license and should help anyone hitting rate-limiting with Docker Hub. However, I wouldn't say I'm ready to fully commit to adding that to the Doc just yet. Consider it in Preview.

[2022-02-15 19:09] juliusrickert opened #1410 "BIND provider assumes trailing dot, blindly removes last character"
When setting custom nameservers without a trailing dot with the BIND provider, the last character gets removed, regardless of its value.

This causes—in my opinion—unexpected behaviour.
For example, entering `ns1.example.com` leads to `ns1.example.co` being set.

Code causing this behaviour:

https://github.com/StackExchange/dnscontrol/blob/886dbf6d0070ea7efc37e8235bb9bae50a1f0b61/providers/bind/b

[2022-02-15 19:14] tlimoncelli commented on #1410
Thanks for reporting this!

Would you please you give a (redacted) example from a dnsconfig.js file?

[2022-02-15 19:20] juliusrickert commented on #1410
Sure!

Example dnsconfig.js:

[code]

Example output:

[code]

[2022-02-15 21:01] #1410 closed

[2022-02-16 09:18] maxbraeutigam commented on #1401
Dear @juliusrickert, thank you very much for your provider code. I have the following (most probably related) issue:

When adding a NS entry to a subdomain (here mailings.jcf.io), the provider tries erroneously to add the NS record to the second level domain jcf.io. Furthermore, after creation it tries to create it again instead of updating it. Which ultimately leads to an error in dnscontrol.

My

[2022-02-16 09:30] juliusrickert commented on #1401
Hi @maxbraeutigam,

you're welcome :)

Have you tested the current `master` with the fixes? Would be great to know whether there's still work to do.

[2022-02-16 09:52] maxbraeutigam commented on #1401
Hi @juliusrickert, yes, you fixed it. :-)
But I was building against [8220257d7](https://github.com/juliusrickert/dnscontrol/commits/8220257d7284f165f1d0a73e0b60ba17e7a83a57), since neither [juliusrickert/dnscontrol](https://github.com/juliusrickert/dnscontrol/commits/master) nor [StackExchange/dnscontrol](https://github.com/StackExchange/dnscontrol/commits/master) contain your [commit](https://gi

[2022-02-16 10:23] juliusrickert commented on #1401
Nice.

You don't, I do :D

I misread Tom merging `StackExchange/dnscontrol:master` into `juliusrickert/dnscontrol:docs/hostingde-customize-nameservers`.

I thought it'd be the other way around :D

[2022-02-17 17:24] tlimoncelli commented on #1406
Fixed by https://github.com/StackExchange/dnscontrol/pull/1405

[2022-02-17 17:24] #1406 closed

[2022-02-17 17:30] tlimoncelli commented on #1402
Here's my take on this:

This is a documentation issue, not a code bug.  The documentation should be clear about that.

Here's my suggested change: https://github.com/StackExchange/dnscontrol/issues/1402

Thoughts?

[2022-02-17 17:35] tlimoncelli commented on #1381
What has worked well in the past is for people to write and use the function locally in their own dnsconfig.js file.  If it proves useful after a while, propose including it in the project's helpers.js file.  By showing it has been in production for a while demonstrates that it is solving a real problem and the vets the implementation.

[2022-02-18 09:24] juliusrickert commented on #1402
So this provider can only check that it exists a delegation that results in an authoritative nameserver returning the _expected_ nameserver set or a nameserver set differing from the nameserver set expected.

So running DNSControl without changes expected—assuming no other state changes—depends on the resolver choosing an authoritative nameserver that provides the nameservers DNSControl expects.

[2022-02-18 17:25] nomeata opened #1416 "netcup: Long `TXT` records cause unnecessary entry modification"
When pushing domains to netcup, I observe that long `TXT` records (e.g. domainkeys) are fetched without any breaks, but pushed with a space inserted after a certain length. This causes `dnscontrol` to think the entry has to be updated.

[2022-02-18 17:37] tlimoncelli commented on #1416
CC @kordianbruck (the maintainer of that provider)

P.S.  Running the integration tests (see Step 7 of [this doc](https://stackexchange.github.io/dnscontrol/writing-providers) should help debug this.

[2022-02-19 18:49] juliusrickert commented on #1402
That's not the point I was trying to make. Sorry for the confusion.
I didn't pick Cloudflare to demonstrate that this is broken with single-homed providers, but rather to pick an example where it's clear that the zones wouldn't match.

Example dnsconfig.js:

[code]

Delegation in `com.` zone, featuring an unexpected delegation to Route 53:

- `alice.ns.cloudflare.com.` (expected, present at Cloudf

[2022-02-22 15:53] tlimoncelli commented on #1402
Since  @mikenz wrote the provider, I'll let him reply.

[2022-02-22 15:54] #1401 closed

[2022-02-22 17:01] Subramanian-ERS commented on #719
Hello, I am having the same issue with the `get-zone` command while getting the zone records from Route53. It is working perfectly for hosted zone A, but fails to add a trailing dot while getting the zone records for hosted zone B. I cannot find any difference for which this could occur only with specific hosted zones.

I am using the latest release version of v3.14.0.

[2022-02-22 17:46] Subramanian-ERS opened #1417 "Import NS Records with without any change in TTL"
I could see that when I am trying to add a new DNS record in an already existing hosted zone, the output of the preview command indicates that the TTL of the NS records are being changed to 300. I have not added any NS records in my dnsconfig.js file.

While I understand that we can set the TTL using the NAMESERVER_TTL option, is there a way to ask DNSControl to maintain the existing TTL of the NS

[2022-02-22 17:54] tlimoncelli commented on #1417
Hi!  Thanks for pointing this out!

Yes, I agree it should be automatic unless you specify a NAMESERVER_TTL or NAMESERVER() item.

I suspect this might be a provider-specific issue.  Are you seeing this with certain providers or all providers?

Can you send a (redacted) version of dnsconfig.js? (just the D() for this domain and the related registrar and dns providers).

Thanks!

[2022-02-22 17:59] Subramanian-ERS commented on #1417
Hi @tlimoncelli, I am not using any provider other than Route53 for now.

This is the sample dnsconfig.js file:

var aws = NewDnsProvider("aws", "ROUTE53");
var REG_CHANGEME = NewRegistrar("ThirdParty", "NONE");
D("example.com", REG_CHANGEME,
	DnsProvider(aws),
	R53_ALIAS('@', 'A', 'example.elb.aws.com.', R53_ZONE('ABCD')),
	//NAMESERVER('ns-1.awsdns-1.org.'),
	//NAMESERVER('ns-2.awsdns-2.com.'),

[2022-02-22 20:26] tlimoncelli commented on #1417
Hi there!

I did some checking.  Yes, the TTLs must be set manually with `NAMESERVER_TTL()`.   DNSControl does not set the TTL automatically.  I'll tag this issue as a feature request.

ProTip: you can set `NAMESERVER_TTL()` for many domains by declaring `DEFAULT()` before any `D()` statements.

[code]

[2022-02-23 05:23] Subramanian-ERS commented on #719
Hi @tlimoncelli, so I have around 200 records in an existing R53 zone without a trailing dot. So, that means I have to run dnscontrol push 200 times for all the records to have a trailing dot in the end?

Also, is there no workaround for DNSControl to skip the error that currently occurs if we do not add a trailing dot in the end of such records?

[2022-02-25 21:42] misilot opened #1420 "Documentation Examples not being formatted correctly"
Function example are showing raw text instead of parsing the Markdown tags

[code]

<img width="1385" alt="image" src="https://user-images.githubusercontent.com/1446856/155807034-41eb628d-ce6d-4e0d-9e42-c636039a5b0a.png">

[2022-02-28 15:49] tlimoncelli commented on #1420
Hey @juliusrickert !  It looks like d5665ceaf65ca93a0d06075c2eeea642e6935581 had an unexpected bug.  Can you take a look?

[2022-02-28 15:49] tlimoncelli commented on #1420
(also... I don't find much value in having the examples hidden until the triangle is clicked.  Do you?  I'd be fine with removing that.)

[2022-02-28 16:05] truthdoug commented on #456
@chathamws were you able to re-try using dnscontrol for Route53 private zones? If so, please add a comment to this discussion.

[2022-02-28 16:42] tlimoncelli commented on #1420
To build the pages locally, use the command in the README.md file:

[code]

You can add `--watch` to the end of the line if you want it to auto-regenerate.

Note: Links that use the site.github.url variable don't work.  It's on my list of things to investigate too.

[2022-03-01 14:38] tlimoncelli commented on #1417
I haven't tried this yet but. Have you tried using the `IGNORE_TARGET()` function?

Maybe something like this?

[code]

[2022-03-01 15:08] tlimoncelli commented on #1416
@kordianbruck: Anything I can do to help?   I'd like to see this fixed this month if possible.

[2022-03-01 15:09] #8 closed, assigned to nobody

[2022-03-01 15:56] tlimoncelli commented on #656
Closing. Duplicate of https://github.com/StackExchange/dnscontrol/issues/1079

[2022-03-01 15:56] #656 closed

[2022-03-01 16:00] tlimoncelli commented on #859
CC: @costasd

[2022-03-01 16:01] tlimoncelli commented on #859
When you get "DUPLICATE E_RECORD FOUND", manually delete all the records from the zone and try again. It should work. I don't know what causes this, but that's the workaround.

[2022-03-01 16:02] tlimoncelli commented on #935
Closing stale issue.  Please re-open to continue the conversation.

[2022-03-01 16:02] #935 closed

[2022-03-01 16:05] tlimoncelli commented on #990
Closing. There's little to no interest in using dnscontrol to manage DHCP.

[2022-03-01 16:05] #990 closed

[2022-03-01 16:10] tlimoncelli commented on #1002
Could you try again?  otto has been upgraded.

[2022-03-01 16:11] tlimoncelli commented on #1010
I'm going to assume this is fixed. If not, please re-open this ticket.

[2022-03-01 16:11] #1010 closed

[2022-03-01 16:17] tlimoncelli commented on #1175
No plans.  PRs gladly accepted.

[2022-03-01 16:18] tlimoncelli commented on #1177
Is this issue ready to be closed?

[2022-03-01 16:25] tlimoncelli commented on #1263
Is this issue ready to be closed?

[2022-03-01 16:29] tlimoncelli commented on #1367
Fixed a few releases ago.  See https://stackexchange.github.io/dnscontrol/nameservers

[2022-03-01 16:29] #1367 closed

[2022-03-01 16:29] tlimoncelli commented on #1362
Friendly ping?  @kordianbruck

[2022-03-01 16:42] tlimoncelli commented on #1400
I've decided to deprecate this feature.

* We have no expertise in supporting the code. It is unfair to encourage people to use something that could break without warning.
* certbot now supports DNS-01
* There are many, many, many ACME-compatible projects
* SO (who sponsors this project) is working to move Let's Encrypt renewals to another system in 2022.

I haven't set a specific date but it will

[2022-03-01 16:44] #1344 closed

[2022-03-01 16:53] tlimoncelli commented on #1332
Fixed by dcb0e58b9

[2022-03-01 16:53] #1332 closed

[2022-03-01 16:54] #1331 closed

[2022-03-01 16:58] tlimoncelli commented on #1327
I'm closing this feature request as I believe the cli-variables are sufficient for the goal.

[2022-03-01 16:58] #1327 closed

[2022-03-01 17:00] tlimoncelli commented on #1314
Friendly ping?

[2022-03-01 17:40] svernick commented on #1330
Hi.

Is #1330 an open issue?

From: Tom Limoncelli ***@***.***>
Reply-To: StackExchange/dnscontrol ***@***.***>
Date: Tuesday, March 1, 2022 at 11:55 AM
To: StackExchange/dnscontrol ***@***.***>
Cc: "Vernick, Steve" ***@***.***>, Mention ***@***.***>
Subject: Re: [StackExchange/dnscontrol] AKAMAIEDGEDNS: Fix staticcheck errors (Issue #1330)

Friendly ping?

—
Reply to this email directly, view it

[2022-03-01 17:51] svernick commented on #1330
It looks like I fixed it on my fork but never asked for a pull request.

From: Tom Limoncelli ***@***.***>
Reply-To: StackExchange/dnscontrol ***@***.***>
Date: Tuesday, March 1, 2022 at 11:55 AM
To: StackExchange/dnscontrol ***@***.***>
Cc: "Vernick, Steve" ***@***.***>, Mention ***@***.***>
Subject: Re: [StackExchange/dnscontrol] AKAMAIEDGEDNS: Fix staticcheck errors (Issue #1330)

Friendly ping

[2022-03-01 19:38] tlimoncelli commented on #1330
Hmm.... it looks like this was fixed but the issue wasn't closed.

Git blame for the first item shows it was fixed in December:

[code]

I've seen the error ("This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository.") when I've been in that situation.

Sorry for the confusion (and extra work)!  I'll close the related issues.

[2022-03-01 19:38] #1330 closed

[2022-03-01 19:41] svernick commented on #1330
No problem!  I’m glad that there’s an explaination!

From: Tom Limoncelli ***@***.***>
Reply-To: StackExchange/dnscontrol ***@***.***>
Date: Tuesday, March 1, 2022 at 2:38 PM
To: StackExchange/dnscontrol ***@***.***>
Cc: "Vernick, Steve" ***@***.***>, Mention ***@***.***>
Subject: Re: [StackExchange/dnscontrol] AKAMAIEDGEDNS: Fix staticcheck errors (Issue #1330)

Hmm.... it looks like this was fix

[2022-03-01 19:42] svernick commented on #1330
Should I have closed the issue?  Was that something that I was supposed to do?

From: "Vernick, Steve" ***@***.***>
Date: Tuesday, March 1, 2022 at 2:41 PM
To: StackExchange/dnscontrol ***@***.***>, StackExchange/dnscontrol ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [StackExchange/dnscontrol] AKAMAIEDGEDNS: Fix staticcheck errors (Issue #1330)

No problem!  I’m glad that there’s an explain

[2022-03-01 19:50] tlimoncelli commented on #1330
No worries. It happens all the time.

Here's a way to prevent that in the future.  If you include "Fixes https://url/to/bug" on its own line in the PR's description, when the PR is merged, the bug will be automatically closed.  Otherwise, just close it manually.

[2022-03-01 22:53] riku22 commented on #1263
Sorry.
This issue should have been fixed in #1303.

[2022-03-02 14:20] tlimoncelli commented on #1177
Thanks!

[2022-03-02 14:20] #1177 closed

[2022-03-03 12:47] costasd commented on #859
I've asked ns1 to enable DNSSEC on my test account to verify the bug (DNSSEC is opt-in in NS1).

Feel free to assign this to me!

[2022-03-03 13:35] juliusrickert commented on #1420
Sorry for the delay.

Didn't get Jekyll to work with Rancher Desktop.
Ended up reinstalling Docker Desktop.

[2022-03-03 15:06] tlimoncelli commented on #859
Usually we change these to TXT records. See line 620 of providers/cloudflare/cloudflareProvider.go as an example.

[2022-03-03 19:32] FingerlessGlov3s opened #1436 "Failing to retrieve zone info for one zone in Cloudflare account"
I'm just in the process of setting up dnscontrol for my cloudflare domains.

It works for all domains but one, which is erroring with the below, but the error doesn't seem to point out the issue. How do I go about looking for the issue? I assume there's something in Cloudflare that's configured that isn't support in dnscontrol. I've added -v to get verbose output but that didn't add any more outpu

[2022-03-03 19:35] tlimoncelli commented on #1436
It's failing on a line of code that is looking for the target on an SRV record.  Is there a chance the target is missing?

[2022-03-03 19:38] FingerlessGlov3s commented on #1436
Indeed I did!

Thank you for the quick support 😀

[2022-03-03 20:28] tlimoncelli commented on #1436
Glad to help! You caught me on a slow day :-)

I'm going to re-open this because the code shouldn't crash when that happens.

[2022-03-03 21:53] #1436 closed

[2022-03-04 03:28] kallsyms commented on #1334
After #1341 I'm not getting any errors running `staticcheck` locally

[2022-03-04 12:39] tlimoncelli commented on #1334
Confirmed.  Thanks!

[2022-03-04 12:39] #1334 closed

[2022-03-04 12:49] #1420 closed

[2022-03-04 12:52] tlimoncelli commented on #1333
Resolved elsewhere.

[2022-03-04 12:52] #1333 closed

[2022-03-04 12:52] tlimoncelli commented on #1314
Resolved elsewhere.

[2022-03-04 12:52] #1314 closed

[2022-03-04 12:52] tlimoncelli commented on #1312
Resolved elsewhere.

[2022-03-04 12:52] #1312 closed

[2022-03-04 12:52] tlimoncelli commented on #1311
Resolved elsewhere.

[2022-03-04 13:53] szczot3k opened #1440 "DNSControl panics, while trying to print corrections on push."
Hi,
we're using DNSControl in production to control a quite big DNS Zone (about 1400 records).
While trying to move the DNS to Cloudflare, we've encountered a DNSControl panic, while trying to print corrections on push.
It managed to print corrections on preview (https://github.com/itwzhp/infrastruktura/pull/139), but it failed while deploying the zone to Cloudflare - https://github.com/itwzhp/inf

[2022-03-04 14:22] karol-gro commented on #1440
As a note: we use version 3.14.0

[2022-03-04 15:00] tlimoncelli commented on #1440
Hi there!

I'm sorry to say that this is a real bug.  I can reproduce it by running the "pager1201" integration test.  This test is disabled for CLOUDFLAREAPI by mistake.

The problem is that the Cloudflare API only accepts 1000 changes per call.  To fix this, DNSControl needs to split up the requests into smaller groups.  It does not do that today.

Workaround: Push 900 changes at a time.
1. Comm

[2022-03-06 17:05] costasd commented on #859
Sadly I haven't been able to reproduce the SPF issue yet - setting SPF cases from the panel doesn't break dnscontrol.

@Knight1, given how old this bug is, would you be able to retest and if still breaking, share a config snippet or test case triggering the issue?

Thanks!

[2022-03-06 17:20] costasd opened #1444 "NS1: Enable AUTODNSSEC capability"
NS1 provides a way to enable/disable managed DNSSEC through their [DNSSEC API](https://ns1.com/api/#post-enable-dnssec-for-a-zone), with the only caveat being that DNSSEC capability has to be enabled across the account first via support.

The API part of the above process seems to map directly to the AUTODNSSEC capability.

Investigate whether that's actually the case for the ns1 provider and if y

[2022-03-06 17:21] costasd commented on #1444
[planning to work on this, but can't assign myself]

[2022-03-07 16:08] costasd opened #1445 "NS1: Enable DS support"
NS1 supports DS records, but currently breaking if enabled. Let's fix support for them.

[2022-03-07 19:27] andreaso commented on #1342
Looks like the version numbers have started to line up again.

[code]

These are both the `dnscontrol-Linux` raw binary download.

[2022-03-09 08:56] chrisbrownie opened #1451 "Preview failing with interface {} is nil, not float64"
I've had DNSControl working well for some time, and recently it's begun failing with the error below:

```panic: interface conversion: interface {} is nil, not float64```

This occurs when running `dnscontrol preview` via either my normal GitHub Actions method, or when running dnscontrol (`dnscontrol v3.15.0 ("eb81a7f4e54e4d48b421d6003eae151480b2fea9") built 08 Mar 22 05:52 AEDT)`) locally.

I've

[2022-03-09 15:59] tlimoncelli commented on #1451
Hi there!  Thanks for reporting this!

The stack trace points to a bunch of code that is pretty brittle.

I'm going to guess that there's a SRV record with a missing priority, weight, or port.  As a work-around, try fixing that SRV record or deleting it.  I'll look into fixing the code.

[2022-03-09 17:13] tlimoncelli commented on #1451
I think the code at https://github.com/StackExchange/dnscontrol/pull/1452 will fix this problem.  Could you compile it and give it a try?

[2022-03-09 20:20] #1451 closed

[2022-03-09 21:21] chrisbrownie commented on #1451
That did it, Tom. Thank you!

[2022-03-09 21:26] tlimoncelli commented on #1451
Glad to help!

[2022-03-11 15:12] #1444 closed

[2022-03-13 20:34] peerau commented on #1255
Would you like one?

[2022-03-14 04:59] fm opened #1453 "Linode: Add CAA support"
Hey @koesie10!

Can you add CAA support for Linode? Their web UI and [API](https://www.linode.com/docs/api/domains/#domain-record-create) support it, but the tool says it doesn't.

Also, any ETA on when `get-zones` will be implemented? Since Linode doesn't provide BIND files either ([only a JSON version](https://www.linode.com/docs/api/domains/#domain-zone-file-view)).

Thank you!

[2022-03-14 13:36] tlimoncelli commented on #1453
CC @koesie10 (owner of this provider)

Note: there's a new function `rc.PopulateFromString` which might be helpful.

[2022-03-14 13:38] tlimoncelli commented on #1255
Sure!

[2022-03-14 14:55] Subramanian-ERS commented on #1417
Hi @tlimoncelli,

I tried using IGNORE_TARGET, but it did not work. According to the documentation page, seems like it would work only for CNAME records.

[2022-03-14 15:04] peerau commented on #1255
hit up https://fossho.st/apply :D

[2022-03-14 15:06] tlimoncelli commented on #1417
Drat.  Oh well, it was worth a try!

I looked at how we do this at Stackoverflow and we just manually set the TTL to match R53.  Once it is correct, that rarely changes.

[2022-03-14 15:35] tlimoncelli commented on #1255
FYI: We'll be moving this to CircleCI between now and July, hopefully sooner.  Adjust the amount of effort you put into this accordingly.  (I assume this is a simple eddit to `dnscontrol/.github/workflows/release.yml` )

[2022-03-14 15:37] Subramanian-ERS commented on #1417
Right. We will also manually configure it to have the same value for now though I would love this feature request to be implemented.

But I will close it for now. Thanks.

[2022-03-14 15:41] tlimoncelli commented on #719
In https://github.com/StackExchange/dnscontrol/pull/1418 I made related changes.

[2022-03-14 15:46] Subramanian-ERS commented on #719
So, I would not have to push 200 times?

[2022-03-14 15:48] Subramanian-ERS commented on #719
That is amazing. Thank you @tlimoncelli.

[2022-03-14 15:55] tlimoncelli commented on #719
Glad to help!

Funny story: I didn't think I was able to fix it!  When I fixed the get-zones problem I saw a solution to the other problem!  Sometimes trying is half the battle!

[2022-03-14 16:17] peerau commented on #1255
I can supply GH Runners, GL, runners and CircleCI runners on ARM64, no problem. email me at peer@fosshost.org and we can work something out

[2022-03-23 02:23] tlimoncelli opened #1457 "Request for Comments: Include the provider type in creds.json, remove it from dnsconfig.js"
## Problem:

Many commands and functions require the user to specify the provider name (such as `ROUTE53`) and the cred-name. This is redundant, error prone, and additional cognitive load on the user.

Proposed solution: Store the provider name in the individual `creds.json` entries themselves; thus removing the need to specify them in dnsconfig.js or on the command line.

## TL;DR:

Should we cha

[2022-03-23 03:14] tlimoncelli opened #1458 "Refactor creds.json processing"
Problem: The code that decodes the json for creds.json is spread out all over the place.  Multiple files in commands/*.go read it and every provider has to parse their own sub-section of the file.  This violates separation of concerns and is confusing for anyone creating a new provider (it requires devs to understand that obscure json rawmessage thing).

Instead, there should be a module called cr

[2022-03-23 09:07] aba-rechsteiner opened #1459 "Docker Image with v3.15.0"
for the release v3.15.0 there is no Docker image on [Docker Hub](https://hub.docker.com/r/stackexchange/dnscontrol/tags) yet. Would it be possible to create one?

[2022-03-24 14:07] tlimoncelli opened #1460 "HEXONET: Update github.com/hexonet/go-sdk/v3"
Tests are failing.

"In case you experience trouble with DNSControl's automated tests for provider HEXONET: Our OT&E System switched to another DC and its endpoint URL has changed. We released an update of our GO-SDK (https://github.com/hexonet/go-sdk, v3.5.3) in the go module namespace v3 that you just might to update. It is a dependency of our provider module."

[2022-03-24 15:23] papakai commented on #1460
Please rely on the domain provided via PM. Just in case you guys again experience issues with the test domain, we will find another way. actually you're using a demo user that is accessible in public and anyone could apply changes or move it away.

[2022-03-24 15:48] tlimoncelli opened #1461 "HEXONET: Bad printf-style format string"
CC @papakai

I saw this error:

[code]

The code that generates it is providers/hexonet/nameservers.go:50

[code]

I think the intention is to include the HTTP status code 423, which is an int, not a string.

If we change the code as follows, the error message will be:

[code]

I like using `%q` for domain names because it puts quotes around the value. If someone accidentally specified the domain

[2022-03-24 16:53] #1460 closed

[2022-03-24 19:43] #1461 closed

[2022-03-27 19:05] tlimoncelli commented on #1458
Basically already exists in providers/config

[2022-03-27 19:05] #1458 closed

[2022-03-30 07:57] aba-rechsteiner commented on #1459
@tlimoncelli can you please have a look at this?

[2022-04-04 16:21] tlimoncelli opened #1476 "Improve skip_fqdn_check message"
This error is unclear:

[code]

Proposed revision:

[code]

[2022-04-04 17:06] Olivetti commented on #1457
For me, proposal C would fit best.

[2022-04-04 17:53] Olivetti commented on #1416
My quick hack is commenting out 'txtutil' in netcupProvider.go:

`--- netcupProvider.go.bak	2022-03-07 19:51:14.000000000 +0100
+++ netcupProvider.go	2022-03-08 11:46:14.511889706 +0100
@@ -6,7 +6,7 @@ import (

 	"github.com/StackExchange/dnscontrol/v3/models"
 	"github.com/StackExchange/dnscontrol/v3/pkg/diff"
-	"github.com/StackExchange/dnscontrol/v3/pkg/txtutil"
+//	"github.com/StackExchange/d

[2022-04-04 18:05] #1476 closed

[2022-04-04 18:47] tlimoncelli commented on #1416
Yup!  That looks like the right thing!  Thanks for investigating that!

@Olivetti Could you submit a PR with that change?

Tom

P.S. When you submit the PR, please post as a comment the output of the integration test.  Thanks!

[2022-04-04 18:58] Olivetti commented on #1416
Yes, i'll try my best and hopefully can count on your support if i get stuck at testing (never did).

[2022-04-05 01:27] philpennock commented on #1457
I prefer A, because JSON shouldn't be imposing structure inside keys using colon-delimited fields; C is my second choice, B makes little sense to me.  I can adapt to whatever.

My preference for A is by quite a wide margin, because whenever I'm using JSON I end up doing ad-hoc queries with tools such as `jq`, and being able to look up an entry by name and then query the provider as a field makes m

[2022-04-06 19:03] Olivetti commented on #1416
Hello Tom, here it comes … #1481

[2022-04-13 03:02] tlimoncelli commented on #1457
@philpennock That an interesting point about wanting to be able to easily manipulate creds.json using something like jq.
 What if `PROVIDER:name` and `name` were both permitted?  jq scripts could refer to `GANDI_V5:gandi` but hand-written code might just refer to `gandi`.  Of course, `name` would have to be unique across all entries, but that's easy to enforce.

Thoughts?

[2022-04-13 14:03] riku22 opened #1483 "Question: How to set a default nameserver for multiple zones?"
Hello.

I created a delegation set in Route53.
And I'm trying to use the white-labeled name server with the delegation set I created.
Is there a way to use the white-labeled name server created in multiple zones using Route53 as the default?
I know it can be overwritten with `NAMESERVER`, but writing many of the same records is hard and can lead to mistakes.
Do you have any ideas?

Best regards.

[2022-04-13 18:55] philpennock commented on #1457
Duplicate possibilities mean you have to detect both and handle both, or so it's more work and more fragility, with less testing that scenarios are fully handled.  Pick one and work with it.

[2022-04-14 04:43] scoobydooxp opened #1484 "Provider request: Imperva"
Imperva has a DNS API for their DNS protection service. It would be amazing to have support added to dnscontrol for it.

https://docs.imperva.com/bundle/cloud-application-security/page/dns-api-definition.htm

[2022-04-14 12:53] tlimoncelli commented on #1483
I don't know much about delegation sets, but I do know a little something about repeating records (and the pain created when they aren't all the same!).

For example, you can define a list of records and re-use them in many different `D()` statements.  Some examples are here: https://stackexchange.github.io/dnscontrol/code-tricks

Does that help?  if not, please show me what you've tried so far.

[2022-04-14 13:15] riku22 commented on #1483
Hello.

Thank you for your advice.
I think I can do what I want by using the list.
Thank you very much.

Best regards.

[2022-04-14 13:15] #1483 closed

[2022-04-15 06:57] m-ueberall commented on #1362
@tlimoncelli, @kordianbruck: It's been more than three months now…
Despite all understandable reasons/circumstances – Does it make sense to list provider “NETCUP” as still being (actively) maintained?

[2022-04-24 13:22] tlimoncelli commented on #1457
I'm taking a look at how Plan A might be implemented.  One thing I've noticed is that it might be more clear to specify "TYPE" instead of "PROVIDER".  The code and other docs refer to that field as the `type`.

[2022-04-24 18:47] tlimoncelli commented on #1457
I have a draft PR of "Plan A" in https://github.com/StackExchange/dnscontrol/pull/1485

Feedback appreciated!

[2022-04-27 20:19] costasd commented on #1372
Hey, had some spare time so I took a stab at this :)

[2022-05-02 10:16] adrian-hoasted opened #1492 "CLOUDFLAREAPI (Cloudflare DNS) add PTR support"
Cloudflare DNS has PTR support

https://www.cloudflare.com/en-gb/learning/dns/dns-records/dns-ptr-record/

https://developers.cloudflare.com/dns/additional-options/reverse-zones/

Fixes:
[code]

[2022-05-02 10:30] extremeshok commented on #1492
+1

[2022-05-02 13:36] tlimoncelli commented on #1492
I'm glad to hear they added PTR support.  Please send a PR!

Github will run tests for you.  You can also run tests locally with the instructions in [Creating new DNS Resource Types (rtypes)](https://stackexchange.github.io/dnscontrol/adding-new-rtypes)  (I can help with running tests, etc.)

[2022-05-02 14:08] x70b1 opened #1493 "Executing of creds.json is broken but works as intended"
@tlimoncelli

You put some effort into this feature. Awesome! :sunglasses:
I found things like https://github.com/StackExchange/dnscontrol/issues/1458 and https://github.com/StackExchange/dnscontrol/pull/1456.

I used the executable creds.json feature without a `--creds` flag. This is not working anymore as you changed the logic behind it. I build dnscontrol from the master branch. `creds.json` fi

[2022-05-02 14:29] tlimoncelli commented on #1493
Yes, the "don't try to execute creds.json if the +x bit is set" change was due to Windows thinking all files have the +x bit set (at least in our environment. YMMV).

I think that having a file with a .json extension being executable is confusing.  It might not be technically wrong or bad, but it sure is confusing ... especially when you find yourself running "jq" on what turns out to be a shell s

[2022-05-02 15:05] tlimoncelli commented on #1493
Cool. Thanks for sharing that.

I'd love to see your script (redacted, of course) to understand how you generate the json.

[2022-05-02 17:46] tlimoncelli commented on #1493
Thank you for sharing that.   It helps me understand how people use the feature.

Thanks!
Tom

[2022-05-03 07:49] adrian-hoasted commented on #1492
@tlimoncelli I have started with a PR #1496

[2022-05-03 12:30] tlimoncelli commented on #1492
Thanks for the PR!

[2022-05-03 12:30] #1492 closed

[2022-05-03 17:50] tlimoncelli opened #1497 "RFC: Get rid of spfcache.json because it creates more outages than it could ever have prevented"
The whole `spfcache.json` concept was done for misguided reasons.  It adds complexity to protect us against a situation that has literally never happened.  It was added to placate a particular gaslighting SRE, not for valid business reasons.  In the years since it was implemented, it has created more work and more outages than it was intended to prevent.  This cache isn't needed and should be remo

[2022-05-04 12:41] #1372 closed

[2022-05-06 20:35] aba-rechsteiner commented on #1459
@tlimoncelli please trigger the docker image build pipeline

[2022-05-07 16:03] #1493 closed

[2022-05-08 00:25] tresni commented on #272
@tlimoncelli this still shows up as a "Requested Provider".  I'm guessing because the tag is still there and/or the website hasn't been regenerated in a while?

[2022-05-08 00:27] tresni commented on #815
@tlimoncelli Still shows up as a "Requested Provider" even though it's supported

[2022-05-08 00:27] tresni commented on #87
@tlimoncelli still shows up as a requested provider even though it's supported

[2022-05-08 18:23] #1457 closed

[2022-05-08 18:27] tlimoncelli commented on #1457
Thanks to everyone for their feedback!  I went with "Plan A" as described.

It turns out Plan A wasn't as difficult to implement as I had hoped. Thanks to [philpennock](https://github.com/philpennock) for pushing in that direction.

[2022-05-08 18:55] #1402 closed

[2022-05-08 18:56] tlimoncelli commented on #1416
Fixed by https://github.com/StackExchange/dnscontrol/pull/1481

[2022-05-08 18:56] #1416 closed

[2022-05-08 19:00] tlimoncelli commented on #1369
@juliusrickert Why would this be a breaking change?  I think that if "dnscontrol preview" outputs a sufficient warning, it shouldn't be a surprise to see the domain created during a push.

That is...

`preview` should output something like:

[code]

Remember: This is adding it to the DSP, not registering it or doing anything that costs money.

[2022-05-09 02:56] tlimoncelli commented on #1205
I can't find any examples of providers that don't lazy authenticate.  Can anyone else?

[2022-05-09 02:58] tlimoncelli commented on #1002
I'm going to assume this works now.  Please re-open if you find it doesn't work as expected.

[2022-05-09 02:58] #1002 closed

[2022-05-09 02:59] tlimoncelli commented on #719
Fixed!

[2022-05-09 02:59] #719 closed

[2022-05-09 03:01] tlimoncelli commented on #19
ACTIVEDIRECTORY_PS is decommed.  Not going to implement this.

[2022-05-09 03:01] #19 closed

[2022-05-09 03:04] tlimoncelli commented on #215
After all this time there's been no demand for this. Closing.  Can re-open if we need this in the future.

[2022-05-09 03:04] #215 closed

[2022-05-09 03:04] tlimoncelli commented on #365
After all this time there's been no demand for this. Closing.  Can re-open if we need this in the future.

[2022-05-09 03:04] #365 closed

[2022-05-09 03:04] tlimoncelli commented on #194
After all this time there's been no demand for this. Closing.  Can re-open if we need this in the future.

[2022-05-09 03:04] #194 closed

[2022-05-09 08:00] extremeshok commented on #1497
My workflow has always been to delete the *spfcache.json* before every run.

Not removing the file created more issues than it solved. At least from my usage of dnscontrol over the years.

[2022-05-09 13:22] riku22 opened #1504 "About SOA records on Gcloud"
Hello.

I'm trying to change a SOA record in Gcloud.
However, the following error is displayed and I cannot change it.

`printIR.go:94: ERROR: domain example.com uses SOA records, but DNS provider type GCLOUD does not support them`

SOA records are listed under [Supported DNS record types] and can be changed from the web.
Is this an API limitation?

Best regards.

[Supported DNS record types]: htt

[2022-05-09 15:44] tlimoncelli commented on #1504
Those two fields (the nameserver and email address) aren't used any more.

Your nameservers are specified by the NS records of the parent domain. The value in the SOA is ignored.  It used to be used to indicate which nameserver was the primary for zone transfers, but that kind of info is now stored in the configuration of the DNS servers involved in the transfer.

The email address is only used by

[2022-05-09 19:36] costasd commented on #1497
Haven't used the optimizer that much so can't speak for or against its cache deprecation; that said, I do agree with the general sentiment that it makes things more complicated without bringing a lot of value back.

One thing to note though, is that probably some part of the cache functionality has to remain in `pkg/spflib` to accommodate offline parser tests ie. the issue described in #1071. And

[2022-05-09 21:18] patschi commented on #1497
I've been using and updating the spfcache during the CI process automatically. I run `dnscontrol check`, which causes the SPF-cache to be updated. A script then detects if the file has changed and automatically performs a git commit to the repo. So any sequential run, the file is up-to-date.

So I never had any issue with the spfcache on my end.

[2022-05-09 21:22] riku22 commented on #1504
Hi.

Yes, I am using NAMESERVER records and was wondering because the nameservers in the SOA records are not changing.
Thank you very much for your help.

Best regards.

[2022-05-09 21:28] tlimoncelli commented on #1497
@patschi Ah!  Very interesting!  Where I work, we have an unofficial policy that a CI process can't check things into a git repo.

[2022-05-09 21:52] patschi commented on #1497
Interesting, didn't know there're policies for such things. I only use dnscontrol for my private lab, so no restrictions there.

If anyone is interested, that's the script I've built:

[code]

[2022-05-09 23:07] #1504 closed

[2022-05-10 09:39] norman-zon opened #1505 "[Feature] Check for different TTLs on records of same name"
Despite not being describet in the [RFC1035](https://www.rfc-editor.org/rfc/rfc1035), it seems to be a quasi standard to normalize TTLs across records of the same name.
For example, a record like this:
[code]
will be normalized to use only one TTL by most providers, which makes sense, as described [here](https://superuser.com/a/1036682).

It would be a nice feature for dnscontrol to check for reco

[2022-05-10 12:27] tlimoncelli commented on #1505
Funny you should mention that!  https://github.com/StackExchange/dnscontrol/pull/1489 warns about this and will be in the next release.

[2022-05-10 16:00] tlimoncelli commented on #1505
Another side-effect if this is some DNS providers update the TTLs on the related records to match the last inserted.  Dnscontrol's next run tried to fix those records, which then begins a loop where each run of dnscontrol thinks there are records to be updated.

[2022-05-11 06:53] norman-zon commented on #1505
That's what I experienced with NS1

[2022-05-12 09:17] adrian-hoasted commented on #1459
+1 would love to have a version bump with cloudflare PTR support

[2022-05-20 18:26] #1505 closed

[2022-05-21 03:10] riku22 opened #1507 "V3.16.0: dnscontrol check fail"
Hello.

I have updated from dnscontrol v3.15.0.
And I updated `creds.json` and `dnsconfig.js` according to the instructions of `dnscontrol preview`, but I get the following error in `dnscontrol check`.

[code]

When I specified the type in `NewDnsProvider` of `dnscontrol.js` as before V3.15.0, the check was successful.
Isn't `dnscontrol check` compatible with the new method?

Best regards.

[2022-05-21 15:15] tlimoncelli commented on #1507
Thanks for reporting that.

I fixed something similar a few weeks ago.  This is definitely a bug.

Can you help me reproduce the issue locally?  Is there a minimal dnsconfig.js (or redacted file) that you can provide?

[2022-05-21 21:54] riku22 commented on #1507
Hi.

`dnsconfig.js` is as follows.

[code]

I changed `var gcloud = NewDnsProvider("gcloud");` to `var gcloud = NewDnsProvider("gcloud", "GCLOUD");` and the check succeeded

Best regards.

[2022-05-22 02:45] adrian-hoasted commented on #1507
same issue here.

var DNS_CLOUDFLARE = NewDnsProvider('cloudflare', {'manage_redirects': true});
[code]

var DNS_CLOUDFLARE = NewDnsProvider('cloudflare', 'CLOUDFLAREAPI', {'manage_redirects': true});
[code]

[2022-05-22 15:37] tlimoncelli commented on #1507
I've fixed the problem with https://github.com/StackExchange/dnscontrol/pull/1508 but I'm not entirely happy with it.

### Cause of the bug

The "check" subcommand performs all validations that can be done without reading creds.json. The basic idea is that you have some users that aren't allowed to see creds.json (because it includes secrets) but are involved in submitting PRs.  They should be abl

[2022-05-22 16:50] extremeshok commented on #1459
@tlimoncelli do you need help with the docker images ?

[2022-05-23 23:01] philpennock commented on #1507
I had a wide-margin preference for not embedding structure inside string keys in JSON, that's it.

Ultimately, with B or C you're saying "don't repeat information" and now also "but we should repeat information, just embed it inside one string" and then ... apparently repeat it in both files after all. My reading of #1457 was that the provider typing would _only_ be in `creds.json`, as part of the

[2022-05-24 19:27] tlimoncelli commented on #1507
Thanks for the feedback.

I think I'm over-thinking this (really? 4 paths forward?).  I've implemented "path 1" and I think that's good enough.

Thanks!

[2022-05-26 18:27] tlimoncelli opened #1509 "CLOUDFLARE: Quotes around TXT records mishandled"
CC @tresni

When a TXT record includes quotes around a TXT string, it never doesn't do the update correctly.  I tested this with NAMEDOTCOM and didn't see the problem there.  I think the bug must be in the Cloudflareapi provider itself.

How to reproduce:

Create a domain that uses Cloudflare as the DSP.  Include a TXT record with double-quotes around the string:

[code]

When you "preview" or "pu

[2022-05-28 05:18] riku22 commented on #1507
Hello.

Thank you for the release of V3.16.1.
However, it seems that there are still problems.
Using records such as `CAA` and` ALIAS` will result in an error.

The error is as follows.

[code]

The contents of `dnsconfig.js` are as follows.

[code]

Best regards.

[2022-05-28 09:21] IzumiSenaSora opened #1511 "Multiple DefaultTTL With DEFAULTS"
Hi i want to add different DefaultTTL per DnsProvider from DEFAULTS
at this moment i use this JSON Config

`DEFAULTS(
	DnsProvider(deSEC, 2),
	DefaultTTL(3600),
	DnsProvider(CLOUDFLARE, 2)
);`

but this JSON Config will send `DefaultTTL 3600` to `DESEC + CLOUDFLARE`
what i want to do is make `CLOUDFLATE get DefaultTTL 1` and `DESEC get DefaultTTL 3600`
is there any way to do it without touching `D

[2022-05-29 15:26] tlimoncelli commented on #1511
Hi!  That's an interesting issue you've raised!

I don't think the problem is with `DEFAULTS()`.  I think what you are trying to do isn't supported by dnscontrol.  You can't supply a different TTL for different providers.

The `DEFAULTS()` function simply copies the items into future `D()` statements.  It can't do anything that couldn't be done by just manually copying items into `D()`.

Let's try

[2022-05-29 15:45] tlimoncelli commented on #1507
Thank you, @riku22 !  (and thanks for including a reproduction case!)

I was able to track down the problem.  The fix is in https://github.com/StackExchange/dnscontrol/pull/1514

[2022-05-29 16:03] tlimoncelli opened #1515 "CSCGLOBAL: Add support for being a DNS Service Provider"
CC @mikenz

The CSCGLOBAL provider is a registrar only.  This is a feature request to add DSP support too.

(I'll be working on this over the next week.)

[2022-05-29 17:33] IzumiSenaSora commented on #1511
Hello...
What i am trying to do is
Lets say I have 50+ domain

`D("example.com", ...
...
      DnsProvider(deSEC, 2),
      DefaultTTL(3600),
      DnsProvider(CLOUDFLARE, 2) );
...)`

Doing this config looks junky
Cause i have to repeat it!...
Thats why i just used `DEFAULTS` cause thats why this feature is here ... so we dont need to repeat same thing...
Truly that not an issue...
Issue is
I wan

[2022-05-29 20:01] tlimoncelli commented on #1511
Hmm... DNSControl isn't made to do this.  I would set the TTL to 3600 everywhere.  Cloudflare ignores the TTL for proxied IPs (https://developers.cloudflare.com/dns/manage-dns-records/reference/ttl/).  Non-proxied IP probably don't get used very much.

You could use the CLI variables and run dnscontrol twice... once for each provider.  This is very complicated and probably isn't worth it.  It is v

[2022-05-29 20:09] IzumiSenaSora commented on #1511
Ok... i am using 3600 for all provider... from the beginning ...i just wanted to know if its possible.... and it seems its not possible... anyway thanks for your time.... i will close this issue

[2022-05-29 20:10] #1511 closed

[2022-06-01 05:23] riku22 commented on #1507
Hello.

Thank you for the release of V3.16.2.
I confirmed that it was fixed.

Best regards.

[2022-06-01 05:23] #1507 closed

[2022-06-02 11:26] riyadhalnur opened #1522 "GCLOUD: new code owner"
I'd like to volunteer to maintain the **GCLOUD** provider.

[2022-06-02 14:49] tlimoncelli commented on #1522
Hey that'd be awesome!  Could you email me at tlimoncelli at stack over flow dot com?

[2022-06-03 09:31] extremeshok opened #1524 "Support for Automatic PTR for A records"
According to the docs: "In the future we plan on adding a flag to A() which will insert the correct PTR() record if the appropriate .arpa domain has been defined."

Any idea when this feature is planned ?

[2022-06-05 06:46] IzumiSenaSora opened #1527 "Create Multiple (A) Record From Single VAR"
We can do like this

`var GitLab = IP('35.185.44.232');`
Results
`example.com IN A 35.185.44.232`

But is it possible to do like this? Or any alternative?

`var Github = IP('185.199.108.153', '185.199.109.153', '185.199.110.153', '185.199.111.153');`
Results
`example.com IN A 185.199.108.153`
`example.com IN A 185.199.109.153`
`example.com IN A 185.199.110.153`
`example.com IN A 185.199.111.153`

[2022-06-06 10:05] adrian-hoasted commented on #1524
is there a way to check if there is an existing PTR domain defined for the A record IP of a different domain ?
along the lines of..
loop A records for mysite.com,
if  record IP exists in reverse zone 77.66.44.in-addr.arpa
then add PTR for A record under reverse zone
end if
end loop

[2022-06-06 13:08] tlimoncelli commented on #1524
Interesting question!  Sadly there's no API for that.

A work-around would be to run "dnscontrol check" and remove the PTR() that isn't in the loop.  Repeat until you get no errors.  "dnscontrol check" doesn't talk to the network* or access creds.json, which means it is easy to do this

Tom

* If you use the SPF optimizer, it will do some network access. We consider this a bug but fixing it is goi

[2022-06-06 19:25] IzumiSenaSora commented on #1527
I think it would be a good idea to make lot of advance config available in docs as an example ... what do you think?
Like how function like this can be useful!...
I am just suggesting .... cause i have no idea how function or java script works...

[2022-06-06 20:30] tlimoncelli commented on #1527
Good idea!

The docs do have some [Code Tricks](https://stackexchange.github.io/dnscontrol/code-tricks) and notes about [CLI variables](https://stackexchange.github.io/dnscontrol/cli-variables).  I'd be glad to add functions that are useful if people find them.

I, too, am not a javascript expert. Usually when I need anything complex I find a web designer and ask them to write the function for me.

[2022-06-08 18:53] #1369 closed

[2022-06-08 20:02] #1527 closed

[2022-06-08 20:03] tlimoncelli commented on #1515
PR https://github.com/StackExchange/dnscontrol/pull/1516 is getting close to done.  The code is ready for review.

[2022-06-08 20:11] tlimoncelli opened #1532 "CSCGLOBAL: Support URL redirects"
It would be nice if DNSControl could manage CSCGlobal's URL redirect feature.

NOTE: The API can report the URL redirect setting but it can not change it.  It would be sufficient to verify the value and output a note requesting a manual update on "push".

[2022-06-09 16:52] tlimoncelli opened #1533 "PROVIDER REQUEST: UltraDNS by Neustar"
Request for a new provider: UltraDNS by Neustar

There's a golang client library, but it hasn't been touched since 2020:
https://github.com/ultradns/ultradns-go-sdk

[2022-06-10 11:48] tlimoncelli commented on #1440
@karol-gro That's ok.

This is improved by https://github.com/StackExchange/dnscontrol/pull/1531 (it no longer causes a crash).  Hopefully we can fix it 100% in the future.

[2022-06-11 16:53] fdcastel commented on #1459
Who is the current maintainer for dnscontrol docker image? If there is none, I would like to apply for the job 😉

[2022-06-11 21:39] ghost opened #1534 "Who is the current maintainer of dnscontrol docker image? If there is none, I would like to apply for the job 😉"
Who is the current maintainer of dnscontrol docker image? If there is none, I would like to apply for the job 😉

_Originally posted by @fdcastel in https://github.com/StackExchange/dnscontrol/issues/1459#issuecomment-1152963626_

[2022-06-11 21:43] bybtiz-nedfic-1jigfA commented on #1534
Can you fill me in on this please as I'm not quite sure what this is about or means

[2022-06-12 20:01] #1515 closed

[2022-06-12 20:12] tlimoncelli opened #1535 "Code Refactoring Projects"
When I work across the code base I keep seeing certain problems that I'd like to see cleaned up some day.

This issue will maintain a catalog of those issues.  Anyone can feel free to pick up any of these and split them off into their own issue.

1.  Refactor ValidateAndNormalizeConfig().  It's a shitshow.  It's leaky and oddly structured.  We need to spit out the normalization step and the valida

[2022-06-12 20:32] tlimoncelli commented on #1459
Yes. I definitely need assistance.  I don't know docker very well and I'm unsure how to properly integrate it into our current CI/CD pipeline.

CC @ghost who asked the same question in https://github.com/StackExchange/dnscontrol/issues/1534

What I'm looking for is someone to decide what the docker result should be, send me a PR that implements that, instruct me if there is something I'd need to d

[2022-06-12 20:33] tlimoncelli commented on #1534
I put my answer in the original issue: https://github.com/StackExchange/dnscontrol/issues/1459#issuecomment-1153285944

[2022-06-12 20:42] fdcastel commented on #1459
Looking into it!

[2022-06-12 20:44] fdcastel commented on #1534
P.S.: I believe this is a bogus issue created by somebody playing with Github (from an account which is now deleted, hence the "ghost").

This issue can surely be closed.

[2022-06-12 20:49] jauderho commented on #1459
@tlimoncelli Does it have to be CircleCI? As previously mentioned, I already have a working GHA workflow and it has been working with no issue for over a year now.

Not the fastest but it works.

* Workflow: https://github.com/jauderho/dockerfiles/blob/main/.github/workflows/dnscontrol.yml
* Dockerfile: https://github.com/jauderho/dockerfiles/blob/main/dnscontrol/Dockerfile
* Docker Hub: https://h

[2022-06-12 20:58] fdcastel commented on #1459
I'm very short on time right now, but I promise to look further into this in a few days.

@jauderho Thanks for the great work!

[2022-06-13 10:42] #1534 closed

[2022-06-13 10:42] tlimoncelli commented on #1534
Ah.  I hadn't clicked on the profile to see what a ghost acct was.  Thanks!

[2022-06-14 17:41] tlimoncelli commented on #1459
It doesn't have to be CircleCI.

In 12-18 months we plan on moving to CircleCI but at that point we can re-use what you develop.

[2022-06-15 20:17] #1459 closed

[2022-06-16 08:55] aba-rechsteiner commented on #1459
@tlimoncelli thanks for taking care of this. Should it have a new image docker hub now?

[2022-06-16 14:05] tlimoncelli commented on #1509
I noticed this too.  https://github.com/StackExchange/dnscontrol/issues/1509   I used the same work-around.

@tresni Brian: Any thoughts on this?

[2022-06-16 14:29] tlimoncelli commented on #1509
FYI: `git diff v3.12.0 v3.13.0 providers/cloudflare` shows a lot of changes between those versions.

[2022-06-16 20:46] tlimoncelli commented on #1509
I think I found the problem! PR is progress: https://github.com/StackExchange/dnscontrol/pull/1538

[2022-06-17 01:17] tresni commented on #1509
You are too fast for me :)

[2022-06-17 12:43] tlimoncelli commented on #1509
No worries, @tresni.  I was Oops... I merged the PR to master before verifying the fix worked.

Hey, @virtualroot, can you verify that this fixed your issue?

Tom

P.S.  @tresni no worries. I think github's notifications don't always get delivered.

[2022-06-17 14:01] jzhang-sre opened #1539 "ROUTE53 Add Alias Support for S3 buckets"
It would be nice if dnscontrol supported Route 53's `alias` feature that allows A records to point to S3 buckets. This allows you to create redirects even for apex domains.

More details here: https://aws.amazon.com/premiumsupport/knowledge-center/redirect-domain-route-53/

![image](https://user-images.githubusercontent.com/66385638/174313286-b1ab288c-321a-447d-ab0e-00d4b42ebdba.png)

[2022-06-17 14:26] tlimoncelli opened #1540 "Populate domain at Gandi not working as expected"
CC @jpbede @TomOnTime

I'm not sure if this is a bug in https://github.com/StackExchange/dnscontrol/pull/1528 or in the Gandi provider, but I'm seeing warnings from Gandi that I don't see elsewhere.

[code]

Yet, when we "push" everything is fine:

[code]

[2022-06-17 15:10] jpbede commented on #1540
E.g. `gcloud` is trimming the dot at the end.

[2022-06-17 15:24] tlimoncelli commented on #1540
I looked into this and ListZones() is returning an empty list.  Hmm....

[2022-06-17 16:10] tlimoncelli commented on #1540
I found the issue.... it turns out to be a configuration issue!

My Gandi account didn't have the `sharing_id` set in creds.json, which meant ListZones() defaulted to the default org, which has nothing in it.  Setting `sharing_id` to the "main" org (why isn't main the default???) fixed the problem.

I have a PR to improve the docs in this area: https://github.com/StackExchange/dnscontrol/pull/1542

[2022-06-17 16:11] #1540 closed

[2022-06-17 17:00] tlimoncelli commented on #1509
https://github.com/StackExchange/dnscontrol/pull/1538 fixed only half of the problem. I see legacy domains with TXT records that have inappropriate quotes in them.  DNSControl should notice those and fix them.

Here's an example:
<img width="682" alt="screencapture_2022-06-17_12 59 18" src="https://user-images.githubusercontent.com/6293917/174344057-965d896e-093a-4c1e-896e-cafdca876712.png">

Some

[2022-06-17 17:02] tlimoncelli commented on #1509
Side note... Cloudflare may be "fixing this" at the back end:

[code]

[2022-06-17 18:47] tlimoncelli commented on #1539
CC @tresni

[2022-06-17 19:01] tresni commented on #1539
I would expect this to work using an ALIAS record in dnscontrol but we might need some additional metadata. I’ll double check when I get home tonight

[2022-06-18 12:42] tlimoncelli opened #1545 "Replace SetTargetTXTString with alternatives"
The quote parsing in SetTargetTXTString() doesn't handle escaped quotes. It is also badly named, because it doesn't imply that the string is parsed, which may lead to providers using it accidentally on strings that should not be parsed.

SetTargetTXTString should be depreciated.  Users are better off with the new function SetTargetTXTfromRFC1025Quoted() or simply SetTargetTXT() (single string) or

[2022-06-18 13:58] tlimoncelli opened #1547 "Improve doc "Writing new DNS providers""
Let's improve https://stackexchange.github.io/dnscontrol/writing-providers and make it easier to write providers.

1. Explain the file layout.  Use cscglobal as a model.

2. The intro should explain that basically if you can write a "get all records from a zone" function, you can write a provider.  Once you can download the records, you write a function that converts the records to the RecordConfi

[2022-06-18 14:02] tlimoncelli commented on #1509
@tresni @virtualroot I've merged this (much better) fix to master.  I found the exact same problem with one of our domains (askpatents.com) and it now finds and fixes the problem that @virtualroot reported.

I'm surprised this bug hasn't bitten other people, especially anyone using the SPF optimizer.

[2022-06-18 17:49] jauderho commented on #1509
Any chance we can get a point release for this?

[2022-06-18 18:46] tlimoncelli commented on #1509
Yup!  My plan is a full release Sunday or Monday.

[2022-06-19 12:38] tlimoncelli commented on #1539
It would be great if  dnscontrol could update the S3 bucket too.  That way there's a complete all-in-one solution for redirect domains.  That is, the user could list something like this in dnsconfig.js:

    R53_REDIRECT("www", "https://newplace.example.com")

[2022-06-19 13:03] tlimoncelli opened #1551 "Add one password tpl file example"
@plttn Jack, could you do me a favor and help other people use one password with dnscontrol by including
your `creds.json.tpl` file in the documentation?

More specifically:

1.  Add the template to the repo.

Put it in docs/assets/creds.json.tpl--example.txt

2.  Refer to it in the docs.

In `docs/creds-json.md` (seen as https://stackexchange.github.io/dnscontrol/creds-json.html) mention it as

`

[2022-06-19 17:41] plttn commented on #1551
Hi, just wanted to acknowledge this and should have a PR to add this sometime later today. Thanks for the heads up!

[2022-06-19 22:51] tresni commented on #1539
@jzhang-sre R53 alias records are already supported using the [`R53_ALIAS`](https://stackexchange.github.io/dnscontrol/js#R53_ALIAS) function.  It specifically supports mapping to S3 buckets and other AWS specific endpoints.  I'm not sure why this was implemented differently from just the standard `ALIAS` function though, maybe @tlimoncelli can speak to this. (If I were submitting a new R53 provid

[2022-06-20 03:34] riku22 opened #1555 "About V3.17 release name"
Hello.

The release name of V3.17 is "vv3.17", but the correct name is "v3.17", isn't it?
Is it possible to fix it?

Best regards.

[2022-06-20 11:30] tlimoncelli commented on #1555
Oops!  Sadly there is 1 manual step in the release process and, of course, that's where the typo happened!

Thanks for pointing this out.

I've renamed the release.  Does the "vv" appear any place else?

[2022-06-20 11:32] riku22 commented on #1555
Thank you.

It seems to have been fixed.

[2022-06-20 11:32] #1555 closed

[2022-06-20 11:35] #1551 closed

[2022-06-20 12:27] tlimoncelli opened #1562 "MAINT: DIGITALOCEAN upgrade dependencies"
@Deraen

It looks like this provider depends on a module that has a newer version.  Would you please test your provider with the newer version and submit a PR?

[code]

Near the end of `docs/release-engineering.md` are 2 different techniques for finding dependencies that need to be upgraded.

TLDR: Please submit a PR to upgrade this dependency.  Basically you'll be running these commands:

[code]

[2022-06-20 12:27] tlimoncelli opened #1563 "MAINT: DNSIMPLE upgrade dependencies"
@aeden

It looks like this provider depends on a module that has a newer version.  Would you please test your provider with the newer version and submit a PR?

[code]

Near the end of `docs/release-engineering.md` are 2 different techniques for finding dependencies that need to be upgraded.

TLDR: Please submit a PR to upgrade this dependency.  Basically you'll be running these commands:

[code]

[2022-06-20 12:27] tlimoncelli opened #1564 "MAINT: EXOSCALE upgrade dependencies"
@pierre-emmanuelJ

It looks like this provider depends on a module that has a newer version.  Would you please test your provider with the newer version and submit a PR?

[code]

Near the end of `docs/release-engineering.md` are 2 different techniques for finding dependencies that need to be upgraded.

TLDR: Please submit a PR to upgrade this dependency.  Basically you'll be running these commands

[2022-06-20 12:27] tlimoncelli opened #1565 "MAINT: NS1 upgrade dependencies"
@costasd

It looks like this provider depends on a module that has a newer version.  Would you please test your provider with the newer version and submit a PR?

[code]

Near the end of `docs/release-engineering.md` are 2 different techniques for finding dependencies that need to be upgraded.

TLDR: Please submit a PR to upgrade this dependency.  Basically you'll be running these commands:

[code]

[2022-06-20 12:39] aeden commented on #1563
Hey, @tlimoncelli , I think @onlyhavecans will take a look into this as she actively uses dnscontrol.

[2022-06-20 15:38] tlimoncelli opened #1566 "INWX: Please verify recordaudit.TxtNoStringsExactlyLen255 is required"
CC @svenpeter42

The INWX provider uses recordaudit.TxtNoStringsExactlyLen255()  in providers/inwx/auditrecords.go but does not use recordaudit.TxtNoStringsLen256orLonger().  This means the provider will accept a string that is length 254, 254, and 256... but not 255.

Is this true?  It seems more likely that you want to use recordaudit.TxtNoStringsLen256orLonger() instead.

Please try it both way

[2022-06-20 16:15] tlimoncelli opened #1568 "MAINT: PopulateFromString should use SetTargetTXT, not SetTargetTXTString"
[NOTE: This is not urgent.  I'm asking that everyone check their code in the next 4-5 weeks: I'd like to merge this on Aug 1, 2022]

The good news: PopulateFromString is very useful and a lot of people use it.

The bad news: PopulateFromString has a bug, and I need to check with everyone to make sure they aren't affected.

WHAT IS THE PROBLEM?

PopulateFromString calls SetTargetTXTString, which is

[2022-06-20 16:23] tlimoncelli commented on #1568
If this change breaks your integration tests, I have a few suggestions:

You may need to handle TXT records using special code, not using PopulateFromString():

[code]

After you fix your code, you may need to identify certain TXT strings that your code doesn't handle.  For example, cscglobal needed these:

[code]

More info is in `models/t_txt.go`

[2022-06-20 17:21] masterzen commented on #1568
Integrations test failures for ovh, because of double encoded quoted strings like:
[code]

I'm going to test with your suggested changes.

[2022-06-20 17:29] riyadhalnur commented on #1568
[code]

Multiple integration test cases also failed for GCLOUD (attached above is 1 such example). I will get back to you on this thread once I add the changes suggested.

[2022-06-20 17:53] masterzen commented on #1568
So, with OVH using `SetTargetTXTfromRFC1035Quoted` works a bit better, but ultimately fail those two tests:
[code]

I'll dig deeper about those failures, but regarding quoted strings, I've been noting the following:
* the OVH UI adds double quotes to the record value when creating a new TXT record
* the OVH API allows bare strings to be stored verbatim

[2022-06-20 17:54] jpbede commented on #1568
PDNS also failed on several integration tests. This has been fixed with #1569.

[2022-06-20 18:51] tlimoncelli opened #1570 "MAINT: Refactor auditrecords.go to do everything in one loop"
Each provider's auditrecords.go file loops over rc.Records once for each test.  That is, if there are 5 tests, it loops over the records 5 times.  This is a waste, since most of the records are not TXT records.  Also, there is a lot of repetition in the code.

Instead, auditrecords.go should take a list of checks to be performed. Common functions come from recordaudit, while tests that are specifi

[2022-06-20 19:19] tlimoncelli commented on #1568
I notice a lot of people have implemented similar parse functions:

* `providers/powerdns/convert.go` line 34 `func parseTxt(content string) (result []string)`
* `providers/namedotcom/records.go` line 208 `func decodeTxt(s string) []string`

Maybe we should pick the best and provide it as an exported helper function, similar to `SetTargetTXTfromRFC1035Quoted`?

[2022-06-20 19:26] jpbede commented on #1568
The parser function of `namedotcom` would also work for `powerdns`. All integration tests are passed with it.

[2022-06-20 20:05] onlyhavecans commented on #1563
I have put this on my list, thanks

[2022-06-20 20:33] riyadhalnur commented on #1568
The parser under `namedotcom` along with the `SetTargetTXTs()` method works for `GCLOUD` as well. I would opt for moving the parser under the `txtutil` package. If we're on the same page with that, I can go ahead and open a PR with the relevant changes later.

[2022-06-20 20:46] masterzen commented on #1568
I've fixed OVH with this change:

[code]

Tests also pass with  namedotcom `decodeTxts`.
Let me know there's a standard solution that should be used for the providers.

[2022-06-21 01:21] tlimoncelli opened #1571 "Integration tests should detect incorrect TXT parser"
The way providers deliver TXT records is very different.  Some send (a) 1 string, (b) many strings, (c) 1 string that encodes many strings using quotes.

Sadly a provider that  uses (a) will also pass all tests for (c).  As a result, we've had providers that did not handle TXT records with quotes properly.

Ideally the integration test system would have a test that fails when that situation is hap

[2022-06-21 01:25] tlimoncelli commented on #1568
@masterzen Of77 If both work, use the decodeTxts version.

[2022-06-21 14:19] tlimoncelli commented on #1568
Folks,
Just to let you know... I think I may not be explaining this all correctly.  I don't want to send you down the wrong road.

I think this is the decision flow-chart:

- Step 1: Does the API take/send 1 string or a list of strings?
  - List of strings: Your nativeToRc() should call  SetTargetTXTs(many []string); your Corrections code should copy the individual strings from rc.TxtStrings (whic

[2022-06-21 14:22] #1509 closed

[2022-06-21 21:12] masterzen commented on #1568
Your flowchart made plenty of sense, except that it doesn't seem to work with OVH:

1. Step 1: OVH accepts a unique string in the API -> go to 2.
2. Step 2: OVH UI accepts only a string, _and_ encloses in double-quotes as if it was a zone file.
<img width="578" alt="image" src="https://user-images.githubusercontent.com/20242/174896928-4842bd9f-3e5f-48e7-b7f8-d56a7333df59.png">
If I add `"` around

[2022-06-21 21:18] tlimoncelli commented on #1568
Perfect!

[2022-06-21 21:23] masterzen commented on #1568
Shouldn't it also be split (in 255 bytes long chunks) to be stored in `models.Record.TxtStrings` or is it ok to have only one long string in the `models.Record`?
(I must admit I'm a bit loss, I need to read some code I guess :D )

[2022-06-22 02:25] tlimoncelli commented on #1568
Each string can be any length.  Often len(.TxtStrings) == 1 and len (.TxtStrings[0]) is very very long.

[2022-06-22 03:48] pnorman opened #1573 "go get to install commands is no longer supported"
https://github.com/StackExchange/dnscontrol/blob/b140b2eb45025c32774998b63ca607bbf3265353/README.md?plain=1#L146 suggests using `go get` to install the binary. When I do this on my system I get

[code]

I worked around this with a build from git, but the right go command would be good. I did try `go install github.com/StackExchange/dnscontrol@v3` but it fails with the error `go: github.com/StackEx

[2022-06-22 18:32] tlimoncelli commented on #1573
Try this?

[code]

That worked for me.  If it works for you, I'll update the README

[2022-06-22 18:45] jpbede commented on #1568
I've successfully rerun the integration tests with `decode.QuotedFields` for POWERDNS. Should I create a PR merging into your branch?

[2022-06-22 19:16] pnorman commented on #1573
That clones the git repo, not installs the binary.

[2022-06-22 19:34] TomOnTime commented on #1568
FYI: I'm going camping and won't be back until Monday, June 27.  I'll be offline until then.

[2022-06-22 21:59] tlimoncelli commented on #1573
Good point. You'd have to "go install" after the clone completes.

[2022-06-23 15:16] KaiSchwarz-cnic commented on #1058
@tlimoncelli this issue is no longer an enhancement, it is a result of missing post-transfer update. nothing you can improve here within DNSControl. Feel free to close the reported issue, communication stopped here anyways.

[2022-06-23 15:31] KaiSchwarz-cnic opened #1576 "Setting up a github actions workflow fails"
Hi mates!

I am trying to add a github workflow to our demo dnscontrol configuration repository and this fails. I am not having an exact idea why, is this a result of a wrong configuration file maybe? I know that especially this has changed over the last releases and I am unsure if I adapted it correctly for us.

Find creds.json and dsnconfig.js here:
https://github.com/hexonet/dnscontrol-dnsconfi

[2022-06-23 22:19] das7pad commented on #1568
Thanks for the heads up, Tom. I've opened https://github.com/StackExchange/dnscontrol/pull/1578 with the necessary changes for the HETZNER provider. Together with https://github.com/StackExchange/dnscontrol/pull/1577 the integration tests are passing.

[2022-06-23 23:12] tlimoncelli commented on #1576
Interesting!  Is there a chance the credentials aren't getting set?

---

By the way... we do something like this:

[code]

The file `bin/filter-preview.sh` is:

[code]

Caveat: The pr-comments software is a bit old.  We plan on moving to using `gh` in the future. I haven't tried this but I think it will look something like:

[code]

[2022-06-23 23:39] tlimoncelli commented on #1568
Thanks!  I've merged them.

[2022-06-24 09:07] KaiSchwarz-cnic commented on #1576
Does the docker image stackexchange/dnscontrol:latest already have the hexonet provider module's dependency go-sdk updated to [v3.5.3](https://github.com/hexonet/go-sdk/releases/tag/v3.5.3) where we updated the Url of our OT&E system? I could imagine if dnscontrol isn't yet using this version, we connect to an old url not longer supporting the OT&E and this being the root cause of the issue I noti

[2022-06-24 10:57] rblenkinsopp commented on #1568
HEDNS provider is not passing integration tests as-is, I will look to apply the fixes, I'm however away this weekend so I won't be able to look at this till next week.

[2022-06-24 11:14] KaiSchwarz-cnic commented on #1576
Would you mind upgrading to v3.5.4? I added the output of URL we connect to in debug mode for more transparency.
ty :-)

[2022-06-24 14:20] KaiSchwarz-cnic commented on #1576
I tried my best Tom -> #1580. You probably have to reword if you want to trigger a new release.

[2022-06-27 05:43] KaiSchwarz-cnic commented on #1576
ty Tom, very appreciated.

[2022-06-27 05:43] #1576 closed

[2022-06-27 17:31] masterzen commented on #1568
I'm able to fix the tests with the following patch:
[code]

Except that I don't think it is correct for OVH.
I can enter `"bar" "baz"` with the OVH API (which takes only one string), but then it is transformed to `"bar baz"` when I query (through DNS), even though the UI still shows `"bar" "baz"` :)
So I have the feeling in fact OVH doesn't support multiple TXT strings, and only arbitrary long str

[2022-06-27 18:21] masterzen commented on #1568
As said in my previous comment, I've produced an implementation that seems correct to me in #1582.
Let me know if there's anything that needs to be done.

[2022-06-28 09:03] tlimoncelli commented on #1568
Sounds good!  I’m camping:traveling and without much internet access.  I’ll
look into this on the weekend.--
Sent from Gmail Mobile

[2022-07-01 14:22] tlimoncelli commented on #1568
Hey folks!  I'm back from my travel.

First, I had a realization while traveling: I could have made this a lot easier for people if I had just renamed the old function to be `PopulateFromStringOld()` and asked people to submit individual PRs at your own pace.  The way I did this, requiring everyone to comment on one big PR, was not the best way to do it.  I apologize for making this so complex.  O

[2022-07-03 17:57] juliusrickert commented on #1568
Using `QuoteEscapedFields` for hosting.de now. See #1590.

[2022-07-05 17:11] tlimoncelli opened #1592 "Simplify TXT support with a new opinion: TXT records should act like one big string."
[NOTE: This would be a breaking change. Therefore, it would have to wait for 4.0.]

### Problem: TXT record support is very complex for very little benefit.

The RFC define TXT records as having multiple strings, each of length 0 to 255 octets.  Some providers accept a list of strings per the RFCs.  However most providers only permit a single string in their API, but split it into 255-octet chunks