[2018-05-16 18:15] fdcastel opened #364 "Cloudflare: "cannot create CNAME record for bare domain""
I'm using `dnscontrol 0.1.0 (c52ff67386750e96138fe78f0631d757f928f452)` with configurations like

[code]

However, upgrading to `dnscontrol 0.2.6 ("cea71db3528c5f0af7216dd94d938b28fb1758b7")` now give me the error

[code]

While I understand why this check was added, it should not be applied for Cloudflare setups, since CF allows CNAME flattening

https://support.cloudflare.com/hc/en-us/articles/2

[2018-05-16 18:19] captncraig commented on #364
For bare domains on cloudflare you should use the ALIAS record type. For cloudflare, it uses cnames underneath, but that limits it to providers that implement those similar semantics.

[2018-05-16 18:29] fdcastel commented on #364
Oh! I see.

https://stackexchange.github.io/dnscontrol/alias

Thank you very much, @captncraig. My fault for not RTFM 😉.

[2018-05-16 18:29] #364 closed

[2018-05-23 10:48] rblenkinsopp commented on #183
It would be great if this had support for wildcarding. ACME (Letsencrypt) DNS validation currently creates TXT "_acme-challenge.SUBDOMAIN" records for each subdomain being validated.

It would be great if I could have one entry such as:
`IGNORE("_acme-challenge*")`

Which can capture each all of these.

[2018-05-23 11:02] masterzen commented on #183
@rblenkinsopp this is a good idea!
I'll try to produce a PR in the coming weeks (but no promise as I have very few spare time).

[2018-05-23 17:00] captncraig commented on #183
This is something we have been mulling over for a while, but haven't pulled the trigger on yet, because of a couple of complications:

1. Some providers do not easily lend to this style of management, particularly when you need to supply the entire zone for each change. (Namecheap, gandi, bind at least are in this category.) I think this can be tested more fully by beefing up the integration tests

[2018-05-23 17:02] captncraig commented on #183
An aside about `_acme-challenge` @rblenkinsopp, what are you using to issue certs? Have you tried [dnscontrol's support for LE](https://stackexchange.github.io/dnscontrol/lets-encrypt)?

The challenge records should be fine to delete once the validations succeed.

[2018-05-23 20:50] rblenkinsopp commented on #183
I did realise after asking that they should probably not be there any more anyway but the request still seemed reasonable, if not for the specific case that I stated. I don't want to take this off-topic too much but I am using [traefik](https://traefik.io/) for LE support at the moment, I've not looked at dnscontrol's support for that yet.

[2018-05-31 19:33] tlimoncelli opened #365 "Providers should lazy-load, not touching their API until used"
If a provider is broken or down, it can't be skipped. Even -providers=foo initializes foo and non-foo providers, which requires working API keys, the API being up, and so on.

[2018-05-31 19:39] tlimoncelli opened #366 "cloudflare errors should list the provider name string"
We got this error message:

    Error fetching domain list from cloudflare: bad status code from cloudflare: 403 not 200

We didn't know if this was cloudflare_main or cloudflare_extras. (both are listed in creds.json)

The string "cloudflare" should be replaced by the name assigned to the provider.  However CloudflareApi doesn't store that name, so this part of code doesn't know its own name!

[2018-06-20 00:11] geek1011 opened #367 "Cloudflare: Error when unmarshaling priority field for cfRecord"
Cloudflare now seems to be returning a string instead of an int for the priority field of a cfRecord. I'm not sure if this is a mistake in the Cloudflare API or not, but I think dnscontrol should use `json.Number` to allow for this kind of thing.

Here is the error: `Error getting corrections: Error fetching record list from cloudflare: json: cannot unmarshal string into Go struct field cfRecord.p

[2018-06-22 18:11] #367 closed

[2018-06-27 16:31] Deraen opened #370 "Digitalocean TXTMulti support"
Hi,

I'm looking into adding TXTMutli support to Digitalocean provider. This would be matter of just adding the flag except for one test case:

[code]

While Digitalocean supports multiple values with TXT records, using escaped quotes is not allowed. This wouldn't work with DO even without TXTMulti so maybe this test case should be disabled or something?

[2018-06-27 18:37] tlimoncelli commented on #370
Awesome!  Hopefully they have good news.

[2018-07-07 14:40] kjacobsen opened #371 "Issue with latest Docker image"
Hi,

I have noticed some issues with CloudFlare and the latest Docker image. ```docker run --rm -it stackexchange/dnscontrol dnscontrol version``` it returns version 0.2.6 with a build date of 25 jun 2018.

When I run: ```docker run --rm -it -v $(pwd)/dnsconfig.js:/dns/dnsconfig.js -v $(pwd)/creds.json:/dns/creds.json stackexchange/dnscontrol dnscontrol preview``` with my configuration, get a pani

[2018-07-07 14:44] kjacobsen commented on #371
Just took a look at any previously merged pull requests. PR #369 was merged in 12 days ago, and #368 was merged in 15 days ago. #368 actually impacts CloudFlare behavior. Worth noting that both PRs failed their branch Travis CI builds.

[2018-07-09 17:35] captncraig commented on #371
I'll admit, I'm a little stumped.

1. The `latest` tag on docker hub is in fact built properly from master.
2. The stack trace makes me pretty sure this is not a problem with the container image, but the code itself.
3. All integration tests on cloudflare pass for me on master.
4. You still appear to be getting api responses that have empty string for MX record priorities.

Can you check your clou

[2018-07-10 11:36] kjacobsen commented on #371
I am just as stumped.

When I use the ```latest``` tag on Docker hub, it reports 0.2.6, but I get errors back from CloudFlare. If I switch to the ```0.2.6``` tag, everything is fine.

Just to confirm, is the ```latest``` tag on Docker based upon master as it stands now or 0.2.6 as it reports its version as?

[2018-07-11 20:32] nlowe opened #372 "NO_PURGE prevents changing record types"
If I have a record created as an `A` record (`foo` in this example):

[code]

When I try to change the record to a `CNAME` with `NO_PURGE` turned on:

[code]

Running `dnscontrol preview` warns that it won't delete the `A` record to make the `CNAME` because of `NO_PURGE`:

[code]

Pushing the new config makes it seem like the `CNAME` was created:

[code]

However, the record remains an A record:

[2018-07-24 08:53] kjacobsen commented on #371
Spent some more time testing. It was as I started to suspect.

If the MX priority is 0, then the casting fails. I haven't dug into it, but I suspect when the priority is 0, CloudFlare returns an empty string and that causes the parsing error as seen in ```[error]panic: error decoding priority from cloudflare record: strconv.ParseInt: parsing "": invalid syntax```.

I will put together a PR to add

[2018-07-24 12:51] #371 closed

[2018-07-24 12:53] tlimoncelli commented on #371
Thanks for debugging that. I don't personally use the container, so I wasn't sure where to start with this.   Did #374 fix the problem?

[2018-07-24 14:50] captncraig commented on #371
The latest tag is automatically built from master. Individual release tags are created automatically anytime we tag a definite release, but that seems to happen a bit irregularly.

[2018-07-24 15:12] captncraig commented on #372
Sorry, I meant to reply to this sooner, but must have slipped my mind.

The problem with "no purge" in this scenario is that the diff algorithm treats all "record sets" independently. A record set is identified by its **type** and **label**. So CNAME and A records with the same name are not really comparable by the current algorithm. There are a few providers (r53 I think) where we do try to handl

[2018-07-24 15:49] nlowe commented on #372
No worries, we're going with a different domain setup so we won't have to worry about this.

I like the idea of being able to ensure a record of a specific type does not exist, I could see that being useful.

[2018-07-26 04:44] ashleyhull-versent opened #379 "zoneconvert go build failing on macos"
<img width="1294" alt="image" src="https://user-images.githubusercontent.com/17537000/43242111-58a2816c-90e2-11e8-8b2c-9fd9eff3ab88.png">

I've grabbed the dns and errors dependency..

`go version go1.10.3 darwin/amd64` from brew

[2018-07-26 06:41] ashleyhull-versent commented on #379
I removed those downloaded/mismatched packages. now I'm back to my original error
<img width="664" alt="image" src="https://user-images.githubusercontent.com/17537000/43245732-b0a73dfc-90f2-11e8-97f8-18df2d339dc6.png">

[2018-07-27 01:46] ashleyhull-versent commented on #379
ok. I've made a tiny mistake.

[2018-07-27 01:46] #379 closed

[2018-07-27 15:16] papakai opened #380 "TLSA RR integration broken"
I am currently working on the integration tests of our [PR](https://github.com/StackExchange/dnscontrol/pull/373).
I came up to the TLSA RR tests which fail, but I have honestly no idea to fix this.
I am not wrong, I expect this to be an issue of the RR integration itself in dnscontrol.

[code]
I've debugged method "createRecordString" line 243 in records.go in our PR
[code]

Going back further, i

[2018-07-27 15:21] papakai commented on #380
I set the TLSA support for now to not supported, to be able to continue.

[2018-07-27 15:34] tlimoncelli commented on #380
Good move. I highly recommend eliminating any of the extra records like TLSA in the initial release. Its easy to add those later.

[2018-07-27 15:38] papakai commented on #380
Never mind please, even though I double checked things, I am now unsure if I followed wrong debug output. I am still investigating. I'll keep this issue updated.

[2018-07-27 15:45] papakai commented on #380
ok, closing as the issue has another origin that we need to review in our backend itself. sorry for bringing this unnecessary up to you.

[2018-07-27 15:45] #380 closed

[2018-07-28 00:03] kjacobsen commented on #371
Hi

All fixed, and the logic around the Docker container makes sense.

[2018-07-28 23:11] LTGIV commented on #354
FWIW, @computersrmyfriends, this is how I do it via Bash-script: https://thad.getterman.org/2017/12/11/dnscontrol-compiler

[2018-07-29 15:57] shleeable opened #381 "AWS Token is alway blank - this is required in some AWS use cases"
The third token param is always blank by default. but I need to be able to change it to work with my codebuild workflow.

https://github.com/StackExchange/dnscontrol/blob/921fa9849001d42494b23feadbe069d1dd46d916/providers/route53/route53Provider.go#L46

Can you please support the optional token value in creds.json for AWS

as per https://docs.aws.amazon.com/sdk-for-go/api/aws/credentials/#NewStati

[2018-07-30 08:54] papakai opened #382 "TLSA integration certificate format"
in one of your tests, you create the following TLSA RR:

[code]

In our system this leads finally to a notation like this
[code]
as the parser library splits the certificate hash into 64B blocks. I've addressed this issue to our leading backend engineer, but our notation should be correct. No idea if you want or plan to review dnscontrol in this matter. For now I am simply concatenating these bloc

[2018-07-30 11:14] papakai commented on #382
Against my expectations our API got reviewed to consider now too your expected format.

[2018-07-30 11:14] #382 closed

[2018-08-01 09:28] papakai opened #383 "How to override global default TTL on provider level"
I recognized that dnscontrol sets TTL to 300 if not provided. Our backend system would set it to 3600.
I know there are different possibilities to add a default ttl in dnsconfig.js, but imo it would be more useful if we could set a default ttl configuration fallback within the provider module itself so that in case no TTL is given, it takes that one provided in the provider module instead of the g

[2018-08-02 11:56] vincentbernat opened #384 "API keys mismatch for Gandi provider"
Hey!

I am trying to use the Gandi provider but I am unable to authenticate correctly. I have an API key for the LiveDNS API and a different API key for the XML RPC interface. Unfortunately, the Gandi DNS provider needs both API keys and assume they are the same. Maybe people having an API key for the XML RPC before the LiveDNS API was available automatically get the same API key for the LiveDNS A

[2018-08-03 17:03] captncraig commented on #383
I think if you do `DEFAULTS( DefaultTTL(3600));` at the top of your file, it will apply that to all domains.

[2018-08-03 17:04] captncraig commented on #383
Oh, you mean different ttls for different providers? I don't think that's something I've considered yet.

[2018-08-03 17:10] captncraig commented on #383
At one point it did behave this way. If a record made it all the way to the provider without a ttl, it was up to the provider to specify the default. For some reason we moved that logic into the central validation / normalization pass for consistency. I think it may have been too difficult to communicate that convention and provider authors kept missing it and getting confused.

If a provider has

[2018-08-07 03:48] ashleyhull-versent commented on #381
https://github.com/StackExchange/dnscontrol/pull/386

[2018-08-08 08:05] papakai opened #387 "`create-domains` command"
Hi,

opening this new issue to get things clarified separately to not pollute our PR too much. In addition, we do not see it being a necessary part of the PR.

`dnscontrol create-domains` is the only thing I was able to find in the whole documentation, found at [R53](https://github.com/StackExchange/dnscontrol/blob/master/docs/_providers/route53.md) provider info page. I hope I have not missed som

[2018-08-08 08:16] papakai commented on #383
Hmm... thought about `DEFAULTS(DefaultTTL(3600))`... this would set it globally in config file also for other potential dns providers in use. Is it somehow possible to set it as DNS provider configuration? So through `NewDnsProvider( name, type, meta )`?

[2018-08-08 15:52] captncraig commented on #387
I don't think the intention with that command was ever to be creating orders or spending money to register domains. We made this for things like route 53, cloudflare, digitial ocean and such that are really **just** dns hosts. They don't care where your domains are registered, so you can create whatever domains you like and they will happily run nameservers for them, whether or not you own them.

[2018-08-08 16:14] papakai commented on #387
ok thanks for this deeper going explanation.

I am not sure if you're right in that point. Anyone could create an account in our system and create a dnszone for a domain not registered through our system and not being in our systems.

So finally this is again some misleading wording imo. as `create-domains` stands more for register domains as create non-existing dnszones (on the appropriate custom

[2018-08-09 08:14] papakai commented on #387
Sounds correct. Especially in our system it leads to costs in case you create a dnszone for a domain that is not being hosted by us, thus a so-called "external" dnszone.
It would be easy to correct that in case the used command is accessible within GetDomainCorrections. That would allow to check if one is in preview mode or in push mode.

I know this is just an idea and it sounds more hacky and ag

[2018-08-09 08:58] papakai commented on #387
I rewrote our code accordingly, but Integration Tests were failing now in case the dnszone does not exist.
I deleted it for testing purposes.

Maybe this information could also get clarified here:
https://github.com/StackExchange/dnscontrol/blob/master/docs/writing-providers.md#step-7-integration-test
Instead of 'real' domain, it might be better to use wording 'existing' domain. or even better 'ex

[2018-08-09 09:04] papakai commented on #387
Closing as things got clarified. Still it would be cool, if you consider my thoughts / comments.
Again thanks for your time and help.

[2018-08-09 09:04] #387 closed

[2018-08-13 15:07] pierre-emmanuelJ opened #389 "Target problem: GetTargetCombined() return wrong Target"
### this is my RecordConfig:

[code]

this is the output after calling `rc.GetTargetCombined()`

### result:
[code]

[2018-08-13 15:19] tlimoncelli commented on #389
Hi Pierre!  I'd be glad to help!

It isn't clear to me what the issue is.  What result is expected?

[2018-08-13 16:00] #389 closed

[2018-08-16 17:12] vincentbernat opened #391 "Gandi LiveDNS: handling access to domains from an organization/person"
Hey!

Gandi Live DNS API has the notion of sharing ID to be able to modify a domain attached to an organization. It is quite unknown how it should work. The [documentation](http://doc.livedns.gandi.net/#work-with-zones) says:

First consequence, from the documentation, it doesn't seem possible to automatically get this sharing ID. It has to be provided by the user. However, some had success withou

[2018-08-16 18:24] Jean-Max opened #392 "Missing Header error 400 with OVH on Windows"
Running `.\dnscontrol.exe  preview --config zones\zone-file.js` on Windows 10 (from Powershell or Git Bash), gives the following issue:
[code]

The zone file looks like this:
[code]

Hope you can fix the issue!

Best

[2018-08-16 19:58] tlimoncelli commented on #391
@vincentbernat Are you able to do everything you need at this point, or are you blocked?

[2018-08-16 20:00] tlimoncelli commented on #392
CC: @masterzen

[2018-08-16 20:03] vincentbernat commented on #391
No, everything works for me. Thanks for your concern! :)

[2018-08-16 21:55] masterzen commented on #392
@Jean-Max , I can be wrong, but I think you haven't configured properly the `consumer-key` in your `creds.json`.

Please see the documentation to obtain this key (as this can be challenging):

https://stackexchange.github.io/dnscontrol/providers/ovh

Let me know if you happen to have the correct key and it's still erroring.

[2018-08-16 23:15] tlimoncelli commented on #391
In that case, I think we should document that people can create the API keys as you did. Can you suggest some text and/or submit a PR?  Thanks!

[2018-08-19 19:28] tlimoncelli commented on #391
ok!

[2018-08-19 19:28] #391 closed

[2018-08-19 19:56] tlimoncelli opened #393 "Digital Ocean is failing integration tests"
CC: @Deraen

The integration tests are failing.  Maybe the API changed?

[code]

[2018-08-21 18:49] Deraen commented on #393
Hmm, the tests are passing for me. Was this just a single failure or did this happen multiple times? Status 503 looks like it could be random problem or maintenance on DO server.

https://developers.digitalocean.com/documentation/v2/#statuses

[2018-08-21 20:29] tlimoncelli commented on #393
You are correct, sir!  I just ran it 3 times and it worked 3/3.  Must have been a temporary issue.

[2018-08-25 12:49] harobed opened #396 "I suggest to create home brew formula for dnscontrol and convertzone binary files"
Hi,

I suggest to create [home brew formula](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md) for `dnscontrol` and [`convertzone`](https://github.com/StackExchange/dnscontrol/tree/master/cmd/convertzone) binary files.

Best regards,
Stéphane

[2018-08-28 13:05] loosi opened #397 "Route53 DelegationSet Support"
It would be great to set a DelegationSet (or/and maybe create one) for Route53. I see a few pieces of error handling stuff for delegationSets, but no metadata for Route53 at all.

I'll have a look how to inplement that feature, but Go aint my favourite language...could take a  while

[2018-09-03 06:35] ashleyhull-versent commented on #381
hey team, I've forked dnscontrol to fix this bug... but I'd love to get back onto master.

Please pass the token down with the other variables.

`keyID, secretKey, tokenID := m["KeyId"], m["SecretKey"], m["Token"]`

[2018-09-04 15:07] captncraig commented on #396
I had this thought recently as well. Very soon, the convertzone will not be a seperate binary, but a subcommand. I will look into seeing how to package for homebrew at some point when I get time.

Unless you would like to volunteer to take the lead on this?

[2018-09-04 16:39] #343 closed

[2018-09-04 16:40] #323 closed

[2018-09-04 16:41] #239 closed

[2018-09-04 16:49] #272 closed

[2018-09-05 00:23] igg opened #402 "route 53 record update no longer working"
We are using gcloud and aws as redundant providers. Recently, when updating an A record for a subdomain, the Route53 update started failing, while the gcloud continued to work.
The error was (with domain names and IP numbers changed):
[code]
I checked that the same aws credentials were able to change this record using [cli53](https://github.com/barnybug/cli53), after which `dnscontrol preview` con

[2018-09-05 00:31] igg commented on #402
Well, this is slightly embarrassing.  It turns out that the released version 0.2.6 works fine. The problem was using `go get github.com/StackExchange/dnscontrol`

[2018-09-07 08:36] loosi commented on #397
Its a convenience only feature for  registrars without real api. For example: our registrar hetzner does provide an "api"...based on signed mail. Thats not usuable for tools like dnscontrol. I fixed this situation by myself with different shell scripts.

Its not really important, but could mean easier work for some people with different registrars.

[2018-09-07 14:07] Southclaws commented on #220
NameSilo is the one registrar that I use that's not available in dnscontrol! I found this library which looks like most of the boilerplate request/response work is done: https://github.com/kf6nux/namesilo it would just be a case of gluing it into dnscontrol.

I will look into it and *may* take a stab at this time-permitting in future, if I do then I'll update here and you can re-open the issue 👍

[2018-09-11 20:34] #402 closed

[2018-09-12 08:55] liljenstolpe commented on #402
I'm seeing the same behavior, but it actually looks like the record is installed in AWS, it's just also throwing the failure.  Odd.  Also on 0.2.6-dev (to get hexonet).

[2018-09-13 10:15] Southclaws opened #405 "Cloudflare Page Rules for forcing HTTPS"
Hi, moved all my domains to this tool recently, absolutely loving it, great work!

One thing I'd like to automate is [Cloudflare page rules for forcing HTTPS](https://support.cloudflare.com/hc/en-us/articles/200170536-How-do-I-redirect-all-visitors-to-HTTPS-SSL-) - reason being, I have a site that doesn't work for users on HTTP, redirecting at the server level [isn't possible](https://support.clou

[2018-09-13 12:51] tlimoncelli commented on #405
There isn't but it should be easy to add.  Look at the code for CF_TEMP_REDIRECT and do something similar. It will require changes to the JS and Go code.

[2018-09-13 13:06] Southclaws commented on #405
Thanks, I'll take a look and see if I can figure something out and make a PR!

[2018-09-19 12:58] wavded commented on #354
@captncraig is this intermediate JSON format documented anywhere?

[2018-09-19 13:57] wavded commented on #354
@tlimoncelli currently we have configuration loaded into a database and we wanted to generate the DNS entries from that.  If the DSL could pull in JSON files we possibly could just use the JavaScript DSL, but doesn't seem like it supports that.  But maybe there is a better way we haven't thought of yet?

[2018-09-19 14:57] tlimoncelli commented on #354
Ah, I see.  In that situation I think it would be easier to generate the dnsconfig.js than the JSON file.  The example in https://github.com/StackExchange/dnscontrol/issues/354#issuecomment-380563881 is exactly what you need to do.  (The .head and .tail files might be empty).

[2018-09-20 19:31] igg commented on #91
Using this syntax:
[code]
with GCLOUD results in:
[code]

This despite the fact that gcloud does support TXT records with multiple strings. This [stackoverfow  question](https://stackoverflow.com/questions/36688278/unable-to-setup-dkim-txt-value-as-dns-record) seems to indicate that specifying multiple strings may not be easy.

This is probably a problem in the original #294 fix, which doesn't wor

[2018-09-20 23:44] igg opened #407 "Multiple strings in TXT not supported by GCLOUD"
Using either of these syntaxes with GCLOUD results in an error:
[code]
or
[code]
The error reported is
[code]
gcloud does support multiple strings in TXT entries, as discussed in this [stackoverflow question](https://stackoverflow.com/questions/36688278/unable-to-setup-dkim-txt-value-as-dns-record).

N.B.: In the DKIM syntax above, the string has to be longer than 256 bytes in order to be split in

[2018-09-24 15:59] tlimoncelli commented on #91
A little history: "convertzone" was just a hack I made to make it slightly easier to migrate zones to DNSControl.  It is a first pass... that assumes people will do manual editing to complete the conversion.

We'd gladly accept PRs that improve dnscontrol in this area.  (especially if it helps more people in the world use DKIM... I hate spam)

[2018-09-28 09:54] mapperr opened #408 "SRC value does not contain 4 fields"
Hi guys,

I'm getting a strange error when trying to preview my domain on DNSimple.
I suppose the "SRC" is a typo, meant to be "SRV".

The thing is it seems DNSimple does not return the priority number (or maybe dnscontrol does not detect it).

Here is the error:

[code]

[2018-09-28 12:50] tlimoncelli commented on #408
CC: @aeden

[2018-09-28 13:00] aeden commented on #408
We return the priority in its own attribute (for legacy reasons) so the adapter should use that.

[2018-09-28 13:05] aeden commented on #408
@tlimoncelli can you assign this to me please.

[2018-09-28 13:31] tlimoncelli commented on #408
Odd... Github won't let me assign it to anyone.  Please consider it assigned to you while I figure out why Github is acting weird.

[2018-09-28 13:36] tlimoncelli commented on #408
@aeden Two things: 1) if my big global change last spring broke this, I apologize.  2) Does the integration test run clean?  If it doesn't catch this bug please let me know because I'd like to enhance the tests to catch this kind of thing.

[2018-10-05 23:11] mchrobak opened #410 "Can't build against master due to missing acmev2 package"
Running a `dep ensure` with `dnscontrol` constraint set to master gives the following:

[code]

Looks like `acmev2` no longer exists in https://github.com/xenolf/lego/. Possibly rolled into acme?

[2018-10-06 21:00] captncraig commented on #410
Yes, the feature was built with a preliminary version of that package, that is now merged back into acme. Two notes:

1. This project uses [govendor](https://github.com/kardianos/govendor), not dep.
2. I updated to use the correct acme package along with some other improvements in #406. Until that is merged, the vendored version of acmev2 will continue to work.

[2018-10-06 21:00] #410 closed

[2018-10-12 18:12] igg commented on #407
Not sure it even qualifies as a workaround, but it is possible to get Google to generate shorter DKIM keys, and these do work.

[2018-10-12 20:48] tiennou opened #412 "Can't preview a specific domain with OVH provider"
I stumbled on the `--domains` argument of `preview`, which could be helpful in keeping the output sane, but it seem to be causing some kind of failure when using the OVH provider.

I'm getting this output with `dnscontrol preview --domains one-of-my.domains` :
[code]

While a normal `dnscontrol preview` results in the following :
[code]

[2018-10-12 21:19] captncraig commented on #412
That seems... odd. Are you running the exact same commands except for `push` and `preview`? Its like the same code... Hmm.

[2018-10-12 21:27] tiennou commented on #412
It seems to be pretty consistent. I just noticed that I had some not-enabled zones in OVH (which is a known caveat that they have to be manually enabled), but even after enabling all zones, it still fails when a specific domain is "selected".

[2018-10-12 21:33] tiennou commented on #412
Also, `push` errors in the same way (though I tested against a not-changed zone).

[2018-10-13 00:58] onlyhavecans commented on #408
@tlimoncelli I was asked to look into this @aeden. If you can also ping me on issues with the dnsimple provider I would be happy to help.

I compiled master as is (without the additional SRV case) and was not able to replicate this issue against my domains with SRV records. Could this have been fixed elsewhere in the last two weeks?
I also tested the latest docker image and could not replicate.

I

[2018-10-13 18:16] onlyhavecans commented on #408
Perfect! I think I found the bug and am going to fix. I had some bad data in my personal test domain

[2018-10-14 04:30] #408 closed

[2018-10-14 14:00] tlimoncelli commented on #408
Thanks, @onlyhavecans!  We appreciate the contribution!

[2018-10-14 14:10] tlimoncelli commented on #412
OVH is a community-supported provider.  Maybe @masterzen can look into this?

[2018-10-14 14:54] tlimoncelli commented on #407
This is fixed in https://github.com/StackExchange/dnscontrol/pull/415

Some time between when GCLOUD support was added and now it started working. Either Google added support, or the refactoring we did earlier this year fixed whatever was broken on our side.

Easiest bug fix evah!

[2018-10-14 14:54] #407 closed

[2018-10-14 16:32] masterzen commented on #412
Indeed, I'm going to look at it @tlimoncelli.

[2018-10-14 16:56] masterzen commented on #412
@tiennou , I'm sorry I was unable to reproduce the issue with the latest master. I have 2 test domains out of 5 defined in my `dnsconfig.js`. Those domains have  items to modify at ovh, and `--domains` is working correctly, selecting the correct domains to either preview or apply.

What version of `dnscontrol` did you use?
What could be different in your setup?

One possibility is that your consum

[2018-10-14 17:11] tlimoncelli commented on #412
The `--domains` handler isn't part of the providers. It is a core part of the system.  Is there a chance of a typo?  domains vs domains? `--` vs `-`?  The `--domains` flag must be after the "preview" command.

Are you using the "master" branch or the last release?

Could you paste the exact command line you are using?

Tom

[2018-10-14 19:56] tiennou commented on #412
I'm running #377 (which I just rebased on top of master to be extra sure, and shouldn't matter IMHO). I've retested against master, to no avail.

- I'm authenticating against the OVH API using this [rake task](https://gist.github.com/tiennou/21a91b0e0fa7f8a65e0998d05c978855), because it gets painful to do copy-pasting of URLs. I got the `app-key` while following the setup guide.
- I can push/previ

[2018-10-15 14:43] tlimoncelli commented on #408
Glad to hear it's working!  Thanks @onlyhavecans!

[2018-10-15 16:07] masterzen commented on #412
@tiennou,

The code is very simple. When trying to apply the corrections we [end here](https://github.com/StackExchange/dnscontrol/blob/master/providers/ovh/ovhProvider.go#L88) where the error you see is raised.
If you add some `log.Print` around there, you could list the content of `zones`, and see what OVH returned to `dnscontrol`.
This `zones` array is populated in [ovh/protocol.go](https://git

[2018-10-15 19:56] tiennou commented on #412
I think I found the issue (see the 2nd commit in my branch above). AFAICS, when `--domains` is used, when `DetermineNameservers` happens `NumberOfNameservers` is 0, so the provider/driver's `GetNameservers` call is skipped, thus the API is never queried for the list of valid domains. When `--domains` is not used, `NumbersOfNameservers` is `-1` thus the call happen and the API is queried.

I'm not

[2018-10-15 20:57] masterzen commented on #412
@tiennou,

Good catch!

Indeed the `zones` are cached in the OVH provider in `GetNameservers`, so if this is not called at all, then we don't have any zones. I will make sure it is called during provider registration.

Though on a yesterday's master dnscontrol, `GetNameservers` is called when using `--domains`:
[code]

This number of nameservers comes from your declaration of `DnsProvider` in your

[2018-10-15 21:08] masterzen commented on #412
@tiennou, I pushed a fix in PR #417.
Can you try it?

[2018-10-15 21:22] tiennou commented on #412
Well, that's easy : I'm the one passing that 😉. I'm still in the process of migrating, so for now I'm just setting up the OVH-managed zones to be "copies" of my Plesk/Bind based "production" ones, so I want to ignore changes to the nameservers themselves.

[2018-10-16 07:43] masterzen commented on #412
@tiennou,

Ah, that was the missing piece of information for reproducing the problem locally :)
Indeed I never thought about running with 0 nameservers :)

Anyhow, thanks for confirming #417 is fixing the issue for you.

[2018-10-25 14:11] jeanpaulgalea commented on #407
Hi @tlimoncelli,

Sorry to keep pestering you about this issue...

While the fix does allow from longer DKIM keys, the following still doesn't work on GCLOUD and R53 providers:
[code]

The errors are:
[code]
[code]

However, using the syntax as suggested by @igg, `DKIM("string")` or `["max 255", "etc"]` does work for both providers.

My question then is, wouldn't it be better if TXT strings are au

[2018-10-25 16:08] tlimoncelli opened #418 "TXT records should check length at compile time"
Substrings in TXT records may not be longer than 255 bytes.  This should be checked at compile time (pkg/normalize/validate.go) instead of waiting to be rejected when the API rejects it.

[2018-10-25 16:42] tlimoncelli commented on #407
I'm generally in favor of this. I just need a little time to think about it.

In the meanwhile, I've filed https://github.com/StackExchange/dnscontrol/issues/418 because the input validation should be done earlier.

I'm rather ignorant about how TXT with multiple strings is used by other systems:  Are there applications that would want the split to be on spaces instead of the 256th byte?

Would th

[2018-11-28 17:42] Marcus-James-Adams opened #419 "Provider request: Oracle Cloud Infrastructure"
More info at https://cloud.oracle.com/en_US/edge/dns/faq

[2018-11-28 17:43] Marcus-James-Adams opened #420 "Provider request: Alibaba cloud"
More information at
https://www.alibabacloud.com/help/product/34269.htm?spm=a3c0i.228936.1218286.3.2054221eXUxW1G

[2018-12-07 17:15] karlism opened #421 "Corrections are incorrectly reported when SRV records are present"
Example configuration:
[code]
[code]
If SRV DNS records are present, `dnscontrol` always reports that there are corrections present:
[code]

If no SRV DNS records are present, everything works as expected:
[code]

[2018-12-07 17:58] tlimoncelli commented on #421
I want to thank you for an excellent repro example.  If only all bugs were so easy to reproduce.

I'll take a look at this soon.

[2018-12-08 05:05] tlimoncelli commented on #421
Try the newest release.

[2018-12-08 09:19] karlism commented on #421
@tlimoncelli, I will try latest version first thing on Monday and will let you know about the results. Thanks for looking into it!

[2018-12-10 02:53] murarisumit commented on #396
@captncraig If it is still open I would like to pick it up, haven't created a brew formula before.
I like this tool, so want to volunteer for this.

[2018-12-10 02:59] captncraig commented on #396
go for it!

[2018-12-10 08:03] karlism commented on #421
@tlimoncelli, unfortunately it didn't help, `dnscontrol` still thinks that there are corrections in zone (`dnscontrol` built from this commit: https://github.com/StackExchange/dnscontrol/commit/4ef9e8bc406fd6a4f3ebd9f4251d68dae6c44844):
[code]

[2018-12-10 12:21] captncraig commented on #421
If you want to point at localhost, try using `localhost.` with a dot to
indicate a fqdn.

[2018-12-10 13:49] karlism commented on #421
@captncraig, `localhost` was just an example. I've tried similar test by changing `localhost` to `something` (which has appropriate A record in the zone) and corrections were only reported in case if short domain name (non-FQDN) was specified in `SRV` records:

SRV record with FQDN:
[code]
SRV record with short domain name:
[code]
So everything seems to work properly when FQDN is specified in SRV

[2018-12-10 15:03] tlimoncelli commented on #421
Can you try branch srv_target (which is currently at 4394bec6c7e2387eae681de38ba21734b7729d76)

[2018-12-10 17:20] karlism commented on #421
@tlimoncelli, just tried it and everything seems to be working properly (with both FQDN and short hostnames):
[code]
Thanks a lot for investing your time in this!

P.S. Is issue tracker suited for new feature requests? Noticed that SSHFP records are not supported, not sure if it would be OK to create an issue for that.

[2018-12-10 17:44] karlism opened #423 "BIND provider directory parameter ignored"
According to [documentation](https://stackexchange.github.io/dnscontrol/providers/bind), it is possible to set `directory` parameter for BIND provider, unfortunately `dnscontrol` seems to be ignoring it and tries to create BIND zone files in default (`zones`) directory:
[code]

[2018-12-10 18:54] tlimoncelli commented on #421
Ah!  I found the problem.  The filename should be creds.json, not creds.js.

(Yes, use "issues" for feature requests and bugs.  Please create an issue for SSHFP.  You might also consider adding this feature yourself. We have a step-by-step guide to help. https://stackexchange.github.io/dnscontrol/adding-new-rtypes)

[2018-12-10 18:54] #421 closed

[2018-12-11 07:52] karlism commented on #423
As @tlimoncelli correctly pointed out in [this comment](https://github.com/StackExchange/dnscontrol/issues/421#issuecomment-445929443), proper file name is `creds.json`, not `creds.js`. After renaming file, issue is gone. Sorry for noise.

[2018-12-11 07:52] #423 closed

[2018-12-12 05:04] murarisumit commented on #396
@captncraig dnscontrol brew is done. We can close it now.

[2018-12-12 13:10] tlimoncelli commented on #396
Thanks!

[2018-12-12 13:10] #396 closed

[2018-12-14 11:28] nikolay opened #428 "Proper capitalization"
It's Cloudflare (not CloudFlare) and DigitalOcean (not Digitalocean).

[2018-12-14 14:00] tlimoncelli commented on #428
True!  Good catch!

Would you like to submit a PR?

[2018-12-14 18:53] nikolay commented on #428
I will, thank you!

[2018-12-14 20:30] nikolay commented on #428
@tlimoncelli Here it is: https://github.com/StackExchange/dnscontrol/pull/429

[2018-12-20 10:16] virtualroot opened #432 "Support more than one label on SPF_BUILDER"
This might be very handy

[code]

[2018-12-20 10:54] virtualroot opened #433 "[Cloudflare] Add CF_ALWAYS_HTTPS_ON function"
[Always Use HTTPS](https://api.cloudflare.com/#zone-settings-get-always-use-https-setting) is a Cloudflare feature disabled by default that makes all requests for URLs that use "HTTP" redirect to the equivalent "HTTPS" URL with a 301.

We use `CF_REDIRECT` to achieve that same behavior, it would be great to bring something like `CF_ALWAYS_HTTPS_ON`, where we can serve the same functionality and at

[2018-12-20 14:52] tlimoncelli commented on #432
How would this work?  Would they all point to the same "overflow" records?

[2018-12-20 14:56] tlimoncelli commented on #433
Sounds good!  Would you like to attempt a PR?

[2019-01-02 12:58] RehanSaeed commented on #194
Came here looking for this feature. It seems that OctoDNS [has this support](https://github.com/github/octodns#supported-providers) for a limited set of providers. Unfortunately, Cloudflare is not one of them.

[2019-01-02 13:15] virtualroot commented on #432
I thought a simple [iteration over label](https://git.io/fhtxi) would be enough, but I found out that overflow, if defined, only works for `@` label.

I think after the first SPF record all of them should include the same "overflow" records.

[2019-01-02 13:46] tlimoncelli commented on #432
CC: @captncraig

[2019-01-02 14:46] RehanSaeed commented on #194
I'm new to both so I'm not sure about designs but I'm thinking you can 'borrow' some ideas from OctoDNS.

[2019-01-16 17:42] virtualroot commented on #433
I'll give it a try as soon as I get some free time in my hands.

[2019-01-17 20:33] mazzy89 commented on #82
Is it then `AWS_PROFILE` supported? It doesn't seem so. I'd rather use Assume IAM Role rather than keys but I haven't succeed with that. Any idea?

[2019-01-21 16:34] elektro-wolle opened #436 "Provider Request: knot-dns"
I'm using [knot-dns](https://www.knot-dns.cz/) as a hidden-primary DNS. I'ld like to add a provider for this nameserver, but:
* should I use the `knotc`-CLI and parse the data in the go-code (dependency from go code to the  `knotc` binary)
* or should I clone the binary socket-protocol, defined in knot (highly dependent on knot internal libraries)?

What is the least ugly solution for dnscontrol?

[2019-01-22 10:28] miguelbernadi opened #437 "Option to return non-zero when preview detects changes"
We are migrating to DNSControl and we would like to have a way to detect when there are differences between the current Zone and the one defined in DNSControl. This is, at least for now, to detect manual modifications done during interventions that would not be reflected in the configuration.

My idea would be to add a flag to `dnscontrol preview` so it returns a non-zero code when there are corre

[2019-01-22 12:47] tlimoncelli commented on #437
That's a great idea.  In fact, it should be how preview works, no flag needed.

Would you consider making a PR?

[2019-01-22 13:08] miguelbernadi commented on #437
I'll try to add that.

[2019-01-22 20:34] tlimoncelli commented on #436
That's an interesting question!

I'm not familiar with knot-dns (except that it has a great reputation!). Here's some questions I have:

* Would either solution require `dnscontrol` to run on the DNS server itself?  Is that important?
* Would either solution be more reliable than the other?  For example a binary protocol tends to avoid issues around parsing, word wrapping, etc.
* Is either easier

[2019-01-23 23:48] elektro-wolle commented on #436
I've decided to use the cleaner CLI-Interface. Currently, there are no word or line wraps to handle. Each RR is on a separate line. The CLI seems to be more stable than the enum based socket-interface.
The provider configuration will contain the path to the executable (`knotc`) but could also be a `ssh` command to a remote system, calling the `knotc` binary there.
I forked the project and will pro

[2019-01-23 23:52] captncraig commented on #436
That seems reasonable. I'd just advise it should be clear from the docs and error messages what a user needs to do to get it working.

[2019-01-24 12:30] karlism commented on #246
This seems to still be an issue with recent DNSControl versions:
[code]

And is there a reason for default serial number that is created for new zones to be `1` instead of `YYYYMMDD00`? It makes [workaround](https://github.com/StackExchange/dnscontrol/issues/246#issuecomment-343245306) suggested by @tlimoncelli almost impossible to use as DNS servers would refuse such zone.

[2019-01-24 17:21] nlowe opened #440 "require(...) is relative to the process working directory instead of the file it is called from"
Let's say I have this file structure

[code]

With the following file contents:

[code]

[code]

[code]

`dnsconfig` will fail to push the zone:

[code]

[2019-01-25 04:38] tlimoncelli commented on #440
Hmm... it seems like require() doesn't change the CWD.

Your example works if you specify all paths from the root directory:

[code]

[2019-01-25 04:45] nlowe commented on #440
Yeah I found that later this afternoon. However, this isn't how `require(...)` behaves in node, which is why I was initially confused. Is it something you'd accept a PR for? Or can it at least be documented better? I was only able to find this feature by searching for it on github.

[2019-01-25 20:08] rileyberton commented on #397
Adding my support for this concept.  Some registrars don't even have API support.. providing them with a finite delegation set to work with is much preferred over oodles of random sets.

[2019-01-28 15:56] tlimoncelli commented on #397
Sounds like a perfectly reasonable feature to add to dnscontrol.  I think this kind of feature is best implemented by someone that needs the feature, because they best know what workflow/syntax/etc. would work best.

That said, it isn't a feature that StackOverflow requires at this time therefore we'd appreciate a PR from someone in the community.  Otherwise we'd just be guessing at what people ne

[2019-01-28 16:13] tlimoncelli commented on #440
Yeah, that seems like a bug.  dnscontrol should have the same behavior as node.

I'd love a PR that fixes the problem (or at least one that documents the issue).  My guess is that the bug is somewhere in pkg/js/js.go and a few functions from https://golang.org/pkg/path/filepath and https://golang.org/pkg/os/#Chdir would be all you need to fix it.

Tom

[2019-01-28 16:27] nlowe commented on #440
@captncraig That's what I was thinking as well. I'll try to get a PR up sometime this week. Since you're still 0.x how much to we care about breaking changes? Do I need to make the default behavior non-relative and add a flag for relative `require()`s?

[2019-01-28 17:15] tlimoncelli commented on #440
I don't mind breaking behavior for require() as it wasn't documented either way.  We'll make a big note in the release notes to warn people.

(We're really at release 2.x not 0.2.x... I don't remember why I added a 0. when I set this all up.  We should fix that.)

[2019-01-28 17:24] tlimoncelli commented on #436
P.S.  I like the idea about ssh!

[2019-01-29 15:31] nlowe commented on #440
Fixed by #443

[2019-01-29 15:31] #440 closed

[2019-01-31 14:56] redochka commented on #392
Hello,
Same issue started happening to me just after i update dnscontrol by running the following command:

[code]
Before I update to latest dnscontrol it was working perfectly fine.

This seems to be regression.

[2019-01-31 15:13] masterzen commented on #392
@redochka

What version were your running before?
Do you have more information about the error, including the whole text?

[2019-01-31 19:37] redochka commented on #392
@masterzen sorry for the disturbance it was my fault.
I wrote:
[code]

instead of

[code]

The OP @Jean-Max may workaround his problem by replacing:

[code]

By

[code]
Since OVH doesn’t allow to host DNS for a domain that is not registered in their registrar. (dual providers scenario not possible) as described at the end of this page: https://stackexchange.github.io/dnscontrol/providers/ovh

[2019-02-01 14:30] #437 closed, assigned to nobody

[2019-02-02 22:40] srfraser opened #446 "CloudFlare SPF record"
In a similar manner to #339, CloudFlare returns an SPF record, which crashes dnscontrol.

[code]

Should https://github.com/StackExchange/dnscontrol/blob/master/providers/ovh/ovhProvider.go#L162-L164 also be in https://github.com/StackExchange/dnscontrol/blob/master/providers/cloudflare/cloudflareProvider.go#L385 ?

[2019-02-03 17:38] tlimoncelli commented on #446
Ah, that brings up an interesting question. Should providers correct mistakes or just warn the user?  Normally bad decisions are detected and warned about in the main code.

I hadn't realized (or I had forgotten) that providers like OVH turn SPF and DKIM records into TXT records.  So, there is a precedent. That said, that's the only provider that does this (I only did a few simple grep's but it se

[2019-02-08 01:38] tlimoncelli opened #447 "Report if changes were made using exit codes"
CC: miguelbernadi

There is a desire to be able to report back whether changes happened using an exit code.  To retain backwards compatibility, this needs to be activated using a flag.

My proposal is to model the flag after Puppet's `--detailed-exitcodes` flag:

[code]

In other words, the 2^1 bit means "changes" and the 2^3 bit means "failure". Yeah binary!!

I think this flag should apply to `p

[2019-02-11 11:34] miguelbernadi commented on #447
I like the `--expect-no-changes` approach as flag for `preview`.

[2019-02-11 12:02] tlimoncelli commented on #447
I agree with @captncraig 's analysis.  `--expect-no-changes` works for me too!

[2019-02-11 12:06] miguelbernadi commented on #447
Then I'll try to add the flag sometime this week and open a PR for it.

[2019-02-12 14:24] rileyberton commented on #397
I took a crack at this.

https://github.com/StackExchange/dnscontrol/pull/448

This works for ROUTE53 and GCLOUD if the delegation sets and name server sets are already created.  It only applies on `create-domains` and is not yet supported on `push` (moving zones to different delegation sets, e.g.).

I also added support for Route53 retries which I ran into while processing ~3000 zones.

[2019-02-13 19:04] miguelbernadi commented on #447
PR is up for discussion.

[2019-02-14 01:11] #447 closed

[2019-02-19 17:53] rileyberton commented on #397
This is now supported with the merge of #448

[2019-02-27 16:59] pierrehenrymuller commented on #204
Until convertzone is reintegrated into dnscontrol control, is it possible to put the compiled binary in the releases and in the docker image?

I can't compile it either like #258 and it's not present in the docker image, so I can't evaluate dnscontrol for zone management.

Thank you.

[2019-03-04 15:44] pierrehenrymuller commented on #204
compilation is ok now

[2019-03-04 15:47] pierrehenrymuller opened #452 "Warning underscore in entries"
Hi,
Why dnscontrol put warnings on fqdn contains underscore?

RFC tell that's permitted and we got messages like that in preview or push command

Can we have an option to remove this warning?
Thanks

[2019-03-04 16:26] tlimoncelli commented on #452
Part of being an [an opinionated system](https://stackexchange.github.io/dnscontrol/opinions), we warn about things that are above and beyond what the RFCs require.  To that end, we warn about underscores in hostnames because it usually isn't what was intended. That said, we do a have a list of exceptions.  I'll add the above items to pkg/normalize/validate.go

https://github.com/StackExchange/dns

[2019-03-04 17:01] pierrehenrymuller commented on #452
ok thanks

[2019-03-04 17:01] #452 closed

[2019-03-04 17:11] tlimoncelli commented on #452
I've added those hostnames to the exception list: https://github.com/StackExchange/dnscontrol/pull/453

[2019-03-05 11:52] karlism opened #454 "Feature request: check specific zone"
Hello,

I would like to request specific feature - option to check one zone only. Something similar to `dnscontrol preview --domains value` command but for `dnscontrol check`:

[code]

Currently it is not possible to check one specific zone for errors, in example above second zone (example.net) contains duplicate DNS records (A and CNAME) for `localhost`. Running check command correctly points out

[2019-03-05 16:06] DrMurx commented on #433
Isn't this a duplicate of #405?

[2019-03-05 16:23] captncraig commented on #454
Can I ask why? The point of check is to do a quick syntax check on the whole file, as an easy validation step that doesn't require any provider credentials. It is always going to be fast.

In what situation will you have multiple domains with validation errors at the same time. The whole point of the thing is that you are supposed to keep your repo in a state where it has no errors, and you just w

[2019-03-05 16:25] captncraig commented on #433
Technically, yes it is. I'll close this one. Good catch. That doesn't prevent you (or anyone else) from attempting a pr on it though @virtualroot

[2019-03-05 16:25] #433 closed

[2019-03-05 16:36] DrMurx opened #455 "Generalize CF_REDIRECT for other providers"
I propose to deprecate/remove the `CF_` prefix of `CF_REDIRECT` and `CF_TEMP_REDIRECT` to allow other providers implementing redirects.

While CloudFlare is currently the only provider for those redirect directives, making this a general directive would allow to create something like a `nginx` or `apache` provider which would generate configuration snippets for the respective webservers.

[2019-03-06 07:45] karlism commented on #454
My specific case is following - we have a script that generates dnscontrol zone files and checks them before uploading to DNS servers by running `dnscontrol preview --domains example.com` command. Since we're also creating reverse DNS records automatically, changes are usually in multiple zones simultaneously. Each zone is also stored in multiple separate zone files:
[code]
Now imagine there's an

[2019-03-06 13:59] tlimoncelli commented on #454
The fundamental problem is that `dnscontrol check` does many things: some are specific to a domain, others are cross-domain.  Separating them out is difficult.  It does a syntax check, transformations and generators, and then it does the validations (like the CNAME check you mentioned).

Suppose you have updated DomainA but it is DomainB that has the syntax check.  No amount of editing DomainA is

[2019-03-06 21:17] nlowe opened #456 "Question: Route53 Private Zones"
As far as I can tell there's no distinction between public / private R53 zones for dnscontrol. I want to use dnscontrol to add some records in my private zone and some records in my public zone. Both zones have the same name, but dnscontrol always picks the public zone. I looked over the provider code briefly and I don't see a way to specify a zone ID or public / private filter when setting up the

[2019-03-06 21:29] tlimoncelli commented on #456
You aren't missing anything. dnscontrol is :-)

There currently isn't a way to specify public vs. private zones.  We'd gladly accept a PR that would add this feature.   Feel free to use this Github issue to discuss your design ideas.

[2019-03-06 22:10] nlowe commented on #456
It looks like AWS will allow you to create multiple private zones with the same name if they are associated with different VPC's.

We already have [`R53_ZONE`](https://stackexchange.github.io/dnscontrol/js#R53_ZONE) as a modifier for `R53_ALIAS` records. We could re-use this and make it context aware:

* If it's used in the context of a `D()`, add set a `r53_zone_id` property on the domain
* If it

[2019-03-06 22:21] tlimoncelli commented on #456
Sadly the only AWS service I use is route53. Therefore I'm not a good judge of what what is best for this kind of feature.  Maybe @cdhunt or other people have feedback?

[2019-03-06 22:23] nlowe commented on #456
Hmm, looking at it more that design would require changing the signature of `models.DNSProvider.Getnameservers` since we would need to know the zone ID in that context. The context it's called already has a reference to a `*models.DomainConfig` so we could just pass that instead, but that would require updating all providers.

[2019-03-08 13:52] cdhunt commented on #456
I've done very little with AWS hosted DNS and never with Private zones, but my thought would be to use `D()` since it is technically a different zone.

[2019-03-13 22:43] jr-RXcode opened #457 "Nameserver not found error Cloudflare"
Trying out dnscontrol for the first time and everything was going good until one of our domains started to produce the following message

----- Getting nameservers from: cloudflare
Nameservers for mydomain not found in cloudflare account

Why do the rest of my cloudflare zones work except for one. How can I enable additional logging to troubleshoot what's going on using the -v flag does not produc

[2019-03-13 22:54] tlimoncelli commented on #457
Are you using the NAMESERVER() function?  Check the spelling of the NS hosts.

Can you post a (redacted) copy of the D() statement?

[2019-03-13 23:06] jr-RXcode commented on #457
I feel so dumb... it was a typo in the domain name. Basically the error was saying that the domain was not found.

Thanks for the quick response though. I will mark this issue as close

[2019-03-13 23:06] #457 closed

[2019-03-14 19:28] tlimoncelli commented on #457
No problem!  You aren't the first person to mis-type a domain name :-)

[2019-03-26 08:01] noloader opened #458 "README is a bit stale"
It looks like OpenSRS was provided with [GH #275](https://github.com/StackExchange/dnscontrol/pull/275) but the README does not list OpenSRS as a supported platform.

Hat tip for OpenSRS support.

I'd love to see a feature that fetches my current IP from somewhere like `https://ifconfig.me/` and then push updates as required. That would cut-out the dynamic DNS middlemen.

[2019-03-26 13:33] tlimoncelli commented on #458
Hmm... I wonder how we missed that.  Anyway... I've started a PR here: https://github.com/StackExchange/dnscontrol/pull/459

[2019-03-26 13:59] tlimoncelli commented on #458
Hey @philhug could you take a look at this?

I started a branch (https://github.com/StackExchange/dnscontrol/tree/opensrs2) which fixes some of the documentation but I'd like you to take over and finish this.

[2019-03-26 14:13] philhug commented on #458
Ok, will do.

[2019-04-07 15:15] jamieweb opened #462 "How can I verify the integrity of DnsControl?"
Before implementing DnsControl in a production environment, I need a way to verify the integrity of the software download.

Is there anywhere that I can get GPG signatures of the releases? Or even just plain hashes? Some commits are also not signed, so I cannot verify this way.

It'd be most ideal if this integrity verification was somehow built into the distribution method - perhaps a packaged re

[2019-04-07 16:31] tlimoncelli commented on #462
Hi Jamie,

The releases on the github release page (https://github.com/StackExchange/dnscontrol/releases) include the githash of the release.  It is not a cryptographic hash, nor are the individual commits GPG signed.

Many competing projects provide more formal release processes. Or you might consider a commercial product with enterprise support.  I hear good things about OctoDNS, Terraform (whic

[2019-04-07 22:05] jamieweb commented on #462
It's unfortunate that this was closed without further discussion. I appreciate that the with nature of open-source, release procedures can be a challenge in some cases, especially to do securely. When done properly though, the release/update procedures are definitely better than with proprietary software though, due to the inherent transparency and auditability.

One of the main points of DnsContr

[2019-04-08 12:46] tlimoncelli commented on #462
Hi Jamie,

Sorry for closing this issue prematurely. That was a bit rude. I apologize.

What would you like to see for "release/build integrity"?  That is, could you state in technical terms what you would consider satisfying your need?

[2019-04-08 22:15] jamieweb commented on #462
Hi @tlimoncelli,

No problem, thanks for re-opening this.

Essentially what I'm looking for is some form of protection against the distribution channel being compromised, as well as a way to verify cryptographically that the code I downloaded is actually the same as the code you wrote and distributed. Preferably this should be possible to do automatically, instead of having to perform complex manu

[2019-04-09 00:52] captncraig commented on #462
Downloads from the github releases do depend on having a trusted https connection to github. An active network level attacker replacing the binaries in-flight seems much less likely than any of:

1. Malicious "contributor" providing a feature PR with hidden malicious code disguised as a vendored dependency update.
2. Compromised maintainer github credentials allow a malicious actor to push malicio

[2019-04-09 13:01] tlimoncelli commented on #462
Let's not try to boil the ocean, folks.

I feel like you're cataloging everything that could be done, but not answering my original question: What would satisfy your need?

To be more clear: What business policy or compliance rules are you trying to meet?

[2019-04-11 21:39] jamieweb commented on #462
The policy is that all software installed must pass a robust form of integrity checking, to give reasonable assurance that the software downloaded matches the software that was produced and released by the official, legitimate developers.

Examples of 'robust integrity checking' in this policy include: APT packages that are GPG signed, Binary releases that are GPG signed, hashes distributed throug

[2019-04-11 21:53] tlimoncelli commented on #462
I was hoping that you'd say something along those lines.   When you put it into those terms, it seems more tractable.

It would be great if dnscontrol was available as an APT package (and YUM, and etc.) for both the integrity reasons, and because it would make it easier for people to get.

I'm not too connected to the Linux developer community, so I don't know what the process is to get into APT.

[2019-04-12 00:40] jamieweb commented on #462
I think it can be quite challenging for new developers to get their packages into the Debian/Ubuntu APT repositories, especially if you don't have existing contacts. However, for Snap, anybody can release packages as long as they meet certain criteria (open source, not malicious/adware, etc), so I'd suggest having a look at Snap as a start.

Above all, having DnsControl available as a Snap would m

[2019-04-12 12:47] tlimoncelli commented on #462
We don't use that distro where DnsControl is developed (Stack Overflow) so it would be rather difficult for us to do it. However, we'd gladly have a volunteer take ownership and set it up. You, perhaps?

[2019-04-13 21:36] jamieweb commented on #462
Apologies if I've misinterpreted what you said, but just to confirm, by 'Snap packages', I am talking about the universal packaging format for Linux, which runs on most modern distros including Debian, Ubuntu, Mint, Arch, Fedora, etc. See [snapcraft.io](https://snapcraft.io) for more details.

In regards to helping with packaging DnsControl for the Snap store, that is something I would be interest

[2019-04-17 11:15] followsound opened #464 "Unable to run get-certs"
When running `get-certs` I get the following error after dnscontrol tries to clean up a record.

The main issue seems to be with `panic: DUPLICATE D_RECORD FOUND:`

[code]

Exact command I'm running is.
[code]

[2019-04-17 13:35] tlimoncelli commented on #464
Can you share your (redacted) dnsconfig.js file?  The error
`DUPLICATE D_RECORD FOUND: {bitnest.co.uk NS} ns1.digitalocean.com. ttl=300` means that the diffing algorithm found a situation it can't deal with.

[2019-04-17 14:21] followsound commented on #464
Sure, below (let me know if you need more of the redacted stuff, don't really know what to remove!)

[code]

[2019-04-17 14:22] followsound commented on #464
I should probably add, the DNS provisioning works fine, just `get-certs` that has that error.

[2019-04-17 15:53] tlimoncelli commented on #464
Interesting!

The error message indicates that there are exact duplicates of the NS record. Is there a chance that the NS record for ns1.digitalocean.com got in there twice?

CC: @captncraig

[2019-04-17 16:15] followsound commented on #464
@tlimoncelli - feel dumb now! There were two entries in DigitalOcean.

However, this hasn't solved the issue as dnscontrol puts two `@ ns1.digitalocean.com` entries back in?

[2019-04-17 16:19] followsound commented on #464
Also, just looked and all my domains have two entries for `ns1.digitalocean.com`

[code]

[2019-04-17 16:24] followsound commented on #464
Sorry for the triple comment, but strangely when I set `DnsProvider(digitalocean, 2)` to `DnsProvider(digitalocean, 0)` I still have an `ns1.digitalocean.com` entry?

[2019-04-17 16:28] followsound commented on #464
Fixed, it was a find-replace I had done that had messed up the BIND config.

[code]

Apologies for the trouble! Thanks for a fantastic tool!

[2019-04-17 16:28] #464 closed

[2019-04-17 17:59] tlimoncelli opened #466 "Duplicate records should be caught during validation"
The validation code should make sure that there are no duplicate records.

This will avoid finding them much later, when all we can do is panic, such as this one from https://github.com/StackExchange/dnscontrol/issues/464:

[code]

This is something that could be easily added to `pkg/normalize/validate.go:NormalizeAndValidateConfig()`

[2019-04-17 23:15] tlimoncelli commented on #464
@followsound I created a branch https://github.com/StackExchange/dnscontrol/tree/validup with better duplicate reporting. Would you have the time to see if you can reproduce your bug with this version and see if the error message is more useful?

[2019-04-18 07:27] followsound commented on #464
@tlimoncelli - sure I'll have a go when I get back to my personal machine 👍

[2019-04-23 00:01] jamieweb commented on #462
@tlimoncelli If you have an update on this, please let me know. I'm happy to take onboard the responsibility of the Snap package if I can verify DnsControl properly before packaging it.

[2019-04-23 13:07] tlimoncelli commented on #462
Hi Jamie,

Sadly, I'm in the middle of a number of big projects right now and I can't give this the bandwidth it deserves.

If you want do it, that'd be great.  We can transfer it to Stack in the future.  I can gpg sign the releases.  I'm not entirely sure what that involves (I use gpg, but haven't used it in combination with Git) so let me know what you need.

Tom

[2019-04-25 21:12] jamieweb commented on #462
@tlimoncelli,

Thanks, I'll have a look at packaging this and let you know what I need security/integrity wise.

I'll hopefully get this done within around 2 weeks.

Thanks!

[2019-04-29 21:50] jamieweb commented on #462
@tlimoncelli

Hi, to give a quick progress update for you:

I've set up a development repo on my GitLab account, so the Snap build environment will be public/open source. I've also registered the Snap with the Snap store, so it can be published when it's ready to go.

My build/release process will be something like this:

1. DnsControl update is released by StackOverflow
2. I receive notice of upd

[2019-04-30 16:32] tlimoncelli commented on #462
Sounds good!  I'm traveling this week but when I get back I plan on doing a new release, and I'll GPG sign the release.  To be clear, you mean GPG sign the commit that increments the release number, etc. using the process documented here: https://help.github.com/en/articles/signing-commits

[2019-04-30 22:01] jamieweb commented on #462
Yes, what you said there is correct. The tagged commit for the release needs to be GPG signed using Git (like the link you gave shows).

Enjoy the rest of your week, and I look forward to the new release! :)

[2019-05-02 23:19] captncraig opened #468 "get-certs should not exit after first failed cert."
It should keep going and try to validate the rest of the certificates.

[2019-05-04 22:50] jamieweb commented on #462
@tlimoncelli

Another status update for you.

I've successfully built a Snap packaged version of DnsControl on a test machine. It is working fine, including been able to make network connections to providers.

My next step is to configure and test the Snap confinement, as Snap packages are heavily sandboxed with access only to the services/features that they need (e.g. network access).

After that

[2019-05-06 23:11] jamieweb commented on #462
@tlimoncelli

I've got everything working in my local build environment, including the Snap confinement, so I'm pretty much ready to release it on the Snap store.

My public Git repository containing the working build configuration is: https://gitlab.com/jamieweb/dnscontrol-snap
The important file in the repo is `snapcraft.yaml`.

Once the next DnsControl version is released (with a GPG signed rel

[2019-05-07 16:03] captncraig commented on #31
DS record support is gonna be added in #469 when it merges. After that I should have all the pieces I need to do a more automatic dnssec setup process with dnscontrol. It will be fairly analogous to how we handle nameservers currently.

If dnssec is "enabled" for a domain, we will:

1. Make a preliminary pass over all providers for that domain (which will need to implement some interface to provid

[2019-05-07 16:06] captncraig commented on #31
A few open questions I need to research:

1. How important is it that the dns provider's nameservers respond with the same set of correct DS records?
  If dns is hosted with `providerA` AND `providerB`, they will each generate their own signing keys, and I will have 2 DS records to register upstream. Do all nameservers need to respond with both DS records, or can each just serve their own? Is it m

[2019-05-07 16:37] captncraig commented on #462
I'm afraid we don't have a good environment to test your snap. We trust you. Is the packaging something that can be merged back into this repo? A `dist` folder would make sense for this kind of snap packaging, potentially rpm scripts or choco packages and things in the future.

What servers are actually involved in building a package? Is it something you run and upload, or is there some more autom

[2019-05-07 16:38] aeden commented on #31
AFAIK, the only thing that needs to be consistent between the providers is the algorithm used. If providers use different algorithms then you may run into issues (this will need to be tested).

Many providers will not let you sign a zone with keys you control, thus proposing to have every provider sign with all of the keys will cut off a portion of the providers available.

[2019-05-07 16:43] captncraig commented on #31
That makes sense. If I am reading things correctly from my testing, the providers themselves really never need to serve DS records at all for the root. That makes it easy. You only need to specify DS records if delegating subdomains or something. The happy path is really just "collect DS records and submit to registrar".

[2019-05-07 21:19] jamieweb commented on #462
I can look at merging in the Snap config if you'd like. The file ideally needs to be at `/snapcraft.yaml` or `/snap/snapcraft.yaml` within the repo.

The actual build process is performed using the Snapcraft client on my local machine. It compiles the application and packages it along with all dependencies into a `.snap` file, which can then be pushed automatically to the Snap store.

DnsControl f

[2019-05-08 22:10] chathamws commented on #456
Has there been any traction on this? I am also interested in this capability. We have a large scale environment with overlapping private namespaces in AWS Route53. If I could specify the target ZoneID for the push process that would help tremendously.

[2019-05-08 22:41] tlimoncelli commented on #456
Sadly nobody has volunteered yet.  If you'd be interested, I'd be glad to mentor/guide.

[2019-05-09 15:44] chathamws commented on #456
Thanks for the quick response. Unfortunately I'm not go savvy just yet. I'm fluent in a few other programming languages, so I will probably catch on quick, however timing is just not permitting at the moment.

[2019-05-09 16:54] tlimoncelli commented on #456
No worries.  (By the way... some people have learned Go by adding features to DnsControl. Cite https://everythingsysadmin.com/2017/08/go-get-up-to-speed.html)

[2019-05-11 03:17] sajal opened #470 "Question: R53_ALIAS with dual DNS"
I want to use `ALIAS` with dual DNS providers, where one of them is Route 53 and the other supports `ALIAS` natively.

The target of `ALIAS` is another record in the same zone.

If I use `R53_ALIAS`, it would fail with the non-route53 provider, if I use `ALIAS` it would fail for route 53.

Is there a way to define conditional records? Such that to only apply a certain record only for a particular

[2019-05-11 12:19] tlimoncelli commented on #470
That's an interesting problem. Sadly right now we don't have any kind of conditional records.

Our general philosophy is that pseudo-types like ALIAS should be generic enough that each provider can do the right thing.  This way if you change providers it should always work.

Our concern is that if ALIAS accepted a ZONE_ID(), then it would work when switching to R53, but could break when switching

[2019-05-13 17:17] silverl opened #472 "SPF_BUILDER should support redirect"
I'm following the examples in the docs to use SPF_BUILDER instead of my previous method of string concat. We passed the 10 lookup limit, and I'm trying to unroll some things. Obvious case for SPF_BUILDER.

I noticed your example uses Hubspot. We also use Hubspot. However, the SPF host they gave us is `5113190.spf08.hubspotemail.net`, whereas yours is `450622.spf05.hubspotemail.net`.

`5113190.spf0

[2019-05-13 17:38] tlimoncelli commented on #472
Yeah, we only supported what we needed for our own record so far :-)

Would you be interested in working on this?  This seems like an easy one.  From an implementation standpoint,  `redirect` can be handled like `include` except it has to be the last item in the record.

CC: @captncraig

[2019-05-13 19:35] silverl commented on #472
Wish I could take it up. I gave the same response to someone on my own OSS project this morning :)

[2019-05-15 15:47] silverl opened #473 "dnscontrol updating registrar nameservers every push"
I'm using R53 and Google Cloud DNS together, as a dual-hosted DNS. The registrar for the domain is R53.

I'm trying to prune down the list of nameservers to 2 from Route53 and 2 from Google Cloud DNS for a total of 4 nameservers. I see this is how stackoverflow has done it as well.

In my `dnsconfig.js` I've tried specifying the argument to DnsProvider to limit it to 2 nameservers, like:

[code]

[2019-05-15 16:02] captncraig commented on #473
I haven't used r53 as a registrar myself, so I am not clear what they are doing.

It almost sounds like they are trying to be clever and help you out. Possibly by not actually accepting a mixed set of nameservers. But a few thoughts I have that may help debugging:

1. I expect `aws route53 get-hosted-zone` will always have the same 4 aws name servers. That is the endpoint that reports which aws na

[2019-05-15 16:19] silverl commented on #473
Hi, cap,

1. I agree on point 1.
2. The 4 NS records I want are getting created successfully in the zone. The domain is `trackabout.com`:

[code]

3. See 2.

When I run dnscontrol preview after having done a success push, I get this puzzling output:

[code]

It wants to rewrite the registrar, setting the exact values that it recognizes are already correct.

[2019-05-15 16:48] captncraig commented on #473
Oh, I wonder if it just needs to sort both sides consistently. That is my guess. Let me make a quick update.

[2019-05-15 16:51] captncraig commented on #473
Oh, nope. There are dots after the gcloud nameservers in your output.  That's also a bug that I need to track down.

[2019-05-15 16:58] captncraig commented on #473
I just pushed 6d6f685f70844e1093509578ff1196b3df6425fb which I believe will fix your issue and make things more consistent in the future. Can you test from master?

[2019-05-15 17:14] silverl commented on #473
Not a go expert here. How would I update an existing go package?

[2019-05-15 17:19] silverl commented on #473
figured it out. Seems fixed! Looks good to me!

[2019-05-15 17:19] silverl commented on #473
thank you thank you thank you

[2019-05-15 17:19] #473 closed

[2019-05-16 18:01] followsound commented on #464
Apologies for the late reply, work took over and the personal stuff stopped for a month!

The validup branch didn't fix the `panic: DUPLICATE D_RECORD FOUND.`

I also found, if I ran a `push` before the `get-certs` the error disappears.

[2019-05-16 23:54] tlimoncelli commented on #464
Does that mean you are no longer blocking on this?

[2019-05-17 12:48] patschi opened #475 "TTL for SPF_BUILDER?"
Thanks for this very helpful tool! I'm currently working on getting dnscontrol implemented in my private IT environment, including CI.

While I was able to cover all my needs so far, I wasn't able to find any way how to specify a custom TTL for generated SPF records using `SPF_BUILDER`. Is there any way to do so?

[2019-05-17 13:04] tlimoncelli commented on #462
Hi!  Quick update.  My crappy week has become a crappy month. I'm dealing with 2 emergencies right now. I'm not going to be able to work on this this month,  June doesn't look good, and I'm on vacation July 1-Aug 8.

[2019-05-17 13:35] tlimoncelli commented on #475
Hi there!

SPF_BUILDER generates records with no TTL, thus the default TTL is used.

[2019-05-17 14:06] patschi commented on #475
Thanks for the reply! Yes, I'm aware that the default TTL is used here as well, however I'd like to use a custom TTL for the SPF record.

I'd guess that this must be added to `SPF_BUILDER` in `pkg/js/helpers.js` somehow...

[2019-05-17 14:39] tlimoncelli commented on #475
Yes, helpers.js is a big part of it.  helpers.js generates a data structure that contains everything needed by the Go code to generate the records.  The Go code will need to take the TTL and add it as appropriate.

The info in [steps to add a new rType](https://stackexchange.github.io/dnscontrol/adding-new-rtypes) might be helpful.

Tom

[2019-05-17 16:30] patschi commented on #475
Thanks a lot for the hint! Apparently I was on the correct way to get this solved, however I wasn't aware about this specific detail as stated in your linked documentation:
[code]

So at first all changes I've done were basically without any effect...

[2019-05-17 17:30] tlimoncelli commented on #475
Ah.   Yes, that can be confusing. There's a `-dev` flag that always reads from the file.  We should mention that in the doc.

[2019-05-18 01:22] Silvenga opened #479 "Panic - index out of range - DigitalOcean"
Our DNS changes are stored in git, and a CI server executes every push. Restoring to a know configuration results in the same error. This makes me thing that DigitalOcean may have changed their API. Updating to `v0.2.8` results in the same error.

[code]

[2019-05-18 13:14] patschi commented on #475
Even if it's not related to this issue: Wouldn't make it more sense to simply trigger `go generate` during the build process? (when build/build.go is run?)

[2019-05-18 15:04] tlimoncelli commented on #475
@captncraig ^^^

[2019-05-18 15:07] patschi commented on #475
Just to add: For example see my PRs #476 and #478. In both cases I had to commit the `static.go` file as well, so that changes take effect code-wise, however this now ends up in a merge conflict as the content can't be merged automatically. Doing this as part of the build process might allow to get rid of this limitation.

[2019-05-18 15:08] #446 closed

[2019-05-18 15:15] tlimoncelli commented on #479
CC: @Deraen

[2019-05-19 04:37] patschi opened #483 "OVH: Modifying DKIM records fails"
I've come across a bug when dnscontrol tries modifying an existing DKIM entry via OVH, which fails with the error shown below:
[code]

Creating and deleting such records (with the same DKIM, etc) works just fine, just modify is broken. Unfortunately I'm not sure what might causing this... any thoughts?

[2019-05-19 10:59] Deraen commented on #479
Problem seems be related to SOA records, I guess Digitalocean changed the API so that domain record listing now returns SOA record. E.g. dnsimple provider seems to just filter the SOA record away, so I guess that should be fine for DO also?

[2019-05-19 11:12] followsound commented on #464
@tlimoncelli, yes with the workaround it is no longer blocking.

[2019-05-19 16:12] #479 closed

[2019-05-20 00:40] patschi commented on #483
Was somehow related to DKIM, which is simply too long for 1 TXT. No fix as of now...

[2019-05-20 00:40] #483 closed

[2019-05-20 00:52] patschi opened #487 "OVH: Long DKIM records not working"
Unfortunately using (very) long DKIM keys with `TXT()` does not seem to work properly with OVH. MultiTXT does clearly not work (even when enabling it temporarily during debugging) as OVH simply rejects it.

**The situation**: In general the DKIM is fine in a TXT. However when using `rtype=TXT`, OVH has a specific limit. When using `rtype=DKIM` however, it works just fine due to a longer limit. Bot

[2019-05-20 06:37] captncraig commented on #487
Do they translate the DKIM records to TXT under the covers? That seems wrong once there is already a native DKIM record that is essentially deprecated.

[2019-05-20 08:11] patschi commented on #487
Yes, they do translate it to TXT afterwards, just like they do with the SPF record.

I just thought of two ways:
1. Checking if the TXT value contains specific patterns which matches DKIM.
2. Provide a modifier like `IS_DKIM` so it can handle it slightly differently based on the provider's needs.

[2019-05-20 11:31] patschi commented on #487
Just to clarify further with an example:
[code]

I've checked the `models.RecordConfig` struct, and there's a `Metadata` string array. My first idea was simply using `if rc.Metadata["IS_DKIM"] == "true" {}` to get the DKIM-workaround applied (without adding a new RTYPE, or new struct variable). But I'm unsure if...
1) is possible to pass such a value from the JS-definition to the Metadata array,
2

[2019-05-20 13:57] captncraig commented on #487
That is... a really frustrating api choice. I don't think it is a good idea to change the front-end inputs to accommodate their bad design. One of our main goals is for the input to be as universal as possible, and the individual drivers handle all of the oddities and intricacies of each provider.

The ovh provider could make a loop through all TXT records, and convert dkim and/or spf records into

[2019-05-20 14:48] patschi commented on #487
I've filed a PR #488 with as few code changes as possible and this way it works just fine with longer DKIM keys with OVH. I can't change the record type earlier to `DKIM` as it may throw errors that there's no valid known DKIM rType defined in the code, and also not to confuse the `domainCorrections`-stuff.

[2019-05-20 16:10] patschi opened #490 "CF: Forcing TTL of 1 sec, when 300 was configured?"
While working on a tiny change in the cloudflare provider I've came across following code:

https://github.com/StackExchange/dnscontrol/blob/d782bb002bccac04d66321480725f3eb46044857/providers/cloudflare/cloudflareProvider.go#L240-L242

Does anyone know the exact use-case for this? Why should be the TTL forced to `1`, when it was set to `300 seconds` (5mins)? Does this has any particular reason?

*

[2019-05-20 18:22] jamieweb commented on #462
@tlimoncelli Thanks for the update - I understand your need to prioritise and appreciate you letting me know!

If any of the other developers want to take this on while you're unavailable, I will be happy to work with them. Also, if the next release tagged commit can be GPG signed, I can merge all the changes into my repo and actually publish the package. Once you're back, we can look at merging i

[2019-05-20 18:35] tlimoncelli opened #491 "GetNameservers() is inconsistent wrt "trailing dot" across providers"
You are probably reading this issue because of a warning told you to read this.

The warning is to help us find and fix an inconsistency in the code.  Some providers store a nameserver with a trailing dot, others don't.  Currently the code strips out the dot.  We would prefer if all providers act the same.

More specifically: The problem is with `models.DomainConfig.Nameservers`.  Some providers s

[2019-05-20 19:26] tlimoncelli commented on #490
Yeah, we should add a comment to explain.

The DNS protocol doesn't permit a zero TTL. Therefore we use TTL=0 internally to mean "use the default for that zone". Most DNS providers use 0 to mean the same thing.

CloudFlare uses 0 to mean "set this to the automatic value", which is 300. When you retrieve the zone, you'll get 300, not 0.  This leads to a battle where every "dnscontrol push" will try

[2019-05-20 19:31] patschi commented on #490
Based on my research, that's not correct: Cloudflare uses a TTL of `1` to say "managed by cloudflare", according to their documentation: https://api.cloudflare.com/#dns-records-for-a-zone-properties (Quite well hidden at `DNS Records for a Zone -> DNS Records for a Zone properties -> Object definitions: Show definitions -> ttl`)

[2019-05-20 19:36] tlimoncelli commented on #490
Based on my research, my memory is terrible :-)

Maybe we're both right.  The 0 `->` 1 translation is because dnscontrol uses 0 to mean "default" but we change it to 1 because we want the TTL to be managed by CF in that situation. (as you said)  The 300 `->` 1 translation might be to cover up very old domains or a change of the API?

Either way... feel free to play around with it and send a PR if

[2019-05-21 21:48] patschi commented on #487
Fixed with #488.

[2019-05-21 21:48] #487 closed

[2019-05-23 13:02] karolkania commented on #452
That's a great idea actually, although it'd be great to let everyone specify some meta option to skip the warning message for selected records - similar solution is already in place for `skip_fqdn_check`:
https://github.com/StackExchange/dnscontrol/blob/master/pkg/normalize/validate.go#L114-L116

@tlimoncelli

[2019-05-23 13:18] tlimoncelli commented on #452
Yes and no.  We'd rather have an opinionated feature than a configuration option that requires testing and maintenance.  I haven't heard many complaints about underscores.  I'd accept a PR if you feel strongly about it.

[2019-05-23 13:25] #475 closed

[2019-05-23 15:21] karolkania opened #493 "Initial push for AWS Route53 provider could invoke CREATE instead of UPSERT operation"
This applies to this line in particular: https://github.com/StackExchange/dnscontrol/blob/b3e35b56a22f81cc8f42adb9071fa4f28b4a1502/providers/route53/route53Provider.go#L245

When I was trying to push ~800 records for a single domain to AWS R53 in a single batch, I hit the following:

There's an undocumented limit (at least I was unable to find it) for this.

What I did encounter though is this thr

[2019-05-23 15:33] patschi opened #494 "CF: Controlling "Universal SSL" option"
I'd like to have a option to control the "Universal SSL" option of Cloudflare, just like with the proxy setting. The reason is following: I'd like to use Cloudflare as a DNS provider for a few domains, but CF shouldn't issue any certificates for these.

While I'm able to manually disable that specific setting, it is still much more convenient to handle that in an automated way with dnscontrol, and

[2019-05-23 17:23] tlimoncelli commented on #494
Sounds good to me!

[2019-05-23 17:54] tlimoncelli commented on #493
A warning would be useful, as would splitting the request into batches of 500.

[2019-05-24 09:26] patschi opened #495 "Idea: "FAKE-CNAME""
(Before I'm starting describing my idea: I'm bad at giving things names.)

**Situation**
Let's assume we have following records:
[code]

Additionally, we have following CNAME record:
[code]

So, the usual CNAME is easy to understand: We use the same records with `user.domain.tld` just like `admin.domain.tld`. However a CNAME is in place and will be returned back from the DNS provider.

**Idea**
Wh

[2019-05-24 10:07] tlimoncelli commented on #495
What problem would this solve?  If it is one of optimization (one fewer DNS query) then that's done already on the server side.

Here's an example: The QUESTION section shows the request is for A records.  The ANSWER section lists the CNAME record, plus any additional records required to get the A record.

[code]

Sadly some bad guys stuff the response with bad data. For example, the A record for

[2019-05-24 21:42] reshippie opened #497 "Not possible to use get-certs without OCSP stapling"
Not all TLS environments can, or wish to, support OCSP stapling, but all Let's Encrypt certificates generated by `get-certs` have that as a requirement.    It is a configurable option in the `github.com/xenolf/lego/acme/` package for both generating new certificates and renewing existing ones, but the `get-cert` code has it hardcoded as a strict requirement, not an option.

https://github.com/resh

[2019-05-24 21:57] captncraig commented on #497
Interesting, we recently did a whole run around to automatically fetch and serve staples on our load balancers. I assumed that flag was hard coded for all LE certs no matter what. If that option really works I will make it an option you can set on a per-cert basis, but requiring staple will remain the default.

[2019-05-27 20:20] tlimoncelli commented on #462
Well here's my first try.  I did a release (v2.9) with "git commit -S" and it requested my gpg passphrase.

I don't see any signatures when I do "git log" so I'm not sure if I did it right.  Let me know.

[2019-05-28 02:42] kochie opened #500 "Idea: Moving from vendor to modules"
I'm sure people have seen the [introduction of modules to Go](https://blog.golang.org/using-go-modules). Just wondering if this is something that dnscontrol will move over to in the near future?

I think the biggest advantage to using modules is no longer needing to commit dependencies to `vendor/` which can increase the size of the project and requires constant updating. Are there any reasons why

[2019-05-28 05:10] captncraig commented on #500
Thanks for bringing this up.

Gonna be honest, I have not used any projects with modules yet, and I don't fully understand how they work or what the workflow looks like.

That being said, I do like a number of things that vendoring gives us:

1. The code can always be built from a fresh clone. No external tools or extra fetches need be made.
2. Auditability. I can look at specific changes and see

[2019-05-28 05:24] captncraig commented on #500
All that being said, it seems modules are the way the wind is blowing, and I've been avoiding them too long. I'm gonna make a point to convert this project and see if I can't work out some of my reluctance.

[2019-05-28 09:06] jloh opened #501 "Large version jump"
Not sure if this is intended but all the previous releases were `v0.x.x` but this latest release is `v2.9`, dropping the leading zero. Not sure if this is intended?

[2019-05-28 10:46] kochie commented on #500
Those are some good points. It looks like modules will support [keeping the dependencies in a vendor folder still](https://github.com/golang/go/wiki/Modules#how-do-i-use-vendoring-with-modules-is-vendoring-going-away), which should at least help with the issues you raised.

[2019-05-28 13:18] patschi commented on #495
Ah, understood! I thought resolving CNAMEs requires additional requests from the client (even the ANSWER section contains both records). Thanks for letting me know! :)

[2019-05-28 13:18] #495 closed

[2019-05-28 13:21] tlimoncelli commented on #501
I should have pointed this out in the release notes.

* The leading "0." was a mistake a made a long time ago and I'd been meaning to correct it.
* There is a comment in one commit about a 3.0 release. That's in error.

My general plan is:
1.x was the python version. 2.x was the go version.  I'm holding 3.x for when we overhaul the provider interface to be more modular.

[2019-05-28 17:21] captncraig commented on #500
Well I'm sold primarily based on being able to ditch the gopath concept altogether.

I'd like to try out modules with vendoring and see what really changes.

Unfortunately this project has become a bit of a tangled web. Some dependencies don't exist anymore or have been renamed. Others have made major breaking changes. Gotta figure out how to bring everything up to date as easily as possible, then

[2019-05-28 21:53] jamieweb commented on #462
Hi Tom,

Thanks for giving this a go.

In order for the GitHub releases page to have the 'Verified' emblem, you'll need to sign the tag, which you should be able to do with `git tag -s`. You'll also need to make sure that your GPG public key is properly added to your GitHub account.

For example, the releases page for KeePassXC has green 'Verified' emblems for each release: https://github.com/keep

[2019-05-29 18:04] captncraig commented on #497
Since this bit us hard in production today, I made this option in #502. The default is false. You can set `"must_staple": true` in certs.json to enable it per-cert.

[2019-05-29 18:04] captncraig commented on #497
So thanks for pointing out this option works.

[2019-05-29 18:04] #497 closed

[2019-06-03 08:28] patschi commented on #494
I've filed #496 and just wanted to update the (annoying) `static.go` file so that it can be merged again... however I'm getting some strange error and I've currently no clue what's the exact issue. Must have something to do that it's Monday morning.

[code]

Do you have any idea, @tlimoncelli? As there were no changes to the `generate.go` file in the last two years, it must be something wrong with

[2019-06-03 09:58] tlimoncelli commented on #494
I'm not at my dev PC right now so this might not be useful advice but...

Can you try go1.12.4?  Also, the "-rf" flags to "rm" need to be immediately after the command.

[2019-06-03 11:55] patschi commented on #494
go1.12 won't work neither:
[code]

Nope, you can also use the parameters at the end. I often realize that I'd like to delete a non-empty folder when I've already auto-completed the rm-command, so I just append `-Rf` at the end.

[2019-06-03 12:20] tlimoncelli commented on #494
rm:  Ugh, another GNUism that would make Dennis Ritchie cry.

Anyway...

about go generate:  I'm having trouble reproducing the issue.   I'm at 8b86eec6bfde28b782655f54f99352ba068340c3 (recently rebased to master).  I've tried go1.12 and go1.12.4. No luck.

Could you try it on another machine?

What OS are you on?

Tom

[2019-06-06 08:47] supaflyster opened #503 "Release version mismatch"
Hi!
Not sure if it is intended, but in release 2.9:
binary downloaded from github shows version 0.3.0:
[code]

Binary from homebrew on mac:
[code]

So it is still 2.9 or 3.0 already :)

[2019-06-06 09:17] supaflyster commented on #503
Ok, I've re-read again the commit, so it was a typo but binary was built with 0.3.0 still in the code.

[2019-06-07 11:42] loosi opened #504 "ERROR: Exact duplicate record found for R53_ALIAS in Version 2.9"
We previously used R53_ZONE for dual-stack.
R53_ALIAS('$NAME$', 'A','.,...elb.amazonaws.com.', R53_ZONE('adasdwer34r')),
R53_ALIAS('$NAME$', 'AAAA','.,...elb.amazonaws.com.', R53_ZONE('adasdwer34r'))

using the latest Version this now fails with "ERROR: Exact duplicate record found"
Is there any way to use both A and AAAA records with R53_Alias for now?

[2019-06-07 11:43] #503 closed

[2019-06-07 13:32] tlimoncelli commented on #504
I'm pretty sure that's a bug.  I moved that check to be earlier in the process and must have botched it.

Can you make a minimal config that reproduces the problem?

[2019-06-11 10:29] loosi commented on #504
Well those two lines above are more or less the config to reproduce the bug. I can't really add anything else without disclosing internal AWS stuff. Everything else are internal Domains or even AWS ZoneID.

[code]
File foobar.js
[code]

[2019-06-13 11:10] patschi commented on #494
I'm running Windows 10 1809, using WSL. However I was able to fix it. The issue was that the dnscontrol project wasn't within `$GOROOT`.

My guess is: When the project is within `$GOROOT`, it does use the `vendor/` folder - so everything works fine as expected. But when it isn't, the `vendor/` folder is being ignored (for unknown reasons) and causes a version conflict of the `mjibson/esc/embed` Go

[2019-06-13 11:32] #494 closed

[2019-06-13 14:39] captncraig commented on #494
Specifically, the repo should be checked out to `$GOPATH/src/github.com/stackexchange/dnscontrol`

Its a pain, I know, but that's how go projects really demand to be handled.

[2019-06-17 19:06] captncraig commented on #490
I believe this is an artifact of several historical factors. The quality of them may be debatable again, but this is the best I can recall.

- 300 is a magic number that we chose at some point as the global ["default ttl"](https://github.com/StackExchange/dnscontrol/blob/921fa9849001d42494b23feadbe069d1dd46d916/models/dns.go#L9) if none is specified. It seemed a reasonable value at the time.
- Clo

[2019-06-17 19:12] captncraig commented on #490
Restored the check in f61efd45f28e31b34636f77c3505ad1ea4d9d880. I reopened this so we can discus further if you feel strongly it should behave otherwise.

[2019-06-18 20:09] tlimoncelli commented on #504
I found the problem and created https://github.com/StackExchange/dnscontrol/pull/505.

Does that fix the problem?

[2019-06-18 20:16] #501 closed

[2019-06-18 20:18] tlimoncelli commented on #493
Would you be interested in volunteering to fix this?

[2019-06-18 21:01] tlimoncelli commented on #472
@silverl I've implemented a minimal implementation. It only implements the situation where `redirect:` is the last item in the SPF record.  Does that suit your needs?

See the PR https://github.com/StackExchange/dnscontrol/pull/506

[2019-06-19 12:14] silverl commented on #472
I believe that should work nicely, thank you!

[2019-06-19 19:35] silverl commented on #472
I'm trying to test this out with both the docker image on our build server (did a fresh docker pull and removed the old image) and also Go on my local workstation. Pretty sure I've got things right, but I'm still hitting the same issue in `dnscontrol check`.

[code]

Yes, I have it twice in the same config file.

[2019-06-19 21:55] Shinzu commented on #500
on a branch on my [fork](https://github.com/Shinzu/dnscontrol/tree/use-go-modules) i switched to go modules since i wanted to update the [dns package](https://github.com/miekg/dns) (needed a newer version that supports $GENERATE for the convertzone cmd)

Worked pretty well so far, but have to test it further, fell free to try it out

the good think with go modules is, via a simple `go get github.c

[2019-06-19 22:52] tlimoncelli commented on #472
Hmmm... are you sure you're getting commit 2d9d93653b37448b0e5efe38dc10c7e55096533f or later? That seems like the error you would get with the old release.

[2019-06-20 00:48] silverl commented on #472
I did an update with `go get -u`. Also using the latest docker image that was built within an hour of your merge to master.

[2019-06-20 12:23] tlimoncelli commented on #472
does `git log` show something like:

[code]

[2019-06-20 13:12] silverl commented on #472
I just built it on Windows using the build.ps1 script from latest master. Your commit is in the git log. I am still getting the validation errors.

[2019-06-20 14:39] silverl commented on #472
I found a similar string to `Unsupported spf part` inside a file called `flattener.js`, which seems to be part of some web-based validator API. Is it possible the code to validate the SPF has been moved out of Go and into some kind of self-hosted web service?

[2019-06-20 15:28] tlimoncelli commented on #472
OOH!  It's `redirect=` and I implemented `redirect:`

When I google "spf redirect" I see examples of each.  Which should we support?  Both?

[2019-06-20 15:30] tlimoncelli commented on #472
`flatterner.js` is transpiled from go to javascript to make the web version.  The JS might be out of date, but not for long.

[2019-06-20 15:49] silverl commented on #472
Oho! I guess I'd be checking the RFP on that one.

On Thu, Jun 20, 2019, 10:28 AM Tom Limoncelli <notifications@github.com>
wrote:

[2019-06-20 22:01] silverl commented on #472
https://tools.ietf.org/html/rfc7208#section-6.1

[2019-06-21 11:00] loosi commented on #504
I'll test that this weekend

[2019-06-21 11:48] tlimoncelli commented on #472
You are absolutely correct, sir!  I'll prepare a PR.

[2019-06-21 11:49] tlimoncelli commented on #472
Fixed in https://github.com/StackExchange/dnscontrol/pull/507

[2019-06-21 11:59] tlimoncelli commented on #504
PS I merged it into master. You can test it there.

[2019-06-21 16:15] silverl commented on #472
@tlimoncelli The latest change worked! Thank you!

[2019-06-21 16:15] #472 closed

[2019-06-21 20:11] tlimoncelli commented on #472
@silverl Thank you for reporting this!

[2019-06-25 16:05] diegoroccia opened #508 "Route53 provider limit exceeded"
I'm using the R53 provider and migrating my existing zones, but I'm hitting the 1000 records limit from AWS

[code]

Is there a way to configure the batch size or a workaround to the problem? I saw there is another issue opened https://github.com/StackExchange/dnscontrol/issues/493 but that would not solve it for good

[2019-06-27 03:44] captncraig commented on #493
Should be fixed in #509. For simplicity's sake, I just applied upserts in batches of 500. Identifying creates vs upserts would be quite a bit more logic to optimize what I assume is a fairly rare situation where we are adding many records at once.

[2019-06-27 03:45] captncraig commented on #508
#509 should address this. I guess we hadn't really encountered such massive zones in our prior usage of r53. Thanks!

[2019-06-27 03:45] #508 closed

[2019-06-28 09:15] loosi commented on #504
Fix in master works. No error now on deploying r53_alias with dual stack. Thx :)

[2019-06-28 09:15] #504 closed

[2019-06-28 12:56] tlimoncelli commented on #504
Thanks for pointing this out so that it could be fixed!

[2019-06-30 12:46] TomOnTime commented on #393
I'm getting failures again. Not all the time.

[code]

later:

[code]

The message `invalid character '<' `  usually indicates a failure response. The error message is text but we try to parse it as JSON.

[2019-06-30 12:57] tlimoncelli commented on #393
I upgraded to the lastest `github.com/digitalocean/godo` module and now I get the full error:

[code]

[2019-07-02 11:52] Deraen commented on #393
I just ran the tests and they succeeded. Could have been some random issues with Digitalocean or Cloudflare services? [DO status lists some network problems](https://status.digitalocean.com/incidents/nvx5rfybf95g) in one region during Sunday so maybe that could caused the API to be down.

[2019-07-04 05:37] essh opened #519 "AWS Certificate Manager DNS validation records trigger label underscore warning"
AWS Certificate Manager DNS record labels start with an underscore (as per https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-dns.html) and trigger the label underscore warning similar to the following:

`WARNING: label _X1.example.com contains an underscore`

[2019-07-04 14:21] BenoitKnecht commented on #428
#429 has been merged, and it's part of the v2.9 release, so I guess this issue can be closed now.

[2019-07-05 13:32] tlimoncelli commented on #393
Yup.  I think it was the cloudflare outage.  Sorry for the false alarm!

[2019-07-05 13:32] #393 closed

[2019-07-05 18:10] tlimoncelli commented on #428
Good catch. Thanks!

[2019-07-05 18:10] #428 closed

[2019-07-05 20:24] TomOnTime commented on #466
Fixed in 98232b0933deca551bf6bffb39763b3aee115cff

[2019-07-08 21:31] jamieweb commented on #462
@tlimoncelli So you're aware, I'm still keeping an eye on this. As soon as the next release comes around, I'll package and test it, then publish the Snap if that's all OK with you. Then I'll submit a PR and hopefully the Snap config can be merged in, and then SE can take over the Snap packaging responsibilities.

[2019-07-08 22:06] nodesocket opened #527 "Multiple domains"
Is it possible to pass any array of multiple domains into `D`? We have 4 domains that should all have the exact same records. Is the following supported?

[code]

[2019-07-10 02:16] geek1011 opened #528 "Switch to official Vultr API library"
Vultr just released an official API library: [github.com/vultr/govultr](https://godoc.org/github.com/vultr/govultr). I might work on this if I have time.

Edit: Also add support for SSHFP records.

[2019-07-10 11:48] TomOnTime commented on #527
That won't work but you can do something just as good (I do this for many parked domains).  The configuration file is javascript, so you can use loops:

[code]

Hope that helps!

[2019-07-13 18:57] geek1011 commented on #500
Go modules have come a really long way, and I feel they are quite usable now. I've switched most of my own projects over.

@captncraig, In response to your points about vendoring:
1. It is even easier to build from a fresh clone with modules, as you don't need to worry about where you put the code. Go will automatically manage the dependencies.
2. If you wish, you can still use `go mod vendor` to

[2019-07-15 14:31] #528 closed

[2019-07-16 17:53] jeff-cook commented on #183
It looks like this may be near being released, but I'll add my use case anyway.

I have a domain I want completely managed by DNS Control, except for one record which needs to by handled dynamically. I would really like to leave PURGE on. Thought about writing a script to update the dnsconfig.js file with the current value, just before it ran. But the IGNORE option would be best.

Thank you for yo

[2019-07-16 19:54] jeff-cook opened #534 "Cloudflare API Tokens not supported"
Cloudflare has a newish (beta) API Tokens. It allows custom permissions per token. It seems like a perfect fit for use by DNSControl. I have tried and it looks like it is not currently compatible with DNSControl.

It is used as a bearer token.

[code]

[2019-07-17 02:21] liljenstolpe opened #535 "subdomain delegation"
I need to create/manage both example.com and foo.example.com using dnscontrol.  Hexonet is the registrar, and a combination of GCloud and R53 as the servers, if that makes any difference.

Doing a D(example.com...) and D(foo.example.com...) isn't going to work, as I have no idea what nameserver addresses will be used for foo.example.com to fill out the NS records.

Is there anyway to get the NS re

[2019-07-17 03:21] captncraig commented on #535
You're going to need to manually add an NS record in the parent zone delegating to the child zone. We do something like this:

[code]

You should be able to find the appropriate nameservers for the child zone by looking in the web console for whatever provider is handling `foo`. I don't think it makes too much sense to extend the auto-discovery of nameservers into subdomain delegation, as it is a

[2019-07-17 16:17] liljenstolpe commented on #535
Actually, that's not going to necessarily work if the parent is also being run by dnscontrol.  I can't fill in the NS records for the deligation, until I've run dnscontrol push once.  So, every time where there might be an NS record change for the deligated subdomain, I have to run dnscontrol, collect the NS records, and manually populate them into the D() and re-run.    It's doable, but a bit ann

[2019-07-17 18:09] captncraig commented on #535
Correct. How many domains are you doing this for? Are they changing often? Realistically, with those providers the nameservers are not going to change after domain creation. Create the subdomain once, copy the ns records and its done.

They also have features like delegation sets so you can be sure to use the same nameservers for all domains, but I am not very familiar with those.

To get metadata

[2019-07-17 22:51] liljenstolpe commented on #535
Ok, I'll look at the delegation sets.  The subdomains do come and go with reasonable regularity.  Ny thinking was that once you get the NS records (which you have to to feed the registrar), you could then fill that data in (i.e. replace a placeholder) in the delegating zone.

Christopher

[2019-07-22 19:56] glennjacobs opened #536 "New domains not creating in DigitalOcean"
Running `dnscontrol create-domains` I get the following error...

`Error creating domain: POST https://api.digitalocean.com/v2/domains: 422 Data can't be blank`

Any ideas?

[2019-07-22 20:53] glennjacobs opened #537 "DigitalOcean not purging existing nameservers"
If I have the following domain as below, the new nameservers get added but the original nameserver records that DigitalOcean pre-populate remain, which is not desired.

[code]

How can I ensure the original DigitalOcean nameserver records are removed?

[2019-07-23 02:29] captncraig commented on #537
I'm not sure I understand the use case here. What role is DigitalOcean playing if you are not using their nameservers?

Be that as it may, `DnsProvider(DNS_DIGITALOCEAN)` implies that you want to use DO as a dns provider, and DnsControl will auto-discover the nameservers from that, combine them with your manually entered nameservers, and make sure all of those are set up with the appropriate NS re

[2019-07-23 06:33] glennjacobs commented on #537
@captncraig thanks for the quick response :-)

The use case is white label (or vanity) DNS servers. So our name servers aren't actually the default DO name servers, even though they point to the same IP. You can see how we've done it here https://www.digitalocean.com/community/tutorials/how-to-create-vanity-or-branded-nameservers-with-digitalocean-cloud-servers

I tried `DnsProvider(DNS_DIGITALOCE

[2019-07-23 06:37] glennjacobs commented on #537
When I say no difference, no changes were made when running `dnscontrol push`. I'm going to guess from the code (I don't program in GoLang, but can try workout what is going on), that by setting the name server count to 0, it's also going to ignore our custom name servers?

[2019-07-25 06:49] ad8-bdl commented on #176
The expected behaviour is embodied in `convertzone` and the [documentation](https://stackexchange.github.io/dnscontrol/js#NAMESERVER).

e.g. `convertzone` produces NAMESERVER entries with a TTL modifier:
[code]

However this raises an error with `dnscontrol`:
[code]

Removing the TTL entries seems to be an effective workaround.

[2019-07-25 11:42] ad8-bdl opened #538 "convertzone produces invalid SRV records"
A minor issue:
I have a zone file with a couple of SRV records; `convertzone` emits these as:
[code]

which is invalid; the record arguments should be separated as:

[code]

The simple workaround is to manually edit SRV records after running `convertzone`.

[2019-07-25 13:29] ad8-bdl commented on #536
FWIW, this works for me:

`example.net.js`:
[code]

[code]
and the domain pops into place at https://cloud.digitalocean.com/networking/domains?i=xxxx

[2019-07-25 13:33] ad8-bdl commented on #537
I'm seeing the same thing, but using DO's nameservers - the result is duplicate NS records in DO.
Repro:
- starting with a "blank canvas" at DO (i.e. example.net does not exist), and the following config:
`example.net.js`:
[code]
[code]

`push`ing results in two copies of each NS record on DO, with the same TTL (300). A subsequent `preview` reports `----- DNS Provider: digitalocean...0 corrections

[2019-07-25 20:34] captncraig commented on #537
@ad8-bdl This is expected. In the normal case, you should not need to specify Nameserver records at all. Dnscontrol will discover them and take care of managing ns records and registrars and so forth.

Either remove the redundant nameserver records, or use `DnsProvider(DNS_DIGITALOCEAN,0)`

[2019-07-26 04:43] ad8-bdl opened #539 "convertzone produces redundant NAMESERVER entries"
`convertzone` emits extraneous NAMESERVER entries:

Given the following zone file:
[code]

`convertzone` produces the following:
[code]

I suggest that convertzone should not include the NAMESERVER entries; or ideally only include them if they do not exist in the DnsProvider (which could be inferred from the SOA record, or provided via a new command line argument).

(also ref. #176  re. NAMESERVER

[2019-09-08 08:51] willpower232 opened #548 "Route53 unable to authenticate"
I may be misunderstanding something, being new to dnscontrol, but I am unable to authenticate against Route53 when using either `r53` or `r53_main` and I get the following error message (AWS access key redacted)

![image](https://user-images.githubusercontent.com/1619102/64485840-31a08a00-d21d-11e9-95ae-f0900644bb9f.png)

I seem to remember from other software development that AWS updated their au

[2019-09-10 19:20] tlimoncelli commented on #548
`r53` and `r53_main` are just a name you assign to a particular set of credentials.  If you have only one set of credentials, just using one is fine.   In some companies you might have multiple AWS accounts, each with their on credentials, and certain domains managed under each account.

You assign a set of credentials a name in creds.json, then use that name later in dnsconfig.js:

[code]

In the

[2019-09-11 15:57] willpower232 commented on #548
I missed the part where the SDK is used so obviously its going to work for everyone.

My issue turned out to be a stray space between the key and the `"` in the JSON file, inspired by (https://github.com/aws/aws-sdk-go/issues/289).

I'm now getting the error `Check your credentials, your not authorized to perform actions on Route 53 AWS Service`.

Aside from the `you(')r(e)` typo, do you have an e

[2019-09-24 01:42] vatsalyagoel commented on #42
can the provider-request label be removed from this?

[2019-10-09 13:17] loosi opened #552 "Repeating CAA Changes"
Weird manual push problem with AWS Route53 (not found in our CI).
RUN #1
[code]
RUN #2
[code]

And that goes on and on and on with every manual run. Strangely its not happening in our CI, though it's the same docker image and the same repo. Could that be an API timing-order problem?
There are no changes to the CAA records in AWS.
I tested it on a mostly blank Domain
[code]
Any ideas? It's preventi

[2019-10-09 13:19] captncraig commented on #552
That is definitely a problem. Looks like the diff algorithm is not matching the records properly. I will try to repro.

[2019-10-09 13:56] captncraig commented on #552
I'm pretty sure #553 fixes. Can you confirm?

I still can't explain why it passes in your CI but not locally. My guess is that R53 is not returning records in consistent order, and you just happened to observe a run that lined up properly.

[2019-10-09 14:17] loosi commented on #552
#553 fixes it locallly. Thanks - that fast blazingly fast.
Still no clue why it's local only. Maybe our CI is slower..maybe a different route and different response. For most records the order doesn't matter at all, so I guess not many people see those errors.

Still,
thanks

[2019-10-09 14:17] #552 closed

[2019-10-09 14:18] captncraig commented on #552
I'm actually amazed this hasn't been a bigger issue before now. I guess caa is one of the only records where it is typical to have multiple records with the same target (letsencrypt.org for you) that have differences in other fields.

[2019-10-18 06:09] signalwerk commented on #204
I also struggle to get convertzone to run. I would love to see it in de docker build

[2019-10-19 13:24] JoyceBabu opened #554 "Add provider specific entries="
I have a DKIM TXT record that is over 255 characters. Route53 and Google Cloud DNS requires the record to be split into multiple strings, but CloudFlare does not support multiple strings for TXT records.

I tried adding a separate D('mydomain.com', REG_NONE ...);, for cloudflare, but it is failing with error

Is it possible to conditionally add records depending on the provider with dnscontrol?

*

[2019-10-19 13:47] captncraig commented on #554
Hmmm. Are you hosting the same domain on all 3 providers? Are all of them authoritative?

I would probably advise cloudflare is not suitable for your setup if you need this dkim. They also don't really play nice with other dns providers. It doesn't seem like a great idea to have inconsistent dns records across multiple providers. Sounds like a good way to really confuse resolvers.

Can you elabora

[2019-10-19 14:29] JoyceBabu commented on #554
Yes, I was planning on using CloudFlare and Google Cloud DNS as authoritative nameservers.

In my case, DKIM was not important so I ended up removing the record from all 3 providers.

Last week, the site was down with error

Akamai support said it was due to a DNS error, and that the edge server was not able to resolve the origin hostname. I was using CloudFlare's nameservers for the site. So, I t

[2019-10-19 15:08] captncraig commented on #554
You're gonna run into more issues trying to use cloudflare like that. They check the registered nameservers and will assume your domain is misconfigured when they find the gcloud nameservers there.

When you have multiple nameservers and they return different combinations of things to different clients, things become really unpredictable and hard to debug. I don't think conditional records are a g

[2019-10-19 15:16] JoyceBabu commented on #554
Thank you for the advice. It makes more sense to have all records synchronized or drop the provider completely.

[2019-10-19 15:16] #554 closed

[2019-10-23 15:48] #534 closed

[2019-11-02 00:26] geek1011 opened #561 "Cloudflare not working with empty SRV record targets"
This seems to have been working last week, but it now errors with `Error getting corrections: Error fetching record list from cloudflare: json: cannot unmarshal bool into Go struct field cfRecData.result.data.target of type string`.

For reference, here is the JSON record (domain names have been changed): `{"id":"5ed257182fdf61652819accebb407dad","type":"SRV","name":"_pop3._tcp.example.com","conte

[2019-11-14 16:25] #561 closed

[2019-11-22 16:38] #527 closed

[2019-11-22 16:41] tlimoncelli opened #566 "Gandi provider could use a rewrite"
The current Gandi provider tries to autodetect v4 or v5 of the protocol and do the right thing. As a result, the provider is complicated and sometimes does the wrong thing.  Gandi support isn't enthusiastic about supporting our questions related to this.

Proposal: Write a new module from scratch that only supports LiveDNS as documented in https://api.gandi.net/docs/livedns/

We can consider using

[2019-12-02 12:22] lukelyp opened #568 "Does dnscontrol support Cloudflare Load Balancer?"
Hi,

I was wondering does dnscontrol support Cloudflare DNS Load Balancer? I didn't see in the repo.

Thanks.

[2019-12-02 17:36] tlimoncelli commented on #568
Not at this time.  We'd be glad to accept a PR that adds such a feature.

(I'm closing this issue but feel free to re-open it if you want to discuss this further)

[2019-12-02 17:36] #568 closed

[2019-12-02 17:45] lukelyp commented on #568
Thanks.

[2019-12-08 07:01] ntwb opened #569 "Time for a new release?"
The last release was ~ 6 months at the end of May

Any chance on pushing out a new release?

I'm using Homebrew to install DNSControl and even though I'm about to go install with Go, I'd expect a few others who use Homebrew would enjoy the latest features.

I was trying to debug why #534 wasn't working for me...

[2019-12-09 18:22] tlimoncelli commented on #569
Wow, I can't believe its been so long! I'll add it to my todo list.

[2020-01-02 20:41] captncraig opened #573 "Deprecate Old Gandi Provider"
#572 is a new and improved gandi provider. Once merged, it will implement a `GANDI_V5` provider type.

When the other gandi types are used, we should print a deprication warning that those providers will go away at the next major release, and they should migrate usages to the new provider.

[2020-01-02 20:42] captncraig commented on #500
I will do this soon for the next major release (after the one we will be making in the next day or 2).

[2020-01-02 20:46] captncraig opened #574 "Refactor Integration Tests"
A few things I have needed to change for a while will get addressed:

1. Instead of one large list of changes on one big sequence, separate into smaller test functions for different features. Each function can be activated or not per-provider. Will make easier to test specific feature combinations than the current way of figuring out start / end indexes that change from provider to provider.

2. D

[2020-01-02 20:47] captncraig opened #575 "Remove old Gandi providers from source code"
With 3.0.0 release we will fully remove old gandi providers depricated in #573 . We may or may not seamlessly transition users to new provider without interaction. Need to assess risk of breaking.

[2020-01-02 20:49] captncraig opened #576 "Major Refactoring of DnsProvider Interface"
Currently convertzone only works with certain providers. We would like it to work with all providers, and become part of dnscontrol as a “getzone” subcommand. This has been requested by many people.

The current provider interface is monolithic, and only provides a “GetCorrections” function.
Our plan is to separate this into “Get Existing Records” and “Determine needed Corrections” functions that

[2020-01-02 20:55] captncraig commented on #548
Our test account just uses `AmazonRoute53FullAccess`. You could experiment with less than that, but it does need full control over resource record sets.

[2020-01-02 20:55] #537 closed

[2020-01-02 20:56] #536 closed

[2020-01-02 20:58] captncraig commented on #491
We should remove the odd nameserver struct and just move to a list of strings. And take care of this at the same time.

[2020-01-02 20:59] #490 closed

[2020-01-02 21:25] tlimoncelli commented on #569
Release 2.10.0 pushed via 88769d51b7910c459d939e33d1156a5c41303f75

[2020-01-02 21:25] #569 closed

[2020-01-02 21:27] tlimoncelli commented on #548
FYI: 3.0 will have a "dnscontrol getzone" command which will be very useful for debugging authentication without having to go through a lot of setup.  Maybe we should have it be extra verbose in the error messages to help find whitespace, etc.

[2020-01-02 21:44] #466 closed

[2020-01-02 21:46] tlimoncelli commented on #204
Did f1572c4b11690178c97a091a9b168feba0089d1c fix this?

[2020-01-02 21:47] tlimoncelli commented on #153
When we add the generic "dnscontrol getzone" command, it can be used for this purpose.

[2020-01-02 22:55] signalwerk commented on #204
@tlimoncelli for my case yes. ((it's my commit to the dockerfile))

[2020-01-06 23:12] tlimoncelli opened #577 "Replace models.Nameserver with []string"
In hindsight, the Nameserver struct is overkill. We could have just used []string.  Now every provider calls StringsToNameservers and ever user calls StringsToNameservers.  We should refactor this some day to just use []string.

This will be a lot easier once https://github.com/StackExchange/dnscontrol/issues/491 is complete.

[2020-01-08 22:41] tlimoncelli commented on #573
Working on this in https://github.com/StackExchange/dnscontrol/tree/gandi2

[2020-01-10 10:59] zwo-bot opened #579 "route53 description of batches displaying always whole changeset"
When you addressed the route53 batch size limit of 1000 in https://github.com/StackExchange/dnscontrol/pull/509 you did not split the description of changes into corresponding batches. This results in outputting the all changes for every batch in preview and push. For example If we have a changeset of 2000 entries, the description of every batch includes all 2000 entries.

[2020-01-12 16:19] TomOnTime opened #581 "DOCS: Better explain NS vs. NAMESERVERS"
Turn https://github.com/StackExchange/dnscontrol/pull/578#discussion_r365594065 into documentation.

[2020-01-13 06:59] saurabhguptag opened #583 "Softlayer DNS for TXT always tries to modify and fails"
I see there is a bug for TXT records for soflayer DNS, Once the following config is push, dnscontrol always recognise that there is change in the record.

`
    TXT("XYZ", "ABC", TTL(300)),
    TXT("XYZ1", "ABC1", TTL(300)),
`

following is preview

`
----- DNS Provider: softlayer...2 corrections
#1: MODIFY TXT xyz.testcbz.com: ( ttl=300) -> ("ABC" ttl=300)
#2: MODIFY TXT xyz1.testcbz.com: ( ttl=3

[2020-01-14 19:49] tlimoncelli commented on #583
Can @jamielennox please take a look?

[2020-01-17 10:35] perrfect opened #585 "Route53 Traffic policy record"
Hi.
On Route53 i have Traffic policy for geolocation for a domain.
Can i manage this type of record through dnscontrol?

[2020-01-17 13:36] tlimoncelli commented on #585
Hi!

DNSControl doesn't currently manage that.  We'd be open to PRs that add that feature.

I believe that Terraform supports that kind of thing.

[2020-01-17 14:01] perrfect commented on #585
Thank you

[2020-01-18 14:12] willpower232 commented on #548
@captncraig thanks for that, for anyone else interested I'm currently having great success with the following policy

[code]

@tlimoncelli sounds great thank you, I'll remember that, do you want this left open as a reminder?

[2020-01-18 14:58] tlimoncelli commented on #548
Thanks for the research!

Rather than leaving this bug open, would you please submit a PR that adds this to [docs/_providers/route53.md](https://github.com/StackExchange/dnscontrol/blob/master/docs/_providers/route53.md) ?

[2020-01-18 15:27] willpower232 commented on #548
Can do, I was referring to you adding extra verbosity for the leaving openness :-P

[2020-01-18 22:05] georgejipa opened #588 "Digitalocean CAA Records"
They have support for CAA records: https://www.digitalocean.com/docs/networking/dns/how-to/create-caa-records/

[2020-01-20 18:56] tlimoncelli opened #589 "Migrate from github.com/pkg/errors to Go 1.13's error wrapping."

[2020-01-20 18:57] tlimoncelli commented on #589
See https://blog.golang.org/go1.13-errors

[2020-01-20 19:14] tlimoncelli commented on #573
Deprecated in https://github.com/StackExchange/dnscontrol/commit/f6ce421fdd2306fc778fd13b1346781542d6f864

Use of GANDI or GANDI-LIVEDNS reports a warning.

[2020-01-20 19:15] tlimoncelli commented on #566
Rewritten in https://github.com/StackExchange/dnscontrol/commit/f6ce421fdd2306fc778fd13b1346781542d6f864

[2020-01-20 19:15] #566 closed

[2020-01-20 19:15] tlimoncelli commented on #500
Done in 16d0043cce7aeb5d52cb17f023fd625c2fd02ddb

[2020-01-20 19:15] #500 closed

[2020-01-20 19:15] tlimoncelli commented on #87
Fixed in https://github.com/StackExchange/dnscontrol/commit/f6ce421fdd2306fc778fd13b1346781542d6f864

[2020-01-20 19:15] #87 closed

[2020-01-20 19:17] #573 closed

[2020-01-21 19:25] tlimoncelli commented on #588
@Deraen maintains that provider.  Your thoughts?

[2020-01-22 10:15] Deraen commented on #588
The implementation is simple, but currently Digitalocean doesn't support empty CAA value, like `;` in the integrations tests.

[2020-01-22 10:27] Deraen commented on #588
Related #542 #370 (another DO API problem)
https://github.com/StackExchange/dnscontrol/compare/master...Deraen:feature/do-caa

I looked into asking their support about this, and found that I already sent them question June 2018. They said engineering team was taking a closer look, but doesn't look like they changed anything.

[2020-01-22 11:28] Deraen commented on #588
https://www.digitalocean.com/docs/networking/dns/how-to/create-caa-records/

[2020-01-22 15:24] tlimoncelli commented on #588
We've got this question a few times.

I think it would be useful for `docs/_providers/digitalocean.md` to explain why CAA is not supported, and list the bugid that is filed with DO, as well as the link that @Deraen included.

Could you submit a PR?

[2020-01-24 10:16] saurabhguptag commented on #583
Is there any expected timeline for this?

[2020-01-24 15:54] tlimoncelli commented on #583
FYI: I don't have a test account on Softlayer.   @jamielennox maintains this provider.

[2020-01-24 17:12] tlimoncelli opened #598 "TXT records and empty strings."
We made a special case for Cloudflare in https://github.com/StackExchange/dnscontrol/pull/597

We should investigate whether this is a bug in our cloudflare code (which should be fixed), or if their API doesn't support an empty string (in which case we should file a feature request and log the bugid here).

[2020-01-24 17:21] #588 closed

[2020-01-24 19:46] georgejipa commented on #588
Thank you, @Deraen @tlimoncelli!

[2020-01-24 21:21] tlimoncelli opened #600 "FR: Control registry lock"
It would be awesome if DNSControl could control DNS registry lock (at least for providers that support this).

Obviously we'd prefer to do this first with name.com since that's what I use :-)

Suggested syntax:

[code]

[2020-01-24 21:23] captncraig commented on #600
That's a pretty cool idea. What if it enforced a lock by default unless you add `ALLOW_TRANSFER`? Maybe that is a little too much invisible magic, but maybe it would be a nice safety feature?

[2020-01-24 21:48] tlimoncelli commented on #600
Now that you mention it... I think we want 3 settings: "don't touch", "set to lock", "set to unlock".  The default should be "don't touch".   The DEFAULTS() keyword can be used to if you want something different.

[2020-01-26 20:16] tlimoncelli opened #601 "Add a NONE providers for DNS."
This exists for Registrars but not DNS Providers.  Having one for DNS would be beneficial for people that just want to control registration lock.

[2020-01-26 20:29] pgaskin opened #602 "Azure Piplines commit status broken"
It needs to be re-linked to the org/repo, as it broke when switching from dev.azure.com/dnscontrol/DnsControl to stackoverflowoss.visualstudio.com/StackOSS.

In addition, the README badge is outdated.

Also see #595.

[2020-01-27 03:29] captncraig commented on #601
Is this really needed? The "None" registrar exists because every domain must declare a registrar. A domain can have between 0 and N dns providers though. The only effect dns providers have on the registrar, is providing a list of nameservers, which can also be done manually.

 If you don't have a dns provider, or have a non-supported one, but still want to use dnscontrol for the registrar, you can

[2020-01-27 17:19] tlimoncelli commented on #601
Ah, I forgot that there could be 0 dns providers.

There's a new registrar-only provider and to make the example in the docs look clean by having a NONE provider... but listing no providers is better. Thanks!

(see https://github.com/StackExchange/dnscontrol/pull/590)

[2020-01-27 17:19] #601 closed

[2020-01-28 16:06] #589 closed

[2020-01-28 16:16] tlimoncelli commented on #349
We have not seen this in the wild since.  It may have been fixed in the library.

[2020-01-28 16:16] #349 closed

[2020-01-28 16:17] tlimoncelli commented on #354
Is this ready to be closed?

[2020-01-28 16:19] tlimoncelli commented on #370
@Deraen Is this ready to be closed?

[2020-01-28 16:21] tlimoncelli commented on #392
Can we close this issue?

[2020-01-28 16:26] tlimoncelli commented on #419
We've noted your request for this provider!

As an open source project, we are glad to accept PRs that add new
providers. We encourage you to try adding this provider yourself.  The
process is well-documented here:
https://stackexchange.github.io/dnscontrol/writing-providers

Many people have reported that adding a provider was their first
experience writing Go.

[2020-01-28 16:56] masterzen commented on #392
Yes, it seems so.

[2020-01-28 17:09] #392 closed

[2020-01-28 17:22] masterzen commented on #412
@tlimoncelli this can be closed, it was fixed by #417.

[2020-01-28 19:10] tlimoncelli commented on #493
Is this issue ready to be closed?

[2020-01-28 19:13] tlimoncelli commented on #548
Is this ready to be closed?

[2020-01-28 19:14] tlimoncelli commented on #579
Is this ready to be closed?

[2020-01-28 19:25] tlimoncelli commented on #420
Thank you for requesting this provider!

I've tagged this issue as a provider-request.  It will (soon) be listed as a "requested provider" on the provider list web page:
https://stackexchange.github.io/dnscontrol/provider-list

I will now close the issue.  I know that's a bit confusing, but it will remain on the "requested provider" list.

If someone would like to volunteer to implement this, plea

[2020-01-28 19:25] #420 closed

[2020-01-28 19:26] tlimoncelli commented on #419
FYI: Now that it is tagged "provider-request", we close the issue.   I know that's a bit confusing, but it will remain on the "requested provider" list where people can find it.

[2020-01-28 19:26] #419 closed

[2020-01-28 19:30] tlimoncelli commented on #61
Hi!  I'm sorry this issue got lost.  How is this going?  Can we continue where we left off?

[2020-01-28 19:31] mattrobenolt commented on #61
Well, Dyn is shutting down in a few months, so probably not worth it now.

[2020-01-28 19:40] Deraen commented on #370
@tlimoncelli The same problem about escaped quotes still exists. But similar to what I did with CAA support, I could add support for TXTMulti and modify the test case for Digitalocean, to skip the problematic value.

I see now that the provider feature matrix can also contain comments about supported features, so I could add those for CAA and this feature.

[2020-01-28 20:05] #412 closed

[2020-01-28 20:08] tlimoncelli commented on #61
Oh geez.  I didn't hear about that.  I'm equally embarrassed that I didn't know and sad to see them go.

[2020-01-28 20:08] #61 closed

[2020-01-28 20:23] tlimoncelli commented on #370
I'm trying to limit the number of special cases for providers.  We want to avoid the the surprises when changing providers.  One of the promises of dnscontrol is that you can change DNS providers easily.  I'd hate to put users in a situation where they had a zone at one provider for years, then move to a new provider only to find that their zone can't move.  That's a nasty surprise.

One way to ha

[2020-01-29 09:15] Jean-Max commented on #392
Hi @masterzen and @tlimoncelli thanks for your help on this issue!

[2020-01-29 10:46] Deraen commented on #370
I just found out the repository Digitalocean uses for [API issues](https://github.com/digitalocean/api-v2/issues) yesterday, so I'll be creating issues there.

Users already can have zone work for years, and then try to move to another without support for some features and it will also stop working. But I guess the validation for these cases where feature is supported but certain cases of don't wo

[2020-01-29 16:17] willpower232 commented on #548
If you don't need a reminder about making "dnscontrol getzone" be extra verbose in the error messages, or you've since decided against it, then sure :-)

[2020-01-29 16:41] tlimoncelli opened #609 "Add a "checkcreds" subcommand"
There should be a subcommand that does some kind of "no-op" function with the provider.  It would be used to help debug credential problems.  The output should be as verbose as possible.

[2020-01-29 16:41] tlimoncelli commented on #548
I've separated that out as https://github.com/StackExchange/dnscontrol/issues/609 so that it doesn't get lost.

[2020-01-29 16:41] #548 closed

[2020-01-29 16:44] willpower232 commented on #548
No worries, thanks for all your help

[2020-01-29 16:54] tlimoncelli opened #610 "Replace "convertzone" with a subcommand "get-zone""
Convertzone should be replaced by a subcommand in dnscontrol which works for all providers.

(this will be a lot easier after the code refactoring scheduled for 3.0)

Suggested (draft) command format:

The goal is that this would not depend on `dnsconfig.js`.  This would allow it to be used when creating a `dnsconfig.js` file, or just doing various diagnostics.

[code]

Examples:

[code]

[2020-01-29 17:10] tlimoncelli commented on #370
Yeah, those are all good ideas.  Its a trade-off between complexity and need.  I don't want to add a lot of complexity just because of one provider.

For example, we could have each provider include a function that scans a zone and turns a list of warnings.  However that feels like we're encouraging/enabling providers to be broken.

I'd rather have the full capability or none at all.  Anything par

[2020-01-29 18:47] #581 closed

[2020-01-30 21:29] #468 closed

[2020-02-05 02:06] jamielennox commented on #583
eek - sorry. It's probably been 18 months since I left that job and haven't had access since. I'm surprised (unless it's a softlayer bug - in which case i'm not surprised) that this is something that has only started being a problem now.

[2020-02-12 18:56] tlimoncelli opened #619 "Update dependencies"
hey folks!  there are a lot of outdated dependencies being used.  If you own a provider, please take a moment to update the related module.

List out-of-date modules and update any that

[code]

To update a module, `get` it, then re-run the unit and integration tests.

[code]

Once the updates are complete, tidy up:

[code]

When done, vendor the modules:

[code]

[code]

CC:

ClouDNS @pragmaton
d

[2020-02-13 02:15] tlimoncelli commented on #619
Working on some of these here: https://github.com/StackExchange/dnscontrol/pull/620

[code]

[2020-02-13 02:24] tlimoncelli commented on #576
I was able to achieve the same goal without a major refactoring.  I simply added `GetZoneRecords(domain string) (Records, error)` to `DNSProvider`, then added a function to each provider that reported "not implemented".  I then made a few different providers work. The others can do the conversion at their own pace.

[2020-02-13 03:15] tlimoncelli commented on #535
Can we close this issue?

[2020-02-13 03:16] #493 closed

[2020-02-13 09:53] papakai commented on #619
@tlimoncelli Thanks for getting in touch with us (HEXONET) - very appreciated.
Our dependency, the `go-sdk` is just a connector library we use to communicate with our API.
The upgrade from v1.2.1 to v2.2.1 just includes a technical refactoring of that module in direction of a common API structure we rolled out for all our SDKs we offer. So, it won't include new useful features for the DNSControl p

[2020-02-13 15:37] tlimoncelli opened #621 "Upgrade to latest github.com/hexonet/go-sdk"
We are using github.com/hexonet/go-sdk  version v1.2.1 and should upgrade to v2.2.3+incompatible or newer.

Steps would be something like:

1.  Fork and upgrade

[code]

2. Run the integration test

See: https://github.com/StackExchange/dnscontrol/tree/master/integrationTest

3. If it works, we're done.

[code]

(then make a PR and send it to me)

[2020-02-13 15:38] tlimoncelli commented on #619
Hi @papakai !  Thanks for taking the time to reply.  I understand what its like to be busy with other projects!

I've split out the hexonet part into a separate issue (https://github.com/StackExchange/dnscontrol/issues/621) so that it is a more manageable size task for you, and doesn't hold back our release.

[2020-02-13 17:57] onlyhavecans commented on #598
Hello @tlimoncelli
I am trying to upgrade the DNSimple api client per #619 but I am also hitting this new test as a roadblock.

We (DNSimple) perform some validation on incoming requests and an empty or null string isn't valid for a TXT record per [RFC 1035](https://tools.ietf.org/html/rfc1035)

[code]

what do you feel the best way of moving forward on this is?

[2020-02-13 18:17] tlimoncelli commented on #598
Ah, I think I misunderstood https://github.com/StackExchange/dnscontrol/pull/559 which was saying that it should be possible to delete a TXT record with an empty string, but I took it one step further and tried to make sure that creating them worked also.

I thought it was weird that someone would want an empty string.  Thank you for citing the RFC and educating me.

Here's what I propose:

* User

[2020-02-13 18:52] aeden commented on #598
@tlimoncelli you are correct, a 0 length string is allowed by the RFC (I was the one who thought it wasn't, but I am wrong). Now, is there a use-case for it? I've never seen one. I'm in favor of 1 or 2 mostly because I think there will be providers who will not care to enforce the RFC.

[2020-02-14 18:56] #535 closed

[2020-02-14 18:58] #204 closed

[2020-02-14 18:59] tlimoncelli commented on #91
It might work better in this branch Give this branch a try... https://github.com/StackExchange/dnscontrol/pull/613

[2020-02-15 08:00] murarisumit commented on #621
hi @tlimoncelli, can i pick it up ?

[2020-02-15 12:08] tlimoncelli commented on #621
Sure!

[2020-02-17 05:05] murarisumit commented on #621
Hey sorry, i deleted my above comment, forgot you would have received in email. Actually i can only test it with digitalocean provider not with others, as I have nameservers over there.

So wouldn't be able to test it for all providers !

[2020-02-17 06:14] pragmaton commented on #619
Thanks for information. ClouDNS and Internet.bs do not use any external  dependencies

[2020-02-17 15:53] #619 closed

[2020-02-18 13:59] #538 closed

[2020-02-18 13:59] #576 closed

[2020-02-18 13:59] #609 closed

[2020-02-18 13:59] #610 closed

[2020-02-18 14:26] tlimoncelli opened #628 "More providers should implement "get-zones""
Commit 87ad01d194ddc05950e79382c838d348e11d3db2 added a new subcommand called "get-zones" which replaces the (mostly broken) convertzone command.  It is a stand-alone command that allows users to download zone records from a provider. It is useful for bootstrapping your dnsconfig.js configuration.

This subcommand works for any provider that implements a new function called `GetZoneRecords`.  I've

[2020-02-18 14:29] tlimoncelli opened #629 "Cloudflare's get-zones implementation should include "orange cloud""
`dnscontrol get-zones --format=dsl cred CLOUDFLAREAPI example.com` does not output any indication of `CF_PROXY_ON`, `CF_PROXY_OFF`, or `CF_PROXY_FULL`.

Quoting @captncraig

[2020-02-18 14:31] tlimoncelli opened #630 "get-zones doesn't handle TTLs very well"
Not sure if this is fixed but I don't want to lose the info, so I'm quoting it here.

Quoting @captncraig:

[2020-02-18 14:45] aeden commented on #628
@tlimoncelli for DNSimple I'm going to ask @onlyhavecans to implement it.

[2020-02-18 14:49] papakai commented on #628
@tlimoncelli for HEXONET I'll dive into the review in mid of march. As I am very busy, I can't handle it earlier.

[2020-02-18 16:39] tlimoncelli commented on #628
Sounds good!

[2020-02-18 16:47] tlimoncelli commented on #630
I can confirm this issue.  I don't think the --ttl flag is connected to the pretty. Possibly dsl too.

[2020-02-18 16:50] tlimoncelli opened #632 "Provider owner list needs updating"
The web page https://stackexchange.github.io/dnscontrol/provider-list needs some cleanups. Specifically, I think some providers and owner names are missing.

* In `"Providers with “official support”` list the providers explicitly, with owners.
* In `Maintainers of contributed providers` audit the list and fill in any gaps.

[2020-02-18 17:59] onlyhavecans commented on #598
@tlimoncelli Do you have any movement on this decision?
We are unable to make this change to our validators immediately as it may have impacts we need to carefully review.

If you do not have any strong feelings either way I would like to extend the "cloudflare exception" so that I can get our contribution #619 and #628 in as soon as possible.

[2020-02-18 19:33] tlimoncelli commented on #598
I pick... "2. Anarchy: Let users set an empty string, if a provider doesn't accept it, we don't care."

If this turns out to be a bad decision, we can always switch to 1 or 3, especially if we can implement a capability like "CanHaveEmptyTxt" (or a shorter name).

[2020-02-18 21:35] onlyhavecans commented on #598
Thanks so much for the feedback. I see the PR is merged that removes the test for now so I will get the other tasks done.

[2020-02-19 01:59] geek1011 commented on #628
I'll probably get to this sometime before March, but not in the next week.

[2020-02-19 02:02] geek1011 commented on #602
@devblackops?

[2020-02-19 10:31] vatsalyagoel opened #634 "ALIAS support for Azure DNS"
I wanted to engage in some discussion before I went ahead an implemented this feature.

Azure supports Alias Records as a configuration in the following record types as stated [here](https://docs.microsoft.com/en-us/azure/dns/dns-alias):
* A
* AAAA
* CNAME

We have previous provisions to implement custom record types as done previously in R53_ALIAS. I thought of implementing it similar to that how

[2020-02-19 14:08] tlimoncelli commented on #634
I think it is best to implement the three record types: AZURE_ALIAS_A/AZURE_ALIAS_AAAA/AZURE_ALIAS_CNAME.

Ideally we'd have one generic "ALIAS" record that would Do The Right Thing for each provider, but reality makes that impossible.  A universal ALIAS would be useful when moving from one provider to another.  However, if you are using an Azure resource path, we can assume moving to another prov

[2020-02-19 18:16] tlimoncelli opened #636 "Abide by Digital Ocean's rate limit"
I consistently get a 429 http code during integration testing.

            integration_test.go:145: GET https://api.digitalocean.com/v2/domains/dnscontrol-do.com/records: 429 Too many requests

Go has a number of rate limiting modules.  However I think it would be easier to detect the 429 http response, pause, and retry.  In theory such requests should always be re-tryable. (I hope!)

[2020-02-19 18:19] tlimoncelli commented on #636
CC @Deraen

[2020-02-23 20:49] tlimoncelli commented on #539
Hi @ad8-bdl !  Could you please check if this bug exists with the new "dnscontrol get-zones" feature?  That feature will replace convertzone soon.

[2020-02-23 21:26] tlimoncelli commented on #91
FYI: https://github.com/StackExchange/dnscontrol/pull/613 is merged to master.

[2020-02-23 21:27] tlimoncelli commented on #153
This command should be close.  Still need to test the error messages to see if they are verbose enough.

`dnscontrol get-zones --format=nameonly x y all`

[2020-02-23 21:27] tlimoncelli commented on #491
Working on this here: https://github.com/StackExchange/dnscontrol/pull/655

[2020-02-23 21:28] tlimoncelli commented on #630
Working on this in https://github.com/StackExchange/dnscontrol/pull/654

[2020-02-23 21:31] captncraig commented on #630
I think for the most part there isn't much to do here. The majority of
providers have a very simple ttl model that translates directly to the DNS
control model.

It is just for things like cloudflare that have magic values.and things
that we would need to do anything special. Basically if we do any special
ttl conversions in the driver, do the opposite for get-zones.

[2020-02-24 01:09] ad8-bdl commented on #539
I tested the bind, Linode and DigitalOcean providers.

1. BIND using the zone file from the OP: includes NAMESERVER entries, as expected

[code]

2. LINODE provider doesn't yet support `get-zones`

[code]

3. DIGITALOCEAN: includes superfluous NAMESERVER entries, see below

[code]
(note also the invalid TTL argument to each NAMESERVER())

[2020-02-24 03:27] jamielennox opened #656 "Looking for maintainer: SoftLayer"
I contributed and successfully used this provider for a project that was based on IBM Cloud/Bluemix/Softlayer and as far as I know it's continued to work fine.

I have since changed jobs and no longer have access to the SoftLayer APIs (I don't think it's just something you can get free access to) and so am unable to maintain this any further. There are only one or two issues (#583 the only that co

[2020-02-24 03:30] jamielennox commented on #656
Umm, maybe @nibalizer or @stevemar could point someone out?

[2020-02-24 14:33] stevemar commented on #656
@jamielennox let me ask around, thanks for the heads up.

[2020-02-24 15:04] captncraig commented on #656
IIRC, you can use the DNS by making an account and making a storage account
or something like that and just not use it. You will get a zero dollar
invoice each month, but that is sufficient to test DNS.

[2020-02-25 12:23] #632 closed

[2020-02-26 11:40] tlimoncelli commented on #519
Is there a regular expression that we could add to the whitelist that would cover this situation? (There is a whitelist of patterns that we don't output a warning for)

[2020-02-26 11:55] tlimoncelli commented on #630
Do cloudflare zones have more reasonable output with https://github.com/StackExchange/dnscontrol/pull/657 ?

[2020-02-26 11:56] tlimoncelli commented on #539
Ah, I'll remove the TTL() stuff.  I'm not sure how to fix the superfluous NAMESERVER entries.  What's an algorithm that would spot NAMESERVER() entries to ignore?

[2020-02-26 11:59] tlimoncelli commented on #539
Working on this in https://github.com/StackExchange/dnscontrol/pull/658

[2020-02-26 12:02] tlimoncelli commented on #78
The new get-zones command has a --format=dsl mode which does what is described in this issue.  What is being generated is 99% of what someone getting started would need, only small cleanups are required.

get-zones is supported by nearly half the providers (See https://github.com/StackExchange/dnscontrol/issues/628)

Thanks fur the suggestion, @dattas

[2020-02-26 12:02] #78 closed

[2020-02-26 21:06] essh commented on #519
I’m not sure if there is a generic regex that would catch this since as per the documentation _X1 is actually a long random string like “ _3639ac514e785e898d2646601fa951d5”.

It looks like these are always CNAME records that have a value of “_x2.acm-validations.aws” where x2 is also a long random string. A possible fix would need to consider values and allow CNAMEs with a value that ends in “acm-v

[2020-02-26 22:21] tlimoncelli commented on #519
How about:

No warning if:
1. The .Name starts with `_`
2. and... The .Type is "CNAME"
3. and... the .Target ends with `acm-validations.aws`

[2020-02-26 23:18] essh commented on #519
This logic looks like it will cover what I've seen in practice.

[2020-02-27 08:46] saurabhguptag commented on #583
I have done the fix could check and merge ?

https://github.com/StackExchange/dnscontrol/pull/659

[2020-02-27 16:12] #630 closed

[2020-02-27 16:13] tlimoncelli commented on #583
@saurabhguptag Thanks for the bug fix.  I'll merge that soon.

[2020-02-27 16:14] #583 closed

[2020-02-27 16:26] tlimoncelli commented on #539
How's this?

OLD:

[code]

NEW:

[code]

[2020-02-27 17:21] tlimoncelli commented on #519
How's this?  https://github.com/StackExchange/dnscontrol/pull/661

[2020-02-27 18:03] teknogeek commented on #621
I was trying to import `dnscontrol/v2` with go modules and was getting blocked by the bad `hexonet-sdk` version, so I made a fix for this. See #662

[2020-02-27 18:04] #621 closed

[2020-02-27 18:04] tlimoncelli commented on #621
Thanks @teknogeek for fixing this!

[2020-02-27 18:41] teknogeek opened #663 "Update Exoscale client to v0.23.0"
Currently, `dnscontrol` uses `exoscale/egoscale` version `0.10.5`, and should to be updated to `0.23.0` or higher. Currently, it is impossible to import `dnscontrol` due to syntax issues:

[code]

[2020-02-27 18:42] teknogeek commented on #619
I moved Exoscale to #663 and will be taking it on shortly

[2020-02-28 04:04] ad8-bdl commented on #539
AIUI, it's going to be dependant on the Provider - e.g. providers that have default nameservers defined should filter them from get-zones, on the expectation they'll be added back in via the D().

From what I can tell from looking at the interface, it seems that GetZoneRecords should remove anything returned by GetNameservers?

[2020-02-28 04:06] #663 closed

[2020-02-28 04:56] tlimoncelli commented on #539
I appreciate your input and suggestions.

I agree it is going to be provider-dependent.  Therefore, I'm going to consider this "works as designed". (after https://github.com/StackExchange/dnscontrol/pull/658 is merged)

`dnscontrol get-zones --format=dsl` does not produce the perfect dnscontrol.js code. It is documented as creating "a good first draft."  People can delete extra NAMESERVER() lines

[2020-02-28 04:57] #539 closed

[2020-02-28 05:11] tlimoncelli commented on #519
#661 fixed it.  Yay!

[2020-02-28 05:11] #519 closed

[2020-02-28 05:34] tlimoncelli commented on #153
Adding a `check-creds` subcommand: https://github.com/StackExchange/dnscontrol/pull/665

[2020-02-28 08:42] masterzen commented on #628
@tlimoncelli I've finally implemented `GetZoneRecords` for ovh in the #666 PR (sorry for the delay). Feel free to review and merge it if you think it is ready.

Thanks !

[2020-02-28 08:52] masterzen opened #667 "Invalid integration test 49"
Hi,

While working on #628 for the OVH provider, I noticed that an integration test for OVH weren't passing anymore, namely the SSHFP 49:

https://github.com/StackExchange/dnscontrol/blob/c98b9221709ade929b83cee9328e41c283ae8c02/integrationTest/integration_test.go#L476-L477

This models a fingerprint method change from SHA-1 to SHA-256.
OVH errors on it, because the fingerprint is not a SHA-256 fi

[2020-02-28 09:49] saurabhguptag opened #668 "Softlayer Lets Encrypt Certificate issue"
While Requesting for Lets Encrypt Certificate The application is creating a TXT record the name _acme-challenge and  TTL value of 0, But Softlayer supports TTL value between 60 and 604800 only.

So the Application fails to start creating the certificate and throws following error.

`acme: error presenting token: SoftLayer_Exception_Public: Please provide a TTL value between 60 and 604800. (HTTP 50

[2020-02-28 09:56] saurabhguptag commented on #668
Once Fix done, I successfully generated the Certificate.

[2020-02-28 10:14] saurabhguptag commented on #656
I could take up. But expect Delayed response.

[2020-02-28 16:30] tlimoncelli commented on #628
With OVH support get-zones, we are at 50% and can consider this ready for 3.0!   Thanks to @masterzen for putting us over the finish line!

[2020-02-29 05:53] #668 closed

[2020-02-29 20:19] tlimoncelli commented on #667
(I don't know much about the SSHFP rtype so please correct me here)

What I hear you saying is that if the method changes, the fingerprint changes too. Therefore a test for just the method changing doesn't make sense.  The test should change the method and the fingerprint.

If I've understood the situation correctly, would you submit a PR?

[2020-02-29 22:28] tlimoncelli commented on #491
I played around with this all day.  The more I looked at it, the more confused I got. I'll take another look tomorrow.

[2020-03-01 08:39] philpennock opened #674 "GetDomainCorrections vs DNSSEC"
While updating GANDI_V5 in #673 I hit a snag and opted to skip DNSSEC support.

The comments above `GetDomainCorrections` warn that it needs to be identical, because it's disappearing in the future.  Yet without modifying it, I don't see how to support non-record operations on a domain, such as enabling or disabling DNSSEC.

GANDI support auto-DNSSEC, and the Go library we're using supports it (`S

[2020-03-01 15:40] tlimoncelli commented on #491
After a nights rest I had a much better idea of what to do.  I've merged to master some code that prints the warnings and directs people to this issue.  It also fixes many providers.

[2020-03-01 18:30] tlimoncelli commented on #674
`GetDomainCorrections` is still in flux, so this is a good time to make such changes.

I think adding a GetZoneInfo() is a good way to standardize DNSSEC updates and it might help if we try to manage other things (registration locks maybe?)

Tom

[2020-03-01 18:31] tlimoncelli commented on #629
Related: https://github.com/StackExchange/dnscontrol/issues/674

[2020-03-01 21:25] philpennock commented on #674
The code is definitely not ready to merge yet (ran into stumbling blocks with Gandi's API, I think) but the shape of it is in https://github.com/ConnectEverything/dnscontrol/commit/d4e0b7a56a61e9d4278b4a3ab51198d1e3764bd8

I opted for `interface{}` to leave the data as provider-specific but able to pass in and out, so that the function can be pulled out later.

[2020-03-02 07:12] vatsalyagoel commented on #491
Tested Azure DNS with your changes. It can be marked as complete

[2020-03-02 13:43] masterzen commented on #491
Tested OVH and it works. I can submit a PR to migrate to `models.ToNameservers` if needed.

[2020-03-02 13:46] masterzen commented on #667
@tlimoncelli yes you got it right.

There are only 2 fingerprint methods defined so far: SHA-1 and SHA-256. They produces results of different size, so a SHA-1 fingerprint can not be used as a SHA-256 fingerprint (the reverse also holds).

Yes, I'll submit a PR ASAP.

[2020-03-02 15:44] tlimoncelli commented on #491
Done.  Thanks!

[2020-03-02 15:45] tlimoncelli commented on #491
@masterzen:

A PR would be great.

[2020-03-02 16:23] tlimoncelli commented on #674
@philpennock `interface{}` seems reasonable in this case.

[2020-03-02 16:26] tlimoncelli commented on #667
Merged.  Thanks for the PR!

[2020-03-02 16:26] #667 closed

[2020-03-02 16:27] tlimoncelli commented on #656
@saurabhguptag

We'd appreciate it if you took over ownership!

[2020-03-02 16:27] #634 closed

[2020-03-02 18:25] tlimoncelli commented on #153
With the inclusion of check-creds, I'm going to consider this issue closed.

[2020-03-02 18:25] #153 closed

[2020-03-02 18:28] tlimoncelli commented on #91
@philpennock Does this issue still exist in the new "get-zones" subcommand?

[2020-03-02 18:47] tlimoncelli commented on #574
@captncraig Any additional thoughts about how to implement these?

[2020-03-02 21:51] philpennock commented on #91
Using a dnscontrol binary built yesterday:

[code]

Generated DSL format file:
1. missing comma at end of `DnsProvider` line
2. no quoting or commas in the `SOA()` parameters
3. no quoting of hostnames in generated `NS` lines (not `NAMESERVER`, but `NS` for sub-zones)
4. the `SOA` field isn't actually accepted, so the DSL spits out an unparsed type
5. `SRV` values are quoting all data fields as on

[2020-03-03 12:06] tlimoncelli commented on #91
Ah!  Great testing!

Would you be ok with that zone file being made into a test case (i.e. added to git)?

[2020-03-03 15:08] tlimoncelli commented on #574
Here's one way we could introduce syntax that would eliminate the "knownFailures" settings:

https://github.com/StackExchange/dnscontrol/pull/678

[2020-03-03 16:11] tlimoncelli commented on #574
The proposal I drafted looks like this.  Note that tests can be skipped based on Capabilities and on per-provider decisions:

[code]

Here's a simple example:

[code]

or

[code]

Or a complex example:

[code]

We can use this structure whether we put the tests one-per file or all in one large file.

[2020-03-03 18:45] masterzen commented on #491
@tlimoncelli I just published the PR #679.

[2020-03-04 01:06] philpennock commented on #91
Not that particular one, but I can put together something else if you want.  Presumably you don't mean "pathological corner cases", such as the open transfer `test.globnix.net` of mine, but instead "real world examples using a bunch of different RR types"?

Beware, I'm the crazy person who actually uses `RP` records in a bunch of zones which don't receive email, pointing people in the right direct

[2020-03-04 01:41] jasonbcox commented on #418
+1 for this issue. I found out today that GANDI_V5 will silently accept TXT records longer than 255 bytes, but will fix it for you. Consequent `dnscontrol preview` will indicate that the records do not match, so it will attempt an update every time.

#680 is related since GANDI_V5 support for multi-TXT records will be broken if this issue is fixed before a patch like this is applied.

[2020-03-04 02:48] tlimoncelli commented on #91
Yeah, not the pathological one, but some reasonable records :-)

[2020-03-04 13:47] pragmaton commented on #628
Done in https://github.com/StackExchange/dnscontrol/pull/681

[2020-03-04 13:51] pragmaton commented on #491
ClouDNS - done in https://github.com/StackExchange/dnscontrol/pull/681
INTERNETBS - GetNameservers not implemented

[2020-03-04 13:54] pragmaton commented on #628
INTERNETBS - only Registrar for now and I don't have any plans to implement any DNS Provider functions.

[2020-03-07 16:10] tlimoncelli commented on #574
i've taken the group concept and prototyped it here.  The logic gets a lost easier to understand.

https://github.com/StackExchange/dnscontrol/pull/684

[code]

[2020-03-08 03:54] philpennock opened #685 "Example.org zonefile per Tom's request"
This is redacted from spodhuis.org, with some records added from a couple of other domains to round out the example.

Nothing in this is a stress-test.  It's all real records.  It's just ... varied.

[example.org.zone.txt](https://github.com/StackExchange/dnscontrol/files/4302801/example.org.zone.txt)

[2020-03-08 04:06] philpennock commented on #685
I don't normally include `RP` in zones which handle email, I added it here to round out the example.  My stance is "any domain which does not send or receive email, and declares such, needs to make available contact information and RP is the way to do it".

[2020-03-09 06:56] pjeby opened #686 "Issues with the documentation for `require()`"
The current documentation compares the `require()` function to that of node.js, even though it is almost (but not quite) utterly unlike it: it does not use the same path resolution rules, does not consider extensions optional, doesn't run each module in a separate namespace, doesn't look up modules globally, ...  really comparing it doesn't make sense at all.

I would suggest changing the document

[2020-03-09 18:21] philpennock commented on #674
Okay, I will need to revisit this when I revisit Gandi DNSSEC support, or perhaps some other provider.  At present, my conclusion is that the API is not yet mature enough to be safe for us to use.  I'm going to detail the reasons here so that if someone is searching in future, they can see what went wrong today and have a chance to figure out what's been fixed or is still broken.

I will look "soo

[2020-03-10 12:54] tlimoncelli commented on #246
The code in master reworks how serial numbers are generated and how SOAs are handled. It still requires modifying the zone file to change (for example) retry time, but I think that is so rare that this is sufficient.

[2020-03-10 12:56] tlimoncelli commented on #352
With the changes in https://github.com/StackExchange/dnscontrol/pull/652 and others, this is sufficiently remediated.

[2020-03-10 12:56] #352 closed

[2020-03-10 12:58] tlimoncelli commented on #354
Not hearing a response, I'm assuming this is resolved. Please re-open the issue if you need further assistance.

[2020-03-10 12:58] #354 closed

[2020-03-10 12:59] tlimoncelli commented on #381
Fixed by https://github.com/StackExchange/dnscontrol/pull/401

[2020-03-10 12:59] #381 closed

[2020-03-10 13:02] tlimoncelli commented on #383
(sorry for the radio silence)

Because dnsconfig.js is javascript, you could write a function that does the right thing depending on provider.  Other than that, I think `DEFAULTS(DefaultTTL(3600))` is the best bet here.

Let's zoom out a bit: What are you trying to achieve?

[2020-03-10 13:05] tlimoncelli commented on #454
This has been open for a year with no new discussion. Closing.  Please re-open if you wish.

[2020-03-10 13:05] #454 closed

[2020-03-10 13:18] #458 closed

[2020-03-10 13:18] tlimoncelli commented on #470
Idle for 1 year.  Please reopen if this is still an issue.

[2020-03-10 13:18] #470 closed

[2020-03-10 14:14] tlimoncelli commented on #574
Fixed by https://github.com/StackExchange/dnscontrol/pull/684

[2020-03-10 14:14] #574 closed

[2020-03-10 14:47] tlimoncelli commented on #685
I commented out some of the lines and integrated it into https://github.com/StackExchange/dnscontrol/pull/688

I found and fixed a TON of bugs by going `zonefile -> js -> zonefile` with these commands:

[code]

I hope to merge that PR soon.  Would appreciate feedback!

[2020-03-10 15:44] tlimoncelli commented on #686
This is a great bug report because not only did you supply replacement text, but I learned a bit about Node (something I haven't used).

How's this for an update: https://github.com/StackExchange/dnscontrol/pull/690

As far as renaming the command, I'd be open to a PR!

[2020-03-10 15:56] tlimoncelli commented on #183
I noticed this issue hasn't been touched in a while.  I think that IGNORE() currently works this way. Can you verify?

[2020-03-10 15:57] tlimoncelli commented on #221
I think you've done enough to consider this closed.  We can split anything else into a separate bug, eh?

[2020-03-10 15:59] tlimoncelli commented on #176
Are there any Registrars that let you set the TTL? I don't know of any, but I'd be glad to be enlightened!

[2020-03-10 16:03] tlimoncelli commented on #91
Fixed by 4edf3608540ada5f993f04b59aa0227bcd5352c3

[2020-03-10 16:03] #91 closed

[2020-03-10 16:20] geek1011 commented on #221
Yep. Basically only the nav is left (it's still slightly confusing).

[2020-03-10 16:20] #221 closed

[2020-03-11 01:09] pjeby commented on #686
LGTM.  As far as changing the command, I kind of think it perhaps should be replaced by having a readFile or getFileContents() or some such, since basically both functions of `require()` can be emulated in JS if you just had a way to read a file.  At least, require (or include) could be explained in terms of eval(readFile(path)) and JSON.parse(readFile(path)) at that point.  (Also, a readFile() fu

[2020-03-13 01:11] robcohen opened #694 "Cloudflare get-zones does not return page rules"
sudo docker run --env CF_API=<APIKEY> --rm -it -v $(pwd)/dnsconfig.js:/dns/dnsconfig.js -v $(pwd)/creds.json:/dns/creds.json stackexchange/dnscontrol dnscontrol get-zones -format=dsl cloudflare CLOUDFLAREAPI all

This command does not return any pagerules.
I have to `dnscontrol preview` the output of the command above, then try to copy paste the rules together.

Even after I try to piece together

[2020-03-13 02:16] captncraig commented on #694
I implemented the cloudflare implementation for get_zones. I decided not to grab page rules at the time.

I felt like the primary use case for get-zones would be a user of cloudflare dns wanting to move to dnscontrol. Since CF_REDIRECT is a bit of an odd concept, I figured that was the kind of thing that most users would add in manually after the fact. I remember [implementing the CF_REDIRECT logi

[2020-03-13 02:21] ad8-bdl opened #695 "Warning in CF_REDIRECT()/CF_TEMP_REDIRECT() doc is incorrect (Cloudflare Page Rules)"
Cloudflare provides a [Page Rules feature](https://support.cloudflare.com/hc/en-us/articles/218411427-Understanding-and-Configuring-Cloudflare-Page-Rules-Page-Rules-Tutorial-) that "trigger certain actions whenever a request matches one of the URL patterns you define". One of these is a "[Forwarding URL](https://support.cloudflare.com/hc/en-us/articles/200172286-Configuring-URL-forwarding-or-redir

[2020-03-13 11:57] robcohen commented on #694
Thanks for the quick response. I wonder if it would be possible to get Cloudflare themselves to spend resources maintaining the provider? I'll have to look into whether they officially support any other software like dnscontrol (OctoDNS, Terraform).

[2020-03-13 12:23] robcohen commented on #694
https://github.com/cloudflare/cloudflare-go/issues/426

[2020-03-13 12:30] tlimoncelli commented on #694
Reversing page rules into CF_* items sounds like quite a challenge.  I'll gladly accept PRs that do it if the community wants to support such a thing.  Sounds like an interesting code challenge you'd see in a CS programming contest!

As documented, the goal of "get-zones" is to create a decent first draft, not a perfect replica.  It is usually used for a one-time conversion. So, doing fancy stuff

[2020-03-13 12:34] robcohen commented on #694
That makes sense to me, but the problem is that the ordering gets all crazy if you try to rebuild the redirects from the dnscontrol preview **DELETE ** pagerules. I've tried reconstructing it but the ordering gets crazy, and then for some reason the ordering requires an additional rule here or there to reduce the **MODIFIED** occurrences. I only have a RO API key, or else I would actually manually

[2020-03-13 13:15] tlimoncelli commented on #694
Uh yeah, that's the kind of difficulties I was fearing might happen. :)

How about as a first step, just download the rules and put them in as comments?  Once that works, the next step will be more clear.

Tom

[2020-03-14 16:48] #183 closed

[2020-03-14 16:50] tlimoncelli commented on #209
If a provider is a ZoneLister(), it could warn if there are domains not mentioned in  dnsconfig.js.

[2020-03-14 16:55] tlimoncelli commented on #686
Wow!  I must say you take the language design of this project a lot more seriously than I do.  My goal is to keep it simple and shift most of the work to the Go part of the project.

The things you are doing a very sophisticated... beyond what I had intended for dnscontrol.  Have you considered Terraform?  It has a lot richer programability.

[2020-03-14 16:56] tlimoncelli commented on #685
Merged and seems to be working well. Thanks!

[2020-03-14 16:56] #685 closed

[2020-03-14 16:58] tlimoncelli commented on #598
I believe this is ready to be closed. Please re-open if needed.

[2020-03-14 16:58] #598 closed

[2020-03-14 17:03] tlimoncelli commented on #246
Closing due to age.  Please re-open if needed.

[2020-03-14 17:03] #246 closed

[2020-03-14 17:03] tlimoncelli commented on #176
Closing due to age.  Please re-open if needed.

[2020-03-14 17:03] #176 closed

[2020-03-14 17:21] tlimoncelli commented on #628
Enough providers have implemented this that I'll consider it "done".   Providers are encouraged to continue with updates.

[2020-03-14 17:21] #628 closed

[2020-03-14 17:21] tlimoncelli commented on #491
Enough providers have implemented this that I'll consider it "done".   Providers are encouraged to continue with updates.

[2020-03-14 17:21] #491 closed

[2020-03-14 18:55] pjeby commented on #686
I'd heard the *name* Terraform, but not what it did.  I'll have to investigate further.  A quick glance does makes it look like it might be the sort of thing I'm currently doing with my wrapper for your DSL, though, but for more things.  So yeah, that might be worth looking into, especially if it lets me provision things besides DNS.  Thanks for the suggestion.

I'm going to go ahead and close thi

[2020-03-14 18:55] #686 closed

[2020-03-15 16:51] willpower232 opened #697 "Inconsistent counting?"
Not a major issue I know and doesn't seem to cause an actual problem but presumably this is down to how each provider handles things?

[2020-03-15 17:40] captncraig commented on #697
Yes, it is really the number of unique operations that need to be performed. Different providers have different levels of "atomicity" for how many changes you can make at once.

With r53 we can submit batches of changes to do everything at once. It is a bit safer that way. With Digital Ocean the best granularity is deleting individual records one at a time.

[2020-03-15 17:48] willpower232 opened #698 "No help topic for 'get-zones'"
Re #613 every example I run from https://stackexchange.github.io/dnscontrol/get-zones to try using the `get-zones` command returns `No help topic for 'get-zones'`. I'm trying with Route 53 and DigitalOcean which are ticked as having this feature on the providers list.

Version: dnscontrol 2.11.0 ("4712e5e4459d7c80df57f5a87a85e8aa4fdf0bd5") built 14 Feb 20 15:51 GMT

Also https://stackexchange.gith

[2020-03-15 17:51] willpower232 commented on #697
Thanks for confirming

[2020-03-15 17:51] #697 closed

[2020-03-15 21:07] tlimoncelli commented on #698
Are you on the latest `master`?  The docs, sadly, are ahead of the releases.

What's the exact command you are running?

[2020-03-16 15:25] #695 closed

[2020-03-16 18:38] tlimoncelli opened #700 "CLOUDFLARE_API failing on txt records with whitespace"
You'll need to use the `rel30` branch to reproduce this bug:

FYI: Might be similar to https://github.com/StackExchange/dnscontrol/issues/701

[code]

[2020-03-16 18:48] tlimoncelli opened #701 "NAMEDOTCOM bug with TXT record containing whitespace"
You'll need to use the `rel30` branch to reproduce this bug:

FYI: Might be similar to https://github.com/StackExchange/dnscontrol/issues/700

[code]

[2020-03-22 02:31] pjeby opened #702 "Spurious changes to null MX on CloudFlare"
I don't know if this affects any other backends, but if one creates a null MX (per RFC 7505) on the CloudFlare backend, it's mistakenly read as targeting `..` instead of `.`, which then appears not equal to the source record, causing a "change" to be previewed or pushed.

I traced the issue to the CloudFlare provider adding a `.` to the end of all MX record targets, even in the case when the targe

[2020-03-22 14:56] willpower232 commented on #698
Ah my bad, I thought I had the dates in the right order

[2020-03-22 14:56] #698 closed

[2020-03-22 17:32] eifelmicha opened #705 "Provider request: Netcup"
Netcup (https://www.netcup.eu/ ) is a provider located in Germany. They offer an API to handle DNS Updates. It would be nice to handle this with dnscontrol.

The Link to the API Documentation is inside this wiki page:
https://www.netcup-wiki.de/wiki/DNS_API

Also i found a bash implementation that might help to easily port this to dnscontrol:
https://github.com/linux-insideDE/ncdapi/blob/master/nc

[2020-03-22 17:38] #575 closed

[2020-03-22 17:38] #700 closed

[2020-03-22 17:38] #701 closed

[2020-03-22 19:44] tlimoncelli opened #706 "Update AZURE_DNS dependencies"
`go get -u github.com/Azure/azure-sdk-for-go`

[2020-03-22 19:51] tlimoncelli opened #707 "GANDI: Update dependencies"
`go get -u github.com/tiramiseb/go-gandi`

[2020-03-24 22:02] tlimoncelli opened #708 "Sort the add/change/delete lists"
The add/change/delete records are in a random order due to how Go maps happen to order things.  It would be nice if they were sorted.  It isn't just cosmetic.  It makes it difficult to `dnscontrol preview` and eyeball the results to make sure they are correct.

Here's (the start of) an example:

[code]

I tried to sort the items (see https://github.com/StackExchange/dnscontrol/tree/sorted ) but th

[2020-03-25 13:53] #702 closed

[2020-03-26 13:21] #706 closed

[2020-03-27 16:09] tlimoncelli commented on #707
https://github.com/StackExchange/dnscontrol/pull/711

[2020-03-27 16:10] #707 closed

[2020-04-05 21:11] kordianbruck commented on #705
This is close to impossible. I've started to work on this, but their Soap / "JSON" api is a pain to work with. The much needed `listallDomains` endpoint unfortunately is only available to resellers. See https://forum.netcup.de/anwendung/sonstige-anwendungen/10921-dns-api-listalldomains-freigeben/

Without this, this will be impossible.

[2020-04-05 22:27] eifelmicha commented on #705
Thx for taking a look into this. really appreciated. I liked your forum post. If it helps i can also ping the support on this, paying extra money for some SLA.

Is there atleast some possible way, if this endpoint is not opened, that if a concrete domain is set it  atleast can update values?

[2020-04-05 22:35] kordianbruck commented on #705
I'd need to look more into how dnscontrol does the checking for the diff. That might work with only some basic checking. I'll work on this more next weekend. I got the fetching for one domain and all RRs working already. Might be just enough.

[2020-04-06 12:31] tlimoncelli commented on #705
dnscontrol shouldn't require anything like listallDomains for just DNS updates.  For example, BIND isn't able to list all domains.  Dnscontrol assumes that the domains listed in dnsconfig.js exist.  If the assumption is wrong, the API will give an error when the updates are done.

I am sorry that you have to deal with SOAP. It is a terrible protocol.  I even make a joke about it in this article: h

[2020-04-08 05:15] geek1011 commented on #602
@devblackops?

[2020-04-12 22:13] mholt opened #713 "Doesn't build: go.mod still uses /v2"
The latest release is 3.0 but the go.mod still uses the /v2 suffix, breaking semantic import versioning: https://github.com/StackExchange/dnscontrol/blob/2a44a89d1bb0d802de62069e96b5ec86194e53b6/go.mod

[code]

It should be updated to use /v3. Builds are currently broken.

[2020-04-13 00:46] FiloSottile opened #714 "Provider request: Netlify"
Netlify offers managed DNS for arbitrary zones.

There is an API, although the docs and Go client support are pending in a PR: netlify/open-api#207

[2020-04-14 11:16] hebbet opened #715 "Provider request: Hetzner"
Hetzner released a new dns-service with api support.

https://dns.hetzner.com/api-docs/

[2020-04-14 20:48] tlimoncelli commented on #713
Hi there!

First I want to apologize for breaking the build.  This is our first time I've bumped the "major version" since Go's modules were introduced.  Tons to learn!

Oddly enough, it builds for me either way.  I'd love help reproducing your error message so I can learn more about modules.

That said, here's the fix: https://github.com/StackExchange/dnscontrol/pull/716/files

[2020-04-14 20:56] mholt commented on #713
Hey Tom, no worries -- the fix looks good!

To reproduce the issue, I think you can just run:

[code]

Because the v3.0.0 tag has a mismatched module name (ending in /v2), the Go module proxy does not recognize it (I think). So, it tries the latest valid tag in the 1.x and pre-1.x range, which is v0.2.8. The next tag after that was v2.9, which requires a module name ending in /v2.

In any case, th

[2020-04-14 20:56] #713 closed

[2020-04-14 21:00] tlimoncelli commented on #713
Thanks for helping me find and fix it!    (P.S. I'm a big fan of Caddy!)

[2020-04-14 21:02] mholt commented on #713
@tlimoncelli That's neat, glad to hear it!

I do have some questions related to that, as I want to make wider use of this library in Caddy. I'll open a new issue.

[2020-04-14 21:13] mholt opened #717 "Avoiding bloat by separating the DNS provider implementations"
Long post, sorry!

**Summary:** Would you be open to moving the DNS provider implementations into separate repos or at least separate Go modules? (Preferably repos.)

----

[Caddy](https://caddyserver.com) uses DNS provider APIs to solve the ACME DNS challenge. Currently, we use [lego's _many_ DNS provider implementations](https://github.com/go-acme/lego/tree/master/providers/dns).

Unfortunately,

[2020-04-15 01:03] tlimoncelli commented on #717
Do you mean the API interface code or the individual items in providers/* ?

If you look at the dnscontrol "get-certs" subcommand, you'll see that we solved the problem by using dnscontrol for the updates.  Have you looked at how we did that?

[2020-04-15 01:37] mholt commented on #717
Yeah, I mean the providers here: https://github.com/StackExchange/dnscontrol/tree/master/providers -- can we consider moving them to separate repos? (I know it's a lot of tedium up front, I'm willing to help!)

Yep, although I will be using the DNS providers in this repo, I won't be using the pkg/acme package in this repo.

I'm mostly interested in reducing the size of [go.mod](https://github.com/

[2020-04-15 15:42] tlimoncelli commented on #717
TBH my life is kind of exploding right now.  I can't think of big changes like this right now. Maybe after the pandemic.

[2020-04-15 15:47] mholt commented on #717
@tlimoncelli No worries, not a huge priority to consider! If I get around to it first, it'll probably be a fork which won't be a blocker, and we can always discuss it later. Take care!

[2020-04-15 15:48] tlimoncelli commented on #717
sure!  I'll probably understand it better once I see the fork.

Be well!

[2020-04-15 15:48] #717 closed

[2020-04-15 21:25] kordianbruck commented on #705
Thanks @tlimoncelli - great article :+1:

I've drafted some changes in the PR #718 - @eifelmicha if you have some time to test, that'd be great. Probably still a few problems in there that I haven't noticed yet.

[2020-04-16 16:13] truthdoug opened #719 "Route53 get-zones/preview/push doesn't handle trailing dots consistently"
I'm spinning up dnscontrol for existing domains. I used `get-zones` to get records from one of my domains like this:

    dnscontrol get-zones -format=js  r53_creds ROUTE53 mydomain.com

The CNAMES look like this:

    CNAME('www.truthdoug-test', 'test-web.mydomain.com')

If I past the records into dnsconfig.js and run preview, I get a lot of errors for these CNAMEs:

    ERROR: In CNAME www.doug-

[2020-04-16 16:24] tlimoncelli commented on #719
`get-zones` is pretty new and it looks like you definitely found a bug.  Please edit those manually and I'll check into that this weekend.

Thank you for filing the bug!  I might never have noticed that!

[2020-04-16 17:17] truthdoug commented on #719
You're welcome. I'm brand new to dnscontrol and loving it. It's going to make my life much better. `get-zones` is a blessing for migrations.

I found another bug which I'll file separately for route53 aliases.

[2020-04-16 17:19] eifelmicha commented on #705
@kordianbruck Thx very much. Did some simple tests with cname,caa,a stuff and it worked.

[2020-04-16 17:20] truthdoug opened #720 "Route53 get-zones doesn't convert aliases correctly"
I ran get-zones on a route53 domain and I have one Route53 alias record. The output produced by get-zones is

    R53_ALIAS('api.dougtest, 'testserver.mydomain.com. atype=CNAME zone_id=Z2XMPVPIGE8OH3'),

When I preview, I get this error:

    Executing javascript in dnsconfig.js: R53_ALIAS record requires 3 arguments (name, type, target). Only 2 were supplied

Changing to this fixed it:

    R53_A

[2020-04-16 17:27] truthdoug commented on #719
More data... after I edited the js to add the dots for the targets and run `preview`, shows all of these CNAMEs being changed:

    MODIFY CNAME www.truthdoug-test.mydomain.com: (test-web.mydomain.com ttl=300) -> (test-web.mydomain.com. ttl=300)

[2020-04-16 17:33] tlimoncelli commented on #705
Could you run this test?

[code]

If those tests pass, we're basically done.

[2020-04-16 19:48] eifelmicha commented on #705
`--- FAIL: TestDNSProviders (294.42s)
    --- FAIL: TestDNSProviders/fqdm.example (294.06s)
        --- PASS: TestDNSProviders/fqdm.example/Clean_Slate:Empty (2.54s)
        --- PASS: TestDNSProviders/fqdm.example/00:A:Create_an_A_record (2.46s)
        --- PASS: TestDNSProviders/fqdm.example/00:A:Change_it (0.76s)
        --- PASS: TestDNSProviders/fqdm.example/00:A:Add_another (2.40s)
        --

[2020-04-16 20:10] tlimoncelli commented on #705
[code]

Since TTLs aren't supported, you might consider changing the code to set all TTLs to 300 (on both the desired and found data) right before the diff is done.  Also add a note (if it doesn't already exist) in the docs warning people about that.

It would be awesome if `get-zones` installed a default TTL like 300 rather than 0.

[code]

I would just skip this test.  On `integrationTest/integr

[2020-04-16 22:07] tlimoncelli commented on #719
Interesting!  I can't reproduce the error.

[code]

can you try building from master?

[2020-04-16 22:29] tlimoncelli commented on #720
I don't have any R53 zones that use aliases. Can you try this?

https://github.com/StackExchange/dnscontrol/pull/721

[2020-04-16 22:50] kordianbruck commented on #705
0 is more obvious that its not supported though right? I'd not want to hardcode the 300 :roll_eyes:

done

done

done

[2020-04-16 22:54] tlimoncelli commented on #705
Good point.  What TTL value is returned by the API when you get the zone?  It is probably best to just update the desired records to store that value.

[2020-04-16 23:00] kordianbruck commented on #705
The API doesn't have a value for any RR TTL. I didn't implement getting the zone, because surprise, that is a feature only available to resellers.

[2020-04-16 23:04] tlimoncelli commented on #705
Ah!  Well then, 0 should be just fine! :-)

[2020-04-17 17:58] #705 closed

[2020-04-17 23:26] kordianbruck commented on #705
Thanks @tlimoncelli for your help and for merging this :tada:

[2020-04-20 15:10] truthdoug commented on #720
Yes, that works!

[2020-04-20 15:18] truthdoug commented on #719
Interesting indeed. I tested on some other domains and it worked.

In my initial example, I anonymized the domain name (as you probably guessed). The real domain I had problems with is on the `.xyz` TLD (again anonymizing but I'll use `foo.xyz`). When I test again, this problem still exists but it seems to work fine for domains on `.com` and `.org`.

It's very consistent for the `foo.xyz` domain.

[2020-04-20 15:48] #720 closed

[2020-04-20 16:18] tlimoncelli commented on #719
Quite odd!

At this point, I'm kind of grasping at straws.

1.  Try different formats.  Does the problem go away with -format=tsv or =zone?

2. Is there a chance that the CNAMEs in the .xyz domain are missing the trailing "."?

Try comparing the output of `dig +short` for some .com and some .xyz examples.  Include a trailing dot on the command line, and see if CNAME has a trailing dot.

[code]

3.

[2020-04-20 19:09] truthdoug commented on #719
1. Same results with tsv or zone format.
2. Yes, very good chance. As I tried the new version with much more logging, I see that of the 260+ CNAMES, there are about 5 that have a trailing dot. Most of these 260 records were created using [ansible's route53 module](https://docs.ansible.com/ansible/latest/modules/route53_module.html) but not all. The five that have the trailing dot were not created

[2020-04-20 19:19] tlimoncelli commented on #719
I'm pretty sure dig doesn't do any corrections. It prides itself in being
very raw.  I'm guessing this is some weird interaction with how ansible
creates the records and the .xyz provider. Often providers try to "be
smart" and just add confusion. Before dnscontrol was released to the
outside world I kept trying to make it smart and painted myself into a
corner many times.  Now it is "opinionated"

[2020-04-20 19:29] truthdoug commented on #719
It has absolutely reached that goal! Thanks!

[2020-04-21 14:22] truthdoug commented on #719
Reopening because this is also a problem with preview/push.

I was able to recreate this using a .com domain name. In the AWS console, I created a new hosted zone, dougtest.com. Still in the AWS console, I created a CNAME record "www" pointing to "foo.dougtest.com" (*without the trailing dot*)

Ran `get-zones`:

    $ dnscontrol get-zones --format=js r53_main ROUTE53 dougtest.com
    var r53_main

[2020-04-21 15:24] tlimoncelli commented on #719
I haven't been able to reproduce the bug.  I used the same domain you did, though I changed dougtest.com to ninjawanted.com.  No luck.

Is there a chance something else is doing updates at the same time?

Once the preview shows "0 corrections", does it stay that way? What if you then change the CNAME to have a new target, such as `CNAME('www', 'bar.dougtest.com.')` does it work as expected?

[2020-04-21 16:54] truthdoug commented on #719
I just tested again, but on the latest `master` branch (rather than the version from homebrew). When I push it *does* update the record as expected with the trailing dot. Updating the record in dnsconfig to a new target and pushing it worked fine.

`get-zones` still returns the target without the dot and generates template js code without the dot.

So we're back to `get-zones` producing a "good fi

[2020-04-21 17:54] tlimoncelli commented on #719
Glad you're back to a stable situation.  The newest `github.com/aws/aws-sdk-go` may have helped.  I'll be sure to upgrade it again before the next release.

[2020-04-21 19:24] tlimoncelli commented on #708
FYI:

The first step is to add these lines to `IncrementalDiff()` in `dnscontrol/pkg/diff/diff.go`

[code]

Compile to see what error messages pop up.  It will point out missing functions that need to be written.

Once it compiles this command should be the primary test which determines success.

[code]

[2020-04-24 16:09] Knight1 opened #724 "Provider Request: deSEC"
Hi!

The non-profit DNS Provider deSEC.de from Germany is now out of beta 🥳

Can you please implement their API https://desec.readthedocs.io?

Thanks!

[2020-04-25 19:40] D3luxee commented on #724
I've started working on this today, because deSEC seems nice but they don't provide any frontend (or i did not find it).
And using curl for dns management looks painful.

[2020-04-25 21:56] peterthomassen commented on #724
It's great to see the community interest in deSEC! If you have any questions during implementation of the dnscontrol plugin, please don't hesitate to get in touch with or mention @nils-wisiol or myself.

[2020-04-26 14:22] D3luxee commented on #724
Hi @peterthomassen,
i've got my first WIP version running and now im facing a rate limiting on your api:
`FAILURE! Error create rrset deSEC: http status 429 429 Too Many Requests details: Request was throttled. Expected available in 1 second.`
I was just creating 10 records with dnscontrol which was enough to trigger your rate limit.

Do you have informations about the parameters of the rate limit

[2020-04-26 15:00] peterthomassen commented on #724
Hi! You can find the throttle parameters here: https://github.com/desec-io/desec-stack/blob/master/api/api/settings.py#L115-L124

If you want to create several records, would it be possible for you to send them all as a bulk request? That would count as just one request with regards to rate limiting. Here are the relevant docs: https://desec.readthedocs.io/en/latest/dns/rrsets.html#bulk-operations

[2020-04-26 15:44] D3luxee commented on #724
Hi,
bulk operations are not easy to implement due to the way how dnscontrol works.
The correction made by dnscontrol are individual actions on specific rrsets: https://github.com/StackExchange/dnscontrol/blob/26abff8884d43f4c2a312d123baab4f774b2add4/models/provider.go#L6 at least thats how it is implemented in the interface.

Currently im working on some workaround for the rate limiting (retry / b

[2020-04-26 18:05] D3luxee commented on #724
@Knight1 i've created a pull request, feel free to build it and test the deSEC provider.

[2020-04-27 10:48] peterthomassen commented on #724
@D3luxee Sorry to hear that bulk requests are not straightforward in dnscontrol. Unfortunately, those API requests which add/modify/remove RRsets are the most expensive ones we have, due to the signing requirement we have. With very larger zones (~100k records), signing can take a few seconds, and we want to avoid processing write requests in quick succession to avoid failures due to race conditio

[2020-04-27 10:56] tlimoncelli commented on #724
Some providers do bulk updates.  Can I help you with that?

What kind of bulk updates are permitted?

[2020-04-27 11:17] tlimoncelli commented on #724
Ah, I just answered my own question by reading the docs at https://desec.readthedocs.io/en/latest/dns/rrsets.html#bulk-operations :-)

You could combine all the adds/changes/deletes into one PUT.

Take the output of `IncrementalDiff()` and group the results by label:rtype (similar to what `ChangedGroups()` does, but the result should be `map[models.RecordKey][]Changeset`.

Now iterate over the lis

[2020-04-27 11:22] peterthomassen commented on #724
If you use `PATCH`, you can send leaner requests / requests with less knowledge (e.g. to change a TTL value, you don't need to resend the record contents and vice versa). All valid `PUT` requests are also valid for `PATCH`. Not sure if this is what you meant by "know what used to be there".

[2020-04-27 11:33] decke opened #726 "SSHFP support for Google Cloud DNS"
Google Cloud DNS integration seems to not support SSHFP records yet. `dnscontrol get-zones` did properly generate the SSHFP entries but `dnscontrol preview` fails with them with the error message:

[code]

Technically Google Cloud DNS does properly support SSHFP via their web interface and on their DNS servers.

[2020-04-27 12:49] #726 closed

[2020-04-27 12:50] tlimoncelli commented on #726
Good catch!  Thank you for reporting that!

I've updated GCLOUD's profile.

Tom

[2020-04-27 13:58] tlimoncelli commented on #724
Yes, PATCH would make the requests a bit smaller.  However, I don't recommend using it.

Dnscontrol's diffing algorithm is very "all or none": Either something about the record changed or nothing did.  This works fine for all providers whether they need updates per record, per rrset, or per zone.

If you want to determine which specific fields changed (TTL, target, etc.), you'd have to write a cus

[2020-04-27 14:27] D3luxee commented on #724
I will take a look into this, it would be nice if i can merge the requests into one bulk.
Thanks for this hint.

[2020-04-27 14:38] D3luxee commented on #724
@tlimoncelli
My problem is how can i reflect this using "[]*models.Correction" because this handles the messages / output too, currently i do one request per models.RecordKey.
Technically its not problem to merge all changes into one single api request, but this would result in one models.Correction.
How can i get dnscontrol to print the messages of each change but call only one function once.

[2020-04-27 14:44] tlimoncelli commented on #724
`Msg` can have newlines.  You can just stuff all the messages you want into the string.  If you look at the BIND driver, it builds up all the messages in `buf` then uses it to create the `Msg` in a single change.

[2020-04-27 14:47] D3luxee commented on #724
Thanks, i will take a look at it and start implementing it using bulk requests.

[2020-04-27 15:14] D3luxee commented on #724
@peterthomassen @tlimoncelli after the hint regarding the message it was pretty easy to implement it with just one single bulk request for all changes.
You can take a look at it here d30cfc0

[2020-04-27 17:42] decke commented on #726
Thanks, works like a charm!

[2020-04-28 01:33] mholt opened #728 "Private keys are world-readable"
Feel free to correct me if I'm wrong (definitely not a Linux guru) -- but I believe these permissions:

https://github.com/StackExchange/dnscontrol/blob/5416c16fa1acabfd280d4adfeb6f2cde68c19b3a/pkg/acme/directoryStorage.go#L37-L39

allow any user on the system to read the files if they know the filepath (which are deterministic), including the private key.

[In CertMagic we use 0600](https://githu

[2020-04-28 18:40] #724 closed

[2020-04-29 02:42] brentybh commented on #714
Really need this

[2020-04-29 21:20] tlimoncelli commented on #714
I'd love to get a volunteer to write the code for this.

Our [Step-by-Step Guide](https://stackexchange.github.io/dnscontrol/writing-providers) makes it pretty easy.  You basically write (1) a function to authenticate, (2) a function to download all the records for a zone, (3) a function that does an add/change/delete.  DNScontrol does all the rest.  Many of our providers were written by people th

[2020-05-02 14:49] tlimoncelli opened #730 "Updates for deSEC"
CC: @D3luxee @nils-wisiol @Knight1 @peterthomassen

Hi folks!  When I approved PR https://github.com/StackExchange/dnscontrol/pull/725 I forgot to check the items listed in `docs/writing-providers.md`. These should be easy to fix.

1. In `docs/writing-providers.md` near "Pick a similar provider as your base".  Please add this provider to the list for `incremental-label` or `incremental-label-type`

[2020-05-02 18:26] dereulenspiegel opened #732 "Can't create domain in deSEC"
Hello :)

I just tried this tool together with the new deSEC provider. My config looks like this
[code]

The domain is already bought and registered at namecheap. My impression is that this code should create this domain in deSEC and add an A record. But instead I get the following error:
[code]
So it seems it authentication is not a problem and it correctly retrieves the information that this dom

[2020-05-03 11:23] D3luxee commented on #732
Just run `./dnscontrol create-domains` this is a separate command and will not automatically happen.

[2020-05-03 11:42] D3luxee commented on #730
Hi @tlimoncelli,
i've created another pull request which should resolve the issues you mentioned.

[2020-05-03 21:14] tlimoncelli opened #735 "Improve docs for new developers"
The testing info is out of sync with the new testgroup() stuff.

[2020-05-04 09:59] dereulenspiegel commented on #732
Thank you, I must have missed that. Sorry for not reading the documentation throughly enough.

[2020-05-04 09:59] #732 closed

[2020-05-04 15:03] tlimoncelli commented on #732
Could you suggest where we could be more clear?  (or, to be more plain... where did you look, because I'd like to put a note there)

When someone says "I couldn't find the answer" I treat it like a bug and want to improve the findability. :)

[2020-05-04 15:26] dereulenspiegel commented on #732
I followed the Getting started guide (https://stackexchange.github.io/dnscontrol/getting-started) with the modification that I used my correct registrar und correct dns provider directly.
Probably there needs to be a comment explaining that you need to run `create-domains` when using a "real" dns provider.

[2020-05-04 18:59] decke opened #736 "octodns: constant 4294967295 overflows int"
I get a compile error on FreeBSD 12.1/i386 with latest Go 1.14:

providers/octodns/octoyaml/read.go:266:17: constant 4294967295 overflows int

Thanks!

[2020-05-04 21:00] tlimoncelli commented on #736
That's weird.  I do have access to a FreeBSD 11.x machine.  With go 1.13.4 it compiles fine. With go 1.14.1 the compiler outputs a lot of lines like:

[code]

I don't have access to a FreeBSD 12.x host at the moment.  Here are my suggestions:

1. Remove the provider.

I'm going to assume you aren't using the octodns provider (because I don't think anyone actually uses it ;-) ).

`rm -rf providers/

[2020-05-06 12:25] cl445 opened #737 "IP() class IPv6"
The IP class does not support IPv6. This might be okay but it would be nice to note that at the documentation.

[2020-05-07 22:43] #736 closed

[2020-05-13 19:56] sorcix opened #740 "Panic when encountering a LOC record on Cloudflare"
`dnscontrol` crashes while previewing changes on zone with a LOC record from cloudflare.

[code]

[2020-05-13 20:33] tlimoncelli commented on #740
LOC records are not currently supported by dnscontrol.  Part of the DNSControl design is to crash when unrecognized record types are seen... better to panic than accidentally delete data.

Some potential workarounds:

1. Don't use LOC records
2. The IGNORE() keyword might skip the record. (I haven't tested this)

DNSControl is an all volunteer project.  If you are interested in adding support for

[2020-05-15 23:31] Alixerid commented on #730
Thanks for adding deSEC!
I tried to use release v3.0.0 with deSEC but then realized that. despite the [current docs](https://stackexchange.github.io/dnscontrol/providers/desec) being updated already, the latest release doesn't include the deSEC provider yet. Is there any chance for another release soon? Thanks!

[2020-05-16 20:05] joshbartley opened #741 "Route53 Always Create/Modify NS records"
Using `get-zones` with the Route53 provider produces a dnsconfig.js containing `NAMESERVER('NS-111.AWSDNS-11.COM.'),`

Taking the generated dnsconfig.js into `dnscontrol preview` creates an output of

`
CREATE NS domain.com ns-111.awsdns-11.org. ttl=3600
CREATE NS domain.com ns-111.awsdns-11.co.uk. ttl=3600
MODIFY NS domain.com: (ns-111.awsdns-11.co.uk. ttl=300) -> (ns-111.awsdns-11.co.uk. ttl=360

[2020-05-18 12:59] tlimoncelli commented on #741
Interesting!  What happens if you comment out the NAMESERVER() statements before running `dnscontrol preview`?   If there are no NAMESERVER() statements it should do the right thing.

[2020-05-18 13:57] joshbartley commented on #741
That does clear up the corrections and it lists 0 now. I need to try to drop one of the nameservers out of the Route53 console again to see if having the NAMESERVER() records in there was causing the issue or not.

[2020-05-18 14:09] tlimoncelli commented on #741
The goal of "get-zones" is to create a decent first draft, not a perfect dnsconfig.js.  99% of the time one should comment out the NAMESERVER() statements.  Maybe we should just generate them commented out so that people can uncomment them if needed.

[2020-05-20 22:55] marcolussetti opened #742 "ClouDNS still listed as requested provider"
Hi! Just noticed that ClouDNS is still showing up as a "requested provider" on https://stackexchange.github.io/dnscontrol/provider-list from PR #114 despite having been implemented in PR #578

Took a look through https://github.com/StackExchange/dnscontrol/blob/master/docs/provider-list.md but only saw a reference to:
[code]

Haven't managed to locate where that's configured yet. I might take a cl

[2020-05-20 22:56] marcolussetti commented on #742
I suspect in the end this might just need the label `provider-request` removed from #114 or something like that.

[2020-05-22 13:22] tlimoncelli commented on #742
Fixed. Thanks for pointing that out.  I've also updated the docs to remind me to remove that label.

[2020-05-22 13:22] #742 closed